<div class="line-item-filters">
	<ipa-button icon-class="'glyphicon glyphicon-filter'"
	            size="'small'"
	            on-click="toggleCourseListFilterDropdown()"
	            tooltip-message="'Filters'">
	</ipa-button>

	<div class="line-item-filters__dropdown-container" ng-show="isDropdownOpen">
		<!-- Mask to catch input -->
		<div class="line-item-filters__dropdown-mask" ng-click="closeCourseListFilterDropdown()"></div>

		<!-- Dropdown -->
		<div class="line-item-filters__dropdown">
			<div class="line-item-filters__filter-container">
				<div class="line-item-filters__filter"
				     ng-repeat="filter in filters"
				     ng-click="toggleCourseListFilter(filter)"
				     stop-event="click">
				     <div class="line-item-filters__checkbox-container" stop-event="click">
				       <ipa-checkbox style="'muted'"
				                     is-checked="filter.selected"
				                     click-action="toggleCourseListFilter(filter)">
				       </ipa-checkbox>
				     </div>
				     {{ filter.description }}
				</div>
			</div>
		</div>
	</div>
</div>
