

.ipa-modal .ipa-modal-dark-overlay {
	/* A dark translucent div that covers the whole screen */
	position:fixed;
	z-index:100;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: #000000;
	opacity: 0.5;
}

.ipa-modal .ipa-modal-container {
	/* A centered div above the overlay with a box shadow. */
	z-index:100;
	position: fixed;
	width: 50%; /* Default */

	/* Center the dialog */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.15);
}

.ipa-modal .ipa-modal-header {
	padding-left: 10px;
	height: 50px;
	background-color: #303641;
	color: white;
	font-size: 18px;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ipa-modal .ipa-modal-content {
	background-color: white;
	height: 100%;
}

.ipa-modal .ipa-modal-dismiss-ui {
	padding-right: 20px;
	cursor: pointer;
	font-size: 21px;
	line-height:21px;
	font-weight: 300;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
