<div class="instructor-cost-row">
	<div class="cell instructor-container">
		<div class="instructor-dropdown-container">
			<ipa-dropdown
				expanded="sectionGroupCost.expanded"
				header-text="'Select an instructor'"
				button-text="instructorButtonText"
				items="instructors"
				select-item="setInstructor(item)">
			</ipa-dropdown>
		</div>

		<div class="remove-instructor-ui">
			<i 
				class="glyphicon glyphicon-remove assignment-remove-button"
				uib-tooltip="Delete assignment" tooltip-placement="bottom"
				confirm-button="removeInstructor(instructor)"
				btn-class="btn-danger"
				message="Are you sure you want to remove this instructor?"
				yes="Confirm" no="Cancel" placement="top">
			</i>
		</div>
	</div>

	<div class="cell instructor-container">
		<div class="instructor-dropdown-container">
			<ipa-dropdown
				expanded="sectionGroupCost.expanded"
				header-text="'Select an instructor'"
				button-text="originalInstructorButtonText"
				items="instructors"
				select-item="setOriginalInstructor(item)">
			</ipa-dropdown>
		</div>

		<div class="remove-instructor-ui">
			<i 
				class="glyphicon glyphicon-remove assignment-remove-button"
				uib-tooltip="Delete assignment" tooltip-placement="bottom"
				confirm-button="removeOriginalInstructor()"
				btn-class="btn-danger"
				message="Are you sure you want to remove this instructor?"
				yes="Confirm" no="Cancel" placement="top">
			</i>
		</div>
	</div>

	<div class="cell">
		<div
			ng-if="sectionGroupCost.displayReasonInput != true"
			ng-click="displayProperty(sectionGroupCost, 'reason')"
			class="inline-edit-ui">
			{{ sectionGroupCost.reason || "&nbsp;&nbsp;&nbsp;" }}
		</div>
		<div ng-if="sectionGroupCost.displayReasonInput == true">
			<input
				class="inline-edit"
				type="text"
				ng-model="sectionGroupCost.reason"
				auto-input
				on-enter="updateSectionGroupCost(sectionGroupCost, 'reason')"
				on-blur="updateSectionGroupCost(sectionGroupCost, 'reason')">
		</div>	</div>
	<div class="cell">
		<div>
			<div>
				<input
					class="inline-edit"
					type="number"
					ng-model="sectionGroupCost.instructorCost"
					auto-input
					on-enter="updateSectionGroupCost(sectionGroupCost, 'instructorCost')"
					on-blur="updateSectionGroupCost(sectionGroupCost, 'instructorCost')">
			</div>
			<div>
				<ipa-button
					button-text="''"
					color="'light'"
					icon-class="'entypo entypo-ccw'"
					on-click="removeInstructorCost(sectionGroupCost)">
				</ipa-button>
			</div>
		</div>
	</div>
	<div class="cell">
		<div>
			<ipa-button
				button-text="'See Comments'"
				color="'light'"
				icon-class="'entypo entypo-chat'"
				on-click="openCourseComments(course)">
			</ipa-button>
		</div>
	</div>
</div>