<div class="course-assignment-selector">
	<div class="clickable assignment-description" style="height: 20px; width: 100%; text-align: center; color: #303641;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Assign..
	</div>
	<ul class="dropdown-menu" style="width: 100%;">
		<li ng-show="supportStaff.supportStaffPreferences.length > 0" class="dropdown-header" stop-event="click"><b>Preferences</b></li>

		<!-- preferences tied to this supportStaff -->
		<li ng-repeat="preference in supportStaff.supportStaffPreferences" class="clickable">
			<a class="small">
				<span class="course-filter-item"><b>{{ preference.priority }}</b> {{ preference.subjectCode }} {{ preference.courseNumber }} - {{ preference.sequencePattern }} ({{ appointmentTypeToShorthand(preference.type) }})</span>
			</a>
		</li>

		<li ng-show="supportStaff.supportStaffPreferences.length > 0" role="separator" class="divider"></li>

		<li class="dropdown-header" stop-event="click"><b>Courses</b></li>

		<!-- all unassigned courses -->
		<li ng-repeat="supportAssignment in view.state.supportAssignments" class="clickable"
				ng-click="assignStaffToSlot(supportAssignment.id)">
			<a class="small">
				<span class="course-filter-item">{{ supportAssignment.subjectCode }} {{ supportAssignment.courseNumber }} - {{ supportAssignment.sequencePattern }} ({{ appointmentTypeToShorthand(supportAssignment.appointmentType) }})</span>
			</a>
		</li>
	</ul>
</div>