<div class="course-assignment-selector">
	<div class="clickable assignment-description" style="height: 20px; width: 100%; text-align: center; color: #303641;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Assign..
	</div>
	<ul class="dropdown-menu" style="width: 100%;">
		<li class="dropdown-header" stop-event="click"><b>Preferences</b></li>

		<li class="clickable">
			<a class="small">
				<span class="course-filter-item"><b>1</b> ECS 001 - 001 (reader)</span>
			</a>
		</li>
		<li class="clickable">
			<a class="small">
				<span class="course-filter-item"><b>2</b> ECS 010 - 001 (AI)</span>
			</a>
		</li>
		<li class="clickable">
			<a class="small">
				<span class="course-filter-item"><b>3</b> ECS 041 - 001 (TA)</span>
			</a>
		</li>

		<li role="separator" class="divider"></li>
		<li class="dropdown-header" stop-event="click"><b>Courses</b></li>

		<li class="clickable">
			<a class="small">
				<span class="course-filter-item">ECS 050 - 001 (TA)</span>
			</a>
		</li>
		<li class="clickable">
			<a class="small">
				<span class="course-filter-item">ECS 050 - 001 (AI)</span>
			</a>
		</li>
		<li class="clickable">
			<a class="small">
				<span class="course-filter-item">ECS 101 - 001 (TA)</span>
			</a>
		</li>
		<li class="clickable">
			<a class="small">
				<span class="course-filter-item">ECS 121 - 001 (TA)</span>
			</a>
		</li>
		<li class="clickable">
			<a class="small">
				<span class="course-filter-item">ECS 135 - 001 (reader)</span>
			</a>
		</li>
		<li class="clickable">
			<a class="small">
				<span class="course-filter-item">ECS 136A - 001 (TA)</span>
			</a>
		</li>
		<li class="clickable">
			<a class="small">
				<span class="course-filter-item">ECS 141 - 001 (TA)</span>
			</a>
		</li>
		<li class="clickable">
			<a class="small">
				<span class="course-filter-item">ECS 143 - 001 (reader)</span>
			</a>
		</li>
		<li class="clickable">
			<a class="small">
				<span class="course-filter-item">ECS 144A - 001 (reader)</span>
			</a>
		</li>
		<li class="clickable">
			<a class="small">
				<span class="course-filter-item">ECS 144B - 001 (TA)</span>
			</a>
		</li>
		<li class="clickable">
			<a class="small">
				<span class="course-filter-item">ECS 150 - 001 (TA)</span>
			</a>
		</li>
		<li class="clickable">
			<a class="small">
				<span class="course-filter-item">ECS 155 - 001 (TA)</span>
			</a>
		</li>

	</ul>
</div>