<nav year="{{ year }}" term-short-code="{{ termShortCode }}" workgroup-id="{{ workgroupId }}"></nav>

<div></div>
<ipa-header page-title="Support Staff Assignments"></ipa-header>

<div class="page-container">
		<!-- This is where the legendary TA Call all begins -->
		<div class="main-content">
				<div class="row">
						<!-- search bar -->
						<div class="search-flex">
								<div class="search-flex-children">
										<input type="search" class="form-control" placeholder="Search">
								</div>
						</div>
				</div>

				<!-- search bar ends -->
				<div class="row">
					<div class="container-fluid flex-box">
						<div class="btn-group border-bottom--gray view-switcher" data-toggle="buttons">
							<label class="btn btn-white btn-sm active" id="courses-pivot" ng-click="togglePivotView('course')">
								<input type="radio" name="options">
								<span class="tool-icon glyphicon glyphicon-education"></span> By Course
							</label>
							<label class="btn btn-white btn-sm" id="instructors-pivot" ng-click="togglePivotView('supportStaff')">
								<input type="radio" name="options">
								<span class="tool-icon glyphicon glyphicon-user"></span> By Student
							</label>
						</div>
						<div class="btn-group border-bottom--gray review-switcher" data-toggle="buttons">
							<label ng-if="view.state.schedule.instructorSupportCallReviewOpen == false"
								class="btn btn-white btn-sm" id="instructors-pivot"
								confirm-button="openInstructorSupportCallReview()"
								message="Are you sure you want to open this schedule for instructor review? This cannot be undone."
								yes="Confirm" no="Cancel" placement="top" btn-class="btn-info">
								<input type="radio" name="options">
								Open instructor review
							</label>
							<label ng-if="view.state.schedule.instructorSupportCallReviewOpen"
								style="color: green;padding-right: 20px;">
								Instructor Review is open
								<span class="glyphicon glyphicon-ok"></span>
							</label>

							<label ng-if="view.state.schedule.studentSupportCallReviewOpen == false"
								class="btn btn-white btn-sm" id="instructors-pivot"
								confirm-button="openStudentSupportCallReview()"
								message="Are you sure you want to open this schedule for student review? This cannot be undone."
								yes="Confirm" no="Cancel" placement="top" btn-class="btn-info">
								<input type="radio" name="options">
								Open student review
							</label>
							<label ng-if="view.state.schedule.studentSupportCallReviewOpen"
								style="color: green;">
								Student Review is open
								<span class="glyphicon glyphicon-ok"></span>
							</label>
						</div>
					</div>
				</div>

				<course-pivot ng-show="view.state.userInterface.displayCoursePivot"></course-pivot>
				<support-staff-pivot ng-show="view.state.userInterface.displaySupportStaffPivot"></instructor-pivot>

				<!-- modal-2 -->
				<div class="modal fade" id="modal-2">
						<div class="modal-dialog ta-slot--width">
								<div class="modal-content">
										<div class="modal-header teaching-call--header_style">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
												<h4 class="modal-title">New Course Slot</h4>
										</div>
										<div class="modal-body">
												<div class="row">
														<form role="form" class="form-horizontal form-groups-bordered">
																<div class="form-group">
																		<label class="col-sm-5 control-label">Add a Course:</label>
																		<div class="col-sm-6">
																				<input class="form-control form-control--add-course" type="text" placeholder="Enter Course Name">
																		</div>
																</div>
														</form>
												</div>
										</div>

										<div class="modal-footer modal-footer--teaching-call">
												<button type="button" class="btn btn-info">Create</button>
										</div>
								</div>
						</div>
				</div>
				<!-- modal-ends -->
		</div>
		<!-- This is where the legendary TA Call all ends -->