<div class="assignment support-staff-selector">
	<div class="clickable assignment-description" style="width: 100%; text-align: center; color: #303641;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Assign {{ instructionalSupportAssignment.appointmentPercentage }}%
	</div>
	<ul class="dropdown-menu" style="width: 100%;">
		<li class="dropdown-header" stop-event="click"><b>Faculty Preferences</b></li>
		<li role="separator" class="divider"></li>

		<li ng-repeat="tagId in view.state.tags.ids track by $index" class="clickable" ng-click="tagToggled(tagId)">
			<a class="small">
				<span class="course-filter-item">{{ view.state.tags.list[tagId].name }}</span>
			</a>
		</li>
		<li class="clickable" ng-click="tagToggled(tagId)">
			<a class="small">
				<span class="course-filter-item">Rogers, Mister</span>
			</a>
		</li>
		<li class="clickable" ng-click="tagToggled(tagId)">
			<a class="small">
				<span class="course-filter-item">Phillips, Jeremy </span>
			</a>
		</li>
		<li class="clickable" ng-click="tagToggled(tagId)">
			<a class="small">
				<span class="course-filter-item">Dole, Bob</span>
			</a>
		</li>
	</ul>
</div>