<div id="people-view">
		<div class="container-fluid border-bottom--gray">
				<div class="flex-row">
						<!-- TA info -->
						<div class="assignment-title-container">
								<h4 class="assignment-title-header">Brown, Suzi</h4>
								<div class="label ng-binding ng-scope info--bg_black">
										Phd
								</div>
								<div>
										<ul class="ta-info">
												<li>
														<strong>Teaching Experience:</strong>
												</li>
												<li>
														<p>
																- Psychology TA (Winter 2014 to Spring 2016)
														</p>
														<p>
																- Research assistant (Spring 2015 to winter 2016)
														</p>
												</li>
												<li>
														<strong>Comments:</strong>
												</li>
												<li>
														<p>
																Finished Bachelor of Psychology, 2006, UCLA, Master of Applied Psychology, 2011, Washington Univeristy, and Currently studying and researching Cognitive Psychology in UC Davis’s PhD program.
														</p>
												</li>
										</ul>
								</div>
						</div>
						<!-- TA info ends -->
						<!-- TA course section -->
						<div class="support-staff-details-layout">
							<div class="support-staff-details-container">
									<div class="ta_course-section">
										<div class="tile-container">
											<div class="remove-tile-container">
											</div>
											<div class="assignment">
													<div class="support-student-assignment-detail-container">
															<div class="support-staff-assignment-detail">ECS 113 - 001</div>
															<div class="support-staff-assignment-sub-detail">TA (25%)</div>
													</div>
											</div>
											<div class="remove-tile-container">
												<i class=" btn glyphicon glyphicon-remove assignment-remove-button text-primary "></i>
											</div>
										</div>

											<course-assignment-selector class="add-new-slot"></course-assignment-selector>
									</div>
							</div>
						</div>
						<!-- TA course section ends-->
				</div>
		</div>

		<div class="container-fluid border-bottom--gray">
				<div class="flex-row">
						<!-- TA info -->
						<div class="assignment-title-container">
								<h4 class="assignment-title-header">Dobris, Joel</h4>
								<div class="label ng-binding ng-scope info--bg_black">
										Phd
								</div>
								<div>
										<ul class="ta-info">
												<li>
													<strong>Comments:</strong>
												</li>
												<li>
														<p>
																Professor Smith would like me to TA for ECS 100.
														</p>
												</li>
										</ul>
								</div>
						</div>
						<!-- TA info ends -->
						<!-- TA course section -->
						<div class="support-staff-details-layout">
							<div class="support-staff-details-container">
									<div class="ta_course-section">
										<course-assignment-selector class="add-new-slot"></course-assignment-selector>
									</div>
							</div>
						</div>
						<!-- TA course section ends-->
				</div>
		</div>


		<div class="container-fluid border-bottom--gray">
				<div class="flex-row">
						<!-- TA info -->
						<div class="assignment-title-container">
								<h4 class="assignment-title-header">Green, Jenny</h4>
								<div class="label ng-binding ng-scope info--bg_black">
										Master
								</div>
								<div>
										<ul class="ta-info">
										</ul>
								</div>
						</div>
						<!-- TA info ends -->
						<!-- TA course section -->
						<div class="support-staff-details-layout">
							<div class="support-staff-details-container">
									<div class="ta_course-section">
										<div class="tile-container">
											<div class="remove-tile-container">
											</div>
											<div class="assignment">
													<div class="support-student-assignment-detail-container">
															<div class="support-staff-assignment-detail">ECS 143 - 001</div>
															<div class="support-staff-assignment-sub-detail">TA (50%)</div>
													</div>
											</div>
											<div class="remove-tile-container">
												<i class=" btn glyphicon glyphicon-remove assignment-remove-button text-primary "></i>
											</div>
										</div>
										<course-assignment-selector class="add-new-slot"></course-assignment-selector>
									</div>
							</div>
						</div>
						<!-- TA course section ends-->
				</div>
		</div>

		<div class="container-fluid border-bottom--gray">
				<div class="flex-row">
						<!-- TA info -->
						<div class="assignment-title-container">
								<h4 class="assignment-title-header">Hale, Bobbi</h4>
								<div class="label ng-binding ng-scope info--bg_black">
										Master
								</div>
								<div>
										<ul class="ta-info">
										</ul>
								</div>
						</div>
						<!-- TA info ends -->
						<!-- TA course section -->
						<div class="support-staff-details-layout">
							<div class="support-staff-details-container">
									<div class="ta_course-section">
										<course-assignment-selector class="add-new-slot"></course-assignment-selector>
									</div>
							</div>
						</div>
						<!-- TA course section ends-->
				</div>
		</div>

		<div class="container-fluid border-bottom--gray">
				<div class="flex-row">
						<!-- TA info -->
						<div class="assignment-title-container">
								<h4 class="assignment-title-header">Wallace, Grant</h4>
								<div class="label ng-binding ng-scope info--bg_black">
										Master
								</div>
								<div>
										<ul class="ta-info">
										</ul>
								</div>
						</div>
						<!-- TA info ends -->
						<!-- TA course section -->
						<div class="support-staff-details-layout">
							<div class="support-staff-details-container">
									<div class="ta_course-section">
										<course-assignment-selector class="add-new-slot"></course-assignment-selector>
									</div>
							</div>
						</div>
						<!-- TA course section ends-->
				</div>
		</div>
</div>