<div class="assignment support-staff-selector">
	<div class="clickable assignment-description" style="width: 100%; text-align: center; color: #303641;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Assign {{ instructionalSupportAssignment.appointmentPercentage }}%
	</div>
	<ul class="dropdown-menu" style="width: 100%;">

		<!-- Instructor preferences -->
		<li class="dropdown-header" stop-event="click"><b>Instructor Preferences</b></li>

		<li class="clickable">
			<a class="small">
				<span class="course-filter-item">Suzi Brown (2)</span>
			</a>
		</li>

		<!-- Student preferences -->
		<li role="separator" class="divider"></li>
		<li class="dropdown-header" stop-event="click"><b>Student Preferences</b></li>

		<li class="clickable">
			<a class="small">
				<span class="course-filter-item">John Smith (1)</span>
			</a>
		</li>
		<li class="clickable">
			<a class="small">
				<span class="course-filter-item">Grant Wallace (1)</span>
			</a>
		</li>
		<li class="clickable">
			<a class="small">
				<span class="course-filter-item">Jenny Green (4)</span>
			</a>
		</li>


		<!-- phds -->
		<li ng-if="assignmentOptions.phdStudentIds.length > 0" role="separator" class="divider"></li>
		<li ng-if="assignmentOptions.phdStudentIds.length > 0" class="dropdown-header" stop-event="click"><b>Phd Students</b></li>

		<li ng-if="assignmentOptions.phdStudentIds.length > 0" class="clickable"
			ng-repeat="instructionalSupportStaffId in assignmentOptions.phdStudentIds"
			ng-click="pretend(instructionalSupportStaffId)"
			ng-init="instructionalSupportStaff=view.state.instructionalSupportStaff.list[instructionalSupportStaffId]">
			<a class="small">
				<span class="course-filter-item">{{ view.state.instructionalSupportStaffs.list[instructionalSupportStaffId].fullName }}</span>
			</a>
		</li>

		<!-- masters -->
		<li ng-if="assignmentOptions.mastersStudentIds.length > 0" role="separator" class="divider"></li>
		<li ng-if="assignmentOptions.mastersStudentIds.length > 0" class="dropdown-header" stop-event="click"><b>Masters Students</b></li>

		<li ng-if="assignmentOptions.mastersStudentIds.length > 0" class="clickable"
			ng-repeat="instructionalSupportStaffId in assignmentOptions.mastersStudentIds"
			ng-click="pretendToast(instructionalSupportStaffId)"
			ng-init="instructionalSupportStaff=view.state.instructionalSupportStaff.list[instructionalSupportStaffId]">
			<a class="small">
				<span class="course-filter-item">{{ view.state.instructionalSupportStaffs.list[instructionalSupportStaffId].fullName }}</span>
			</a>
		</li>

		<!-- instructionalSupport -->
		<li ng-if="assignmentOptions.instructionalSupportIds.length > 0" role="separator" class="divider"></li>
		<li ng-if="assignmentOptions.instructionalSupportIds.length > 0" class="dropdown-header" stop-event="click"><b>Instructional Support</b></li>

		<li ng-if="assignmentOptions.instructionalSupportIds.length > 0" class="clickable"
			ng-repeat="instructionalSupportStaffId in assignmentOptions.instructionalSupportIds"
			ng-click="pretendToast(instructionalSupportStaffId)"
			ng-init="instructionalSupportStaff=view.state.instructionalSupportStaff.list[instructionalSupportStaffId]">
			<a class="small">
				<span class="course-filter-item">{{ view.state.instructionalSupportStaffs.list[instructionalSupportStaffId].fullName }}</span>
			</a>
		</li>

	</ul>
</div>