<div class="staff-row">
	<ipa-tabs-vertical
	tab-names="tabNames"
	active-tab="state.ui.supportStaffTabs[supportStaff.id]"
	select-tab="setSupportStaffTab">
		<div class="staff-row__content">
			<div class="staff-row__cell ipa-table__body-cell--first ipa-table__body-cell--small">
				<staff-header support-staff="supportStaff"></staff-header>
			</div>
			<div class="ipa-table__body-cell ipa-table__body-cell--extra-large">
				<staff-comments ng-if="state.ui.supportStaffTabs[supportStaff.id] == 'Comments'" support-staff="supportStaff"></staff-comments>
				<staff-preferences ng-if="state.ui.supportStaffTabs[supportStaff.id] == 'Assignments'" support-staff="supportStaff" state="state"></staff-preferences>
			</div>
		</div>
	</ipa-tabs-vertical>
</div>