<div class="instructor-summary-container content-container">
	<div ng-hide="view.state">
		<spinner></spinner>
	</div>
	<div ng-show="view.state">
		<!-- teachingCalls table -->
		<div ng-hide="view.state.teachingCallReceipt" class="empty-message">
			No Active Teaching Calls
		</div>
		<div ng-show="view.state.teachingCallReceipt">
			<div class="course-table-row">
				<!-- table header -->
				<div class="course-table__header">
					<div class="course-table__header-detail">
						<div>
							Teaching Calls
						</div>
					</div>
				</div>
				<div class="course-table__header">
					<div class="course-table__header-detail">
						<div>
							Due Date
						</div>
					</div>
				</div>
				<div class="course-table__header">
					<div class="course-table__header-detail">
						<div>
							Submitted Preferences
						</div>
					</div>
				</div>
			</div>
			<!-- table header -->

			<div class="course-table-row">
				<div class="course-table__row-detail">
					<div>
						<a ng-href="{{ urlRoot }}/teachingCalls/{{ workgroupId }}/{{ year }}/teachingCall">
							View Teaching Call Form
						</a>
					</div>
				</div>
				<div class="course-table__row-detail">
					{{ view.state.teachingCallReceipt.dueDateDescription }}
				</div>
				<div class="course-table__row-detail">
					<i class="glyphicon glyphicon-ok" ng-if="view.state.teachingCallReceipt.isDone"></i>
				</div>
			</div>
		</div>

		<div style="padding-top: 10px;">
			<div ng-if="view.state.instructorSupportCallResponses.length > 0" class="course-table-row">
				<!-- table header -->
				<div class="course-table__header">
					<div class="course-table__header-detail">
						<div>
							Support Calls
						</div>
					</div>
				</div>
				<div class="course-table__header">
					<div class="course-table__header-detail">
						<div>
							Due Date
						</div>
					</div>
				</div>
				<div class="course-table__header">
					<div class="course-table__header-detail">
						<div>
							Submitted Preferences
						</div>
					</div>
				</div>
				<div class="course-table__header">
					<div class="course-table__header-detail">
						<div>
							Term
						</div>
					</div>
				</div>
			</div>
			<!-- table header -->

			<!-- instructor support calls -->
			<div ng-repeat="supportCallResponse in view.state.instructorSupportCallResponses" class="course-table-row">
				<div class="course-table__row-detail">
					<div>
						<a ng-href="{{ urlRoot }}/instructionalSupport/{{ workgroupId }}/{{ year }}/{{ supportCallResponse.termCode.slice(-2) }}/instructorSupportCallForm">
							View Support Call Form
						</a>
					</div>
				</div>
				<div class="course-table__row-detail">
					{{ supportCallResponse.dueDate }}
				</div>
				<div class="course-table__row-detail">
					<i class="glyphicon glyphicon-ok" ng-if="supportCallResponse.submitted"></i>
				</div>
				<div class="course-table__row-detail">
					{{ supportCallResponse.termCode.getTermCodeDisplayName(true) }}
				</div>
			</div>

		</div>

		<div ng-if="view.state.schedule.instructorSupportCallReviewOpen" style="margin-top: 10px; margin-left: 15px">
			<a ng-href="{{ urlRoot }}/instructionalSupport/{{ workgroupId }}/{{ year }}/{{ supportCallResponse.termCode.slice(-2) || '03' }}">
				Support Call {{ year.yearToAcademicYear() }} is open for review
			</a>
		</div>

		<div class="course-status-header">
			<h5>
				Scheduled Courses {{ year.yearToAcademicYear() }}
			</h5>
		</div>

		<div ng-show="view.state.instructorCourses && view.state.instructorCourses.terms.length === 0" class="empty-message">
			No Scheduled Courses
		</div>
		<div ng-repeat="term in view.state.instructorCourses.terms">
			<div class="course-status-sub-header">
				<h5>{{ term.getTermCodeDisplayName() }}</h5>
			</div>
			<!-- table headers -->
			<div class="course-table-row">
				<div class="course-table__header">
					<div class="course-table__header-detail">
						<div>
							Course
						</div>
					</div>
				</div>
				<div class="course-table__header">
					<div class="course-table__header-detail">
						<div>
							Location
						</div>
					</div>
				</div>
				<div class="course-table__header">
					<div class="course-table__header-detail">
						<div>
							Time
						</div>
					</div>
				</div>
				<div class="course-table__header">
					<div class="course-table__header-detail">
						<div>
							Activity
						</div>
					</div>
				</div>
				<div class="course-table__header">
					<div class="course-table__header-detail">
						<div>
							Teaching Assistant(s)
						</div>
					</div>
				</div>
			</div>
			<!-- table header -->

			<!-- course table -->
			<div class="course-table-row" ng-repeat="course in view.state.instructorCourses.list[term]">
				<div class="course-table__row-detail">
					<div class="course-table__row-detail-header">
						{{ course.subjectCode }} {{ course.courseNumber }} {{ course.title }}
					</div>
				</div>
				<div class="course-table__row-detail-middle">
					<div class="meeting-inner" ng-repeat="meeting in course.meetings">
						<div class="course-table__row-detail-location" style="flex: 1 1 0px; display: flex; justify-content: center;">
							<div>
								{{ meeting.location }}
							</div>
						</div>
						<div style="flex: 1 1 0px; display: flex; justify-content: left; padding-left: 50px;">
							<span class="meeting-days">
								{{ dayIndicatorToDayCodes(meeting.dayIndicator) }}&nbsp;
							</span>
							<span class="meeting-time">
								{{ meeting.startTime.toStandardTime() }}-{{ meeting.endTime.toStandardTime() }}
							</span>
						</div>
						<div style="flex: 1 1 0px; display: flex; justify-content: center;">
							{{ meeting.activityType }}
						</div>
					</div>
				</div>
				<div class="course-table__row-detail">
					<div class="teaching-assistant-container">
						<div ng-if="course.teachingAssistants.length > 0" ng-repeat="teachingAssistant in course.teachingAssistants">
							{{ teachingAssistant.lastName }}, {{ teachingAssistant.firstName }}
						</div>
						<div ng-if="course.teachingAssistants.length == 0" ng-repeat="teachingAssistant in course.teachingAssistants">
							No TA information
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>