.instructor-summary {
	padding: 20px 20px 0px 20px !important;
}

.instructor-summary .content-container {
	padding-left: 10%;
	padding-right: 10%;
}

.instructor-summary .empty-message {
	color: #777;
	text-indent: 2em;
}

.instructor-summary .section-header-bar {
	padding: 15px 15px 15px 15px;
	background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    margin-top: 25px;
    border-radius: 3px;
}

.instructor-summary .section-header-bar h5 {
	margin: 0 !important;
}