.instructor-summary {
	padding: 30px 20px 0px 20px !important;
}

.instructor-summary .notification-section {
	display: flex;
	justify-content: space-between;
}

.instructor-summary .empty-message {
	color: #777;
	text-indent: 2em;
}

.instructor-summary .content-container {
	padding-left: 10%;
	padding-right: 10%;
}

.instructor-summary .notification-box {
	padding: 15px 20px 15px 20px;
    border: 1px solid #21A9E1;
    border-radius: 3px;
	font-weight: 500;
}

.instructor-summary .notification-box span i {
	color: #21A9E1;
}