
<div class="modal-content">
	<!-- modal-body -->
	<div class="modal-body">

		<div class="row flex-box container-fluid">
			<!-- faculty member info-->
			<div class="add-support-call--info_style">
				<h5 style="margin-top: 0px;">
					<span ng-if="supportCallConfigData.mode == 'instructor'">Instructors</span>
					<span ng-if="supportCallConfigData.mode == 'supportStaff'">Support Staff</span>
				</h5>

				<div style="padding-left: 0px; width: 100%; padding-bottom: 10px; margin-bottom: 0px;" class="btn-group">
					<!-- Add Instructors Button -->
					<label  
					ng-if="areAllInstructorsInvited() == false && supportCallConfigData.mode == 'instructor'"
					class="instructor-toggle-btn btn btn-sm"
					style="width: 50%;" id="courses-pivot"
					ng-click="inviteInstructors()">
						Add Instructors
					</label>
					<label  
					ng-if="areAllInstructorsInvited()  && supportCallConfigData.mode == 'instructor'"
					disabled class="instructor-toggle-btn btn btn-sm disabled"
					uib-tooltip="All Instructors Added"
					style="width: 50%;" id="courses-pivot">
						Add Instructors
					</label>

					<!-- Add Masters Button -->
					<label  
					ng-if="areAllMastersInvited() == false && supportCallConfigData.mode == 'supportStaff'"
					class="instructor-toggle-btn btn btn-sm"
					style="width: 33%;" id="courses-pivot"
					ng-click="inviteMasters()">
						Add Masters
					</label>
					<label  
					ng-if="areAllMastersInvited() && supportCallConfigData.mode == 'supportStaff'"
					disabled class="instructor-toggle-btn btn btn-sm disabled"
					uib-tooltip="All Masters Added"
					style="width: 33%;" id="courses-pivot">
						Add Masters
					</label>

					<!-- Add Phds Button -->
					<label  
					ng-if="areAllPhdsInvited() == false && supportCallConfigData.mode == 'supportStaff'"
					class="instructor-toggle-btn btn btn-sm"
					style="width: 33%;" id="courses-pivot"
					ng-click="invitePhds()">
						Add PhDs
					</label>
					<label  
					ng-if="areAllPhdsInvited() && supportCallConfigData.mode == 'supportStaff'"
					disabled class="instructor-toggle-btn btn btn-sm disabled"
					uib-tooltip="All Phd Added"
					style="width: 33%;" id="courses-pivot">
						Add PhDs
					</label>

					<!-- Add Non-Departmental Button -->
					<label  
					ng-if="areAllInstructionalSupportInvited() == false && supportCallConfigData.mode == 'supportStaff'"
					class="instructor-toggle-btn btn btn-sm"
					style="width: 34%;" id="courses-pivot"
					ng-click="inviteInstructionalSupport()">
						Add Instr. Support
					</label>
					<label  
					ng-if="areAllInstructionalSupportInvited() && supportCallConfigData.mode == 'supportStaff'"
					disabled class="instructor-toggle-btn btn btn-sm disabled"
					uib-tooltip="All Instructional Support Added"
					style="width: 34%;" id="courses-pivot">
						Add Instr. Support
					</label>

				</div>

				<div rows="5" class="overflow-auto flex flex-wrap padding-sm instructor-box">
					<div class="instructor-list">
						<div ng-repeat="participant in supportCallConfigData.participantPool" 
								ng-click="toggleParticipant(participant)" class="label label-default instructor-tag"
								ng-class="{'label-toggleout': !participant.invited }">
								{{ participant.lastName }}, {{ participant.firstName }}
						</div>
					</div>
				</div>
			</div>
			<!-- faculty member info ends-->

			<!-- select dates&terms section-->
			<div class="teaching-call--info_style container-fluid">
				<h5 style="margin-top: 0px;">Due Date</h5>
				<ipa-date-picker>
				</ipa-date-picker>
				<div>
					<ul style="list-style: none; padding-left: 0px; margin-bottom: 0px;">
						<li role="menuitem" ng-click="toggleAllowSubmissionAfterDueDate()" class="allow-submission-row">
								<div class="checkbox checkbox-replace color-primary neon-cb-replacement"
									ng-class="{ 'checked': supportCallConfigData.allowSubmissionAfterDueDate }">
									<label class="cb-wrapper">
										<div class="checked"></div>
									</label>
									<label>Allow submission after due date</label>
								</div>
						</li>

						<li class="min-preferences-container" role="menuitem"
								ng-if="supportCallConfigData.mode == 'supportStaff'">
							<input class="min-preferences-input" ng-model="supportCallConfigData.minimumNumberOfPreferences">
							<div class="min-preferences-label">Minimum number of preferences</div>
						</li>

						<li style="margin-bottom: 10px;"><strong>Select boxes below to customize items to include in support call form. Hover over each info icon for a brief explaination.</strong></li>

						<li ng-if="supportCallConfigData.mode == 'supportStaff'" role="menuitem" ng-click="toggleCollectGeneralComments()" class="modal-add-support-call__checkbox-row">
								<div class="checkbox checkbox-replace color-primary neon-cb-replacement"
									ng-class="{ 'checked': supportCallConfigData.collectGeneralComments }">
									<label class="cb-wrapper">
										<div class="checked"></div>
									</label>
									<label>Collect general comments</label>
								</div>
								<i class="glyphicon glyphicon-info-sign modal-add-support-call__info" uib-tooltip="Adds text input field"></i>
						</li>

						<li ng-if="supportCallConfigData.mode == 'supportStaff'" role="menuitem" ng-click="toggleCollectTeachingQualifications()" class="modal-add-support-call__checkbox-row">
								<div class="checkbox checkbox-replace color-primary neon-cb-replacement"
									ng-class="{ 'checked': supportCallConfigData.collectTeachingQualifications }">
									<label class="cb-wrapper">
										<div class="checked"></div>
									</label>
									<label>Collect teaching qualifications</label>
								</div>
								<i class="glyphicon glyphicon-info-sign modal-add-support-call__info" uib-tooltip="Adds text input field"></i>
						</li>

						<li ng-if="supportCallConfigData.mode == 'supportStaff'" role="menuitem" ng-click="toggleCollectPreferenceComments()" class="modal-add-support-call__checkbox-row">
								<div class="checkbox checkbox-replace color-primary neon-cb-replacement"
									ng-class="{ 'checked': supportCallConfigData.collectPreferenceComments }">
									<label class="cb-wrapper">
										<div class="checked"></div>
									</label>
									<label>Collect preference comments</label>
								</div>
								<i class="glyphicon glyphicon-info-sign modal-add-support-call__info" uib-tooltip="Adds additional comment for a course preference"></i>
						</li>

						<li ng-if="supportCallConfigData.mode == 'supportStaff'" role="menuitem" ng-click="toggleRequirePreferenceComments()" class="modal-add-support-call__checkbox-row">
								<div class="checkbox checkbox-replace color-primary neon-cb-replacement"
									ng-class="{ 'checked': supportCallConfigData.requirePreferenceComments }">
									<label class="cb-wrapper">
										<div class="checked"></div>
									</label>
									<label>Require preference comments</label>
								</div>
								<i class="glyphicon glyphicon-info-sign modal-add-support-call__info" uib-tooltip="Requires additional comment for a course preference"></i>
						</li>

						<li ng-if="supportCallConfigData.mode == 'supportStaff'" ng-click="toggleCollectAvailabilityByGrid()" class="modal-add-support-call__checkbox-row">
							<div class="checkbox checkbox-replace color-primary neon-cb-replacement"
								ng-class="{ 'checked': supportCallConfigData.collectAvailabilityByGrid }">
								<label class="cb-wrapper">
									<div class="checked"></div>
								</label>
								<label>Collect availability</label>
							</div>
							<i class="glyphicon glyphicon-info-sign modal-add-support-call__info" uib-tooltip="Adds grid to block out unavailable times"></i>
						</li>

						<li ng-if="supportCallConfigData.mode == 'supportStaff'" ng-click="toggleCollectAvailabilityByCrn()" class="modal-add-support-call__checkbox-row">
							<div class="checkbox checkbox-replace color-primary neon-cb-replacement"
								ng-class="{ 'checked': supportCallConfigData.collectAvailabilityByCrn }">
								<label class="cb-wrapper">
									<div class="checked"></div>
								</label>
								<label>Collect availability (via CRN)</label>
							</div>
							<i class="glyphicon glyphicon-info-sign modal-add-support-call__info" uib-tooltip="Adds option to block out unavailable times by CRN lookup"></i>
						</li>

						<li ng-if="supportCallConfigData.mode == 'supportStaff'" role="menuitem" ng-click="toggleCollectLanguageProficiencies()" class="modal-add-support-call__checkbox-row">
								<div class="checkbox checkbox-replace color-primary neon-cb-replacement"
									ng-class="{ 'checked': supportCallConfigData.collectLanguageProficiencies }">
									<label class="cb-wrapper">
										<div class="checked"></div>
									</label>
									<label>Collect language proficiencies</label>
								</div>
							<i class="glyphicon glyphicon-info-sign modal-add-support-call__info" uib-tooltip="Adds dropdown to select proficiency from: undergrad from institution where English is sole language of instruction, TOEFL, IELTS, SPEAK, TOEP"></i>
						</li>

						<li ng-if="supportCallConfigData.mode == 'supportStaff'" role="menuitem" ng-click="toggleCollectEligibilityConfirmation()" class="modal-add-support-call__checkbox-row">
								<div class="checkbox checkbox-replace color-primary neon-cb-replacement"
									ng-class="{ 'checked': supportCallConfigData.collectEligibilityConfirmation }">
									<label class="cb-wrapper">
										<div class="checked"></div>
									</label>
									<label>Collect eligibility confirmations</label>
								</div>
								<i class="glyphicon glyphicon-info-sign modal-add-support-call__info" uib-tooltip="Adds checkbox to confirm TA eligibility: 12 units, >3.0 GPA, completed TA orientation, total appointments not exceeding 75%"></i>
						</li>

						<li class="modal-add-support-call__item-divider" ng-if="supportCallConfigData.mode == 'supportStaff'">
						</li>

						<li ng-if="supportCallConfigData.mode == 'supportStaff'" role="menuitem" ng-click="toggleCollectTeachingAssistantPreferences()">
								<div class="checkbox checkbox-replace color-primary neon-cb-replacement"
									ng-class="{ 'checked': supportCallConfigData.collectTeachingAssistantPreferences }">
									<label class="cb-wrapper">
										<div class="checked"></div>
									</label>
									<label>Collect teaching assistant preferences</label>
								</div>
						</li>

						<li ng-if="supportCallConfigData.mode == 'supportStaff'" role="menuitem" ng-click="toggleCollectReaderPreferences()">
								<div class="checkbox checkbox-replace color-primary neon-cb-replacement"
									ng-class="{ 'checked': supportCallConfigData.collectReaderPreferences }">
									<label class="cb-wrapper">
										<div class="checked"></div>
									</label>
									<label>Collect reader preferences</label>
								</div>
						</li>

						<li ng-if="supportCallConfigData.mode == 'supportStaff'" role="menuitem" ng-click="toggleCollectAssociateInstructorPreferences()">
								<div class="checkbox checkbox-replace color-primary neon-cb-replacement"
									ng-class="{ 'checked': supportCallConfigData.collectAssociateInstructorPreferences }">
									<label class="cb-wrapper">
										<div class="checked"></div>
									</label>
									<label>Collect associate instructor preferences</label>
								</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- select date section ends-->
		</div>
	</div>

	<div class="modal-footer modal-footer--teaching-call" style="padding-top: 0px;">
		<div class="email-style container-fluid">
			<div class="checkbox" style="display: flex; ">
				<div ng-click="toggleSendEmails()">
						<div class="checkbox checkbox-replace color-primary neon-cb-replacement"
							ng-class="{ 'checked': supportCallConfigData.sendEmails }">
							<label class="cb-wrapper">
								<div class="checked"></div>
							</label>
							<label>Send E-mail</label>
						</div>
				</div>
			</div>
			<textarea ng-if="supportCallConfigData.sendEmails == true" ng-bind-html="supportCallConfigData.message"
			class="form-control support-call-message-input" placeholder="" rows="5" id="comment"
			style="height: 99px;"></textarea>
		</div>

		<!-- send buttons -->
		<button ng-if="isAddFormComplete() == true && supportCallConfigData.sendEmails"
						type="button" class="btn neon-dark-confirm-btn" ng-click="submit()">Send Support Call</button>
		<button ng-if="isAddFormComplete() == false && supportCallConfigData.sendEmails"
						tooltip-placement="left" uib-tooltip="You must select at least one instructor and preference type" type="button"
						class="disabled btn btn-info neon-dark-confirm-btn">Send Support Call</button>

		<!-- start buttons (no email) -->
		<button ng-if="isAddFormComplete() == true && !supportCallConfigData.sendEmails"
						type="button" class="btn neon-dark-confirm-btn" ng-click="submit()">Start Support Call</button>
		<button ng-if="isAddFormComplete() == false && !supportCallConfigData.sendEmails"
						tooltip-placement="left" uib-tooltip="You must select at least one instructor and preference type" type="button"
						class="disabled btn btn-info neon-dark-confirm-btn">Start Support Call</button>

	</div>
	<!-- modal-footer ends -->
</div>
