<div class="add-course-comments">

	<div ng-repeat="comment in sectionGroupCost.comments" class="comment-container">
		<div class="comment-header">
			Posted By: {{ comment.authorName }} (2 weeks ago)
		</div>
		<div class="comment-body">
			{{ comment.comment }}
		</div>
	</div>

	<div class="input-container">
		<div style="padding: 2%;">
			<textarea
				class="comment-textarea"
				ng-model="newComment"
				placeholder="Add a comment">
			</textarea>
		</div>
		<div class="input-footer">
			<button ng-if="isFormValid() == true"
							type="button" class="btn neon-dark-confirm-btn" ng-click="submit()">Comment</button>
			<button ng-if="isFormValid() == false"
							tooltip-placement="left" type="button"
							class="disabled btn btn-info neon-dark-confirm-btn">Comment</button>
		</div>
	</div>


</div>
