<div style="display: block; overflow-y: hidden;" id="modal-1" class="modal">
	<!-- modal page 1 -->
	<div class="modal-dialog teaching-call--width">
		<div class="modal-content">
			<div class="modal-header teaching-call--header_style">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
				<h4 class="modal-title">Add Instructors</h4>
			</div>
			<!-- modal-body -->
			<div class="modal-body">

				<div class="row flex-box container-fluid">
					<!-- faculty member info-->
					<div class="teaching-call--info_style">
						<h5 style="margin-top: 0px;">Instructors</h5>

						<div style="padding-left: 0px; width: 100%; padding-bottom: 10px;" class="btn-group">
							<label  
							ng-if="areAllSenateInvited() == false"
							class="instructor-toggle-btn btn btn-sm"
							style="width: 50%;" id="courses-pivot"
							ng-click="addSenateInstructors()">
								Add Senate
							</label>
							<label  
							ng-if="areAllSenateInvited()"
							disabled class="instructor-toggle-btn btn btn-sm"
							uib-tooltip="All Senate Instructors Added"
							style="width: 50%;" id="courses-pivot">
								Add Senate
							</label>
							<label
							ng-if="areAllFederationInvited() == false"
							class="instructor-toggle-btn btn btn-sm"
							style="width: 50%;" id="courses-pivot"
							ng-click="addFederationInstructors() == false">
								Add Federation
							</label>
							<label
							ng-if="areAllFederationInvited()"
							disabled class="instructor-toggle-btn btn btn-sm"
							uib-tooltip="All Federation Instructors Added"
							style="width: 50%;" id="courses-pivot">
								Add Federation
							</label>
						</div>

						<div rows="5" class="overflow-auto flex flex-wrap padding-sm instructor-box">
							<div class="instructor-list">
								<div ng-repeat="instructor in startTeachingCallConfig.invitedInstructors" 
										ng-click="toggleInstructor(instructor)" class="label label-default instructor-tag"
										ng-class="{'label-toggleout': !instructor.invited }">
										{{ instructor.lastName }}, {{ instructor.firstName }}
								</div>
							</div>
						</div>
					</div>
					<!-- faculty member info ends-->

					<!-- select dates&terms section-->
					<div class="teaching-call--info_style container-fluid">
						<h5 style="margin-top: 0px;">Due Date</h5>
						<p class="input-group datepicker-bar">
							<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="startTeachingCallConfig.dueDate" is-open="popup1.opened"
							datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" 
							popup-placement="bottom-left" show-button-bar="false" ng-click="open1()"/>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</p>
						<div>
							<ul style="list-style: none; padding-left: 0px; margin-bottom: 0px;">
								<li ng-repeat="term in dropDownTerms" role="menuitem" ng-click="toggleTermActive(term)">
										<div class="checkbox checkbox-replace color-primary neon-cb-replacement"
											ng-class="{ 'checked': startTeachingCallConfig.activeTerms[term.slice(-2)] }">
											<label class="cb-wrapper">
												<div class="checked"></div>
											</label>
											<label>{{ getTermName(term) }}</label>
										</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- select dates&terms section ends-->
				</div>
			</div>

			<div class="modal-footer modal-footer--teaching-call">
				<div class="email-style container-fluid">
					<div class="checkbox" style="display: flex; ">
						<div ng-click="toggleSendEmail()">
								<div class="checkbox checkbox-replace color-primary neon-cb-replacement"
									ng-class="{ 'checked': startTeachingCallConfig.sendEmail }">
									<label class="cb-wrapper">
										<div class="checked"></div>
									</label>
									<label>Send Email</label>
								</div>
						</div>

						<div ng-click="startTeachingCallConfig.showUnavailabilities = !startTeachingCallConfig.showUnavailabilities" style="padding-left: 20px;">
								<div class="checkbox checkbox-replace color-primary neon-cb-replacement"
									ng-class="{ 'checked': startTeachingCallConfig.showUnavailabilities }">
									<label class="cb-wrapper">
										<div class="checked"></div>
									</label>
									<label>Ask for unavailabilities</label>
								</div>
						</div>

					</div>
					<textarea ng-if="startTeachingCallConfig.sendEmail == true" ng-bind-html="startTeachingCallConfig.message" class="form-control teaching-call-message-input" placeholder="" rows="5" id="comment"></textarea>
				</div>
				<!-- send buttons -->
				<button ng-if="startTeachingCallConfig.isAddInstructorFormComplete == true && startTeachingCallConfig.sendEmail"
								type="button" class="btn neon-dark-confirm-btn" ng-click="submit()">Send</button>
				<button ng-if="startTeachingCallConfig.isAddInstructorFormComplete == false && startTeachingCallConfig.sendEmail"
								tooltip-placement="left" uib-tooltip="You must select at least one term and one instructor" type="button" class="disabled btn btn-info neon-dark-confirm-btn">Send</button>

				<!-- start buttons (no email) -->
				<button ng-if="startTeachingCallConfig.isAddInstructorFormComplete == true && !startTeachingCallConfig.sendEmail"
								type="button" class="btn neon-dark-confirm-btn" ng-click="submit()">Start</button>
				<button ng-if="startTeachingCallConfig.isAddInstructorFormComplete == false && !startTeachingCallConfig.sendEmail"
								tooltip-placement="left" uib-tooltip="You must select at least one term and one instructor" type="button" class="disabled btn btn-info neon-dark-confirm-btn">Start</button>

			</div>
			<!-- modal-footer ends -->
			
		</div>
	</div><!-- modal page 1 ends -->
</div>