<nav year="{{ year }}" workgroup-id="{{ workgroupId }}"></nav>
<div>
</div>

<div class="container-fluid"><!-- main content container -->

	<h3 style="text-align: center;">
		TeachingCalls {{ year }}-{{ nextYear }}
	</h3>
	<p class="text-align--center department-title">{{ sharedState.workgroup.name }}</p>

<!-- page starts -->
<div style="width: 100%; display: flex; justify-content: flex-end; padding-right: 15px; padding-bottom: 15px;" class="teaching-call-status">
	<div style="padding-right: 5px;">
		<a ng-if="view.state.eligible.senate.length > 0 || view.state.eligible.federation.length > 0" ng-click="openAddInstructorsModal()" class="btn btn-default">Add Instructors</a>
		<span ng-if="view.state.eligible.senate.length == 0 && view.state.eligible.federation.length == 0" uib-tooltip="All instructors already in teaching call">
			<a class="disabled btn btn-default">Add Instructors</a>
		</span>
	</div>
	<div>
		<a ng-if="atLeastOneInstructorSelected()" ng-click="openContactInstructorsModal()" class="btn btn-default">Contact Instructors</a>
		<span ng-if="atLeastOneInstructorSelected() == false" uib-tooltip="You must select at least one instructor">
			<a class="disabled btn btn-default">Contact Instructors</a>
		</span>
	</div>
</div>

	<!-- Senate Instructors -->
	<div class="row">
		<div class="col-md-12 instructor-section">
			<div class="panel panel-primary panel-teaching-call-status">
				<div class="panel-heading">
					<div class="panel-title">Senate Instructors</div>
				</div>
					
				<div class="panel-body with-table">
					<table class="table table-bordered table-responsive instructor-table">
						<thead>
							<tr style="border-right: none;">
								<th><input ng-click="toggleSenateInstructors()" type="checkbox"></th>
								<th>Name</th>
								<th class="text-centered">Last Contacted</th>
								<th class="text-centered">Next Contact</th>
								<th class="text-centered">Due Date</th>
								<th></th>
							</tr>
						</thead>
						
						<tbody>
							<tr ng-repeat="instructor in view.state.teachingCall.senate">
								<td><input type="checkbox" ng-checked="instructor.selected" ng-click="toggleSelectedInstructor(instructor)"></td>
								<td>{{ instructor.lastName }}, {{ instructor.firstName }}</td>
								<td class="text-centered">{{ instructor.lastContactedAt }}</td>
								<td class="text-centered">{{ instructor.nextContactAt }}</td>
								<td class="text-centered">{{ instructor.dueDate }}</td>
								<td>
									<span style="color: rgba(180, 20, 20, 0.8); font-size: 20px;"
										class="remove-instructor-ui entypo-minus-circled text-primary clickable hovrable"
										tooltip-placement="bottom"
										uib-tooltip="Remove Instructor"
										confirm-button="removeInstructor(instructor)"
										message="Are you sure you want to remove this instructor?
											This will cancel any pending notifications."
										yes="Remove" no="Cancel" placement="top">
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- Federation Instructors -->
	<div class="row">
		<div class="col-md-12 instructor-section">
			<div class="panel panel-primary panel-teaching-call-status">
				<div class="panel-heading">
					<div class="panel-title">Federation Instructors</div>
				</div>
					
				<div class="panel-body with-table">
					<table class="table table-bordered table-responsive instructor-table">
						<thead>
							<tr>
								<th><input ng-click="toggleFederationInstructors()" type="checkbox"></th>
								<th>Name</th>
								<th class="text-centered">Last Contacted</th>
								<th class="text-centered">Next Contact</th>
								<th class="text-centered">Due Date</th>
								<th></th>
							</tr>
						</thead>
						
						<tbody>
							<tr ng-repeat="instructor in view.state.teachingCall.federation">
								<td><input ng-checked="instructor.selected" ng-click="toggleSelectedInstructor(instructor)" type="checkbox"></td>
								<td>{{ instructor.lastName }}, {{ instructor.firstName }}</td>
								<td class="text-centered">{{ instructor.lastContactedAt }}</td>
								<td class="text-centered">{{ instructor.nextContactAt }}</td>
								<td class="text-centered">{{ instructor.dueDate }}</td>
								<td>
									<span style="color: rgba(180, 20, 20, 0.8); font-size: 20px;"
										class="remove-instructor-ui entypo-minus-circled text-primary clickable hovrable"
										tooltip-placement="bottom"
										uib-tooltip="Remove Instructor"
										confirm-button="removeInstructor(instructor)"
										message="Are you sure you want to remove this instructor?
											This will cancel any pending notifications."
										yes="Remove" no="Cancel" placement="top">
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>