<nav year="{{ year }}" workgroup-id="{{ workgroupId }}"></nav>
<div>
</div>

<div class="container-fluid"><!-- main content container -->

	<h3 style="text-align: center;">
		TeachingCalls {{ year }}-{{ nextYear }}
	</h3>
	<p class="text-align--center department-title">{{ sharedState.workgroup.name }}</p>

<!-- page starts -->
<div class="row pull-right">
	<div class="col-md-12 btn-group">
			<a href="javascript:;" onclick="jQuery('#modal-1').modal('show');" class="btn btn-default">Invite Instructors</a>
			<a href="javascript:;" onclick="jQuery('#modal-2').modal('show');" class="btn btn-default">Contact Instructors</a>
	</div>
</div>

	<!-- Federation Instructors -->
	<div class="row">
		<div class="col-md-12 instructor-section">
			<div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="panel-title">Federation Instructors</div>
				</div>
					
				<div class="panel-body with-table">
					<table class="table table-bordered table-responsive instructor-table">
						<thead>
							<tr>
								<th><input type="checkbox"></th>
								<th>Name</th>
								<th>Scheduled Contact Date</th>
								<th>Last Contacted Date</th>
							</tr>
						</thead>
						
						<tbody>
							<tr>
								<td><input type="checkbox"></td>
								<td>Arlind Gemerz</td>
								<td>10/25/16</td>
								<td>
									3/25/17
								</td>
							</tr>
							
							<tr>
								<td><input type="checkbox"></td>
								<td>John Smith</td>
								<td>12/10/16</td>
								<td>
									3/25/17
								</td>
							</tr>
							
							<tr>
								<td><input type="checkbox"></td>
								<td>Freddy O'young</td>
								<td>10/25/16</td>
								<td>
									3/25/17
								</td>
							</tr>
						</tbody>
				</table>
				</div>
			</div>
			</div>
		</div>
	</div>
	<!-- Federation Instructors -->
	<div class="row">
		<div class="col-md-12 instructor-section">
			<div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="panel-title">Senate Instructors</div>
				</div>
					
				<div class="panel-body with-table">
					<table class="table table-bordered table-responsive instructor-table">
						<thead>
							<tr>
								<th><input type="checkbox"></th>
								<th>Name</th>
								<th>Scheduled Contact Date</th>
								<th>Last Contacted Date</th>
							</tr>
						</thead>
						
						<tbody>
							<tr>
								<td><input type="checkbox"></td>
								<td>Arlind Gemerz</td>
								<td>10/25/16</td>
								<td>
									3/25/17
								</td>
							</tr>
							
							<tr>
								<td><input type="checkbox"></td>
								<td>John Smith</td>
								<td>12/10/16</td>
								<td>
									3/25/17
								</td>
							</tr>
							
							<tr>
								<td><input type="checkbox"></td>
								<td>Freddy O'young</td>
								<td>10/25/16</td>
								<td>
									3/25/17
								</td>
							</tr>
						</tbody>
				</table>
				</div>
			</div>
			</div>
		</div>
	</div>

</div>



<!-- modal invite Instructor -->
<div class="modal fade" id="modal-1" style="display: none;">
		<div class="modal-dialog invite-instructors-modal">
			<div class="modal-content">
				
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Invite Instructors</h4>
				</div>
				
				<div class="modal-body">
					<div class="container-fluid">
						<!-- toggle -->
						<div class="row">
							<div class="col-md-12">
								<div class="row btn-group instructor-toggle" data-toggle="buttons">
									<label class="btn btn-white btn-sm active" id="courses-pivot">
										<input name="options" type="radio">
										<span>Senate</span>
									</label>
									<label class="btn btn-white btn-sm" id="instructors-pivot">
										<input name="options" type="radio">
										<span>Federation</span>
									</label>
								</div>
							</div>
						</div>
						<!-- main content -->
						<div class="row">
							<div class="col-md-6">
								<h6>Senate Instructors Selected</h6>
								<div class="flex flex-wrap padding-sm instructor-box">
									<div class="instructor-list">
										<div class="label label-default instructor-tag">Jackson Smith</div>
										<div class="label label-default instructor-tag label-toggleout">Ginna Johnson</div>
										<div class="label label-default instructor-tag">Zack Potter</div>
									</div>
								</div>
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-4">
								<!-- set due date -->
								<h6>Set Due Date</h6>
								<input class="form-control datepicker" type="text">
								<div uib-datepicker="form-control" ng-model="dt" class="uib-datepicker" datepicker-options="options" role="application">
								</div>	
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<!-- check unavailabilities and send message -->
								<div class="checkbox"> 
									<label class="checkbox-inline"><input value="" type="checkbox">Ask for unavailabilities</label>
									<label class="checkbox-inline"><input value="" type="checkbox">Send Email</label>
								</div>
							</div>
							<div class="col-md-4 col-md-offset-3">
								<h6>Select Term</h6>
								<!-- selet term dropdown-menu -->
								<div class="select-term" uib-dropdown auto-close="outsideClick" is-open="status.isopen">
									<button id="single-button" type="button" class="btn btn-default dropdown-toggle set-terms-teaching-call-btn" uib-dropdown-toggle ng-disabled="disabled">
										Set Terms <span class="caret"></span>
									</button>
									<ul class="dropdown-menu set-term-menu" uib-dropdown-menu auto-close="outsideClick" role="menu" aria-labelledby="single-button">
										<li ng-repeat="term in viewState.userInterface.enabledTerms.list" role="menuitem" ng-click="toggleTermActive(term)">
											<div class="checkbox checkbox-replace color-primary neon-cb-replacement" ng-class="{ 'checked': startTeachingCallConfig.activeTerms[term.slice(-2)] }">
												<label class="cb-wrapper">
													<div class="checked"></div>
												</label>
												<label>{{ getTermName(term) }}</label>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				
				<div class="modal-footer">
					<div class="row">
						<div class="col-md-12 email-message">
							<h6 class="pull-left">Email Message</h6>
							<textarea class="form-control" placeholder="Important: Instructor Name, Due Date, and Quarter Term will all be included." rows="5" id="comment" style="height:77px;"></textarea>
						</div>
					</div>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-info">Confirm</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- modal contact Instructors -->
<div class="modal fade" id="modal-2" style="display: none;">
		<div class="modal-dialog invite-instructors-modal">
			<div class="modal-content">
				
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Invite Instructors</h4>
				</div>
				
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12 email-message">
								<h6 class="pull-left">Email Message</h6>
								<textarea class="form-control instructor-message-box" placeholder="Important: Instructor Name, Due Date, and Quarter Term will all be included." rows="5" id="comment" style="height:77px;"></textarea>
							</div>
						</div>
					</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-info">Confirm</button>
				</div>
			</div>
		</div>
	</div>
</div>