<h1 mat-dialog-title>Impersonate <mat-icon>supervisor_account</mat-icon></h1>
<div mat-dialog-content>
  <mat-nav-list>
    <mat-list-item *ngFor="let user of data">
      <mat-icon matListIcon>person_outline</mat-icon><p matLine (click)="onClick(user)">{{user.displayName}} - {{user.email}}</p>
    </mat-list-item>
  </mat-nav-list>
</div>
<!-- <div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Impersonate</button>
</div> -->