.top-bar {
  display: flex;
  justify-content: space-between;
}

.top-right-bar {
  display: flex;
  justify-content: space-between;
}

.logout-btn {
  margin-left: 16px;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
}

.year {
  padding-left: 16px;
  padding-right: 16px;
}
