.ipa-header {
  display: flex;
  justify-content: space-between;
}

.ipa-header__left {
  display: flex;
}

.ipa-header__right {
  display: flex;
}

.ipa-header__logout {
  margin-left: 10px;
}

.ipa-header__side-nav-ui {
  font-size: 18px;
}
