<div class="budget-costs">
	<ipa-tabs tab-names="termNav.allTabs"
	          active-tab="termNav.activeTab"
	          select-tab="setActiveTerm"
	          slim="true">
		<div class="budget-costs__main-container">
			<div class="budget-costs__rows-container">
				<table class="budget-costs__table budget-costs__table--header">
					<colgroup>
						<col style="width: 5%;">
						<col style="width: 10%;">
						<col style="width: 10%;">
						<col style="width: 10%;">
						<col style="width: 10%;">
						<col style="width: 10%;">
						<col style="width: 10%;">
						<col style="width: 10%;">
					</colgroup>
					<thead>
						<tr>
							<th class="budget-costs__table-header"></th> <!-- Spacing for sequence number -->
							<th class="budget-costs__table-header">
								<div>Enrollment /</div>
								<div>Instructor</div>
							</th>
							<th class="budget-costs__table-header">Sections</th>
							<th class="budget-costs__table-header">
								<div>TAs /</div>
								<div>Original Instructor</div>
							</th>
							<th class="budget-costs__table-header">TA Cost</th>
							<th class="budget-costs__table-header">
								<div>Readers /</div>
								<div>Reason</div>
							</th>
							<th class="budget-costs__table-header">Reader Cost</th>
							<th class="budget-costs__table-header">
								<div>Support Cost /</div>
								<div>Instructor Cost</div>
							</th>
						</tr>
					</thead>
				</table>

				<div ng-repeat="course in scheduleCosts.byTerm[termNav.activeTerm] track by course.uniqueKey">
					<div class="budget-costs__course-title">
						{{ course.subjectCode }} {{ course.courseNumber }} {{ course.description }} {{ course.title }}
					</div>
					<div ng-repeat="sectionGroupCost in course.sectionGroupCosts">
						<table class="budget-costs__table">
							<thead>
								<colgroup>
									<col style="width: 5%;">
									<col style="width: 10%;">
									<col style="width: 10%;">
									<col style="width: 10%;">
									<col style="width: 10%;">
									<col style="width: 10%;">
									<col style="width: 10%;">
									<col style="width: 10%;">
								</colgroup>
							</thead>
							<tbody>
								<tr course-costs-row section-group-cost="sectionGroupCost" is-live-data-scenario="isLiveDataScenario"></tr>
								<tr divider="(course.sectionGroupCosts.length > 1 && $last == false)"
								    instructor-costs-row
								    section-group-cost="sectionGroupCost"
								    instructor-assignment-options="instructorAssignmentOptions"
								    regular-instructor-assignment-options="regularInstructorAssignmentOptions"
								    is-live-data-scenario="isLiveDataScenario">
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="budget-costs__shared-container">
				<table class="budget-costs__table budget-costs__table--header">
					<colgroup>
						<col style="width: 70%;">
						<col style="width: 30%;">
					</colgroup>
					<thead>
						<tr>
							<th class="budget-costs__table-header">Comments</th>
							<th class="budget-costs__table-header">Total</th>
						</tr>
					</thead>
				</table>

				<div ng-repeat="course in scheduleCosts.byTerm[termNav.activeTerm] track by course.uniqueKey">
					<div class="budget-costs__course-title-space"></div>

					<div ng-repeat="sectionGroupCost in course.sectionGroupCosts">
						<table class="budget-costs__table">
							<colgroup>
								<col style="width: 70%;">
								<col style="width: 30%;">
							</colgroup>
							<tbody>
								<tr>
									<!-- Comments -->
									<td class="budget-costs__table-cell-comments" ng-class="{ 'budget-costs__divider': (course.sectionGroupCosts.length > 1 && $last == false) }">
										<ipa-button superscript="sectionGroupCost.commentCount > 0 ? sectionGroupCost.commentCount : ''"
										            icon-color="sectionGroupCost.commentCount > 0 ? '' : 'gray'"
										            tooltip-message="'View Comments'"
										            icon-class="'entypo entypo-chat'"
										            text="'Comments'"
										            on-click="openAddCourseCommentsModal(sectionGroupCost)">
										</ipa-button>
									</td>
									<!-- Total -->
									<td class="budget-costs__table-cell-total" ng-class="{ 'budget-costs__divider': (course.sectionGroupCosts.length > 1 && $last == false) }">
										<div class="budget-costs__total-container">
											<div class="budget-costs__label">
												Total
											</div>
											<div>
												{{ toCurrency(sectionGroupCost.totalCost) }}
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</ipa-tabs>

	<!-- PRINT VERSION -->
PRINT VERSION
<div id="budgetCostsPrint" class="budgetCostsPrint">
	<ipa-tabs tab-names="termNav.allTabs"
	          active-tab="termNav.activeTab"
	          select-tab="setActiveTerm"
	          slim="true">
		<div class="budget-costs__main-container">
			<div class="budget-costs__rows-container">
				<table class="budget-costs-print__table budget-costs-print__table--header">
					<colgroup>
						<col style="width: 5%;">
						<col style="width: 5%;">
						<col style="width: 10%;">
						<col style="width: 10%;">
						<col style="width: 5%;">
						<col style="width: 5%;">
						<col style="width: 10%;">
						<col style="width: 10%;">
						<col style="width: 10%;">
						<col style="width: 10%;">
						<col style="width: 10%;">
						<col style="width: 5%;">
						<col style="width: 5%;">
					</colgroup>
					<thead>
						<tr>
							<th class="budget-costs__table-header"><div>Seq.</div></th>
							<th class="budget-costs__table-header"><div>Enrollment</div></th>
							<th class="budget-costs__table-header"><div>Instructor</div></th>
							<th class="budget-costs__table-header"><div>Original Instructor</div></th>
							<th class="budget-costs__table-header"><div>Sections</div></th>
							<th class="budget-costs__table-header"><div>TAs</div></th>
							<th class="budget-costs__table-header">TA Cost</th>
							<th class="budget-costs__table-header">Readers</th>
							<th class="budget-costs__table-header"><div>Reason</div></th>
							<th class="budget-costs__table-header"><div></div>Reader Cost</th>
							<th class="budget-costs__table-header"><div>Support Cost</div></th>
							<th class="budget-costs__table-header"><div>Instructor Cost</div></th>
							<th class="budget-costs__table-header"><div>Total</div></th>
						</tr>
					</thead>
				</table>

				<div ng-repeat="course in scheduleCosts.byTerm[termNav.activeTerm] track by course.uniqueKey">
					<div class="budget-costs__course-title">
						{{ course.subjectCode }} {{ course.courseNumber }} {{ course.description }} {{ course.title }}
					</div>
					<div ng-repeat="sectionGroupCost in course.sectionGroupCosts">
						<table class="budget-costs-print__table">
							<thead>
								<colgroup>
									<col style="width: 5%;">
									<col style="width: 5%;">
									<col style="width: 10%;">
									<col style="width: 10%;">
									<col style="width: 5%;">
									<col style="width: 5%;">
									<col style="width: 10%;">
									<col style="width: 10%;">
									<col style="width: 10%;">
									<col style="width: 10%;">
									<col style="width: 10%;">
									<col style="width: 5%;">
									<col style="width: 5%;">
								</colgroup>
							</thead>
							<tbody>
								<tr>
									<td>{{ sectionGroupCost.sequencePattern }}</td>
									<td>{{ sectionGroupCost.enrollment }}</td>
									<td>{{ sectionGroupCost.instructorDescription }}</td>
									<td>{{ sectionGroupCost.originalInstructorDescription }}</td>
									<td>{{ sectionGroupCost.sectionCount }}</td>
									<td>{{ sectionGroupCost.taCount }}</td>
									<td>{{ sectionGroupCost.taCost }}</td>
									<td>{{ sectionGroupCost.readerCount }}</td>
									<td>{{ sectionGroupCost.reason }}</td>
									<td>{{ sectionGroupCost.readerCost }}</td>
									<td>{{ sectionGroupCost.courseCostSubTotal }}</td>
									<td>{{ sectionGroupCost.instructorCostSubTotal }}</td>
									<td>{{ toCurrency(sectionGroupCost.totalCost) }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</ipa-tabs>
</div>

</div>


