<div class="budget-costs">
  <h3
    ng-if="isSnapshot"
    style="text-align: center; color: #5b616b"
  >
    SNAPSHOT
  </h3>
  <ipa-tabs tab-names="termNav.allTabs"
            active-tab="termNav.activeTab"
            select-tab="setActiveTerm"
            slim="true">

    <!-- Scrollable Area -->
    <div class="budget-costs__scrollable-area"> 
      <div class="budget-costs__main-container">

        <div class="budget-costs__rows-container">
          <div ng-repeat="course in scheduleCosts.byTerm[termNav.activeTerm] track by course.uniqueKey">
            <div class="budget-costs__course-title">
              {{ course.subjectCode }} {{ course.courseNumber }} {{ course.description }} {{ course.title }}
              <span ng-if="course.tagIds.length > 0" ng-repeat="tagId in course.tagIds">
                <div class="label budget-costs__tag"
                    ng-style="{ 'background-color': tags.list[tagId].color || '#333', 'color': getTagTextColor(tags.list[tagId].color) }">
                  {{ tags.list[tagId].name }}
                </div>
              </span>
            </div>
            <div ng-repeat="sectionGroupCost in course.sectionGroupCosts" ng-init="last = $last">
              <table class="budget-costs__table">
                <thead>
                  <colgroup>
                    <col style="width: 5%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 12%;">
                    <col style="width: 6%;">
                  </colgroup>
                </thead>
                <tbody>
                  <tr divider="(course.sectionGroupCosts.length > 1 && $last == false)"
                    course-costs-row
                    section-group-cost="sectionGroupCost"
                    is-live-data-scenario="isLiveDataScenario"
                    instructor-count="sectionGroupCost.sectionGroupCostInstructors.length"
                    is-snapshot="isSnapshot">
                  </tr>
                  <!--<tr divider="(course.sectionGroupCosts.length > 1 && $last == false && isLiveDataScenario && sectionGroupCost.sectionGroupCostInstructors.length < 1)"
                      instructor-costs-row
                      section-group-cost="sectionGroupCost"
                      instructor-assignment-options="instructorAssignmentOptions"
                      regular-instructor-assignment-options="regularInstructorAssignmentOptions"
                      is-live-data-scenario="isLiveDataScenario"
                      is-snapshot="isSnapshot">
                  </tr>-->
                  <tr divider="(course.sectionGroupCosts.length > 1 && $last == true && !last)"
                      ng-repeat="instructor in sectionGroupCost.sectionGroupCostInstructors"
                      instructor-costs-live-data
                      instructor="instructor"
                      section-group-cost="sectionGroupCost"
                      ng-show="isLiveDataScenario || isSnapshot"
                      is-snapshot="isSnapshot"
                      is-first="$first"
                      regular-instructor-assignment-options="regularInstructorAssignmentOptions"
                  >
                  </tr>
                  <tr ng-repeat="instructor in sectionGroupCost.sectionGroupCostInstructors"
                      ng-if="instructor.sectionGroupCostId"
                      instructor-costs
                      instructor="instructor"
                      section-group-cost="sectionGroupCost"
                      instructor-assignment-options="instructorAssignmentOptions"
                      ng-show="!isLiveDataScenario && !isSnapshot"
                      is-first="$first"
                      regular-instructor-assignment-options="regularInstructorAssignmentOptions"
                  >
                  </tr>
                  <tr divider="(course.sectionGroupCosts.length > 1 && $last == false)"
                      add-instructor-cost
                      section-group-cost="sectionGroupCost"
                      instructor-assignment-options="instructorAssignmentOptions"
                      is-live-data="isLiveDataScenario"
                      is-snapshot="isSnapshot"
                      instructor-count="sectionGroupCost.sectionGroupCostInstructors.length"
                  >
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ipa-tabs>
</div>
