<div class="content-container">
	<!-- page header -->
	<div class="container-fluid">
		<div class="student-summary-header">
			<h3>Instructional Support Summary 2016-17</h3>
			<p>Psychology</p>
		</div>
	</div>
	<!-- page header ends -->

	<!-- support Calls -->
	<div class="row">
		<div class="flex term-header">
			Support Calls
		</div>

		<div class="support-call-row flex">
			<div class="flex-table-content flex table-body container-box"> <!-- table contents -->
				<div class="table-content">
					<a ng-href="{{ urlRoot }}/instructionalSupport/20/2016/10/instructorSupportCallForm">
						View Support Call Form
					</a>
				</div>
				<div class="table-content">Due Date: December 23rd, 2017</div>
				<div class="table-content"></div>
				<div class="table-content"></div>
				<div class="table-content"></div>

			</div>
		</div>

	</div>

	<!-- support assignments -->
	<div class="row">
		<div class="flex term-header">
			2017 Winter Assignments
		</div>

		<div class="flex">
			<div class="flex-table-content flex table-header container-box-title"> <!-- table title -->
				<div class="table-content">Title</div>
				<div class="table-content">Position</div>
				<div class="table-content">Location</div>
				<div class="table-content">Time</div>
				<div class="table-content">Activity</div>
			</div>
		</div>

		<div class="support-call-row flex">
			<div class="flex-table-content flex table-body container-box"> <!-- table contents -->
				<div class="table-content">ECS 015 Intro to Computers</div>
				<div class="table-content">Teaching Assistant</div>
				<div class="table-content">SSH 1205</div>
				<div class="table-content">MWF 2:10pm-3:00pm</div>
				<div class="table-content">Discussion / Lecture</div>
			</div>
		</div>

		<div class="flex term-header">
			2017 Spring Assignments
		</div>

		<div class="flex">
			<div class="flex-table-content flex table-header container-box-title"> <!-- table title -->
				<div class="table-content">Title</div>
				<div class="table-content">Position</div>
				<div class="table-content">Location</div>
				<div class="table-content">Time</div>
				<div class="table-content">Activity</div>
			</div>
		</div>

		<div class="support-call-row flex">
			<div class="flex-table-content flex table-body container-box"> <!-- table contents -->
				<div class="table-content">ANS 200 Strategic Mgmt</div>
				<div class="table-content">Reader</div>
				<div class="table-content">Young 120</div>
				<div class="table-content">MTWRF 1:10pm-2:00pm</div>
				<div class="table-content">Discussion / Lecture</div>
			</div>
		</div>

	</div>
</div>