  <div class="budget-costs">
  <ipa-tabs tab-names="termNav.allTabs"
            active-tab="termNav.activeTab"
            select-tab="setActiveTerm"
            slim="true">
    <div class="line-items">
      <table class="line-items__table">
        <tbody>
          <tr ng-repeat="sectionGroupCost in courseList">
            <!-- Category -->
            <td class="course-list__cell" ng-class-even="'course-list__cell--dark'">
              {{ sectionGroupCost.subjectCode }} {{ sectionGroupCost.courseNumber }} - {{ sectionGroupCost.sequencePattern }} - {{ sectionGroupCost.title }}
              <span ng-show="sectionGroupCost.isScheduled == false">
                <i class="entypo-attention line-items__orphan-warn"
                  tooltip-append-to-body="true"
                  uib-tooltip="This course is not present on the schedule">
                </i>
              </span>
              <span ng-if="sectionGroupCost.isBudgeted">
                <i class="entypo-attention line-items__orphan-warn"
                  tooltip-append-to-body="true"
                  uib-tooltip="This course is scheduled, but not budgeted for in this scenario.">
                </i>
                <ipa-button text="'Add Course'"
                            size="'small'"
                            on-click="unHide(sectionGroupCost)">
                </ipa-button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </ipa-tabs>
</div>
