<mat-card class="course-detail-card">
  <mat-card-header>
    <mat-card-title>AAS 010</mat-card-title>
    <mat-card-subtitle>African-Am Culture & Soc</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form class="form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Title" value="">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Tags" value="">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Sequence Pattern" value="">
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>