<mat-sidenav-container class="sidenav" autosize>
  <mat-sidenav #sidenav class="theme-primary" mode="side" opened="true" [ngClass]="{collapsed: !isNavExpanded}">
    <mat-nav-list>
      <mat-list-item (click)="toggleSideNav()">
        <p matLine *ngIf="isNavExpanded" class="title">
          <strong class="theme-primary typo-display-1">IPA</strong>
        </p>
        <button mat-icon-button>
          <mat-icon class="theme-primary" *ngIf="!isNavExpanded">chevron_right</mat-icon>
          <mat-icon class="theme-primary" *ngIf="isNavExpanded">chevron_left</mat-icon>
        </button>
      </mat-list-item>

      <mat-list-item matTooltip="Home" matTooltipPosition="right" [matTooltipDisabled]="isNavExpanded">
        <mat-icon mat-list-icon class="theme-primary" [class.typo-muted]="activePage != 'home'">home</mat-icon>
        <p matLine *ngIf="isNavExpanded" class="theme-primary" [class.typo-muted]="activePage != 'home'">Home</p>
      </mat-list-item>

      <a [routerLink]="['/courses/20/2018/10']" mat-list-item matTooltip="Courses" matTooltipPosition="right" [matTooltipDisabled]="isNavExpanded">
        <mat-icon mat-list-icon class="theme-primary" [class.typo-muted]="activePage != 'newCourses'">book</mat-icon>
        <p matLine *ngIf="isNavExpanded" class="theme-primary" [class.typo-muted]="activePage != 'newCourses'">Courses</p>
      </a>

      <mat-list-item matTooltip="Instructors" matTooltipPosition="right" [matTooltipDisabled]="isNavExpanded">
        <mat-icon mat-list-icon class="theme-primary" [class.typo-muted]="activePage != 'instructor'">person_add</mat-icon>
        <p matLine *ngIf="isNavExpanded" class="theme-primary" [class.typo-muted]="activePage != 'instructor'">Instructors</p>
      </mat-list-item>

      <a href="/reports/20/2018/10" mat-list-item matTooltip="Schedule" matTooltipPosition="right" [matTooltipDisabled]="isNavExpanded">
        <mat-icon mat-list-icon class="theme-primary" [class.typo-muted]="activePage != 'reports'">calendar_today</mat-icon>
        <p matLine *ngIf="isNavExpanded" class="theme-primary" [class.typo-muted]="activePage != 'reports'">Schedule</p>
      </a>

      <mat-list-item matTooltip="TAs & Readers" matTooltipPosition="right" [matTooltipDisabled]="isNavExpanded">
        <mat-icon mat-list-icon class="theme-primary" [class.typo-muted]="activePage != 'tareader'">people</mat-icon>
        <p matLine *ngIf="isNavExpanded" class="theme-primary" [class.typo-muted]="activePage != 'tareader'">TAs & Readers</p>
      </mat-list-item>

      <mat-list-item matTooltip="Budget" matTooltipPosition="right" [matTooltipDisabled]="isNavExpanded">
        <mat-icon mat-list-icon class="theme-primary" [class.typo-muted]="activePage != 'budget'">pie_chart</mat-icon>
        <p matLine *ngIf="isNavExpanded" class="theme-primary" [class.typo-muted]="activePage != 'budget'">Budget</p>
      </mat-list-item>

      <mat-list-item matTooltip="Reports" matTooltipPosition="right" [matTooltipDisabled]="isNavExpanded">
        <mat-icon mat-list-icon class="theme-primary" [class.typo-muted]="activePage != 'report'">assessment</mat-icon>
        <p matLine *ngIf="isNavExpanded" class="theme-primary" [class.typo-muted]="activePage != 'report'">Reports</p>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-ipa-header></app-ipa-header>
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
