<div id="courses-view">

	<!-- handle lack of sectionGroups -->
	<div ng-if="view.state && view.state.sectionGroups.length == 0">
			<div class="jumbotron" style="text-align: center; height: 100%; background-color: white;">
				<p class="lead">There are no scheduled courses for {{ sharedState.workgroup.name }} {{ termShortCode.getTermDisplayName() }} {{ year }}-{{ nextYear }}.</p>
			</div>
	</div>

	<div class="container-fluid border-bottom--gray" ng-repeat="sectionGroup in view.state.sectionGroups"
	 ng-hide="sectionGroup.isFiltered">
			<div class="flex-row">
					<div class="assignment-title-container">
							<h4 class="assignment-title-header">{{sectionGroup.subjectCode}} {{sectionGroup.courseNumber}} {{sectionGroup.title}}</h4>
							<h5>Section {{sectionGroup.sequencePattern}}</h5>
							<div class="label ng-binding ng-scope info--bg_black">
									Seats: {{sectionGroup.plannedSeats}}
							</div>
							<div>
									<ul class="course-info">
											<li>Units: {{sectionGroup.units}}</li>
											<li ng-if="sectionGroup.instructorPreferenceComment">Instructor Comment: {{sectionGroup.instructorPreferenceComment }}</li>
											<!--
											<li>TAs: [4/5]</li>
											<li>Readers: [5/5]</li>
											<li>AIs: [1/2]</li>
											-->
									</ul>
							</div>
					</div>
					<div class="flex-selector-course_view">
							<div class="ta_course-section-swticher">
								<div class="remove-tile-container">
								</div>
								<div class="preference-title-container">
									<div class="preference-title">
										TAs
									</div>
								</div>
								<div class="remove-tile-container">
								</div>
							</div>
							<div class="ta_course-section">
								<div class="tile-container"
								ng-repeat="supportAssignment in sectionGroup.supportAssignments"
								ng-show="supportAssignment.appointmentType == 'teachingAssistant' && supportAssignment.supportStaffId > 0">
									<div class="remove-tile-container">
									</div>
									<div class="assignment">
										<div class="assignment-description">
											{{ supportAssignment.fullName }}
										</div>
									</div>
									<div class="remove-tile-container">
										<i ng-class="{'invisible' : readOnlyMode }" class="glyphicon glyphicon-remove assignment-remove-button"
											uib-tooltip="Unassign" tooltip-placement="bottom"
											confirm-button="removeStaffFromSlot(supportAssignment)"
											message="Are you sure you want to delete this assignment?"
											yes="Confirm" no="Cancel" placement="top"></i>
									</div>
								</div>

								<!-- Display unfilled assignment slots -->
								<div class="tile-container"
									ng-repeat="supportAssignment in sectionGroup.supportAssignments"
									ng-show="supportAssignment.appointmentType == 'teachingAssistant' && supportAssignment.supportStaffId == 0">

									<div class="remove-tile-container">
									</div>
									<support-staff-selector 
										ng-init="instructionalSupportAssignment=supportAssignment; assignmentOptions=sectionGroup.teachingAssistantAssignmentOptions"
										class="support-staff-selector assignment"
										 ng-class="{'invisible' : readOnlyMode }">
									</support-staff-selector>

									<div class="remove-tile-container">
										<i ng-class="{'invisible' : readOnlyMode }" class="glyphicon glyphicon-remove assignment-remove-button"
											uib-tooltip="Delete assignment" tooltip-placement="bottom"
											confirm-button="deleteAssignment(supportAssignment)"
											btn-class="btn-danger"
											message="Are you sure you want to delete this assignment?"
											yes="Confirm" no="Cancel" placement="top"></i>
									</div>
								</div>

									<!--add new slot button-->
									<div ng-click="openAddAppointmentSlotModal(sectionGroup.id, 'teachingAssistant')"
												class="btn btn-default add-new-slot pull-left"
											 ng-class="{'invisible' : readOnlyMode }">
										Add TA Slots...
									</div>
							</div>
					</div>

					<!-- END TA SECTION -->

					<!-- START READER SECTION -->

					<div class="flex-selector-course_view">
							<div class="ta_course-section-swticher">
								<div class="remove-tile-container">
								</div>
								<div class="preference-title-container">
									<div class="preference-title">
										Readers
									</div>
								</div>
								<div class="remove-tile-container">
								</div>
							</div>
							<div class="ta_course-section">
								<div class="tile-container"
								ng-repeat="supportAssignment in sectionGroup.supportAssignments"
								ng-show="supportAssignment.appointmentType == 'reader' && supportAssignment.supportStaffId > 0">
									<div class="remove-tile-container">
									</div>
									<div class="assignment">
										<div class="assignment-description">
											{{ supportAssignment.fullName }}
										</div>
									</div>
									<div class="remove-tile-container">
										<i ng-class="{'invisible' : readOnlyMode }" class="glyphicon glyphicon-remove assignment-remove-button"
											uib-tooltip="Unassign" tooltip-placement="bottom"
											confirm-button="removeStaffFromSlot(supportAssignment)"
											message="Are you sure you want to delete this assignment?"
											yes="Confirm" no="Cancel" placement="top"></i>
									</div>
								</div>

								<!-- Display unfilled assignment slots -->
								<div class="tile-container"
									ng-repeat="supportAssignment in sectionGroup.supportAssignments"
									ng-show="supportAssignment.appointmentType == 'reader' && supportAssignment.supportStaffId == 0">

									<div class="remove-tile-container">
									</div>
									<support-staff-selector 
										ng-init="instructionalSupportAssignment=supportAssignment; assignmentOptions=sectionGroup.readerAssignmentOptions"
										class="support-staff-selector assignment"
										 ng-class="{'invisible' : readOnlyMode }">
									</support-staff-selector>

									<div class="remove-tile-container">
										<i ng-class="{'invisible' : readOnlyMode }" class="glyphicon glyphicon-remove assignment-remove-button"
											uib-tooltip="Delete Assignment" tooltip-placement="bottom"
											confirm-button="deleteAssignment(supportAssignment)"
											message="Are you sure you want to delete this Assignment?"
											yes="Confirm" no="Cancel" placement="top"></i>
									</div>
								</div>

									<!--add new slot button-->
									<div ng-click="openAddAppointmentSlotModal(sectionGroup.id, 'reader')"
			 									ng-class="{'invisible' : readOnlyMode }"
												class="btn btn-default add-new-slot pull-left">
										Add Reader Slots...
									</div>
							</div>
					</div>

					<!-- END READER SECTION -->

					<!-- START AI SECTION -->
					<div class="flex-selector-course_view">
							<div class="ta_course-section-swticher">
								<div class="remove-tile-container">
								</div>
								<div class="preference-title-container">
									<div class="preference-title">
										AIs
									</div>
								</div>
								<div class="remove-tile-container">
								</div>
							</div>
							<div class="ta_course-section">
								<div class="tile-container"
								ng-repeat="supportAssignment in sectionGroup.supportAssignments"
								ng-show="supportAssignment.appointmentType == 'associateInstructor' && supportAssignment.supportStaffId > 0">
									<div class="remove-tile-container">
									</div>
									<div class="assignment">
										<div class="assignment-description">
											{{ supportAssignment.fullName }}
										</div>
									</div>
									<div class="remove-tile-container">
										<i ng-class="{'invisible' : readOnlyMode }" class="glyphicon glyphicon-remove assignment-remove-button"
											uib-tooltip="Unassign" tooltip-placement="bottom"
											confirm-button="removeStaffFromSlot(supportAssignment)"
											message="Are you sure you want to delete this assignment?"
											yes="Confirm" no="Cancel" placement="top"></i>
									</div>
								</div>

								<!-- Display unfilled assignment slots -->
								<div class="tile-container"
									ng-repeat="supportAssignment in sectionGroup.supportAssignments"
									ng-show="supportAssignment.appointmentType == 'associateInstructor' && supportAssignment.supportStaffId == 0">

									<div class="remove-tile-container">
									</div>
									<support-staff-selector 
										ng-init="instructionalSupportAssignment=supportAssignment; assignmentOptions=sectionGroup.associateInstructorAssignmentOptions"
										class="support-staff-selector assignment"
										 ng-class="{'invisible' : readOnlyMode }">
									</support-staff-selector>

									<div class="remove-tile-container">
										<i ng-class="{'invisible' : readOnlyMode }" class="glyphicon glyphicon-remove assignment-remove-button"
											uib-tooltip="Delete Assignment" tooltip-placement="bottom"
											confirm-button="deleteAssignment(supportAssignment)"
											message="Are you sure you want to delete this Assignment?"
											yes="Confirm" no="Cancel" placement="top"></i>
									</div>
								</div>

									<!--add new slot button-->
									<div ng-click="openAddAppointmentSlotModal(sectionGroup.id, 'associateInstructor')"
											 ng-class="{'invisible' : readOnlyMode }"
												class="btn btn-default add-new-slot pull-left">
										Add AI Slots...
									</div>
							</div>
					</div>

					<!-- END AI SECTION -->
			</div>
	</div>
</div>
