<div id="people-view">
	<!-- handle lack of supportStaff -->
	<div ng-if="view.state && view.state.supportStaffList.length == 0">
		<div class="jumbotron" style="text-align: center; height: 100%; background-color: white;">
			<p class="lead">There are currently no support staff for {{ sharedState.workgroup.name }}.</p>
		</div>
	</div>

	<div  class="container-fluid border-bottom--gray"
				ng-repeat="supportStaff in view.state.supportStaffList"
				ng-hide="supportStaff.isFiltered">
		<div class="flex-row">
			<div class="assignment-title-container">
				<h4 class="assignment-title-header">{{ supportStaff.lastName }}, {{ supportStaff.firstName }}</h4>
				<div class="label ng-binding ng-scope info--bg_black">
					{{ supportStaff.type }}
				</div>
				<div>
					<ul class="ta-info">
						<li ng-if="supportStaff.supportCallResponse.teachingQualifications.length > 0">
							<strong>Teaching Experience:</strong>
						</li>
						<li>
							<p>
								{{ supportStaff.supportCallResponse.teachingQualifications }}
							</p>
						</li>
						<li ng-if="supportStaff.supportCallResponse.generalComments.length > 0">
							<strong>Comments:</strong>
						</li>
						<li>
							<p>
								{{ supportStaff.supportCallResponse.generalComments }}
							</p>
						</li>
						<li ng-class="{ 'invisible': readOnlyMode }" ng-repeat="preference in supportStaff.supportStaffPreferences | orderBy: 'priority'"
								ng-if="preference.comment && preference.comment.length > 0">
							<div>
								({{ preference.priority }}) <strong>{{ preference.subjectCode }} {{ preference.courseNumber }} Comments:</strong>
							</div>
							<p>
								{{ preference.comment }}
							</p>
						</li>
					</ul>
				</div>
			</div>

			<div class="support-staff-details-layout">
				<div class="support-staff-details-container">
					<div class="ta_course-section">
						<div ng-repeat="supportAssignment in supportStaff.supportAssignments" class="tile-container">
							<div class="remove-tile-container">
							</div>
							<div class="assignment">
									<div class="support-student-assignment-detail-container">
											<div class="support-staff-assignment-detail">{{ supportAssignment.subjectCode}} {{ supportAssignment.courseNumber}} - {{ supportAssignment.sequencePattern }}</div>
											<div class="support-staff-assignment-sub-detail">{{ appointmentTypeToShorthand(supportAssignment.appointmentType) }} ({{ supportAssignment.appointmentPercentage }}%)</div>
									</div>
							</div>
							<div class="remove-tile-container">
								<i
									ng-class="{'invisible' : readOnlyMode }"
									class=" btn glyphicon glyphicon-remove assignment-remove-button text-primary"
									uib-tooltip="Unassign" tooltip-placement="bottom"
									confirm-button="removeStaffFromSlot(supportAssignment)"
									message="Are you sure you want to delete this Assignment?"
									yes="Confirm" no="Cancel" placement="top">
								</i>
							</div>
						</div>

						<div ng-class="{ 'invisible': !readOnlyMode }" ng-repeat="supportPreference in supportStaff.supportStaffPreferences | orderBy: 'priority'" class="tile-container">
							<div class="remove-tile-container">
							</div>
							<div class="read-only-preference">
								<div class="support-student-assignment-detail-container">
									<div class="support-staff-assignment-detail">({{ supportPreference.priority }}) {{ supportPreference.subjectCode}} {{ supportPreference.courseNumber}} - {{ supportPreference.sequencePattern }} {{ appointmentTypeToShorthand(supportPreference.type) }}</div>
								</div>
								<div class="support-student-assignment-detail-container">
									<div ng-if="supportPreference.comment.length > 0" class="support-staff-assignment__review-comment">Comments: {{ supportPreference.comment }}</div>
								</div>
							</div>
							<div class="remove-tile-container">
							</div>
						</div>

						<course-assignment-selector
						 ng-class="{'invisible' : readOnlyMode }"
						 class="add-new-slot">
						</course-assignment-selector>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>