<div class="assignment support-staff-selector">
	<div class="clickable assignment-description" style="width: 100%; text-align: center; color: #303641;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Assign {{ instructionalSupportAssignment.appointmentPercentage }}%
	</div>
	<ul class="dropdown-menu" style="width: 100%;">
		<!-- Handle lack of support staff -->

		<li style="text-align: center; color: black;" ng-if="assignmentOptions.supportStaffPreferences.length == 0 && assignmentOptions.instructorPreferences.length == 0 && assignmentOptions.other.length == 0">
			There are no support staff available.
		</li>

		<!-- Support Staff preferences -->
		<li ng-if="assignmentOptions.instructorPreferences.length > 0" class="dropdown-header" stop-event="click"><b>Instructor Preferences</b></li>
		<li class="clickable"
			ng-repeat="instructorPreference in assignmentOptions.instructorPreferences"
			ng-click="assignStaffToSlot(instructorPreference.supportStaffId)">
			<a class="small">
				<span class="course-filter-item">{{ instructorPreference.fullName }} ({{ instructorPreference.priority }})</span>
			</a>
		</li>

		<!-- Divider -->
		<li ng-if="assignmentOptions.instructorPreferences.length > 0" role="separator" class="divider"></li>

		<!-- Support Staff preferences -->
		<li ng-if="assignmentOptions.supportStaffPreferences.length > 0" class="dropdown-header" stop-event="click"><b>Support Staff Preferences</b></li>
		<li class="clickable"
			ng-repeat="supportStaffPreference in assignmentOptions.supportStaffPreferences"
			ng-click="assignStaffToSlot(supportStaffPreference.supportStaffId)">
			<a class="small">
				<span class="course-filter-item">{{ supportStaffPreference.fullName }} <span class="preference-priority">({{ supportStaffPreference.priority }})</span> <span class="preference-percentage" ng-if="supportStaffPreference.appointmentPercentage">{{ supportStaffPreference.appointmentPercentage }}%</span></span>
			</a>
		</li>

		<!-- Divider -->
		<li ng-if="assignmentOptions.supportStaffPreferences.length > 0" role="separator" class="divider"></li>

		<!-- Other preferences -->
		<li ng-if="assignmentOptions.other.length > 0" class="dropdown-header" stop-event="click"><b>Other</b></li>
		<li class="clickable"
			ng-repeat="supportStaff in assignmentOptions.other"
			ng-click="assignStaffToSlot(supportStaff.supportStaffId)">
			<a class="small">
				<span class="course-filter-item">{{ supportStaff.fullName }}</span>
			</a>
		</li>

	</ul>
</div>