<div class="support-assignment-table">
	<ipa-tabs
		tab-names="tabNames"
		active-tab="state.ui.tabPivot"
		select-tab="setViewPivot">
		<support-staff-tab state="state"></support-staff-tab>
		<support-courses-tab state="state"></support-courses-tab>
	</ipa-tabs>

	<div class="btn-group border-bottom--gray view-switcher" data-toggle="buttons">
		<label class="btn btn-white btn-sm active" id="courses-pivot" ng-click="togglePivotView('course')">
			<input type="radio" name="options">
			<span class="tool-icon glyphicon glyphicon-education"></span> By Course-old
		</label>

		<label class="btn btn-white btn-sm" id="instructors-pivot" ng-click="togglePivotView('supportStaff')">
			<input type="radio" name="options">
			<span class="tool-icon glyphicon glyphicon-user"></span> By Support Staff-old
		</label>
	</div>
</div>