<div class="support-assignment-table">
	<ipa-tabs
		ng-if="view.state.ui.allTerms.length > 0"
		tab-names="view.state.ui.allTermNames"
		active-tab="view.state.ui.selectedSupportCallTermDisplay"
		select-tab="selectTab">
		table content goes here
	</ipa-tabs>

	<div class="btn-group border-bottom--gray view-switcher" data-toggle="buttons">
		<label class="btn btn-white btn-sm active" id="courses-pivot" ng-click="togglePivotView('course')">
			<input type="radio" name="options">
			<span class="tool-icon glyphicon glyphicon-education"></span> By Course
		</label>

		<label class="btn btn-white btn-sm" id="instructors-pivot" ng-click="togglePivotView('supportStaff')">
			<input type="radio" name="options">
			<span class="tool-icon glyphicon glyphicon-user"></span> By Support Staff
		</label>
	</div>
</div>