<tr class="instructor-costs__additional-instructor-row">
	<!-- Instructor of record -->
	<td class="instructor-costs__table-cell" ng-class="{ 'instructor-costs-row__divider' : divider }">
		<div class="instructor-costs__table-cell-insturctor">
			<div class="budget-costs__label">
				Instructor <span ng-if="instructor.instructorTypeDescription">({{ instructor.instructorTypeDescription }})</span>
			</div>
			<div class="instructor-costs__instructor-reversion-ui">
				<div>
					{{ instructor.instructorName ? instructor.instructorName.split(' ')[1] + ', ' + instructor.instructorName.split(' ')[0] : (instructor.instructorTypeDescription ? instructor.instructorTypeDescription : 'None assigned') }}
				</div>
			</div>
		</div>
	</td>
	<!-- Reason -->
	<td colspan="3" class="instructor-costs__table-cell" ng-class="{ 'instructor-costs-row__divider' : divider }">
		<div class="instructor-costs__table-cell-reason">
			<div class="budget-costs__label">
				Reason
			</div>
			<ipa-input value="instructor.reason"
			           on-update="updateInstructorCost(instructor)"
			           max-chars="200"
			           ng-show="!isSnapshot">
			</ipa-input>
			<span ng-show="isSnapshot">
				{{ instructor.reason || 'N/A' }}
			</span>
		</div>
	</td>
	<!-- Cost -->
	<td class="instructor-costs__table-cell" ng-class="{ 'instructor-costs-row__divider' : divider }">
		<div class="instructor-costs__table-cell-cost">
			<div class="budget-costs__label">
				Instructor Cost
			</div>
			<div class="instructor-costs__cost-container">
				<div>
					<ipa-input
					value="instructor.cost"
					mode="'currency'"
					update-delay="3000"
					place-holder="(instructor.overrideInstructorCost ? '$' + instructor.overrideInstructorCost : '')"
					on-update="updateInstructorCost(instructor)"
					ng-show="!isSnapshot"
					/>
					<span ng-show="isSnapshot">
						{{ instructor.cost || 'N/A' }}
					</span>
				</div>
			</div>
		</div>
	</td>
	<!-- Remove Row -->
	<td class="instructor-costs__table-cell" ng-class="{ 'instructor-costs-row__divider' : divider }" ng-show="!isSnapshot && !instructor.teachingAssignmentId">
		<div class="instructor-costs__table-cell-cost">
			<div class="budget-costs__label">
				Remove Instructor
			</div>
			<div class="instructor-costs__cost-container">
						<div class="glyphicon glyphicon-remove instructor-costs__revert-ui"
						     tooltip-append-to-body="true"
						     uib-tooltip="Delete instuctor row"
						     confirm-button="removeInstructorCost(instructor)"
						     message="Are you sure you want to remove this instructor cost?"
						     yes="Remove"
						     no="Cancel"
						>
					</div>
			</div>
		</div>
	</td>
	<!-- Empty columns for spacing -->
	<td colspan="1" class="instructor-costs__table-cell" ng-class="{ 'instructor-costs-row__divider' : divider }" ng-show="isSnapshot || instructor.teachingAssignmentId">
		<div class="instructor-costs__table-cell-reason"/>
	</td>
	<!-- Regular instructor -->
	<td colspan="1" class="instructor-costs__table-cell" ng-class="{ 'instructor-costs-row__divider' : divider }" ng-show="isFirst">
		<div class="budget-costs__label">
			Regular Instructor
		</div>
		<div class="instructor-costs__instructor-container">
			<div ng-if="!isSnapshot" class="instructor-costs__instructor-dropdown-container">
				<instructor-assignment-dropdown
				                                mode="'originalInstructor'"
				                                section-group-cost="sectionGroupCost"
				                                instructors="regularInstructorAssignmentOptions"
				                                course="course">
				</instructor-assignment-dropdown>
			</div>
			<div ng-if="!isSnapshot" class="instructor-costs__instructor-reversion-ui">
				<div class="glyphicon glyphicon-remove instructor-costs__revert-ui"
				     tooltip-append-to-body="true"
				     uib-tooltip="Remove instructor"
				     confirm-button="removeOriginalInstructor(sectionGroupCost)"
				     message="Are you sure you want to remove this instructor?"
				     yes="Remove"
				     no="Cancel"
				     ng-class="{'instructor-costs-row__hidden': (sectionGroupCost.originalInstructorId > 0) == false }">
				</div>
			</div>
			<div ng-if="isSnapshot">
				{{ findOriginalInstructorBySectionGroupCost(sectionGroupCost).description || 'N/A' }}
			</div>
		</div>
	</td>
	<!-- Empty columns for spacing -->
	<td colspan="1" class="instructor-costs__table-cell" ng-class="{ 'instructor-costs-row__divider' : divider }" ng-show="!isFirst">
		<div class="instructor-costs__table-cell-reason"/>
	</td>
</tr
