.budget-summary__header-cell {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

.budget-summary__table {
	width: 100%;
	margin-bottom: 20px;
	table-layout: fixed;
}

.budget-summary__cell-container {
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  margin-top: 5px;
  margin-bottom: 5px;
}

.budget-summary__cell-container--right {
  margin-right: 20px;
}

.budget-summary__cell-container--left {
	margin-left: 20px;
}

.budget-summary__cell-container--replacement-costs-overall {
	margin-bottom: 0px;
	height: 58px;
}

.budget-summary__cell-container--replacement-costs-type {
	margin-top: 0px;
	margin-bottom: 0px;
	height: 63px;
}

.budget-summary__cell-container--replacement-costs-type--left {
	margin-left: 20px;
}

.budget-summary__cell-container--replacement-costs-type--last {
	margin-bottom: 5px;
	height: 58px;
}

.budget-summary__cell--combined-value {
	font-weight: bold;
}