<div class="budget-summary panel panel-primary" data-collapsed="0">
	<table class="budget-summary__table">
		<thead>
			<tr>
				<th>
					<div class="budget-summary__header-cell">
						<!-- Space for row label -->
						&nbsp;
					</div>
				</th>
				<th>
					<div class="budget-summary__header-cell">
						Year
					</div>
				</th>
				<th ng-repeat="term in summary.terms">
					<div class="budget-summary__header-cell">
						{{ getTermName(term) }}
					</div>
				</th>
			</tr>
		</thead>

		<tbody>
			<!-- TA Count -->
			<tr>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell-container--left">
						TA Count
					</div>
				</td>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell--combined-value">
						{{ summary.combinedTerms.taCount }}
					</div>
				</td>
				<td ng-repeat="term in summary.terms">
					<div class="budget-summary__cell-container"
					     ng-class="{ 'budget-summary__cell-container--right': $last }">
						{{ summary.byTerm[term].taCount }}
					</div>
				</td>
			</tr>

			<!-- TA Cost -->
			<tr>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell-container--left">
						TA Cost
					</div>
				</td>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell--combined-value">
						{{ toCurrency(summary.combinedTerms.taCost) }}
					</div>
				</td>
				<td ng-repeat="term in summary.terms">
					<div class="budget-summary__cell-container"
					     ng-class="{ 'budget-summary__cell-container--right': $last }">
						{{ toCurrency(summary.byTerm[term].taCost) }}
					</div>
				</td>
			</tr>

			<!-- Reader Count -->
			<tr>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell-container--left">
						Reader Count
					</div>
				</td>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell--combined-value">
						{{ summary.combinedTerms.readerCount }}
					</div>
				</td>
				<td ng-repeat="term in summary.terms">
					<div class="budget-summary__cell-container"
					     ng-class="{ 'budget-summary__cell-container--right': $last }">
						{{ summary.byTerm[term].readerCount }}
					</div>
				</td>
			</tr>

			<!-- Reader Cost -->
			<tr>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell-container--left">
						Reader Cost
					</div>
				</td>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell--combined-value">
						{{ toCurrency(summary.combinedTerms.readerCost) }}
					</div>
				</td>
				<td ng-repeat="term in summary.terms">
					<div class="budget-summary__cell-container"
					     ng-class="{ 'budget-summary__cell-container--right': $last }">
						{{ toCurrency(summary.byTerm[term].readerCost) }}
					</div>
				</td>
			</tr>

			<!-- Replacement Costs -->
			<tr>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell-container--left budget-summary__cell-container--replacement-costs-overall">
						Replacement Costs
					</div>
				</td>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell-container--replacement-costs-overall budget-summary__cell--combined-value">
						{{ toCurrency(summary.combinedTerms.replacementCosts.overall) }}
					</div>
				</td>
				<td ng-repeat="term in summary.terms">
					<div class="budget-summary__cell-container budget-summary__cell-container--replacement-costs-overall"
					     ng-class="{ 'budget-summary__cell-container--right': $last }">
						{{ toCurrency(summary.byTerm[term].replacementCosts.overall) }}
					</div>
				</td>
			</tr>
			<!-- Replacement Cost sub-types -->
			<tr ng-repeat="instructorTypeId in summary.combinedTerms.replacementCosts.instructorTypeIds">
				<td>
					<div class="budget-summary__cell-container budget-summary__cell-container--replacement-costs-type budget-summary__cell-container--replacement-costs-type--left">
						{{ instructorTypes.list[instructorTypeId].description }}
					</div>
				</td>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell-container--replacement-costs-type budget-summary__cell--combined-value">
						{{ toCurrency(summary.combinedTerms.replacementCosts.byInstructorTypeId[instructorTypeId]) }}
					</div>
				</td>
				<td ng-repeat="term in summary.terms">
					<div class="budget-summary__cell-container budget-summary__cell-container--replacement-costs-type"
					     ng-class="{ 'budget-summary__cell-container--right': $last }">
						{{ toCurrency(summary.byTerm[term].replacementCosts.byInstructorTypeId[instructorTypeId]) }}
					</div>
				</td>
			</tr>

			<!-- Total Costs -->
			<tr>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell-container--left">
						Total Costs
					</div>
				</td>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell--combined-value">
						{{ toCurrency(summary.combinedTerms.totalCosts) }}
					</div>
				</td>
				<td ng-repeat="term in summary.terms">
					<div class="budget-summary__cell-container"
					     ng-class="{ 'budget-summary__cell-container--right': $last }">
						{{ toCurrency(summary.byTerm[term].totalCosts) }}
					</div>
				</td>
			</tr>

			<!-- Total Student Credit Hours -->
			<tr>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell-container--left">
						Student Credit Hours
					</div>
				</td>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell--combined-value">
						{{ summary.combinedTerms.totalSCH }}
					</div>
				</td>
				<td ng-repeat="term in summary.terms">
					<div class="budget-summary__cell-container"
					     ng-class="{ 'budget-summary__cell-container--right': $last }">
						{{ summary.byTerm[term].totalSCH }}
					</div>
				</td>
			</tr>

			<!-- Total Student Credit Hours -->
			<tr>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell-container--left">
						Enrollment
					</div>
				</td>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell--combined-value">
						{{ summary.combinedTerms.enrollment }}
					</div>
				</td>
				<td ng-repeat="term in summary.terms">
					<div class="budget-summary__cell-container"
					     ng-class="{ 'budget-summary__cell-container--right': $last }">
						{{ summary.byTerm[term].enrollment }}
					</div>
				</td>
			</tr>

			<!-- Lower Div Count -->
			<tr>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell-container--left">
						Lower Div Count
					</div>
				</td>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell--combined-value">
						{{ summary.combinedTerms.lowerDivCount }}
					</div>
				</td>
				<td ng-repeat="term in summary.terms">
					<div class="budget-summary__cell-container"
					     ng-class="{ 'budget-summary__cell-container--right': $last }">
						{{ summary.byTerm[term].lowerDivCount }}
					</div>
				</td>
			</tr>

			<!-- Upper Div Count -->
			<tr>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell-container--left">
						Upper Div Count
					</div>
				</td>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell--combined-value">
						{{ summary.combinedTerms.upperDivCount }}
					</div>
				</td>
				<td ng-repeat="term in summary.terms">
					<div class="budget-summary__cell-container"
					     ng-class="{ 'budget-summary__cell-container--right': $last }">
						{{ summary.byTerm[term].upperDivCount }}
					</div>
				</td>
			</tr>

			<!-- Graduate Count -->
			<tr>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell-container--left">
						Upper Div Count
					</div>
				</td>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell--combined-value">
						{{ summary.combinedTerms.graduateCount }}
					</div>
				</td>
				<td ng-repeat="term in summary.terms">
					<div class="budget-summary__cell-container"
					     ng-class="{ 'budget-summary__cell-container--right': $last }">
						{{ summary.byTerm[term].graduateCount }}
					</div>
				</td>
			</tr>

			<!-- Total Offerings -->
			<tr>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell-container--left">
						Total Offerings
					</div>
				</td>
				<td>
					<div class="budget-summary__cell-container budget-summary__cell--combined-value">
						{{ summary.combinedTerms.totalOfferingsCount }}
					</div>
				</td>
				<td ng-repeat="term in summary.terms">
					<div class="budget-summary__cell-container"
					     ng-class="{ 'budget-summary__cell-container--right': $last }">
						{{ summary.byTerm[term].totalOfferingsCount }}
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
