.budget-summary__header-cell {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

.budget-summary__table {
	width: 100%;
	margin-bottom: 20px;
	table-layout: fixed;
}

.budget-summary__cell-container--left {
	font-weight: bold;
	margin-left: 20px;
}