<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Instructional Support" />
	<meta name="author" content="" />

	<link rel="icon" href="/images/favicon.ico">

	<title></title>

	<link rel="stylesheet" href="/css/entypo.css">
	<link rel="stylesheet" href="/css/lib.css">
	<link rel="stylesheet" href="/css/neon-core.css">
	<link rel="stylesheet" href="/css/neon-theme.css">
	<link rel="stylesheet" href="/css/neon-forms.css">
	<link rel="stylesheet" href="/css/shared.css">

	<!-- Student Support Call Form -->
	<link rel="stylesheet" href="/css/studentSupportCallForm.css">
	<link rel="stylesheet" href="/css/studentComments.css">
	<link rel="stylesheet" href="/css/studentPreferences.css">
	<link rel="stylesheet" href="/css/studentPreferenceTable.css">
	<link rel="stylesheet" href="/css/studentPreferenceSelector.css">
	<link rel="stylesheet" href="/css/studentQualifications.css">
	<link rel="stylesheet" href="/css/studentAvailabilities.css">
	<link rel="stylesheet" href="/css/crnAvailable.css">
	<link rel="stylesheet" href="/css/gridAvailable.css">
	<link rel="stylesheet" href="/css/studentFormReview.css">
	<link rel="stylesheet" href="/css/confirmEligible.css">
	<link rel="stylesheet" href="/css/modalPreferenceComments.css">

	<!-- Instructor Support Call Form -->
	<link rel="stylesheet" href="/css/instructorSupportCallForm.css">
	<link rel="stylesheet" href="/css/instructorPreferenceSelector.css">
	<link rel="stylesheet" href="/css/instructorComment.css">

	<script src="/js/lib.js"></script>
</head>
<body class="page-body ng-cloak" ng-app="instructionalSupportApp" ng-cloak ng-controller="SharedCtrl">
		<base href="/instructionalSupport/">

	<div ng-if="loadingView" class="overlay">
		<spinner class="vertical-center"></spinner>
	</div>

	<div class="page-container" collapsable-sidebar-container ng-view>
			<!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
		</div>

		<no-mobile-support></no-mobile-support>

		<div id="toast-container" class="toast-top-right" ng-if="$root.toast.message.length > 0">
			<div class="toast toast-error" style="display: block;">
				<div class="toast-message" ng-bind="$root.toast.message">
				</div>
			</div>
		</div>

		<!-- Bottom scripts (common) -->
		<script src="/js/select2.min.js"></script>

		<!-- JavaScripts initializations and stuff -->

		<script src="/js/sharedApp.js"></script>
		<script src="/js/clientConfig.js"></script>
		<script src="/js/snippets.js"></script>
		<script src="/js/instructionalSupportApp.js"></script>
		<script src="/js/jquery-ui.min.js"></script>
	</body>
</html>
