<div class="support-costs">
	<form role="form" class="form-horizontal">

		<div class="form-group">
			<label class="col-sm-6 control-label">TA Cost</label>
			<div class="col-sm-5">
				<div class="input-group form-input">
					<input
						class="form-control" type="text"
						ng-model="newBudget.taCost"
						placeholder="Enter amount">
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-6 control-label">Reader Cost</label>
			<div class="col-sm-5">
				<div class="input-group form-input">
					<input
						class="form-control" type="text"
						ng-model="newBudget.readerCost"
						placeholder="Enter amount">
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-6 control-label">Lecturer Cost</label>
			<div class="col-sm-5">
				<div class="input-group form-input">
					<input
						class="form-control" type="text"
						ng-model="newBudget.lecturerCost"
						placeholder="Enter amount">
				</div>
			</div>
		</div>

		<div class="support-costs-footer">
			<button ng-click="closeSupportCosts()"
							type="button"
							class="btn btn-default modal-button">
				Cancel
			</button>
			<button ng-click="saveBudget()"
							type="button"
							class="btn neon-dark-confirm-btn modal-button">
				Save
			</button>
		</div>
	</form>
</div>