.support-costs .category-item {
	cursor: pointer;
}

.support-costs .modal-button {
	margin-right: 5px;
	margin-left: 5px;
}

.support-costs .support-costs-footer {
	padding: 10px;
	display: flex;
	justify-content: flex-end;
	padding-bottom: 15px;
	padding-top: 15px;
	background-color: rgb(248, 248, 248);
}

.support-costs .form-input {
	width: 100%;
}

.support-costs .lecturer-cost-label {
	flex: 1 0 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.support-costs .lecturer-cost-input {
	flex: 1 0 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.support-costs .instructor-box {
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 90%;
	overflow-y: scroll;
}