<div class="support-costs">
	<div class="main-content">
		<!-- left side -->
		<div class="instructor-container">

			<div class="instructor-box">
				<div ng-repeat="instructor in newInstructors | orderBy: 'lastName'" class="instructor-item">

					<div class="instructor-label-container">
						<div class="instructor-label">
							{{ instructor.fullName }}
						</div>
					</div>

					<div class="instructor-cost-container">
						<div class="instructor-cost">
							<input
								type="text"
								ng-model="instructor.cost"
								auto-input
								on-blur="updateInstructorCost(instructor)"
								class="instructor-cost-input">
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- right side -->
		<div class="default-costs-container">
			<div class="lecturer-cost-container">
				<div class="lecturer-cost-label">
					Lecturer Cost
				</div>
				<div class="lecturer-cost-input">
					<div class="lecturer-cost-input-container">
						<input
							class="lecturer-cost-input-field"
							type="number"
							ng-model="newBudget.lecturerCost"
							placeholder="Enter amount">
					</div>
				</div>
			</div>
			<div class="lecturer-cost-container">
				<div class="lecturer-cost-label">
					TA Cost
				</div>
				<div class="lecturer-cost-input">
					<div class="lecturer-cost-input-container">
						<input
							class="lecturer-cost-input-field"
							type="number"
							ng-model="newBudget.taCost"
							placeholder="Enter amount">
					</div>
				</div>
			</div>
			<div class="lecturer-cost-container">
				<div class="lecturer-cost-label">
					Reader Cost
				</div>
				<div class="lecturer-cost-input">
					<div class="lecturer-cost-input-container">
						<input
							class="lecturer-cost-input-field"
							type="number"
							ng-model="newBudget.readerCost"
							placeholder="Enter amount">
					</div>
				</div>
			</div>
		</div><!-- end right side -->
	</div> <!-- end main-content -->

	<!-- footer -->
	<div class="support-costs-footer">
		<button ng-click="closeSupportCosts()"
						type="button"
						class="btn btn-default modal-button">
			Cancel
		</button>
		<button ng-click="saveBudget()"
						type="button"
						class="btn neon-dark-confirm-btn modal-button">
			Save
		</button>
	</div> <!-- end footer -->
</div>