<div class="teaching-calls">
	<div class="teaching-calls__header-bar">
		<h5>Teaching Call for Review</h5>
	</div>
			<!-- test -->
	<div>
		<div class="teaching-calls-table">
			<div class="teaching-calls__row teaching-calls__row--border">
				<div class="teaching-calls__header-cell">Teaching Call</div>
				<div class="teaching-calls__header-cell">Descrption</div>
				<div class="teaching-calls__header-cell">Due Date</div>
				<div class="teaching-calls__header-cell">Submitted Preference</div>
			</div>
		</div>
	</div>
			<!-- test -->

	<!-- <div ng-if="view.state.teachingCallReceipt">
		<div class="course-table-row">
			<div class="course-table__header">
				<div class="course-table__header-detail">
					<div>
						Teaching Calls
					</div>
				</div>
			</div>
			<div class="course-table__header">
				<div class="course-table__header-detail">
					<div>
						Due Date
					</div>
				</div>
			</div>
			<div class="course-table__header">
				<div class="course-table__header-detail">
					<div>
						Submitted Preferences
					</div>
				</div>
			</div>
		</div>

		<div class="course-table-row">
			<div class="course-table__row-detail">
				<div>
					<a ng-href="{{ urlRoot }}/teachingCalls/{{ workgroupId }}/{{ year }}/teachingCall">
						View Teaching Call Form
					</a>
				</div>
			</div>
			<div class="course-table__row-detail">
				{{ view.state.teachingCallReceipt.dueDateDescription }}
			</div>
			<div class="course-table__row-detail">
				<i class="glyphicon glyphicon-ok" ng-if="view.state.teachingCallReceipt.isDone"></i>
			</div>
		</div>
	</div>

	<div ng-if="!view.state.teachingCallReceipt" class="empty-message">
		No Active Teaching Calls
	</div> -->
</div>