<div class="teaching-calls">
	<div class="teaching-calls__header-bar">
		<h5>Teaching Call for Review</h5>
	</div>
			<!-- test -->
	<div>
		<div class="teaching-calls-table">
			<div class="teaching-calls-table__row teaching-calls-table__row--border">
				<div class="teaching-calls-table__header-cell teaching-calls-table__header-cell--left">Teaching Call</div>
				<div class="teaching-calls-table__header-cell teaching-calls-table__header-cell--left">Descrption</div>
				<div class="teaching-calls-table__header-cell">Due Date</div>
				<div class="teaching-calls-table__header-cell">Submitted Preference</div>
			</div>
			<div class="teaching-calls-table__row">
					<div class="teaching-calls-table__cell teaching-calls-table__cell--left">
						<button class="btn btn-default teaching-calls-table__button">View Teaching Call Form</button>
					</div>
					<div class="teaching-calls-table__cell teaching-calls-table__cell--left">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
						Aenean commodo ligula eget dolor. Aenean massa.sociis natoque penatibus et magnis dis parturient montes. </div>
					<div class="teaching-calls-table__cell">WF: 1:00 PM - 2:50 PM</div>
					<div class="teaching-calls-table__cell">Wellman 002</div>
				</div>
		</div>
	</div>
			<!-- test -->

	<!-- <div ng-if="view.state.teachingCallReceipt">
		<div class="course-table-row">
			<div class="course-table__header">
				<div class="course-table__header-detail">
					<div>
						Teaching Calls
					</div>
				</div>
			</div>
			<div class="course-table__header">
				<div class="course-table__header-detail">
					<div>
						Due Date
					</div>
				</div>
			</div>
			<div class="course-table__header">
				<div class="course-table__header-detail">
					<div>
						Submitted Preferences
					</div>
				</div>
			</div>
		</div>

		<div class="course-table-row">
			<div class="course-table__row-detail">
				<div>
					<a ng-href="{{ urlRoot }}/teachingCalls/{{ workgroupId }}/{{ year }}/teachingCall">
						View Teaching Call Form
					</a>
				</div>
			</div>
			<div class="course-table__row-detail">
				{{ view.state.teachingCallReceipt.dueDateDescription }}
			</div>
			<div class="course-table__row-detail">
				<i class="glyphicon glyphicon-ok" ng-if="view.state.teachingCallReceipt.isDone"></i>
			</div>
		</div>
	</div>

	<div ng-if="!view.state.teachingCallReceipt" class="empty-message">
		No Active Teaching Calls
	</div> -->
</div>