<div class="scheduled-courses">
	<div class="scheduled-courses__header-bar">
		<h5>Scheduled Courses {{ year.yearToAcademicYear() }}</h5>
	</div>

	<div
	class="scheduled-courses-table"
	ng-if="view.state.scheduledCourses.terms.length > 0">
		<div class="scheduled-courses-table__row scheduled-courses-table__row--border">
			<div class="scheduled-courses-table__header-cell">Course</div>
			<div class="scheduled-courses-table__header-cell">Activity</div>
			<div class="scheduled-courses-table__header-cell">Time</div>
			<div class="scheduled-courses-table__header-cell">Location</div>
			<div class="scheduled-courses-table__header-cell">Teaching Assistant(s)</div>
		</div>

		<div class="scheduled-courses-table__content" ng-repeat="term in view.state.scheduledCourses.terms">
			<div class="scheduled-courses-table_row">
				<div class="scheduled-courses-table__term">{{ term.getTermCodeDisplayName() }}
					<div ng-if="isCurrentTerm(term)" class="scheduled-courses-table__green-label">Current Quarter</div>
				</div>
			</div>

			<div ng-repeat="course in view.state.scheduledCourses.list[term]">
				<div ng-repeat="meeting in course.meetings">
					<div
					class="scheduled-courses-table__row"
					ng-class="{'scheduled-courses-table__row--emphasis': meeting.activityType == 'Lecture'}">
						<div class="scheduled-courses-table__cell">
							{{ course.subjectCode }} {{ course.courseNumber }} {{ course.title }}
						</div>
						<div class="scheduled-courses-table__cell">
							{{ meeting.activityType }}
						</div>
						<div class="scheduled-courses-table__cell">
							<span class="meeting-days">
								{{ dayIndicatorToDayCodes(meeting.dayIndicator) }}&nbsp;
							</span>
							<span class="meeting-time">
								{{ meeting.startTime.toStandardTime() }}-{{ meeting.endTime.toStandardTime() }}
							</span>
						</div>
						<div class="scheduled-courses-table__cell">
							{{ meeting.location }}
						</div>
						<div class="scheduled-courses-table__cell scheduled-courses-table__cell--gray">
							<div ng-if="meeting.activityType == 'Lecture'">
								<div ng-if="course.teachingAssistants.length > 0" ng-repeat="teachingAssistant in course.teachingAssistants">
									{{ teachingAssistant.lastName }}, {{ teachingAssistant.firstName }}
								</div>
								<div ng-if="course.teachingAssistants.length == 0" ng-repeat="teachingAssistant in course.teachingAssistants">
									No TA information
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-if="view.state.scheduledCourses && view.state.scheduledCourses.terms.length === 0" class="scheduled-courses__empty-message">
		No Scheduled Courses
	</div>
</div>