<div class="course-comment-modal">
	<div>{{ selectedCourse.subjectCode }} {{ selectedCourse.courseNumber }} - {{ selectedCourse.sequencePattern }} - {{ selectedCourse.title }}
		<div ng-repeat="offering in selectedCourse.offerings">
			{{ offering[0].termCode.getTermCodeDisplayName() }}
			<div ng-repeat="assignment in offering" class="alert alert-info">
				{{ assignment.instructorDisplayName }}
			</div>
		</div>
		{{ selectedCourse.approvedTeachingAssignments }}
		<textarea ng-model="courseComment"></textarea>
		<button ng-click="addComment()">Add Comment</button>
	<div class="course-comments-list">
		<div ng-repeat="comment in selectedCourse.courseComments">
			{{ comment.comment }} - {{ comment.authorName }} - {{ dateToCalendar(comment.creationDate) }}
		</div>
	</div>
</div>