.deans-office-report {
  display: flex;
  width: 100%;
  padding: 20px;
  font-size: 12px;
}

.deans-office-report table {
  font-size: 12px;
}

/* Bootstrap overrides */
.form-horizontal .form-group {
	margin-left: 0px;
	margin-right: 0px;
}

.table > thead > tr > th {
	border-bottom:unset;
}

.deans-office-report__scenario-selector-tray {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 29px;
	padding-left: 14%;
	padding-right: 48%;
}
