.instructor-cost-row {
	height: 42px;
	background-color: #FAF1F1;
	display: flex;
}

.instructor-cost-row .cell {
	flex: 1 0 0px;
	display: flex;
	justify-content: center;
}

.instructor-cost-row .instructor-dropdown-container {
	position: relative;
}

.instructor-cost-row .dropdown-button {
	width: 100%;
	color: #303641;
	display: flex;
}

.instructor-cost-row .dropdown-label {
	width: 100%;
	text-align: center;
}
.instructor-cost-row .instructor-container:hover .dropdown-label {
	padding-left: 2px;
}

.instructor-cost-row .instructor-container:hover .dropdown-button {
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: -1px;
	background-color: white;
}

.instructor-cost-row .caret {
	margin: 2px;
}

.instructor-cost-row .instructor-dropdown-container {
	flex: 4 0 0px;
	display: none;
}

.instructor-cost-row .remove-instructor-ui {
	visibility: hidden;
	display: flex;
	flex: 1 0 0px;
	justify-content: center;
	align-items: center;
}

.instructor-cost-row .instructor-container:hover .remove-instructor-ui {
	visibility: visible;
}

.instructor-cost-row .instructor-container:hover .instructor-dropdown-container {
	display: flex;
}

.instructor-cost-row .instructor-container:hover .instructor-ui-label {
	display: none;
}

.instructor-cost-row .instructor-ui-label {
	padding-left: 8px;
	padding-right: 18px;
}

.instructor-cost-row .inline-edit-ui {
	text-decoration: underline;
	cursor: pointer;
}