.budget-summary__header-cell {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
	text-align: right;
}

.budget-summary__header-cell--right {
	padding-right: 25px;
}

.budget-summary__cell-container {
  height: 53px;
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  justify-content: flex-end;
}

.budget-summary__cell-container--left {
	padding-left: 20px;
	justify-content: flex-start;
}

.budget-summary__cell-container--last {
	padding-right: 25px;
}

.budget-summary__table {
	width: 100%;
	margin-bottom: 20px;
	table-layout: fixed;
}

.budget-summary__cell--combined-value {
}

.budget-summary__cell--bold {
	font-weight: bold;
	margin-bottom: 30px;
}

.budget-summary__cell--total {
	border-top: 1px solid black;
}

.budget-summary__cell--total-strong {
	border-top: 3px double black;
}

.budget-summary__cell--funds {
	font-weight: bold;
}