<!-- Scheduling Report Table Toolbar -->
<div class="toolbar-container">
  <span class="toolbar-left"></span>
  <span class="toolbar-center">
    <mat-form-field class="fill-field">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </span>
  <span class="toolbar-right">
    <mat-icon class="toolbar-btn" matTooltip="Download Excel">save_alt</mat-icon>
    <mat-icon class="toolbar-btn"matTooltip="Print">print</mat-icon>
  </span>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
    <td mat-cell *matCellDef="let section; let i = index" [attr.rowspan]="getRowSpan('title', i)" [style.display]="getRowSpan('title', i) ? '' : 'none'">
      {{section.title}} </td>
  </ng-container>

  <!-- Section Column -->
  <ng-container matColumnDef="section">
    <th mat-header-cell *matHeaderCellDef> Section </th>
    <td mat-cell *matCellDef="let section"> {{section.section}} </td>
  </ng-container>

  <!-- CRN Column -->
  <ng-container matColumnDef="CRN">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> CRN </th>
    <td mat-cell *matCellDef="let section"> {{section.CRN}} </td>
  </ng-container>

  <!-- Enrollment Column -->
  <ng-container matColumnDef="enrollment">
    <th mat-header-cell *matHeaderCellDef> Enrollment </th>
    <td mat-cell *matCellDef="let section"> {{section.enrollment}} </td>
  </ng-container>

  <!-- Seats Column -->
  <ng-container matColumnDef="seats">
    <th mat-header-cell *matHeaderCellDef> Seats </th>
    <td mat-cell *matCellDef="let section"> {{section.seats}} </td>
  </ng-container>

  <!-- Activity Column -->
  <ng-container matColumnDef="activities">
    <th mat-header-cell *matHeaderCellDef> Activity </th>
    <td mat-cell *matCellDef="let section">
      <div *ngFor="let activity of section.activities" style="margin-top: 10px; margin-bottom: 10px;">{{activity.type}}</div>
    </td>
  </ng-container>

  <!-- Days Column -->
  <ng-container matColumnDef="days">
    <th mat-header-cell *matHeaderCellDef> Days </th>
    <td mat-cell *matCellDef="let section">
      <div *ngFor="let activity of section.activities" style="margin-top: 10px; margin-bottom: 10px;">{{activity.days}}</div>
    </td>
  </ng-container>

  <!-- Start Column -->
  <ng-container matColumnDef="start">
    <th mat-header-cell *matHeaderCellDef> Start </th>
    <td mat-cell *matCellDef="let section">
      <div *ngFor="let activity of section.activities" style="margin-top: 10px; margin-bottom: 10px;">{{activity.start}}</div>
    </td>
  </ng-container>

  <!-- End Column -->
  <ng-container matColumnDef="end">
    <th mat-header-cell *matHeaderCellDef> End </th>
    <td mat-cell *matCellDef="let section">
      <div *ngFor="let activity of section.activities" style="margin-top: 10px; margin-bottom: 10px;">{{activity.end}}</div>
    </td>
  </ng-container>

  <!-- Location Column -->
  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef> Location </th>
    <td mat-cell *matCellDef="let section">
      <div *ngFor="let activity of section.activities" style="margin-top: 10px; margin-bottom: 10px;">{{activity.location}}</div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>