.ipa-filter {
	position: relative;
	font-size: 14px;
	user-select: none;
}

.ipa-filter__dropdown {
	position: absolute;
	z-index: 99;
	right: 0px;
}

.ipa-filter__dropdown-container {
	z-index: 30;
	background-color: white;
	margin-top: 4px;
	border: 1px solid rgba(27,31,35,0.15);
	border-radius: 3px;
	box-shadow: 0 3px 12px rgba(27,31,35,0.15);
	min-width: 220px;
}

.ipa-filter__header {
	padding: 8px 10px;
	line-height: 16px;
	background: #f6f8fa;
	border-bottom: 1px solid #e1e4e8;
	display: flex;
	justify-content: space-between;
}

.ipa-filter__close-ui {
	cursor: pointer;
}

.ipa-filter__close-ui svg {
	color: #c6cbd1;
	fill: #c6cbd1;
}

.ipa-filter__close-ui:hover svg {
	fill: #444d56;
	color: #444d56;
}

.ipa-filter__item {
	display: flex;
	align-items: center;
	cursor: pointer;
	white-space: nowrap;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.ipa-filter__item:hover {
	background-color: #f5f5f5;
}

.ipa-filter__item-text {
	padding-left: 10px
}

.ipa-filter__dropdown-toggle {
	border-radius: 3px;
	border: 1px solid #ddd;
	padding: 3px;
	margin-left: 8px;
	cursor: pointer;
}

.ipa-filter__dropdown-toggle:hover,
.ipa-filter__dropdown-toggle--open {
	border-color: #7c7c7c;
	background-color: #eee;
}

.ipa-filter__mask-container {
	position: relative;
}
.ipa-filter__mask {
	position: absolute;
	left:0;
	right:0;
}

.ipa-filter__dropdown-toggle--open::before {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	display: block;
	cursor: default;
	content: " ";
	background: transparent;
}

.ipa-filter__icon {
	padding-top: 3px;
}
