<div class="support-assignment-filter" ng-show="state.ui.tabPivot == 'By Course'">

  <div class="label label-selected-section-group" ng-show="state.ui.filters.hideCoursesWithoutTa == true">
    Hide courses without TAs
    <i class="glyphicon glyphicon-remove selected-section-group-remove clickable hoverable" ng-click="clickItem()"></i>
  </div>

  <span class="support-assignment-filter__dropdown-toggle"
        ng-class="{'support-assignment-filter__dropdown-toggle--open': isVisible }"
        ng-click="toggleDropdown()"
        uib-tooltip="{{tooltip}}"
        tooltip-append-to-body="true">
    <span class="support-assignment-filter__icon glyphicon {{buttonIcon}}"
          ng-class="{'glyphicon-filter': !buttonIcon }">
    </span>
  </span>

  <div ng-if="isVisible" class="support-assignment-filter__dropdown">
    <div class="support-assignment-filter__dropdown-container">
      <div class="support-assignment-filter__header">
        <div>
          Filter
        </div>
        <div class="support-assignment-filter__close-ui" ng-click="close()">
          <svg height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12">
            <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path>
          </svg>
        </div>
      </div>
      <div class="support-assignment-filter__item-list">
        <div class="support-assignment-filter__item" ng-click="uncheckItem()" stop-event="click">
          <div class="checkbox checkbox-replace color-primary neon-cb-replacement"
            ng-class="{ 'checked': state.ui.filters.hideCoursesWithoutTa }">
            <label class="cb-wrapper">
              <div class="checked"></div>
            </label>
            <label class="support-assignment-filter__item-text">Hide courses without TAs</label>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
