<nav year="{{ year }}" term-short-code="{{ termShortCode }}" workgroup-id="{{ workgroupId }}"></nav>

<ipa-header page-title="Scheduling"></ipa-header>

<div>
	<div>
		<div class="activity-page-header">
			<div class="activity-filters">
				<div class="activity-filter-menu">
					<div class="btn-group pull-left">
						<div class="btn" ng-click="toggleCheckAll()">
							<i ng-show="view.state.uiState.checkedSectionGroupIds.length" class="sg-checkbox fa fa-check-square-o"></i>
							<i ng-hide="view.state.uiState.checkedSectionGroupIds.length" class="sg-checkbox fa fa-square-o"></i>
							<span style="margin-left: 0.3em;">
								{{ view.state.uiState.checkedSectionGroupIds.length ? "Unselect" : "Select" }} all
							</span>
						</div>
					</div>
					<div class="btn-group pull-right">
						<button class="btn btn-white btn-block dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">
							Filters <span class="caret"></span>
						</button>
						<div class="dropdown-menu" style="width: 400px; padding: 0;">
							<div class="filters-container" stop-event="click">
								<div class="tags-filter">
									<h3>Tags</h3>
									<ul>
										<li ng-repeat="tagId in view.state.tags.ids track by $index" ng-click="toggleTagFilter(tagId)">
											<div class="checkbox checkbox-replace color-primary neon-cb-replacement" ng-class="{ 'checked': view.state.filters.enabledTagIds.indexOf(tagId) >= 0 }">
												<label class="cb-wrapper filter-checkbox" ng-style="{ 'border-color': view.state.tags.list[tagId].color }">
													<div class="checked" ng-style="{ 'background': view.state.tags.list[tagId].color }"></div>
												</label>
												<label class="filter-label" ng-bind="view.state.tags.list[tagId].name"></label>
											</div>
										</li>
									</ul>
								</div>
								<div class="instructors-filter">
									<h3>Instructors</h3>
									<ul>
										<li ng-repeat="instructorId in view.state.instructors.ids track by instructorId"
											ng-click="toggleInstructorFilter(instructorId)">
											<div class="checkbox checkbox-replace color-primary neon-cb-replacement" ng-class="{ 'checked': view.state.filters.enabledInstructorIds.indexOf(instructorId) >= 0 }">
												<label class="cb-wrapper filter-checkbox">
													<div class="checked"></div>
												</label>
												<label class="filter-label">{{ view.state.instructors.list[instructorId].fullName }}</label>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="calendar-filter-header">
					<div class="activity-filter-tokens text-center">
						<div class="label label-selected-section-group" ng-repeat="tagId in view.state.filters.enabledTagIds track by $index">
							{{ view.state.tags.list[tagId].name }}
							<i class="glyphicon glyphicon-remove selected-section-group-remove clickable hoverable" ng-click="toggleTagFilter(tagId)"></i>
						</div>
						<div class="label label-selected-section-group" ng-repeat="locationId in view.state.filters.enabledLocationIds track by $index">
							{{ view.state.locations.list[locationId].description }}
							<i class="glyphicon glyphicon-remove selected-section-group-remove clickable hoverable" ng-click="toggleLocationFilter(locationId)"></i>
						</div>
						<div class="label label-selected-section-group" ng-repeat="instructorId in view.state.filters.enabledInstructorIds track by $index">
							{{ view.state.instructors.list[instructorId].fullName }}
							<i class="glyphicon glyphicon-remove selected-section-group-remove clickable hoverable" ng-click="toggleInstructorFilter(instructorId)"></i>
						</div>
						<div
						class="label label-selected-section-group"
						ng-init="course=view.state.courses.list[view.state.sectionGroups.list[sectionGroupId].courseId]"
						ng-repeat="sectionGroupId in view.state.uiState.checkedSectionGroupIds track by $index"
						ng-style="{'background-color': view.state.courses.list[view.state.sectionGroups.list[sectionGroupId].courseId].tagColor}"
						ng-class="{'filter-course--tag': view.state.courses.list[view.state.sectionGroups.list[sectionGroupId].courseId].tagColor }">
							{{ course.subjectCode }}
							{{ course.courseNumber }} -
							{{ course.sequencePattern }}
							<i class="glyphicon glyphicon-remove selected-section-group-remove clickable hoverable" ng-click="toggleCheckedSectionGroup(sectionGroupId, $event)"></i>
						</div>
					</div>
					<div class="calendar-filter-menu">
						<div class="btn-group pull-right">
							<button class="btn btn-white btn-block dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								Filters <span class="caret"></span>
							</button>
							<div class="dropdown-menu" style="width: 400px; padding: 0;">
								<div class="filters-container" stop-event="click">
									<div class="days-filter">
										<h3>Days</h3>
										<ul>
											<li ng-repeat="day in ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] track by $index"
												ng-click="toggleCalendarDay($index)">
												<div class="checkbox checkbox-replace color-primary neon-cb-replacement" ng-class="{ 'checked': view.state.filters.hiddenDays.indexOf($index) < 0 }">
													<label class="cb-wrapper filter-checkbox">
														<div class="checked"></div>
													</label>
													<label class="filter-label">{{ day }}</label>
												</div>
											</li>
										</ul>
									</div>
									<div class="locations-filter">
										<h3>Locations</h3>
										<ul>
											<li ng-repeat="locationId in view.state.locations.ids track by $index" ng-click="toggleLocationFilter(locationId)">
												<div class="checkbox checkbox-replace color-primary neon-cb-replacement" ng-class="{ 'checked': view.state.filters.enabledLocationIds.indexOf(locationId) >= 0 }">
													<label class="cb-wrapper filter-checkbox">
														<div class="checked"></div>
													</label>
													<label class="filter-label" ng-bind="view.state.locations.list[locationId].description"></label>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section-group-container">
			<div class="section-group-list" ng-class="{ 'collapsed': view.state.uiState.selectedSectionGroupId }">
				<div ng-hide="view.state.sectionGroups.ids" class="loading-center">
					<spinner></spinner>
				</div>
				<ul ng-show="view.state.sectionGroups.ids">
					<li class="section-group-item" ng-repeat="sectionGroupId in view.state.sectionGroups.ids track by $index"
						ng-show="matchesFilters(view.state.sectionGroups.list[sectionGroupId])"
						ng-class="{ 'active': view.state.uiState.selectedSectionGroupId == sectionGroupId }"
						ng-click="setSelectedSectionGroup(sectionGroupId)">

						<div class="section-group-check" ng-if="view.state.uiState.selectedSectionGroupId != sectionGroupId"
							ng-click="toggleCheckedSectionGroup(sectionGroupId, $event)" stop-event="click">
							<i ng-show="view.state.uiState.checkedSectionGroupIds.indexOf(sectionGroupId) >= 0" class="sg-checkbox fa fa-check-square-o"></i>
							<i ng-hide="view.state.uiState.checkedSectionGroupIds.indexOf(sectionGroupId) >= 0" class="sg-checkbox fa fa-square-o"></i>
						</div>
						<div class="section-group-check" ng-if="view.state.uiState.selectedSectionGroupId == sectionGroupId">
						</div>
						<div class="section-group-description">
							<span>
								{{ view.state.courses.list[view.state.sectionGroups.list[sectionGroupId].courseId].subjectCode }}
								{{ view.state.courses.list[view.state.sectionGroups.list[sectionGroupId].courseId].courseNumber }}
								- {{ view.state.courses.list[view.state.sectionGroups.list[sectionGroupId].courseId].sequencePattern }}
							</span>
							<br />
							<small class="text-muted">{{ view.state.courses.list[view.state.sectionGroups.list[sectionGroupId].courseId].title }}</small>
							<br />
							<small class="text-muted">
								Units: {{ view.state.courses.list[view.state.sectionGroups.list[sectionGroupId].courseId].unitsLow }}

								<!-- TODO: Display enrollment and total seats (Involves modifying payload to include all sections) -->

								<div ng-if="view.state.sectionGroups.list[sectionGroupId].instructorIds.length">
									Instructor{{ view.state.sectionGroups.list[sectionGroupId].instructorIds.length > 1 ? 's':'' }}:
									<div class="label label-default" style="padding: 3px; margin-left: 3px;"
										ng-repeat="instructorId in view.state.sectionGroups.list[sectionGroupId].instructorIds track by $index">
										{{ view.state.instructors.list[instructorId] | lastSpaceInitial }}{{ $last ? '':', '}}
									</div>
									<span class="label label-default" style="padding: 3px; margin-left: 3px;"
										ng-repeat="instructorTypeId in view.state.sectionGroups.list[sectionGroupId].instructorTypeIds track by $index">
										{{ view.state.instructorTypes.list[instructorTypeId].description }}{{ $last ? '':', '}}
									</span>
								</div>

								<div ng-if="view.state.sectionGroups.list[sectionGroupId].showTheStaff">
									instructor:
									<div class="label label-default instructor-label">
										The Staff
									</div>
								</div>

								<div ng-if="view.state.courses.list[view.state.sectionGroups.list[sectionGroupId].courseId].tagIds.length">
									Tags:
									<div class="label" style="padding: 3px; margin-left: 3px;"
										ng-repeat="tagId in view.state.courses.list[view.state.sectionGroups.list[sectionGroupId].courseId].tagIds track by $index"
										ng-style="{ 'background-color': view.state.tags.list[tagId].color || '#333', 'color': view.state.tags.list[tagId].getTextColor() }">
										{{ view.state.tags.list[tagId].name }}
									</div>
								</div>
							</small>
						</div>
					</li>
				</ul>
			</div>
			<div class="activity-container" ng-class="{ 'collapsed': !view.state.uiState.selectedSectionGroupId }">
				<div class="activity-list" ng-class="{ 'collapsed': view.state.uiState.selectedActivityId && !isLocked() }">
					<div ng-hide="view.state.sectionGroups.list[view.state.uiState.selectedSectionGroupId].sectionIds" class="loading-center">
						<spinner></spinner>
					</div>
					<div ng-show="view.state.sectionGroups.list[view.state.uiState.selectedSectionGroupId].sectionIds">

						<p class="activity-list-header">
							{{ view.state.courses.list[view.state.uiState.selectedCourseId].subjectCode }} {{ view.state.courses.list[view.state.uiState.selectedCourseId].courseNumber
							}} - {{ view.state.courses.list[view.state.uiState.selectedCourseId].sequencePattern }}
						</p>
						<p ng-hide="view.state.sectionGroups.list[view.state.uiState.selectedSectionGroupId].sectionIds.length"
							class="text-center">
							<button class="btn neon-dark-confirm-btn create-section-btn" ng-click="createSection(view.state.sectionGroups.list[view.state.uiState.selectedSectionGroupId])">Create Section {{ calculateNextSequenceNumber(view.state.sectionGroups.list[view.state.uiState.selectedSectionGroupId]) }}</button>
						</p>
						<div ng-show="view.state.sectionGroups.list[view.state.uiState.selectedSectionGroupId].sectionIds.length">
							<!-- All Sections header (or the first section if sequence pattern is numeric) -->
							<div class="section-pattern" ng-show="view.state.courses.list[view.state.uiState.selectedCourseId].isSeries()">All Sections</div>
							<div class="section-pattern section-is-numeric" ng-hide="view.state.courses.list[view.state.uiState.selectedCourseId].isSeries()">
								<div class="section-label">
									Section {{ view.state.courses.list[view.state.uiState.selectedCourseId].sequencePattern }}
								</div>
								<div class="delete-section-ui"
									ng-init="sectionId = view.state.sectionGroups.list[view.state.uiState.selectedSectionGroupId].sectionIds[0]">
									<i class="entypo-minus-squared delete-section-ui clickable" uib-tooltip="Remove section {{ view.state.courses.list[view.state.uiState.selectedCourseId].sequencePattern }}"
										tooltip-append-to-body="true" confirm-button="removeSection(view.state.sections.list[view.state.sectionGroups.list[view.state.uiState.selectedSectionGroupId].sectionIds[0]])" message="Are you sure you want to remove section {{ view.state.courses.list[view.state.uiState.selectedCourseId].sequencePattern }}"
										yes="Delete" no="Cancel" placement="right"></i>
								</div>
							</div>
							<!-- List of shared activities -->
							<ul ng-repeat="sharedActivityId in view.state.sectionGroups.list[view.state.uiState.selectedSectionGroupId].sharedActivityIds track by $index"
								class="activity-group">
								<li ng-show="activityMatchesFilters(sharedActivityId)" 
									class="activity-item clickable" ng-class="{ 'active': view.state.uiState.selectedActivityId == sharedActivityId }"
									ng-click="setSelectedActivity(sharedActivityId)">
									<span>{{ view.state.activities.list[sharedActivityId].getCodeDescription() }}</span>
									<i class="entypo-minus-squared pull-right delete-activity clickable" ng-if="!isLocked()" uib-tooltip="Remove shared {{ view.state.activities.list[sharedActivityId].getCodeDescription() }}"
										tooltip-append-to-body="true" confirm-button="removeActivity(view.state.activities.list[sharedActivityId])" message="Are you sure you want to remove this {{ view.state.activities.list[sharedActivityId].getCodeDescription() }}"
										yes="Delete" no="Cancel" placement="right"></i>
								</li>

								<!-- muted version when shared activity doesn't match filter -->
								<li ng-show="activityMatchesFilters(sharedActivityId) == false"
								class="activity-item muted-activity"
										uib-tooltip="Activity does not match filters"
										tooltip-append-to-body="true">
									<span>{{ view.state.activities.list[sharedActivityId].getCodeDescription() }}</span>
								</li>
							</ul>

							<div ng-if="view.state.sectionGroups.list[view.state.uiState.selectedSectionGroupId].sectionIds.length > 0 && !isLocked()"
								class="add-activity-btn clickable hoverable" uib-popover-template="'addSharedActivityList.html'"
								popover-placement="bottom-left" popover-append-to-body="true" popover-class="add-activity-popover"
								popover-trigger="outsideClick" popover-is-open="view.addSharedActivityPopoverIsOpen[view.state.uiState.selectedSectionGroupId]">
								<i class="entypo-plus-squared"></i> Add Activity
							</div>
							<!-- List of sections if the sectionGroup is a series -->
							<ul ng-if="view.state.courses.list[view.state.uiState.selectedCourseId].isSeries()">
								<li class="section-item"
										ng-repeat="sectionId in view.state.sectionGroups.list[view.state.uiState.selectedSectionGroupId].sectionIds"
										ng-init="section = view.state.sections.list[sectionId];">
									<div class="section-pattern section-in-series">
										<div class="section-label">
											Section {{ view.state.sections.list[sectionId].sequenceNumber }}
										</div>
										<div class="delete-section-ui">
											<i class="entypo-minus-squared delete-section-ui clickable" uib-tooltip="Remove section {{ section.sequenceNumber }}"
												tooltip-append-to-body="true" confirm-button="removeSection(view.state.sections.list[sectionId])" message="Are you sure you want to remove section {{ view.state.sections.list[sectionId].sequenceNumber }}"
												yes="Delete" no="Cancel" placement="right"></i>
										</div>
									</div>
									<ul class="activity-group" ng-repeat="activityId in section.activityIds track by $index" ng-init="activity = view.state.activities.list[activityId];">
										<li ng-show="activityMatchesFilters(activityId)"
												class="activity-item clickable"
												ng-class="{ 'active': view.state.uiState.selectedActivityId == activityId }"
											ng-click="setSelectedActivity(activityId)">
											<span>{{ activity.getCodeDescription() }}</span>
											<i class="entypo-minus-squared pull-right delete-activity clickable" ng-if="!isLocked()" uib-tooltip="Remove {{ activity.getCodeDescription() }}"
												tooltip-append-to-body="true" confirm-button="removeActivity(activity)" message="Are you sure you want to remove this {{ activity.getCodeDescription() }}"
												yes="Delete" no="Cancel" placement="right"></i>
											<i class="glyphicon glyphicon-warning-sign pull-right text-warning" uib-tooltip="Activity no longer matches standard pattern"
												ng-show="activityId == view.state.uiState.selectedActivityId && view.state.uiState.selectedActivity.hasWarning"></i>
										</li>

										<!-- muted version when activity doesn't match filter -->
										<li ng-show="activityMatchesFilters(activityId) == false"
										class="activity-item muted-activity"
												uib-tooltip="Activity does not match filters"
												tooltip-append-to-body="true">
											<span>{{ activity.getCodeDescription() }}</span>
										</li>
									</ul>
									<div class="add-activity-btn clickable hoverable" ng-if="!isLocked()" uib-popover-template="'addActivityList.html'"
										popover-placement="bottom-left" popover-append-to-body="true" popover-class="add-activity-popover"
										popover-trigger="outsideClick" popover-is-open="view.addActivityPopoverIsOpen[sectionId]">
										<i class="entypo-plus-squared"></i> Add
									</div>
								</li>
								<li>
									<p class="text-center">
										<button class="btn neon-dark-confirm-btn create-section-btn" ng-click="createSection(view.state.sectionGroups.list[view.state.uiState.selectedSectionGroupId])">Create Section {{ calculateNextSequenceNumber(view.state.sectionGroups.list[view.state.uiState.selectedSectionGroupId]) }}</button>
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<activity-details></activity-details>
			</div>
			<div class="activity-calendar">
				<div ng-hide="view.state.sectionGroups.ids" class="loading-center">
					<spinner></spinner>
				</div>
				<term-calendar></term-calendar>
			</div>
		</div>

	</div>
</div>