<nav year="{{ year }}" workgroup-id="{{ workgroupId }}"></nav>

<div class="main-content" unselect-cell>

	<h3 style="text-align: center;">{{ sharedState.workgroup.name }} {{year}} Courses</h3>
	<br />

	<div class="row" style="margin-bottom: 2em;">
		<div class="col-sm-offset-3 col-sm-6 input-group">
			<input type="search" class="form-control hidden-print" placeholder="Search Schedule" ng-model="view.searchQuery" ng-change="filterTable(view.searchQuery)" />
			<i class="entypo-cancel clear-search close" ng-show="view.searchQuery" ng-click="clearSearch()"></i>
		</div>
	</div>

	<div class="row hidden-print">
		<div class="col-sm-12">
			<div class="table-toolbar">
				<span class="tool-icon glyphicon glyphicon-plus" uib-tooltip="Add multiple courses" ng-click="beginImportMode()"></span>

				<div class="btn-group" uib-tooltip="Toggle terms">
					<span class="tool-icon glyphicon glyphicon-list-alt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
					<ul class="dropdown-menu" multiselect-dropdown items="termDefinitions" active-ids="view.state.filters.enabledTerms" toggle-item="termToggled(id)" ></ul>
				</div> <!-- .btn-group -->

				<div class="btn-group" uib-tooltip="Filters">
					<span class="tool-icon glyphicon glyphicon-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
					<ul class="dropdown-menu">
						<li ng-repeat="tagId in view.state.tags.ids track by $index" class="clickable" ng-click="tagToggled(tagId)" stop-event="click">
							<a class="small">
								<input type="checkbox" ng-checked="view.state.filters.enabledTagIds.indexOf(tagId) >= 0" />
								<span class="course-filter-item">{{ view.state.tags.list[tagId].name }}</span>
							</a>
						</li>
						<li role="separator" class="divider"></li>
						<li class="clickable" ng-click="unpublishedCoursesToggled()">
							<a class="small">
								<input type="checkbox" ng-checked="view.state.filters.enableUnpublishedCourses" />
								<span class="course-filter-item">Unpublished Courses</span>
							</a>
						</li>
					</ul>
				</div> <!-- .btn-group -->

				<span class="tool-icon glyphicon glyphicon-download-alt" uib-tooltip="Download as Excel" ng-click="download()"></span>

				<span class="tool-icon glyphicon glyphicon-print" uib-tooltip="Print" ng-click="print()"></span>
			</div> <!-- .table-toolbar -->
		</div> <!-- .col-sm-12 -->
	</div> <!-- .row -->

	<div class="row hidden-print" ng-if="view.state.uiState.massImportMode">
		<div class="col-md-12">

			<div class="panel panel-primary mass-import-panel" data-collapsed="0">

				<div class="panel-heading">
					<div class="panel-title">
						Add Multiple Courses
					</div>

					<div class="panel-options">
						<a href="#" ng-click="endImportMode()"><i class="entypo-cancel"></i></a>
					</div>
				</div>

				<div class="panel-body">

					<form role="form" class="form-horizontal form-groups-bordered">

						<div class="form-group">
							<label class="col-sm-4 control-label">Subject Code</label>

							<div class="col-sm-4">
								<selectize config="{maxItems: 1, valueField: 'code', labelField: 'code', searchField: ['code']}"
									options="subjectCodes" ng-model="view.state.uiState.massImportCode"></selectize>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label">Academic Year</label>

							<div class="col-sm-4">
								<selectize config="{maxItems: 1, valueField: 'year', labelField: 'academicYear', searchField: ['academicYear']}"
									options="recentAcademicYears" ng-model="view.state.uiState.massImportYear"></selectize>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label"></label>

							<div class="col-sm-4">
								<div class="checkbox checkbox-replace color-primary neon-cb-replacement"
									ng-click="view.state.uiState.massImportPrivate = !view.state.uiState.massImportPrivate"
									ng-class="{ 'checked': view.state.uiState.massImportPrivate }">
									<label class="cb-wrapper">
										<div class="checked"></div>
									</label>
									<label>Include unpublished courses</label>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-sm-offset-4 col-sm-4">
									<button class="btn btn-default btn-block" ng-click="searchImportCourses()"
										ng-disabled="!(view.state.uiState.massImportCode && view.state.uiState.massImportYear)">Search</button>
								</div>
							</div>
						</div>
					</form>

				</div>

			</div>

		</div>
	</div> <!-- .row -->

	<table course-table class="table table-bordered courses-table"></table>

</div>

<div class="fixed right-details hidden-print">

	<new-course ng-if="view.selectedEntity && view.selectedEntityType == 'newCourse'"></new-course>
	<course-details ng-if="view.selectedEntity && view.selectedEntityType == 'course'"></course-details>
	<section-group-details ng-if="view.selectedEntity && view.selectedEntityType == 'sectionGroup'"></section-group-details>
	<mass-import-summary ng-if="view.state.uiState.massImportMode"></mass-import-summary>

</div>
