<nav year="{{ year }}" term-code="{{ termCode }}" workgroup-code="{{ workgroupCode }}"></nav>

<div class="main-content" unselect-cell>

	<h3 style="text-align: center;">Computer Science 2016 Courses</h3>
	<br />

	<div class="row" style="margin-bottom: 2em;">
		<div class="col-sm-offset-3 col-sm-6">
			<input type="search" class="form-control" placeholder="Search" />
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="table-toolbar">
				<span class="tool-icon glyphicon glyphicon-list-alt"
				data-toggle="tooltip" data-placement="top" title="" data-original-title="Columns"></span>
				<span class="tool-icon glyphicon glyphicon-filter"
				data-toggle="tooltip" data-placement="top" title="" data-original-title="Filters"></span>
				<span class="tool-icon glyphicon glyphicon-download-alt"
				data-toggle="tooltip" data-placement="top" title="" data-original-title="Download"></span>
				<span class="tool-icon glyphicon glyphicon-print"
				data-toggle="tooltip" data-placement="top" title="" data-original-title="Print"></span>
			</div>
		</div>
	</div>

	<table class="table table-bordered datatable courses-table">
		<thead>
			<tr>
				<th class="sorting-asc">Course</th>
				<th class="sorting">
					Fall Quarter
					<br />
					<div class="col-xs-6">Enrollment</div>
					<div class="col-xs-6">Total</div>
				</th>
				<th class="sorting">Winter Quarter</th>
				<th class="sorting">Spring Quarter</th>
				<th class="ui-overlay"></th>
			</tr>
		</thead>
		<tbody>
			<tr class="odd gradeX" ng-repeat="course in courses">
				<td sg-cell cell-sgr-id="{{course.id}}"
						ng-class="{'selected-td' : selectedCell.sgrId == course.id && !selectedCell.sgId, 'new-row': course.id === 0}">
					<div ng-if="course.id != 0">
						<strong>{{ course.subjectCode }} {{ course.courseNumber }} - {{ course.sequenceDescription }}</strong> <br />
						{{course.title}} <br />
						Tags:
						<div class="label" ng-repeat="tag in course.tags" style="padding: 3px; margin-left: 3px;"
						ng-style="{'background-color':tag.color}">
							{{ tag.name }}
						</div>
					</div>
					<div ng-if="course.id == 0">
						<course-input></course-input>
					</div>
				</td>
				<td sg-cell cell-sgr-id="{{course.id}}" cell-sg-id="{{sg.id}}" ng-repeat="sg in course.sectionGroups"
						ng-class="{'selected-td' : (selectedCell.sgrId == course.id && selectedCell.sgId == sg.id)
						|| (selectedCell.sgrId == course.id && !selectedCell.sgId), 'new-row': course.id === 0}">
						<div ng-if="course.id != 0">
							<span ng-if="sg.isActive">
								<div class="right-inner-addon form-group" ng-class="{ 'has-warning': requiresAttention(sg) }">
									<i class="entypo-attention text-warning" ng-if="requiresAttention(sg)"></i>
									<input id="seats1" class="form-control" ng-model="sg.maxSeats"></input>
								</div>
							</span>
							<span ng-if="sg.isActive == false">
								<div class="col-xs-6">
									{{sg.census[4]}}
								</div>
								<div class="col-xs-6">
									{{ getSectionSeatsTotal(sg) }}
								</div>
							</span>
						</div>
				</td>
				<td class="ui-overlay" ng-class="{ 'new-row': course.id === 0 }">
						<i class="btn add-before entypo-plus-circled" ng-click="addRowForm($index)" ng-if="course.id"
							data-toggle="tooltip" data-placement="right" title="" data-original-title="Add a course"></i>
						<i class="btn delete-sg entypo-minus-circled" ng-click="deleteSectionGroup($index)"
							data-toggle="tooltip" data-placement="right" title="" data-original-title="Delete..."></i>
						<i class="btn add-after entypo-plus-circled" ng-click="addRowForm($index+1)" ng-if="course.id"
							data-toggle="tooltip" data-placement="right" title="" data-original-title="Add a course"></i>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="fixed right-details">
	<div class="panel panel-primary panel-highlight" ng-show="selectedEntity">
		<div class="panel-heading">
			<div class="panel-title">
				<h4>
					{{selectedEntity.subjectCode}} {{selectedEntity.courseNumber}}
					<br>
					<small ng-if="selectedEntity.term">{{ selectedEntity.term }}</small>
					<small ng-if="!selectedEntity.term">2016-17</small>
				</h4>
			</div>

			<div class="panel-options">
				<a ng-click="closeDetails()"><i class="entypo-cancel"></i></a>
			</div>
		</div>

		<div class="panel-body no-padding">
			<div class="course-details" ng-if="selectedCell.sgrId > 0 && !selectedCell.sgId">
				<form role="form" class="form-horizontal form-groups-bordered">
					<div class="right-details-group">
						<div class="row">
							<label class="col-sm-3 col-sm-offset-1 control-label">Title</label>
							<div class="col-sm-7">
								<input type="text" class="form-control course-title-edit" ng-model="selectedEntity.title">
							</div>
						</div>
					</div>
					<div class="right-details-group">
						<div class="row">
							<label class="col-sm-3 col-sm-offset-1 control-label">Tags</label>
							<div class="col-sm-7">
								<select name="test" class="select2" multiple>
									<option value="1" selected>Undergraduate</option>
									<option value="2" selected>Graduate</option>
									<option value="3" selected>Code Course</option>
									<option value="4" >Elective</option>
								</select>
							</div>
						</div>
					</div>
					<div class="right-details-group">
						<div class="row">
							<label class="col-sm-3 col-sm-offset-1 control-label">Sequence</label>
							<div class="col-sm-7">
								<input type="text" class="form-control course-title-edit" ng-model="selectedEntity.sequenceDescription">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="section-group-details" ng-class="{ 'visible': selectedCell.sgId }" style="padding: 1em;">
				<sg-chart sg="selectedEntity"></sg-chart>
				<hr />
				<table class="table sections-table">
					<colgroup>
						<col span="1" style="width: 34%;">
						<col span="1" style="width: 33%;">
						<col span="1" style="width: 33%;">
					</colgroup>
					<thead>
						<tr>
							<th>Section</th>
							<th>Enrollment</th>
							<th>Seats</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="section in selectedEntity.sections track by section.id">
							<td>{{ section.sequence }}</td>
							<td>{{ section.enrollment }}</td>
							<td><input type="text" class="form-control" ng-model="section.seats"></td>
						</tr>
						<tr ng-if="selectedEntity.isSeries && selectedEntity.isActive">
							<td><a>{{ nextSequence(selectedEntity) }}</a></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
