<div class="panel panel-primary panel-highlight">
	<div class="panel-heading">
		<div class="panel-title">
			<h4>New Course</h4>
		</div>

		<div class="panel-options">
			<a ng-click="closeDetails()"><i class="entypo-cancel"></i></a>
		</div>
	</div>

	<div class="panel-body no-padding">
		<div class="course-details">
			<!-- New course form -->
			<form role="form" class="form-horizontal form-groups-bordered" ng-if="view.state.courses.newCourse">
				<div class="right-details-group">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1">
							<strong>Course</strong>
							<br />
							<input type="text" ng-model="selectedCourse" placeholder="Search courses"
											uib-typeahead="course as (course.subjectCode + ' ' + course.courseNumber + ' ' + course.title) for course in searchCourses($viewValue)"
											typeahead-loading="loadingCourses"
											typeahead-no-results="noResults"
											typeahead-wait-ms="400"
											typeahead-min-length="2"
											typeahead-on-select="searchCoursesResultSelected($item, $model, $label, $event)"
											class="form-control">
						</div>
					</div>
				</div>
				<div class="right-details-group">
					<div class="row">
						<label class="col-sm-3 col-sm-offset-1 control-label">Sequence</label>
						<div class="col-sm-7">
							<input type="text" ng-model="view.selectedEntity.sequencePattern"
											uib-typeahead="sequencePattern for sequencePattern in sequencePatterns | filter:$viewValue | limitTo:10"
											typeahead-loading="loadingSequences"
											typeahead-no-results="noResults"
											typeahead-editable="false"
											class="form-control course-sequence-pattern">
						</div>
					</div>
				</div>
				<div class="right-details-group">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1 ">
							<button type="button" class="btn btn-white" ng-click="closeDetails()">Cancel</button>
							<button type="button" class="btn btn-blue pull-right" ng-click="createCourse()"
								ng-class="{ 'disabled': !newCourseIsValid() }"
								uib-tooltip="All fields are required"
								tooltip-enable="!newCourseIsValid()">
									Create
							</button>
						</div>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>
