<div class="panel panel-primary panel-highlight">
	<div class="panel-heading">
		<div class="panel-title">
			<h4>New Course</h4>
		</div>

		<div class="panel-options">
			<a ng-click="closeDetails()"><i class="entypo-cancel"></i></a>
		</div>
	</div>

	<div class="panel-body no-padding">
		<div class="course-details">
			<!-- New course form -->
			<form role="form" class="form-horizontal form-groups-bordered" ng-if="view.state.courses.newCourse">
				<div class="right-details-group">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1 new-course-search">
							<strong>Course</strong>
							<br />
							<input type="text" ng-model="view.newCourseSearchQuery" placeholder="Search courses" uib-typeahead="course as (course.subjectCode + ' ' + course.courseNumber + ' ' + course.title) for course in searchCourses($viewValue)"
								typeahead-loading="view.loadingCourses" typeahead-no-results="view.noResults" typeahead-wait-ms="400"
								typeahead-min-length="2" typeahead-on-select="searchCoursesResultSelected($item, $model, $label, $event)"
								class="form-control">
							<div class="new-course-typeahead-status" ng-show="view.noResults">
								<ul class="dropdown-menu">
									<li><a>No results</a></li>
								</ul>
							</div>
							<i ng-show="view.loadingCourses"><spinner size="20"></spinner></i>
							<i ng-hide="view.newCourseSearchQuery || view.loadingCourses" class="entypo-search"></i>
							<i ng-show="view.newCourseSearchQuery && !view.loadingCourses" class="entypo-cancel" ng-click="clearNewCourseSearch()"></i>
						</div>
					</div>
				</div>
				<div class="right-details-group">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1">
							<strong>Sequence Pattern</strong>
							<br />
							<input type="text" ng-model="view.state.courses.newCourse.sequencePattern" uib-typeahead="sequencePattern for sequencePattern in unoccupiedSequencePatterns() | filter:$viewValue | limitTo:10"
								typeahead-loading="loadingSequences" typeahead-no-results="noResults" typeahead-editable="false"
								class="form-control course-sequence-pattern">
						</div>
					</div>
				</div>
				<div class="right-details-group">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1 ">
							<button type="button" class="btn btn-white" ng-click="closeDetails()">Cancel</button>
							<button type="button" class="btn btn-blue pull-right" ng-click="createCourse()" ng-class="{ 'disabled': !newCourseIsValid() }"
								uib-tooltip="All fields are required and sequence pattern must be unique" tooltip-enable="!newCourseIsValid()">
									Create
							</button>
						</div>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>