.budget-comparison-report {
  width: 100%;
  padding: 20px;
  font-size: 12px;
}

.budget-comparison-report__section-container {
  display: flex;
  width: 100%;
}

.budget-comparison-report table {
  font-size: 12px;
}

/* Bootstrap overrides */
.form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}

.table > thead > tr > th {
  border-bottom:unset;
}

.budget-comparison-report__scenario-selector-tray {
  display: flex;
  width: 100%;
  padding: 20px;
}

.budget-comparison-report__scenario-selector-container {
  width: 30%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

.show-when-printing {
  display: none;
}


.budget-comparison-report__section-container {
  break-inside: avoid;
  page-break-inside: avoid;
}

.budget-comparison-report__section {
  flex: 1 1 0px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  margin-right: 10px;
}

@media print {
  @page {
    margin: 1cm;
  }

  div, span, td {
    font-size: 8px !important;
  }

  .do-not-print {
    display: none;
  }

  .show-when-printing {
    display: block;
  }
}
