<mat-expansion-panel class="ipa-nav-accordion"
                     [expanded]="activeAccordion === categoryName"
                     (opened)="activeAccordion = categoryName"
                     [hideToggle]="!(isNavExpanded)">
  <mat-expansion-panel-header expandedHeight="48px"
                              collapsedHeight="48px">
    <mat-panel-title class="accordion-header">
      <mat-icon class="icon">{{ navAccordion.icon }}</mat-icon>
      <div *ngIf="isNavExpanded">{{ navAccordion.description }}</div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-nav-list dense>
    <mat-list-item class="accordion-item" *ngFor="let link of navAccordion.links">
      <div *ngIf="isNavExpanded">{{ link.description }}</div>
    </mat-list-item>
  </mat-nav-list>
</mat-expansion-panel>
