<mat-expansion-panel [expanded]="expandedAccordion === categoryName"
                     (opened)="expandedAccordion = categoryName"
                     [hideToggle]="!(isNavExpanded)">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <i class="material-icons ipa-header__side-nav-ui">categoryIconName</i>
      <div *ngIf="isNavExpanded">categoryName</div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-nav-list class="ipa-header__mat-list" dense>
    <mat-list-item class="ipa-header__nav-option" *ngFor="navLink in navLinks">
      <div *ngIf="isNavExpanded">{{ navLink.description }}</div>
    </mat-list-item>
  </mat-nav-list>
</mat-expansion-panel>