<div class="line-item-row">
	<div class="initial-row-container" ng-click="toggleLineItem(lineItem)" stop-event="click">
		<div class="checkbox-container">
			<div class="checkbox checkbox-replace color-primary neon-cb-replacement"
				ng-class="{ 'checked': lineItem.isSelected }"
				ng-click="selectLineItem(lineItem)" stop-event="click">
				<label class="cb-wrapper">
					<div class="checked"></div>
				</label>
			</div>
		</div>

		<div class="category-display">
			{{ lineItem.lineItemCategoryDescription }}
		</div>

		<div class="description-display">
			{{ lineItem.description }}
		</div>

		<div class="amount-display">
			<div>
				{{ lineItem.amountDisplay }}
			</div>
			<div class="expand-ui-container">
				<div class="expand-ui">
					<i ng-show="lineItem.isDetailViewOpen != true" class="glyphicon glyphicon-triangle-left expand-ui-triangle"></i>
					<i ng-show="lineItem.isDetailViewOpen == true" class="glyphicon glyphicon-triangle-bottom expand-ui-triangle"></i>
				</div>
			</div>
		</div>
	</div>

	<!-- Line item expanded detail -->
	<div class="detail-view" ng-show="lineItem.isDetailViewOpen">

		<div class="row-container">
			<div class="type-header-container">
				<div class="type-header-label">
					Type
				</div>
			</div>
			<div class="edited-header-container">
				<div class="edited-header-label">
					Last Edited By
				</div>
			</div>
			<div class="amount-header-container">
				<div class="amount-header-label">
					Amount
				</div>

				<div class="glyphicon glyphicon-trash delete-line-item-button"
							confirm-button="deleteLineItem(lineItem)"
							btn-class="btn-danger"
							message="Are you sure you want to delete this line item?"
							yes="Confirm" no="Cancel" placement="top">
				</div>
			</div>
		</div>

		<div class="row-container">
			<div class="category-detail-container">
				<div class="category-detail-content">
					<div class="category-detail-label"
						ng-if="lineItem.displayTypeInput != true"
						ng-click="displayProperty(lineItem.id, 'type')">
						{{ lineItem.lineItemCategoryDescription }}
					</div>
					<div ng-if="lineItem.displayTypeInput == true">
						{{ lineItem.lineItemCategoryDescription }}
					</div>
				</div>
			</div>
			<div class="edited-detail-container">
				<div class="edited-by">
					{{ lineItem.lastModifiedBy }}
				</div>
				<div class="edited-detail-label" uib-tooltip="{{ dateToCalendar(lineItem.lastModifiedOn) }}">
					({{ dateToRelative(lineItem.lastModifiedOn) }})
				</div>
			</div>

			<div class="amount-detail-container">
				<div class="amount-detail-content">
					<div
						ng-if="lineItem.displayAmountInput == false"
						ng-click="displayProperty(lineItem.id, 'amount')"
						class="inline-edit-ui">
						{{ lineItem.amountDisplay }}
					</div>
					<div ng-if="lineItem.displayAmountInput == true">
						$<input
							class="inline-edit amount-input"
							type="text"
							ng-model="lineItem.amount"
							auto-input
							on-enter="updateLineItem(lineItem, 'amount')"
							on-blur="updateLineItem(lineItem, 'amount')">
					</div>
				</div>
			</div>
		</div>

		<div class="description-header">
			Description
		</div>
		<div class="description-content">
			<div>
				<div ng-if="lineItem.displayDescriptionInput == false"
							ng-click="displayProperty(lineItem.id, 'description')"
							class="inline-edit-ui">
					{{ lineItem.description }}
				</div>
				<div ng-if="lineItem.displayDescriptionInput == true">
					<input
						class="inline-edit"
						type="text"
						ng-model="lineItem.description"
						auto-input
						on-enter="updateLineItem(lineItem, 'description')"
						on-blur="updateLineItem(lineItem, 'description')">
				</div>
			</div>
			<div class="comments-content" uib-tooltip="View Comments">
				<div class="glyphicon glyphicon-list-alt"
						ng-click="openAddLineItemCommentsModal(lineItem)">
				</div>
			</div>
		</div>

		<div class="notes-header">
			Notes
		</div>
		<div class="notes-content">
			<div>
				<div ng-if="lineItem.displayNotesInput == false"
							ng-click="displayProperty(lineItem.id, 'notes')"
							class="inline-edit-ui">
					{{ lineItem.notes }}
				</div>
				<div ng-if="lineItem.displayNotesInput == true">
					<textarea
						class="inline-edit notes-comment"
						type="text"
						ng-model="lineItem.notes"
						auto-input
						on-enter="updateLineItem(lineItem, 'notes')"
						on-blur="updateLineItem(lineItem, 'notes')">
				</div>
			</div>
		</div>
	</div>
</div>