<div class="line-item-row-container" style="border-top: 1px solid rgb(235, 235, 235);">
	<div style="display: flex; width: 100%;"  ng-click="toggleLineItem(lineItem)">
		<div style="flex: 1 0 0px; display: flex; align-items: center; justify-content: center; border-right: 1px solid rgb(235, 235, 235); padding: 10px;">

			<div class="checkbox checkbox-replace color-primary neon-cb-replacement"
				ng-class="{ 'checked': state.ui.taco }">
				<label class="cb-wrapper">
					<div class="checked"></div>
				</label>
			</div>

		</div>

		<div style="flex: 10 0 0px; display: flex; align-items: center; border-right: 1px solid rgb(235, 235, 235); padding: 10px;">
			{{ lineItem.lineItemCategoryDescription }}
		</div>

		<div style="flex: 15 0 0px; display: flex; align-items: center; border-right: 1px solid rgb(235, 235, 235); padding: 10px;">
			{{ lineItem.description }}
		</div>

		<div style="flex: 10 0 0px; display: flex; align-items: center; padding: 10px; justify-content: space-between;">
			<div>
				${{ lineItem.amount }}
			</div>
			<div class="expand-ui-container">
				<div class="expand-ui">
					<i ng-show="lineItem.isDetailViewOpen == false" class="glyphicon glyphicon-triangle-left expand-ui-triangle"></i>
					<i ng-show="lineItem.isDetailViewOpen" class="glyphicon glyphicon-triangle-bottom expand-ui-triangle"></i>
				</div>
			</div>
		</div>
	</div>

	<!-- Line item detail -->
	<div ng-show="lineItem.isDetailViewOpen">

		<div style="display: flex;">
			<div style="flex: 5 0 0px; border-top: 1px solid rgb(235, 235, 235);">
				<div style="padding: 20px; padding-bottom: 0px; font-weight: bold;">
					Type
				</div>
			</div>
			<div style="flex: 7 0 0px; border-top: 1px solid rgb(235, 235, 235);">
				<div style="padding: 20px; padding-bottom: 0px; font-weight: bold;">
					Last Edited By
				</div>
			</div>
			<div style="flex: 5 0 0px; border-top: 1px solid rgb(235, 235, 235); display: flex; justify-content: space-between;">
				<div style="padding: 20px; padding-bottom: 10px; font-weight: bold;">
					Amount
				</div>

				<div style="padding: 20px;"
							class="glyphicon glyphicon-trash delete-line-item-button"
							uib-tooltip="Delete line item" tooltip-placement="left"
							confirm-button="deleteLineItem(lineItem)"
							btn-class="btn-danger"
							message="Are you sure you want to delete this line item?"
							yes="Confirm" no="Cancel" placement="top">
				</div>
			</div>
		</div>

		<div style="display: flex;">
			<div style="flex: 5 0 0px;">
				<div style="padding-left: 20px;">
					{{ lineItem.lineItemCategoryDescription }}
				</div>
			</div>
			<div style="flex: 7 0 0px;">
				<div style="padding-left: 20px;">
					Shang Lu
				</div>
			</div>

			<div style="flex: 5 0 0px;">
				<div style="padding-left: 20px;">
					<div>
						<div  ng-if="lineItem.displayAmountInput == false"
									ng-click="displayProperty(lineItem.id, 'amount')"
									style="text-decoration: underline;">
							${{ lineItem.amount }}
						</div>
						<div ng-if="lineItem.displayAmountInput == true">
							<input  class="form-control" type="text"
											ng-model="lineItem.amount"
											auto-input
											on-enter="updateLineItem(lineItem, 'amount')"
											on-blur="updateLineItem(lineItem, 'amount')"
											style="width: 20%;">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div style="padding-left: 20px; padding-bottom: 10px; padding-top: 20px; font-weight: bold;">
			Description
		</div>
		<div style="padding-left: 20px;">
			<div  ng-if="lineItem.displayDescriptionInput == false"
						ng-click="displayProperty(lineItem.id, 'description')"
						style="text-decoration: underline;">
				{{ lineItem.description }}
			</div>
			<div ng-if="lineItem.displayDescriptionInput == true">
				<input  class="form-control" type="text"
								ng-model="lineItem.description"
								auto-input
								on-enter="updateLineItem(lineItem, 'description')"
								on-blur="updateLineItem(lineItem, 'description')"
								style="width: 20%;">
			</div>
		</div>

		<div style="padding-left: 20px; padding-bottom: 10px; padding-top: 20px; font-weight: bold;">
			Notes
		</div>
		<div style="padding-left: 20px;">
			<div>
				<div  ng-if="lineItem.displayNotesInput == false"
							ng-click="displayProperty(lineItem.id, 'notes')"
							style="text-decoration: underline;">
					{{ lineItem.notes }}
				</div>
				<div ng-if="lineItem.displayNotesInput == true">
					<input  class="form-control" type="text"
									ng-model="lineItem.notes"
									auto-input
									on-enter="updateLineItem(lineItem, 'notes')"
									on-blur="updateLineItem(lineItem, 'notes')"
									style="width: 20%;">
				</div>
			</div>
		</div>
	</div>

</div>