<div class="roles-table">
	<div class="row roles-table__search-container">
		<!-- this is search bar -->
		<div class="col-md-4 pull-right">
			<div class="input-group search-input">
				<input type="text" ng-model="users.searchQuery" placeholder="Search by name or login ID" uib-typeahead="person.name for person in searchUsers($viewValue)"
					ng-change="searchOnChange()" typeahead-loading="view.loadingPeople" typeahead-no-results="view.noResults"
					typeahead-wait-ms="400" typeahead-min-length="2" typeahead-on-select="searchUsersResultSelected($item, $model, $label, $event)"
					class="form-control typeahead"
					typeahead-template-url="popupTemplate.html">
				
				<ul class="typeahead-status dropdown-menu" ng-show="view.noResults">
					<li><a>No results</a></li>
				</ul>
				<i ng-show="view.loadingPeople || ui.addUserPending"><spinner size="20"></spinner></i>
				<i ng-hide="users.searchQuery || view.loadingPeople" class="entypo-search"></i>
				<i ng-show="users.searchQuery && !view.loadingPeople && !ui.addUserPending" class="entypo-cancel" ng-click="clearUserSearch()"></i>
				<script type="text/ng-template" id="popupTemplate.html">
					<a href="#" style='border-bottom:1px solid #f3f3f3;'>
						<strong>{{ match.model.name }}</strong>
						<div class="row">
							<div class="col-sm-4">
								{{ match.model.email }}
							</div>
						</div>
					</a>
				</script>	
				<span class="input-group-btn">
					<button ng-disabled="!users.newUser.name || ui.addUserPending"
						class="btn-add-person btn btn-primary"
						ng-click="addUserToWorkgroup()">
						Add Person
					</button>
				</span>
			</div>
			<!-- /input-group -->
		</div>

		<div class="col-md-8">
			<span style="display: flex;">
				<button class="btn-add-person btn btn-primary"
				        ng-click="openPlaceholderModal()"
				        tooltip-append-to-body="true"
				        uib-tooltip="Add a user that does not yet have a kerberos account">
					Add Placeholder user
				</button>
			</span>
		</div>
	</div>

	<table class="roles-table__table">
		<colgroup>
			<col style="width: 25%;">
			<col style="width: 25%;">
			<col style="width: 25%;">
			<col style="width: 25%;">
		</colgroup>

		<thead>
			<tr>
				<th class="roles-table__table-header">
					<div class="roles-table__table-header-container">
						Name
					</div>
				</th>
				<th class="roles-table__table-header">
					<div class="roles-table__table-header-container" ng-class="{'roles-table__table-header--no-border': activeRoleId != 15 && activeRoleId != -1 }">
						Email
					</div>
				</th>
				<th class="roles-table__table-header">
					<div class="roles-table__table-header-container roles-table__table-header--no-border">
						<span ng-if="activeRoleId == 15 || activeRoleId == -1">
							Type
						</span>
					</div>
				</th>
				<th class="roles-table__table-header">
					<div class="roles-table__table-header-amount-container roles-table__table-header--no-border">
					</div>
				</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="userRole in userRoles track by userRole.id"
			    ng-if="(activeRoleId == -1 && (userRole.roleId == 11 || userRole.roleId == 12 || userRole.roleId == 13)) || (userRole.roleId == activeRoleId && (activeRoleId != 9 || userRole.displayPresence))">
				<!-- Name -->
				<td class="roles-table__table-cell">
					<div>
						{{ userRole.userDisplayName }}
						<span class="roles-table__placeholder" ng-show="userRole.userIsPlaceholder">
							<i class="glyphicon glyphicon-warning-sign clickable" ng-click="openPlaceholderUpdateUI()" uib-tooltip="User cannot login to IPA until a valid kerberos loginId is provided"></i>
						</span>
					</div>
					<div class="roles-table__update-placeholder-ui" ng-show="userRole.userIsPlaceholder && view.placeholderUpdate.show">
						<div class="roles-table__update-placeholder-container">
							<div class="roles-table__update-placeholder-input">
								<ipa-input value="view.placeholderUpdate.loginId"
								           place-holder="'Enter valid loginId'"
								           style="padding-right: 5px;"
								           on-update="isPlaceholderUpdateValid()">
								</ipa-input>
							</div>

							<div class="roles-table__update-placeholder-buttons">
								<button class="btn btn-primary"
								        confirm-button="updatePlaceholderUser(userRole)"
								        message="Are you sure you want to update {{ userRole.userDisplayName }}'s name, email and loginId?"
								        yes="Update" no="Cancel" placement="right"
								        ng-show="view.placeholderUpdate.loginId.length > 0 && view.placeholderUpdate.isValid">
									Update
								</button>
								<button class="btn btn-primary disabled"
								        tooltip-append-to-body="true"
								        uib-tooltip="Please enter a valid kerberos loginid"
								        ng-show="view.placeholderUpdate.loginId.length == 0 || !view.placeholderUpdate.isValid">
									Update
								</button>
							</div>

							<div>
								<button class="btn btn-default" ng-click="closePlaceholderUpdateUI()">
									Cancel
								</button>
							</div>
						</div>
						<div class="roles-table__placeholder-update-validation">
							{{ view.placeholderUpdate.validationMessage }}
						</div>
					</div>
				</td>

				<!-- Email -->
				<td class="roles-table__table-cell">
					{{ userRole.userEmail }}
				</td>

				<!-- Dropdown for instructors -->
				<td class="roles-table__table-cell">
					<div class="roles-table__amount-container">
						<!-- -1 is the category for 'student-ish' roles -->
						<student-role-selector ng-show="activeRoleId == -1"
						                       student-roles="ui.studentRoles"
						                       user-role="userRole">
						</student-role-selector>

						<!-- 15 is the role for 'instructor' -->
						<instructor-type-selector ng-show="activeRoleId == 15"
						                          instructor-types="ui.instructorTypes"
						                          user-role="userRole">
						</intructor-type-selector>
					</div>
				</td>

				<!-- Remove -->
				<td class="roles-table__table-cell roles-table__table-cell--comments">
					<div class="roles-table__comment-container">
						<ipa-button text="'Remove'"
						            color="'light'"
						            on-click="removeUserRole(userRole)"
						            confirm-message="'Remove role from user?'">
						</ipa-button>
					</div>
				</td>
			</tr>

			<tr ng-show="ui.roleTotals[activeRoleId] == 0">
				<td colspan="4">
					<div class="roles-table__no-roles">
						No users
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
