<div class="roles-table">
	<table class="roles-table__table">
		<thead>
			<tr>
				<th class="roles-table__table-header">
					<div class="roles-table__table-header-container">
						Name
					</div>
				</th>
				<th class="roles-table__table-header">
					<div class="roles-table__table-header-container">
						Email
					</div>
				</th>
				<th class="roles-table__table-header roles-table__table-header--no-border">
					<div class="roles-table__table-header-container">
					</div>
				</th>
				<th class="roles-table__table-header roles-table__table-header--no-border">
					<div class="roles-table__table-header-amount-container">
					</div>
				</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="userRole in userRoles track by userRole.id"
			    ng-if="userRole.roleId == activeRoleId">
				<!-- Name -->
				<td class="roles-table__table-cell">
					{{ userRole.userDisplayName }}
				</td>

				<!-- Email -->
				<td class="roles-table__table-cell">
					{{ userRole.userEmail }}
				</td>

				<!-- Remove -->
				<td class="roles-table__table-cell roles-table__table-cell--comments">
					<div class="roles-table__comment-container">
						<ipa-button text="'Remove'"
						            color="'light'"
						            on-click="removeUserRole(userRole)"
						            confirm-message="'Remove role from user?'">
						</ipa-button>
					</div>
				</td>

				<!-- Dropdown for instructors -->
				<td class="roles-table__table-cell">
					<div class="roles-table__amount-container">
						instructor dropdown here
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>