.roles-table__search-container {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.roles-table__table {
	width: 100%;
	border-top: 1px solid #e3e3e3;
}

.roles-table__table-header {
	width: 10%;
	border-bottom: 1px solid #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
}

.roles-table__table-header-container {
	border-right: 1px solid #ddd;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.roles-table__table-cell {
	padding-left: 15px;
	padding-right: 15px;
}

.roles-table__table--amount {
	width: 3%;
}

.roles-table__table--checkbox {
	width: 1%;
}

.roles-table__table-cell--dark {
	background-color: #fafafa;
}

.roles-table__comment-container {
	padding-top: 5px;
	padding-bottom: 5px;
}

.roles-table__amount-container {
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	padding-right: 10px;
	justify-content: space-between;
	align-items: center;
}

.roles-table__table-header--no-border {
	border-right: none;
	padding-left: 15px;
}

.roles-table__table-container--checkbox {
	display: flex;
	justify-content: center;
	align-items: center;
}

.roles-table__no-roles {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	color: #aaabae;
}

.roles-table__placeholder-update-validation {
	padding-top: 2px;
	padding-bottom: 2px;
	min-height: 1.3em;
	line-height: 1;
	color: gray;
}

.roles-table__placeholder {
	color: #f5a0a0;
	border: 1px solid;
	border-radius: 4px;
	font-size: 15px;
	padding-top: 3px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 3px;
}