.confirm-eligible {
	padding: 15px 20px;
	border: 1px solid #21A9E1;
	border-radius: 3px;
	font-weight: 500;
	display: flex;
}

.confirm-eligible__icon {
	flex: 1 0 0px;
	color: #21A9E1;
}

.confirm-eligible__main {
	flex: 30 0 0px;
	display: flex;
	flex-flow:column;
	align-items: flex-start;
}

.confirm-eligible__header {
	margin-bottom: 5px;
}

.confirm-eligible__checkbox {
	flex: 5 0 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.confirm-eligible__checkbox-input {
	height: 18px;
}