.course-costs__table-cell {
	background-color: #f8f8f8;
	padding-top: 10px;
	padding-bottom: 10px;
}

.course-costs__table-cell-sequence {
	padding-left: 20px;
}

.course-costs__sequence-container {
	width: 100%;
	background-color: #f8f8f8;
	height: 128px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.course-costs__number-input {
	width: 40px;
}

.course-costs__edit-container {
	display: flex;
	align-items: center;
}

.course-costs__revert-ui {
	margin-left: 10px;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 3px;
	cursor: pointer;
	margin-bottom: 2px;
}

.course-costs__revert-ui:hover {
	background-color: #eee;
}
