<div class="add-line-item add-course">
  <div class="new-course-search">
    <strong>Course</strong>
    <br />
    <input type="text" ng-model="view.newCourseSearchQuery" placeholder="Search courses" uib-typeahead="course as (course.subjectCode + ' ' + course.courseNumber + ' ' + course.title) for course in searchCourses($viewValue)"
      typeahead-loading="view.loadingCourses" typeahead-no-results="view.noResults" typeahead-wait-ms="400"
      typeahead-min-length="2" typeahead-editable="false" typeahead-on-select="searchCoursesResultSelected($item, $model, $label, $event)"
      class="form-control">
    <div class="new-course-typeahead-status" ng-show="view.noResults">
      <ul class="dropdown-menu">
        <li><a>No results</a></li>
      </ul>
    </div>
    <i ng-show="view.loadingCourses"><spinner size="20"></spinner></i>
    <i ng-hide="view.newCourseSearchQuery || view.loadingCourses" class="entypo-search"></i>
    <i ng-show="view.newCourseSearchQuery && !view.loadingCourses" class="entypo-cancel" ng-click="clearNewCourseSearch()"></i>
  </div>

  <div class="sequence-pattern">
    <strong>Sequence Pattern</strong>
    <br />
    <ipa-input value="newCourse.rawSequencePattern"
                on-update="validateCourse()"
                on-blur="validateCourse()"
                update-delay="50"
                place-holder="sequenceNumberPlaceholder">
    </ipa-input>
  </div>

  <div class="add-course__footer">
    <button ng-click="close()"
            type="button"
            class="btn btn-default modal-button">
      Cancel
    </button>
    <div class="new-course__create-btn"
          tooltip-append-to-body="true"
          tooltip-placement="left"
          uib-tooltip="{{ newCourseValidation.tooltipErrorMessage }}"
          ng-class="{ 'disabled': newCourseValidation.tooltipErrorMessage }">
      <ipa-button text="'Create'"
                  is-disabled="newCourseValidation.tooltipErrorMessage"
                  skin="'dark'"
                  on-click="createCourse()">
      </ipa-button>
    </div>
  </div>
</div>
