<mat-toolbar>
  <mat-toolbar-row class="top-bar">
    <span>{{ activePageTitle }}</span>

    <span class="top-right-bar">
      <ng-container *ngIf="!isImpersonating">
        <span class="greeting typo-muted typo-caption">Hello, {{ currentUser.displayName }}</span>
        <button mat-icon-button [matMenuTriggerFor]="settingsMenu"><mat-icon matTooltip="User Settings">account_circle</mat-icon></button>
        <mat-menu #settingsMenu="matMenu" xPosition="before" overlapTrigger="false">
          <button mat-button (click)="openImpersonateModal()">Impersonate</button>
        </mat-menu>
      </ng-container>

      <mat-chip-list *ngIf="isImpersonating">
        <mat-chip (removed)="unimpersonate()">
          <mat-icon>supervisor_account</mat-icon>
          {{ this.currentUser.displayName }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>

      <button mat-raised-button class="logout-btn">Logout</button>
    </span>
  </mat-toolbar-row>
  <mat-divider></mat-divider>
  <mat-toolbar-row class="theme-white bottom-bar">
    <nav mat-tab-nav-bar *ngIf="uiState$ | async as stateObject">
      <a mat-tab-link [active]="stateObject.activeTab === 'assign'" (click)="setState('activeTab', 'assign')">Assign Sections</a>
      <a mat-tab-link [active]="stateObject.activeTab === 'summary'" (click)="setState('activeTab', 'summary')">Summary Report</a>
    </nav>

    <!-- Year Selector -->
    <span>
      <button mat-icon-button (click)="offsetYearInUrl(-1)">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <span class="typo-button">{{ yearToAcademicYear() }}</span>
      <button mat-icon-button (click)="offsetYearInUrl(1)">
        <mat-icon>chevron_right</mat-icon>
      </button>

      <!-- Workgroup Selector -->
      <button mat-button [matMenuTriggerFor]="workgroupMenu">{{ "Computer Science" || currentWorkgroup.workgroupName }}</button>
      <mat-menu #workgroupMenu="matMenu">
        <button *ngFor="let workgroup of filteredWorkgroups" mat-menu-item (click)="changeWorkgroup(workgroup.workgroupId)">
          <!-- <mat-icon *ngIf="workgroup.workgroupName === currentWorkgroup.workgroupName">check</mat-icon> -->
          {{ "Computer Science" || workgroup.workgroupName }}
        </button>
      </mat-menu>

      <!-- Term Selector -->
      <button mat-button [matMenuTriggerFor]="termsMenu">{{ getTermDisplayName() }}</button>
      <mat-menu #termsMenu="matMenu">
        <button *ngFor="let term of termsTable" mat-menu-item (click)="goToTerm(term.shortCode)">{{ term.description }}</button>
      </mat-menu>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>