.page-container .main-content {
  padding: 0;
  display: flex;
  height: 100%;
}
.left-container {
  flex: 3 1 75%;
}
.right-container {
  flex: 1 1 25%;
}
.notifications-menu {
  background-color: #fff;
  -webkit-border-radius: 0 0 3px 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 3px 3px;
  -moz-background-clip: padding;
  border-radius: 0 0 3px 3px;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(184,184,184,1);
  -moz-box-shadow: 0px 0px 10px 2px rgba(184,184,184,1);
  box-shadow: 0px 0px 10px 2px rgba(184,184,184,1);
  border: 1px solid #f8f8f8;
  list-style: none;
  padding: 0;
  margin: 3em 0 0 0;
}
.notifications-menu > li {
  display: block;
  border-bottom: 1px solid #ededed;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.notifications-menu li,
.notifications-menu a,
.notifications-menu p {
  color: #888888;
}
.notifications-menu > li .scroller {
  max-height: 290px;
  overflow: auto;
}
.notifications-menu > li > ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.notifications-menu > li > ul > li {
  font-size: 12px;
  border-bottom: 1px solid #ededed;
  background: #fff;
}
.notifications-menu > li > ul > li > a,
.notifications-menu > li > ul > li > p {
  display: block;
  position: relative;
  margin: 0;
  padding: 10px 20px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.notifications-menu > li > ul > li > a > i,
.notifications-menu > li > ul > li > p > i {
  background: #454a54;
  display: block;
  float: left;
  text-align: center;
  padding: 5px;
  line-height: 14px;
  color: #fff;
  width: 28px;
  height: 24px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.notifications-menu > li > ul > li .line {
  display: block;
}
.notifications-menu > li > ul > li .line + .line,
.notifications-menu > li > ul > li .line + .line + .line,
.notifications-menu > li > ul > li .line + .line + .line + .line {
  margin-top: 5px;
}
.notifications-menu > li.top > p {
  background-color: #fff;
}
.notifications-menu > li > p {
  background-color: #FFF;
}
.notifications-menu > li > a,
.notifications-menu > li > p {
  margin: 0;
  padding: 12px 20px;
}
.notifications-menu > li.external {
  background-color: #FFF;
  border-bottom: 0;
  padding: 10px 0;
}
.notifications-menu > li.external a {
  color: #337ab7;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.notifications-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #7d8086;
  white-space: nowrap;
}
.notifications-menu > li > ul > li.notification-warning > i,
.notifications-menu > li > ul > li.notification-warning > a > i {
  background-color: #f7d227;
  color: #fff;
}
.notifications-menu > li > ul > li.notification-danger > i,
.notifications-menu > li > ul > li.notification-danger > a > i {
  background-color: #cc2424;
  color: #fff;
}
.right-info {
  height: 100%;
}
.padded-container {
  padding: 30px;
}


/* Instructor View */
.course-status-header {
	text-align: center;
}

.course-status-sub-header {
	padding-left: 1%;
	margin-top: 50px;
}

.course-table-row {
	display:flex;
	margin-left:15px;
	margin-right:15px;
	border: 1px solid;
	border-color: rgb(235, 235, 235);
}

.course-table__header {
	border-right: 1px solid;
	border-color: rgb(235, 235, 235);
	flex: 1 0 100px;
	background-color: rgb(245, 245, 246);
	height: 30px;
	text-align: center;
	padding-top: 5px;
}

.course-table__header-detail {
	text-align: center;
	color: rgb(166, 167, 170);
}

.course-table__row-detail {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 0 100px;
	border-right: 1px solid;
	border-color: rgb(235, 235, 235);
	padding-top: 5px;
	flex-direction: column;
	padding-top: 10px;
	padding-bottom: 10px;
}

.course-table__row-detail-header {

}

.course-table__row-detail-location {
	font-weight: bold;
}

.meeting-location-time {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}

.content-container {
	padding-left: 10%;
	padding-right: 10%;
}