.page-container .main-content {
	padding: 0;
	display: flex;
	height: 100%;
}

.course-table-row {
	display:flex;
	margin-left:15px;
	margin-right:15px;
	border: 1px solid;
	border-color: rgb(235, 235, 235);
}

.course-table__header {
	border-right: 1px solid;
	border-color: rgb(235, 235, 235);
	flex: 1 0 0px;
	background-color: rgb(245, 245, 246);
	height: 30px;
	text-align: center;
	padding-top: 5px;
}

.course-table__header-detail {
	text-align: center;
	color: rgb(166, 167, 170);
}

.course-table__row-detail {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 0 0px;
	border-right: 1px solid;
	border-color: rgb(235, 235, 235);
	padding-top: 5px;
	flex-direction: column;
	padding-top: 10px;
	padding-bottom: 10px;
}

.content-container {
	padding-left: 10%;
	padding-right: 10%;
}

.flex {
	display: flex;
}

.flex-auto {
	flex: auto;
	margin: 2px;
	padding: 2px;
	overflow: hidden;
}

.flex-table-content {
	flex: 10 0 0px;
}

.flex-ui-overlay {
	flex: 1 0 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
}

.support-call-row:hover .flex-ui-overlay {
	visibility: visible;
}

.delete-support-call-button {
	color: rgba(180, 20, 20, 0.8);
	font-size: 24px;
	padding: 0px;
}

.table {
	margin-top: 20px;
}

.table-content {
	flex: 1 1 0%;
	color: black;
	align-self: center;
	margin: 2px;
	padding: 2px;
	overflow: hidden;
}

.table-header {
	font-weight: bold;
}

.table-body {
	background: #fff;
}

.student-summary-header {
	text-align: center;
	padding-bottom: 5px;
	padding-bottom: 25px;
}

.container-box {
	text-align: center;
	border-radius: 3px;
	border: 1px solid lightgray;
	border-left: 4px solid black;
	padding: 15px 0px 15px 0px;
	text-align: center;
}

.container-box-title {
	text-align: center;
}

.survey-number {
	color: #4686A5;
}

.people-info-icon {
	color: #4686A5;
}

.term-header {
	font-size: 16px;
	font-weight: 500;
	margin-top:40px;
	margin-bottom: 20px;
	margin-left: -20px;
}

.instructional-support-summary {
	padding-top: 30px;
}


.test123 {
	padding: 10px;
}
