<span class="ipa-date-picker">
	<p class="input-group datepicker-bar">
		<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="supportCallConfigData.dueDate" is-open="popup1.opened"
		datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" 
		popup-placement="bottom-left" show-button-bar="false" ng-click="open1()"/>
		<span class="input-group-btn">
			<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
		</span>
	</p>
</span>