.ipa-radio {
	display: flex;
}

.ipa-radio__option:not(.ipa-radio__option--active):hover {
	background-color: #d6d6d6;
	cursor: pointer;
	color: #555;
}

.ipa-radio__option {
	border: 1px solid #ddd;
	color: #555;
	background-color: #FFF;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.ipa-radio__option--active {
	border: 1px solid #313742;
	background-color: #313742;
	color: #FFF;
	cursor: default;
}

.ipa-radio__option--first {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.ipa-radio__option--last {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}