.workgroups-input li {
	margin-top: 10px;
	list-style-type: none;
}

.workgroups-input li .btn-workgroup {
	display: inline-block;
	padding: 8px 12px;
	padding-top: 0 !important;
}

.administration-container {
	padding: 0px;
	width: 100%;
	margin: 0px;
}

.administration-container .main-content {
	display: block;
}

.last-active-label {
	color: #b3b3b3;
}
