.line-item-filters__dropdown-container {
	position: absolute;
}

.line-item-filters__dropdown-mask {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	display: block;
	width: 100vw;
	height: 100vh;
}

.line-item-filters__dropdown {
	z-index: 30;
	background-color: white;
	margin-top: 2px;
	border: 1px solid rgba(27,31,35,0.15);
	border-radius: 3px;
	box-shadow: 0 3px 12px rgba(27,31,35,0.15);
	position: relative;
}

.line-item-filters__filter {
	background-color: #fff;
	padding-left: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 8px;
	border-bottom: 1px solid #eaecef;
	cursor: pointer;
	display: flex;
	align-items: baseline;
}

.line-item-filters__filter:hover {
	background-color: #f4f4f4;
}

.line-item-filters__checkbox-container {
	margin-right: 5px;
}

.line-item-filters__filter-container {
	padding-top: 5px;
}
