<div class="modal-content" style="border-radius: unset;">
  <div class="modal-body">
    <div class="row flex-box container-fluid">
      <div class="teaching-call--info_style">
        <h5 style="margin-top: 0px">
          <span ng-if="supportCallConfigData.mode == 'instructor'">Instructors</span>
          <span ng-if="supportCallConfigData.mode == 'supportStaff'">Support Staff</span>
        </h5>
        <div
          class="form-control overflow-auto"
          rows="5"
          id="comment"
          style="height: 115px"
        >
          <div
            ng-repeat="participant in supportCallConfigData.selectedParticipants"
          >
            {{ participant.lastName }}, {{ participant.firstName }}
          </div>
        </div>
      </div>
      <div style="flex: 0 1 5%"></div>

      <div class="teaching-call--info_style container-fluid">
        <h5 style="margin-top: 0px">Send Date</h5>
        <ipa-date-picker></ipa-date-picker>
      </div>
    </div>

    <div class="row container-fluid">
      <h5>Previous Message</h5>
      <span ng-bind-html="supportCallConfigData.initialMessage"></span>
    </div>
  </div>

  <div class="modal-footer modal-footer--teaching-call">
    <div class="email-style container-fluid">
      <h5 class="pull-left">Follow-up Message (This will replace the content of the previous message)</h5>
      <textarea
        ng-model="supportCallConfigData.message"
        ng-bind-html="supportCallConfigData.message"
        class="form-control support-call-message-input"
        placeholder=""
        rows="5"
        id="comment"
      ></textarea>
    </div>
    <button
      ng-if="!isFormEmpty()"
      type="button"
      class="btn neon-dark-confirm-btn"
      ng-click="submit()"
    >
      Send
    </button>
    <button
      ng-if="isFormEmpty()"
      tooltip-placement="left"
      uib-tooltip="You must select a date and message"
      type="button"
      class="disabled btn neon-dark-confirm-btn"
    >
      Send
    </button>
  </div>
</div>
