<div class="support-calls">
	<ipa-tabs
		tab-names="view.state.ui.allTermNames"
		active-tab="view.state.ui.selectedSupportCallTermDisplay"
		select-tab="selectTab">
		<!-- header -->
		<div class="support-calls-table__row support-calls-table__row--border support-calls-table__row--border-buttom">
			<div class="support-calls-table__header-cell support-calls-table__header-cell--left">Support Call</div>
			<div class="support-calls-table__header-cell support-calls-table__header-cell--left">Description</div>
			<div class="support-calls-table__header-cell">Due Date</div>
			<div class="support-calls-table__header-cell">Submitted Preference</div>
		</div>
		<!-- content -->
		<div ng-repeat="term in view.state.ui.allTerms">
			<div ng-if="term == view.state.ui.selectedSupportCallTerm">
				<div
					ng-if="view.state.instructorSupportCallResponses.byTerm[term]"
					ng-init="supportCallResponse=view.state.instructorSupportCallResponses.byTerm[term]">
					<div class="support-calls-table__row support-calls-table__row--border support-calls-table__row--radius">
						<div class="support-calls-table__cell support-calls-table__cell--left">
							<a ng-href="/instructionalSupport/{{ workgroupId }}/{{ year }}/{{ supportCallResponse.termCode.slice(-2) }}/instructorSupportCallForm">
								<button class="btn btn-default support-calls-table__button">
									View Support Call Form
								</button>
							</a>
						</div>
						<div class="support-calls-table__cell support-calls-table__cell--left">
							{{ supportCallResponse.message }}
						</div>
						<div class="support-calls-table__cell">
							{{ supportCallResponse.dueDate }}
						</div>
						<div class="support-calls-table__cell">
							<i class="glyphicon glyphicon-ok" ng-if="supportCallResponse.submitted"></i>
						</div>
					</div>
				</div>
			</div>
			<div ng-if="!(view.state.instructorSupportCallResponses.byTerm[term])" class="course-table-row">
				There are no support calls.
			</div>
		</div>
	</ipa-tabs>
</div>