<div class="support-calls">
	<div class="support-calls__header-bar">
		<h5>Support Calls for Review</h5>
	</div>
	<ipa-tabs
		ng-if="view.state.ui.allTerms.length > 0"
		tab-names="view.state.ui.allTermNames"
		active-tab="view.state.ui.selectedSupportCallTermDisplay"
		select-tab="selectTab">

		<div class="support-calls-table__row support-calls-table__row--border support-calls-table__row--border-buttom">
			<div class="support-calls-table__header-cell support-calls-table__header-cell--left">Support Call</div>
			<div class="support-calls-table__header-cell">Due Date</div>
			<div class="support-calls-table__header-cell">Submitted Preferences</div>
		</div>

		<div ng-repeat="term in view.state.ui.allTerms">
			<div ng-if="term == view.state.ui.selectedSupportCallTerm">
				<div
					ng-if="view.state.instructorSupportCallResponses.byTerm[term]"
					ng-init="supportCallResponse=view.state.instructorSupportCallResponses.byTerm[term]">
					<div class="support-calls-table__row support-calls-table__row--border support-calls-table__row--radius">
						<div class="support-calls-table__cell support-calls-table__cell--left">
							<a ng-href="/instructionalSupport/{{ workgroupId }}/{{ year }}/{{ supportCallResponse.termCode.slice(-2) }}/instructorSupportCallForm">
								<button class="btn btn-default support-calls-table__button">
									View Support Call Form
								</button>
							</a>
						</div>
						<div class="support-calls-table__cell">
							<div ng-if="view.state.teachingCallReceipt.dueDateDescription">
								{{ supportCallResponse.dueDate }}
							</div>
							<div
							class="support-calls-table__cell support-calls-table__cell--gray"
							ng-if="!(supportCallResponse.dueDate)">
								No due date set
							</div>
						</div>
						<div class="support-calls-table__cell">
							<i class="glyphicon glyphicon-ok" ng-if="supportCallResponse.submitted"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ipa-tabs>

	<div ng-if="view.state.ui.allTerms.length == 0" class="support-calls__empty-message">
		No Active Support Calls
	</div>
</div>