<div class="instructional-support-summary content-container">
	<div ng-hide="view.state">
		<spinner></spinner>
	</div>
	<div ng-show="view.state">
		<div>
			<div class="course-table-row">
				<!-- table header -->
				<div class="course-table__header">
					<div class="course-table__header-detail">
						<div>
							Support Call
						</div>
					</div>
				</div>
				<div class="course-table__header">
					<div class="course-table__header-detail">
						<div>
							Due Date
						</div>
					</div>
				</div>
				<div class="course-table__header">
					<div class="course-table__header-detail">
						<div>
							Submitted Preferences
						</div>
					</div>
				</div>
			</div>
			<!-- table header -->

			<div ng-repeat="supportCallResponse in view.state.studentSupportCallResponses" class="course-table-row">
				<div class="course-table__row-detail">
					<div>
						<a ng-href="{{ urlRoot }}/instructionalSupport/{{ workgroupId }}/{{ year }}/{{ supportCallResponse.termCode.slice(-2) }}/studentSupportCallForm">
							View Support Call Form
						</a>
					</div>
				</div>
				<div class="course-table__row-detail">
					{{ supportCallResponse.dueDate }}
				</div>
				<div class="course-table__row-detail">
					<i class="glyphicon glyphicon-ok" ng-if="supportCallResponse.submitted"></i>
				</div>
			</div>
		</div>

		<div ng-if="view.state.studentSupportCallResponses.length == 0" style="margin-left: 15px; margin-top: 15px; text-align: center;">
			No available support calls.
		</div>

		<div ng-if="view.state.schedule.studentSupportCallReviewOpen" style="margin-top: 10px; margin-left: 15px">
			<a ng-href="{{ urlRoot }}/instructionalSupport/{{ workgroupId }}/{{ year }}/{{ supportCallResponse.termCode.slice(-2) || '03' }}">
				Schedule {{ year.yearToAcademicYear() }} is open for review
			</a>
		</div>


	</div>
</div>
