.add-placeholder-user__input {
  width: 30%;
  padding-left: 10px;
  padding-top: 10px;
}

.add-placeholder-user__label {
  padding-left: 20px;
  font-weight: bold;
}

.add-placeholder-user__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: rgb(248, 248, 248);
}
