.budget-nav {
	display: flex;
	justify-content: space-between;
	background-color: #F8F8F8;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
}

.budget-nav__nav-container {
	display: flex;
}

.budget-nav__nav-item {
	padding: 13px 15px 13px 15px;
	font-size: 14px;
	font-weight: 500;
}


.budget-nav__side-bar {
	display: flex;
}

.budget-nav__nav-item--selected-route {
	background-color: red;
}