<div class="budget-nav">
	<div class="nav-items">
		<div class="btn" ng-click="setRoute('Course Costs')" ng-class="{ 'selected-route': selectedRoute == 'Course Costs' }">
			Course Costs
		</div>
		<div class="btn" ng-click="setRoute('Instructor Costs')" ng-class="{ 'selected-route': selectedRoute == 'Instructor Costs' }">
			Instructor Costs
		</div>
		<div class="btn" ng-click="setRoute('Line Items')" ng-class="{ 'selected-route': selectedRoute == 'Line Items' }">
			Line Items
		</div>
		<div class="btn" ng-click="setRoute('Summary')" ng-class="{ 'selected-route': selectedRoute == 'Summary' }">
			Summary
		</div>
	</div>
	<div class="side-bar">
		<div ng-if="selectedRoute == 'lineItems'">
			<!-- line items toolbar -->
			<div class="btn-group toolbar">
				<span
					class="toolbar-item glyphicon glyphicon-trash"
					tooltip-append-to-body="true"
					tooltip-placement="left"
					uib-tooltip="Delete line items"
					confirm-button="deleteLineItems()"
					message="Are you sure you want to remove the selected line items?"
					yes="Remove" no="Cancel" placement="left"
					aria-hidden="true">
				</span>
				<span
					class="toolbar-item glyphicon glyphicon-plus"
					ng-click="openAddLineItemModal()"
					tooltip-append-to-body="true"
					tooltip-placement="left"
					uib-tooltip="Add line item">
				</span>
			</div>
		</div>
		<div>
			Balance: {{ totalBalance }}
		</div>
	</div>
</div>