.workload-summary__table-label {
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 5px;
	padding-left: 20px;
	font-size: 12px;
}

.workload-table__last {
	padding-bottom: 30px;
}

.table-toolbar {
	padding: 20px 20px 5px 20px;
	display: flex;
	justify-content: space-between;
}

/* .btn-group vertical-align pushes the icons with dropdown menus out of veritcal
   alignment with the icons without a dropdown menu */
.table-toolbar>.btn-group {
  vertical-align: initial;
}

.tool-icon {
	margin: 0 0.5em;
	padding: 0.5em;
}

.tool-icon:hover {
	cursor: pointer;
	background: #ebebeb;
	border-radius: 3px;
}

.anchor-links {
	padding: 0.5em 0;
	cursor: pointer;
}
