.workload-summary__table-label {
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 5px;
	padding-left: 20px;
	font-size: 12px;
}

.workload-table__last {
	padding-bottom: 30px;
}

.table-toolbar {
	width: 100%;
	text-align: right;
	padding: 20px 20px 5px 20px;
	margin: 0px;
	border-radius: 3px;
}

.tool-icon {
	margin: 0 0.5em;
	padding: 0.5em;
}

.tool-icon:hover {
	cursor: pointer;
	background: #ebebeb;
	border-radius: 3px;
}
