.general-config__term-container {
	padding: 20px;
}

.general-config__term {
	width: 100%;
	margin-bottom: 5px;
}

.general-config__term-label {
	padding-bottom: 10px;
	padding-left: 10px;
	font-weight: bold;
	display: flex;
}

.general-config__term-info {
	padding-left: 5px;
}

/* 
Shared component ipaToggle style override.
Might want to add it as a proper customization if the need arises again
*/
.general-config .ipa-toggle {
	display: flex;
	justify-content: center;
}