<div class="ipa-dropdown">
	<div class="expand-button"
			ng-class="{'ipa-dropdown__expand-button-skin--default': !style, 'ipa-dropdown__expand-button-skin--minimal': style == 'minimal', 'ipa-dropdown__wide': isWide}"
			ng-click="openDropdown()"
			ng-class="{ 'selected': expanded == true }">

			<div class="ipa-dropdown__button-text"
			     ng-class="{ buttonClass, 'ipa-dropdown__wide': isWide }">
				{{ buttonText }}
			</div>
			<div class="ipa-dropdown__caret-container">
				<span class="caret"></span>
			</div>
	</div>

	<div ng-if="expanded" class="dropdown-container" ng-style="overrideStyles">
		<div class="dropdown-mask" ng-click="closeDropdown()">
		</div>

		<div class="dropdown">
			<div ng-show="headerText" class="header-row">
				<div>
					{{ headerText }}
				</div>
				<div class="close-ui" ng-click="closeDropdown()">
					<svg height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12">
						<path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path>
					</svg>
				</div>
			</div>

			<div class="search-row" ng-if="searchable">
				search goes here
			</div>

			<div class="items">
				<div ng-repeat="item in items">
					<div ng-show="item.rowType == 'subheader'" class="ipa-dropdown__subheader-row">
						{{ item.description }}
					</div>
					<div class="item"
					     ng-show="!item.rowType"
					     ng-click="selectDropdownItem(item)">
						{{ item.description }}
					</div>
				</div>
			</div>
		</div> <!-- dropdown -->
	</div> <!-- dropdown container -->
</div>