.ipa-dropdown {
	word-wrap: break-word;
}

.ipa-dropdown .expand-button {
	display: inline-flex;
	font-size: 12px;
	color: #24292e;
	font-weight: 500;
	padding: 3px 6px 3px 6px;
	user-select: none;
}

.ipa-dropdown .expand-button:hover {
	background-color: #e6ebf1;
	background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
	border-color: rgba(27,31,35,0.35);
}

.ipa-dropdown .expand-button.selected {
	background-color: #e9ecef;
	background-image: none;
	border-color: rgba(27,31,35,0.35);
	box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
}

.ipa-dropdown__expand-button-skin--default {
	background-color: #eff3f6;
	background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
	border: 1px solid rgba(27,31,35,0.2);
	border-radius: 0.25em;
	cursor: pointer;
}

.ipa-dropdown__expand-button-skin--minimal {
	background-color: white;
	border: 1px solid rgba(27,31,35,0.2);
	border-radius: 0.25em;
	cursor: pointer;
}

.ipa-dropdown .dropdown-container {
	position: absolute;
}

.ipa-dropdown .dropdown {
	z-index: 30;
	background-color: white;
	margin-top: 2px;
	border: 1px solid rgba(27,31,35,0.15);
	border-radius: 3px;
	box-shadow: 0 3px 12px rgba(27,31,35,0.15);
}

.ipa-dropdown .item {
	background-color: #fff;
	padding-left: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 8px;
	border-bottom: 1px solid #eaecef;
	cursor: pointer;
}

.ipa-dropdown .item:hover {
	background-color: #f4f4f4;
}

.ipa-dropdown .header-row {
	padding: 8px 10px;
	line-height: 16px;
	background: #f6f8fa;
	border-bottom: 1px solid #e1e4e8;
	display: flex;
	justify-content: space-between;
}

.ipa-dropdown__subheader-row {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 16px;
	border-bottom: 1px solid #e1e4e8;
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	font-weight: bold;
}

.ipa-dropdown .search-row {
	border-bottom: 1px solid #e1e4e8;
}

.ipa-dropdown .category-row {
	border-bottom: 1px solid #e1e4e8;
}

.ipa-dropdown .close-ui {
	cursor: pointer;
}

.ipa-dropdown .close-ui svg {
	color: #c6cbd1;
	fill: #c6cbd1;
}

.ipa-dropdown .close-ui:hover svg {
	fill: #444d56;
	color: #444d56;
}

.ipa-dropdown .dropdown-mask {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	display: block;
	width: 100vw;
	height: 100vh;
}

.ipa-dropdown__button-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 2px;
}