.modal-add-support-call__item-divider {
	border-bottom: 1px solid #ccc;
	margin-bottom: 8px;
}

.modal-add-support-call__checkbox-row {
	display: flex;
	margin-bottom: 10px;
}

.modal-add-support-call__checkbox {
	margin-right: 6px;
}

.modal-add-support-call__checkbox-label {
	cursor: pointer;
}

.modal-add-support-call__checkbox-label--disabled {
	color: #ccc;
	cursor: default;
}