<tr class="instructor-costs__additional-instructor-row">
	<!-- Instructor of record -->
	<td class="instructor-costs__table-cell" ng-class="{ 'instructor-costs-row__divider' : divider }">
		<div class="instructor-costs__table-cell-insturctor">
			<div class="budget-costs__label">
				Instructor <span ng-if="instructor.instructorTypeDescription">({{ instructor.instructorTypeDescription }})</span>
			</div>
			<div class="instructor-costs__instructor-reversion-ui" ng-show="isLiveData || isSnapshot">
				<div>
					{{ instructor.instructorName ? instructor.instructorName.split(' ')[1] + ', ' + instructor.instructorName.split(' ')[0] : (instructor.instructorTypeDescription ? instructor.instructorTypeDescription : 'None assigned') }}
				</div>
			</div>
			<div class="instructor-costs__instructor-container" ng-show="!isLiveData && !isSnapshot">
				<edit-instructor-assignment-dropdown mode="'instructor'"
																				section-group-cost="sectionGroupCost"
																				instructors="instructorAssignmentOptions"
																				instructor="instructor">
				</edit-instructor-assignment-dropdown>
			</div>
		</div>
	</td>
	<!-- Cost -->
	<td class="instructor-costs__table-cell" ng-class="{ 'instructor-costs-row__divider' : divider }">
		<div class="instructor-costs__table-cell-cost">
			<div class="budget-costs__label">
				Instructor Cost
			</div>
			<div class="instructor-costs__cost-container">
				<div>
					<ipa-input
					value="instructor.cost"
					mode="'currency'"
					update-delay="3000"
					place-holder="(instructor.overrideInstructorCost ? '$' + instructor.overrideInstructorCost : '')"
					on-update="updateInstructorCost(instructor)"
					ng-show="!isSnapshot"
					/>
					<span ng-show="isSnapshot">
						{{ instructor.cost || 'N/A' }}
					</span>
				</div>
			</div>
		</div>
	</td>
	<!-- Remove Row -->
	<td class="instructor-costs__table-cell" ng-class="{ 'instructor-costs-row__divider' : divider }" ng-show="!isSnapshot && !instructor.teachingAssignmentId">
		<div class="instructor-costs__table-cell-cost">
			<div class="budget-costs__label">
				Remove Instructor
			</div>
			<div class="instructor-costs__cost-container">
						<div class="glyphicon glyphicon-remove instructor-costs__revert-ui"
						     tooltip-append-to-body="true"
						     uib-tooltip="Delete instuctor row"
						     confirm-button="removeInstructorCost(instructor)"
						     message="Are you sure you want to remove this instructor cost?"
						     yes="Remove"
						     no="Cancel"
						>
					</div>
			</div>
		</div>
	</td>
	<!-- Empty columns for spacing -->
	<td class="instructor-costs__table-cell" ng-class="{ 'instructor-costs-row__divider' : divider }" ng-show="isSnapshot || instructor.teachingAssignmentId">
		<div class="instructor-costs__table-cell-reason"/>
	</td>
	<!-- Regular instructor -->
	<td class="instructor-costs__table-cell" ng-class="{ 'instructor-costs-row__divider' : divider }" ng-show="isFirst">
		<div class="budget-costs__label">
			Regular Instructor
		</div>
		<div class="instructor-costs__instructor-container" style="display: flex;">
			<edit-instructor-assignment-dropdown
																			ng-if="!isSnapshot"
																			is-regular="true"
																			section-group-cost="sectionGroupCost"
																			instructors="regularInstructorAssignmentOptions"
																			course="course">
			</edit-instructor-assignment-dropdown>
			<div ng-if="!isSnapshot" class="instructor-costs__instructor-reversion-ui">
				<div class="glyphicon glyphicon-remove instructor-costs__revert-ui"
				     tooltip-append-to-body="true"
				     uib-tooltip="Remove instructor"
				     confirm-button="removeOriginalInstructor(sectionGroupCost)"
				     message="Are you sure you want to remove this instructor?"
				     yes="Remove"
				     no="Cancel"
				     ng-class="{'instructor-costs-row__hidden': (sectionGroupCost.originalInstructorId > 0) == false }">
				</div>
			</div>
			<div ng-if="isSnapshot">
				{{ findOriginalInstructorBySectionGroupCost(sectionGroupCost).description || 'N/A' }}
			</div>
		</div>
	</td>
	<!-- Reason Category -->
	<td class="instructor-costs__table-cell" ng-class="{ 'instructor-costs-row__divider' : divider }" ng-show="isFirst">
		<div class="budget-costs__label">
			Reason Category
		</div>
		<div class="instructor-costs__cost-container" ng-class="{ 'assignment-dropdown-reversion' : sectionGroupCost.reasonCategoryId}">
			<ipa-dropdown
										ng-if="!isSnapshot"
										button-text="sectionGroupCost.reasonCategoryDescription || 'Select Reason'"
										items="reasonCategories"
										select-item="updateReasonCategory(item)">
			</ipa-dropdown>
			<span ng-if="isSnapshot">{{ sectionGroupCost.reasonCategoryDescription || 'N/A' }}</span>
			<div ng-if="!isSnapshot" class="instructor-costs__instructor-reversion-ui">
				<div class="glyphicon glyphicon-remove instructor-costs__revert-ui"
						 tooltip-append-to-body="true"
						 uib-tooltip="Delete reason"
						 confirm-button="removeReasonCategory(sectionGroupCost)"
						 message="Are you sure you want to delete the reason?"
						 yes="Delete"
						 no="Cancel"
						 ng-class="{'instructor-costs-row__hidden': !sectionGroupCost.reasonCategoryId}">
				</div>
			</div>
		</div>
	</td>
	<!-- Reason -->
	<td colspan="2" class="instructor-costs__table-cell" ng-class="{ 'instructor-costs-row__divider' : divider }" ng-show="isFirst">
		<div class="instructor-costs__table-cell-reason">
			<div class="budget-costs__label">
				Additional Comments
			</div>
			<ipa-input ng-if="!isSnapshot"
			           value="sectionGroupCost.reason"
			           on-update="updateSectionGroupCost(sectionGroupCost)"
			           max-chars="200">
			</ipa-input>
			<span ng-show="isSnapshot">
				{{ sectionGroupCost.reason || 'N/A' }}
			</span>
		</div>
	</td>
	<!-- Empty columns for spacing -->
	<td colspan="4" class="instructor-costs__table-cell" ng-class="{ 'instructor-costs-row__divider' : divider }" ng-show="!isFirst">
		<div class="instructor-costs__table-cell-reason"/>
	</td>
</tr
