.text-warning {
	color: #f7d227;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}
html,
body {
	height: 100%;
}
.wrap {
	height: 100vh;
	display: flex;
}
.page-container .main-content {
	flex-direction: column;
	padding: 0;
}
.activity-page-header {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #ebebeb;
}
.activity-page-title {
	flex: 0 0 50px;
	text-align: center;
}
.activity-filters {
	flex: 0 0 50px;
	display: flex;
}
.activity-filter-menu {
	width: 40%;
	padding: 0.5em;
}

.calendar-filter-menu {
	padding: 0.5em;
}
.tags-filter label.filter-checkbox {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.tags-filter label.filter-label {
	margin-left: 2em;
	top: 50%;
}
.label-selected-section-group {
	background-color: #e6e6e6;
	color: #333;
	margin-right: 5px;
	display: inline-block;
	font-size: 85%;
	line-height: normal;
}
.section-group-container {
	height: calc(100vh - 178px);
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
}

.section-group-list {
	position: relative;
	flex: 0 0 40%;
	padding: 0px;
	overflow-y: auto;
	background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d000000', endColorstr='#00000000', GradientType=1);
	/* IE6-9 */
}
.section-group-list.collapsed {
	flex: 1 0 15%;
}
.section-group-list > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.section-group-item {
	cursor: pointer;
	border-bottom: 1px solid #ebebeb;
	padding: 12px;
	background: #F9F9F9;
	color: #373e4a;
	display: flex;
}
.section-group-item.active {
	background: #6AA4C1;
	color: white;
}
.section-group-item.active .text-muted {
	color: white;
}
.activity-calendar {
	position: relative;
	flex: 7 0 60%;
	justify-content: center;
	width: 60%;
	background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d000000', endColorstr='#00000000', GradientType=1);
	/* IE6-9 */
}

.activity-container {
	flex: 1 0 25%;
	display: flex;
	flex-direction: column;
	height: 100%;
	background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d000000', endColorstr='#00000000', GradientType=1);
	/* IE6-9 */
	overflow-y: scroll;
}

.activity-container.collapsed {
	flex: 1 0 0;
	width: 0;
	display: none;
}
.activity-list.collapsed {
	flex: 0 0 40%;
	background-color: #FEFEFE;
	-webkit-box-shadow: inset 0px 0px 5px 1px rgba(235,235,235,1);
	-moz-box-shadow: inset 0px 0px 5px 1px rgba(235,235,235,1);
	box-shadow: inset 0px 0px 5px 1px rgba(235,235,235,1);
}
.activity-list {
	position: relative;
	flex: 0 0 100%;
	border-bottom: 1px solid #ebebeb;
	overflow-y: auto;
	overflow-x: hidden;
}
.activity-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
p.activity-list-header {
	margin: 10px;
	font-size: 18px;
	color: #303641;
}
.section-pattern {
	color: #000;
	text-indent: 1em;
	font-weight: bold;
	margin-top: 1.5em;
}
.activity-item {
	padding: 5px;
	background: #FAFAFA;
	color: #333;
	border: 1px solid #EEEEEE;
	border-bottom: 1px solid #6AA4C1;
	display: flex;
}

.activity-item.active {
	background: #6AA4C1;
	color: white;
	border: none;
}
.activity-item:hover:not(.active) {
	background: #EFEFEF;
}
.activity-details.collapsed {
	flex: 0 0 0;
	display: none;
}
.activity-details {
	flex: 1 0 60%;
	display: block;
	padding: 10px;
	overflow-y: auto;
	overflow-x: hidden;
}
p.activity-details-header {
	font-size: 18px;
	color: #303641;
}
.calendar-env .calendar-body {
	width: 100%;
	float: none;
}
a.fc-event,
.ui-widget a.fc-event {
	font-size: 10px ;
	line-height: 1em;
	border-radius: 0;
	cursor: pointer;
}
a.unavailability-event,
.ui-widget a.unavailability-event {
	opacity: 0.8;
	border-style: dashed;
	border-width: 2px;
}
a.activity-event.hover-section-group,
.ui-widget a.activity-event.hover-section-group {
	border-color: #6AA4C1 !important;
}
a.activity-event.hover-activity,
.ui-widget a.activity-event.hover-activity {
	border-color: #000 !important;
}
a.activity-event i.activity-remove,
.ui-widget a.activity-event i.activity-remove {
	position: absolute;
	right: 1px;
	filter: alpha(opacity = 30);
	opacity: 0.3;
}
.fc-unthemed .fc-today {
	background: transparent !important;
}
.section-group-check {
	flex: 0 0 2em;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.section-group-description {
	flex: 1 0 50%;
}
.sg-checkbox {
	flex: 0 0 auto;
}
.colored-box {
	float: left;
	width: 1em;
	height: 1em;
	margin: 2px 5px;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.2);
	border-radius: 50%;
}
.filters-container {
	display: flex;
}
.filters-container h3 {
	font-size: 12px;
	text-align: center;
	margin: 10px 0;
}
.filters-container ul {
	list-style: none;
	padding: 0;
}
.filters-container ul li {
	cursor: pointer;
	padding: 5px;
	border-top: 1px solid #ebebeb;
}
.filters-container ul li:hover {
	background-color: #ebebeb;
}

ul.activity-group {
	position: relative;
	margin: 10px 15px;
}
ul.activity-group:hover li.add-selected-activity {
	border-color: #777;
}
li.add-selected-activity i {
	color: white;
	text-shadow: 0 1px 1px #333;
}
.delete-activity {
	display: none;
	margin-right: 1em;
}
ul.activity-group li.activity-item:hover .delete-activity {
	display: block;
}
button.dropdown-location {
	text-align: left;
}
button.dropdown-location > .caret {
	position: absolute;
	height: 10px;
	top: 50%;
	right: 10px;
	margin-top: -2px;
}
select.standard-time {
	padding: 3px;
	font-size: 11px;
}
.input-sm-padding, .btn-sm-padding {
	padding: 2px 3px;
	height: 30px;
}

.loading-center {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
}

i.selected-section-group-remove {
	margin-left: 0.7em;
}

.activity-page-title > h3 {
	margin: 10px 0 0;
}

.activity-page-title > p {
	font-size: 12px;
	margin: 0;
}

.add-activity-btn {
	margin: 10px 15px;
}

.add-activity-popover {
	max-width: 100%;
}

.add-activity-popover .popover-content {
	padding: 0.5em;
}

.add-activity-list {
	-webkit-column-count: auto;
	-webkit-column-width: 10em;
	-webkit-column-gap: 0;
	-moz-column-count: auto;
	-moz-column-width: 10em;
	-moz-column-gap: 0;
	column-count: auto;
	column-width: 10em;
	column-gap: 0;
	width: 60em;
	font-size: 90%;
}

.add-activity-item {
	display: inline-block;
	width: 10em;
	height: 2em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
	padding: 5px;
}

.add-activity-item:hover {
	background: #EFEFEF;
}

.nav > li.location-tab > a {
	padding: 10px 3px;
	white-space: nowrap;
	overflow: hidden;
}

.muted-activity {
	background-color: rgba(214, 214, 214, 0.65) !important;
	color: #ababab;
}

.instructor-label {
	padding: 3px;
	margin-left: 3px;
}

.create-section-btn {
	padding-left: 10px;
}

.neon-dark-confirm-btn,
.neon-dark-confirm-btn:focus,
.neon-dark-confirm-btn:active,
.neon-dark-confirm-btn {
	background-color: rgb(48, 54, 65);
	border-color: rgb(48, 54, 65);
	color: white;
}

.neon-dark-confirm-btn:hover {
	background-color: rgb(18, 24, 35); /* Darker Version for hover */
	color: white;
}

.neon-dark-confirm-btn.disabled,
.neon-dark-confirm-btn.disabled:hover,
.neon-dark-confirm-btn.disabled:focus,
.neon-dark-confirm-btn.disabled:active {
	background-color: rgb(48, 54, 65);
	color: white;
}

.delete-section-ui {
	flex: 3 1 auto;
}

.section-label {
	flex: 0 0 auto;
}

.section-is-numeric,
.section-in-series {
	display: flex;
}

.filter-course--tag {
	color: white;
}

.courses__metadata-container {
	padding: 3px;
	margin-left: 3px;
}

.schedule-mode__nav {
	display: flex;
	width: 60%;
	align-items: flex-end;
}

.activity__day-time {
	padding-left: 5px;
	padding-right: 5px;
}

.schedluing__no-location {
	padding-top: 20px;
	display: flex;
	justify-content: center;
}
