<div class="student-preference-selector">
	<div class="clickable assignment-description" style="height: 20px; width: 100%; text-align: center; color: #303641;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Add Preference...
	</div>
	<ul class="dropdown-menu" style="width: 100%;">
		<li ng-show="sectionGroup.eligibleSupportStaff.preferred.length > 0"class="dropdown-header" stop-event="click"><b>Preferred</b></li>
		<li ng-repeat="preference in sectionGroup.eligibleSupportStaff.preferred" class="clickable"
				ng-click="addPreference(sectionGroup.id, preference.supportStaffId)">
			<a class="small">
				<span class="course-filter-item">({{ preference.priority }}) {{ preference.fullName }}</span>
			</a>
		</li>

		<li ng-show="sectionGroup.eligibleSupportStaff.other.length > 0"class="dropdown-header" stop-event="click"><b>Other</b></li>
		<li ng-repeat="supportStaff in sectionGroup.eligibleSupportStaff.other"class="clickable"
			ng-click="addPreference(sectionGroup.id, supportStaff.id)">
			<a class="small">
				<span class="course-filter-item">{{ supportStaff.fullName }}</span>
			</a>
		</li>

	</ul>
</div>