<nav year="{{ year }}" workgroup-id="{{ workgroupId }}"></nav>
<div></div>

<div class="main-content">
	<div class="container-fluid">
        <!-- page header -->
        <div class="tacall-instructor-header">
            <h3>Support Call {{ year }}</h3>
						<p class="text-align--center department-title">
							{{ sharedState.workgroup.name }}
						</p>
        </div>
        <!-- page header ends -->
    </div>

	<div class="row">
		<div class="container-fluid">
			<div class="instructor-application">
				<div style="padding-left: 14%;" ng-if="view.state && view.state.sectionGroups.length == 0">
					<!-- handle lack of active teaching call -->
					<div class="jumbotron" style="text-align: center; height: 100%; background-color: white;">
						<p class="lead">You have not been assigned any courses in this term.</p>
						<br />
						<p class="lead">If you feel this is in error please contact the Academic Planner for Psychology.</p>
					</div>
				</div>

				<div ng-repeat="sectionGroup in view.state.sectionGroups" class="instructor-course-section">
					<div class="instructor-application_title">
						<h4>{{ sectionGroup.subjectCode}} {{ sectionGroup.courseNumber }} - {{ sectionGroup.sequencePattern }}</h4>
					</div>

					<div ng-repeat="instructorPreference in sectionGroup.instructorPreferences"
							ng-init="supportStaff=view.state.supportStaff.list[instructorPreference.supportStaffId]"
					id="sortable1" class="ta-section">
						<div class=" alert alert-info ta-slot">
							<i class="glyphicon glyphicon-menu-hamburger move-ta-icon"></i>
							<p>{{ supportStaff.fullName }}</p>
							<i class="btn glyphicon glyphicon-remove ta-slot-remove text-primary"
								uib-tooltip="Delete Assignment" tooltip-placement="bottom"
								confirm-button="deleteInstructorPreference(instructorPreference)"
								message="Are you sure you want to delete this Assignment?"
								yes="Confirm" no="Cancel" placement="top"></i>
						</div>
					</div>

					<instructor-preference-selector>
					</instructor-preference-selector>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="main-content input-box-container">
	<div class="container-fluid">
		<div class="instructor-comment-container">
			<div class="input-box-area">
				<h5>Comments</h5>
				<textarea class="form-control"
				ng-model="view.state.supportCallResponse.generalComments"
				auto-input on-blur="updateSupportCallResponse()"></textarea>
			</div>
		</div>
		<a>
			<button ng-if="!view.state.supportCallResponse.submitted" type="button" class="btn btn-info pull-right"
			 confirm-button="submitPreferences()"
			 btn-class="btn-primary"
			 message="Are you sure you want to submit your preferences?"
			 yes="Confirm" no="Cancel" placement="top">
				Submit Preferences
			</button>
			<button ng-click="pretendToastMessage()"
				ng-if="view.state.supportCallResponse.submitted"
				type="button" class="btn btn-info pull-right">
					Update Preferences
			</button>
		</a>
	</div>
</div>