<div class="instructor-preference-selector">
	<div class="clickable assignment-description" style="height: 20px; width: 100%; text-align: center; color: #303641;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Add Preference...
	</div>
	<ul class="dropdown-menu" style="width: 100%;">

		<!-- Instructor preferences -->
		<li class="dropdown-header" stop-event="click"><b>Student Preferences</b></li>

		<li class="clickable">
			<a class="small">
				<span class="course-filter-item">Brown, Suzi (1)</span>
			</a>
		</li>

		<!-- phds -->
		<li role="separator" class="divider"></li>
		<li class="dropdown-header" stop-event="click"><b>Phd Students</b></li>

		<li class="clickable">
			<a class="small">
				<span class="course-filter-item">Dobris, Joel</span>
			</a>
		</li>

		<!-- masters -->
		<li role="separator" class="divider"></li>
		<li class="dropdown-header" stop-event="click"><b>Masters Students</b></li>

		<li class="clickable">
			<a class="small">
				<span class="course-filter-item">Green, Jenny</span>
			</a>
		</li>

		<!-- instructional support -->
		<li role="separator" class="divider"></li>
		<li class="dropdown-header" stop-event="click"><b>Instructional Support</b></li>

		<li class="clickable">
			<a class="small">
				<span class="course-filter-item">Hale, Bobby</span>
			</a>
		</li>

	</ul>
</div>