<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav mode="over"
               opened="true"
               class="sidenav"
               (mouseenter)="toggleSideNav()"
               (mouseleave)="toggleSideNav()">
    <div class="header">
    <div *ngIf="isNavExpanded">IPA</div>
     <i class="material-icons icon">menu</i>
    </div>

    <mat-accordion>
      <ipa-nav-accordion *ngIf="summary"
                         [isNavExpanded]="isNavExpanded"
                         [activeAccordion]="activeAccordion"
                         [activePage]="activePage"
                         [navAccordion]="summary">
      </ipa-nav-accordion>

      <mat-nav-list class="ipa-header__mat-list">
        <mat-list-item class="ipa-header__nav-option">
          <i class="material-icons icon">settings</i>
          <div *ngIf="isNavExpanded">Admin</div>
        </mat-list-item>
      </mat-nav-list>

      <mat-nav-list class="ipa-header__mat-list">
        <mat-list-item class="ipa-header__nav-option">
          <i class="material-icons icon">book</i>
          <div *ngIf="isNavExpanded">Courses</div>
        </mat-list-item>
      </mat-nav-list>

      <ipa-nav-accordion *ngIf="summary"
                         [isNavExpanded]="isNavExpanded"
                         [activeAccordion]="activeAccordion"
                         [activePage]="activePage"
                         [navAccordion]="instructor">
      </ipa-nav-accordion>

      <mat-nav-list class="ipa-header__mat-list">
        <mat-list-item class="ipa-header__nav-option">
          <i class="material-icons icon">calendar_today</i>
          <div *ngIf="isNavExpanded">Schedule</div>
        </mat-list-item>
      </mat-nav-list>

      <ipa-nav-accordion *ngIf="summary"
                         [isNavExpanded]="isNavExpanded"
                         [activeAccordion]="activeAccordion"
                         [activePage]="activePage"
                         [navAccordion]="taAndReader">
      </ipa-nav-accordion>

     <mat-nav-list class="ipa-header__mat-list">
        <mat-list-item class="ipa-header__nav-option">
          <i class="material-icons icon">pie_chart</i>
          <div *ngIf="isNavExpanded">Budget</div>
        </mat-list-item>
      </mat-nav-list>

      <ipa-nav-accordion *ngIf="summary"
                         [isNavExpanded]="isNavExpanded"
                         [activeAccordion]="activeAccordion"
                         [activePage]="activePage"
                         [navAccordion]="report">
      </ipa-nav-accordion>
    </mat-accordion>
  </mat-sidenav>
<!-- toolbar and page contents -->
  <mat-sidenav-content>
    <ipa-header></ipa-header>  
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
