a {
    /*outline: unset !important;*/
}

.panel-group i {
    float: right;
    display: inline-block;
    line-height: 1.8;
    font-size: 10px;
}

.main-content {
    display: block;
    position: relative;
    float: left;
    z-index: 2;
    display: table-cell;
    vertical-align: top;
    padding: 20px;
    background: #ffffff;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.table-toolbar {
    width: 100%;
    text-align: right;
    padding-bottom: 20px;
    margin: 0px;
    border-radius: 3px;
    line-height: 2.5;
}

.table-toolbar .tool-icon {
    margin: 0 0.5em;
    padding: 0.5em;
}

.add-budget-scenario .tool-icon {
    margin: 0 5px 0px 5px;
    padding: 0px;
}

.budget-summary {
    align-self: center;
}

.budget-summary .table thead {
    border-bottom: 1px solid #E5E5E5;
}

.budget-summary .table thead tr th {
    font-weight: bold;
}

.budget-summary .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: unset;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.bg-gray {
    background-color: #f9f9f9;
}

.description {
    /*border: unset !important;*/
    padding: 0px !important;
}

.form-group span {
    display: block;
    max-width: 70%;
    overflow-x: hidden;
}

.form-group .span-full-width {
    display: block;
    max-width: 100%;
}

.form-group textarea {
    max-width: 100%;
}

[contenteditable]:focus {
    outline: 1px solid #E5E5E5 !important;
    background-color: #F9F9F9;
    /*padding-left: 5px;*/
}

[contenteditable] {
    border: 1px solid white;
}

[contenteditable]:hover {
    outline: 1px solid #E5E5E5 !important;
    background-color: #F9F9F9;
    /*padding-left: 5px;*/
}

.description .line-item-container:first-child {
    padding-top: 20px !important;
}

.line-item-container {
    padding: 10px 20px 10px 55px;
}




/* budget summary */
.budget-pie-chart {
    height: 250px;
    align-self: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.budget-summary table {
    font-size: 12px;
}

.budget-summary table tr th:nth-child(2) {
    width:5%;

}

.budget-table {
    margin-bottom: 0px !important;
    border-bottom: unset;
}

.budget-table thead {
    border-bottom: 3px solid #ebebeb;
}

.budget-table thead tr th{
    background: white !important;
}

.budget-table thead tr th:first-child{
    width: 3%;
}

.budget-table thead tr th:nth-child(3){
    width: 60%;
}

budget-table thead tr th:last-child{
    width: 10%;
}

.budget-table > thead > tr > th, .table > tbody > tr > th, .budget-table > tfoot > tr > th, .budget-table > thead > tr > td, .budget-table > tbody > tr > td, .budget-table > tfoot > tr > td {
    padding: 12px;
    line-height: 2;
}


/* overwrite */

.panel-heading {
    padding:0px !important;
    background-color: white !important;
}

.cb-wrapper {
    vertical-align: middle;
}

.table > thead > tr > th {
    border-bottom:unset;
}
/*.table-striped > tbody > tr.line:nth-of-type(2n+1):not(.collapse) {
    background-color: pink;
}*/
