<nav year="{{ year }}" workgroup-id="{{ workgroupId }}"></nav>

<div></div>
<ipa-header page-title="Support Staff Assignments"></ipa-header>

<!-- handle lack of active teaching call -->
<script type="text/javascript">
jQuery(document).ready(function($) {
	$('#cash-in-section').hide();
	$('#cash-out').on('click', function(e) {
		console.log('showing courses');
		$('#cash-out-section').show();
		$('#cash-in-section').hide();
	});
	$('#cash-in').click(function(e) {
		console.log('showing instructors');
		$('#cash-out-section').hide();
		$('#cash-in-section').show();
	});
	$('#addNotes').click(function(){
		var $this = $(this);
		$this.toggleClass('add-notes');
		if($this.hasClass('add-notes')){
			$this.text('Submit');
		} else {
			$this.text('Add New Notes');
		}
		$('.notes-area').toggle();
	});
});
</script>
<div class="budget-view">

	<!-- Modals -->
	<ipa-modal
		is-visible="view.state.openAddBudgetScenario"
		header-text="Add New Budget Scenario">
			<add-budget-scenario ng-if="view.state.openAddBudgetScenario" state="view.state"></add-budget-scenario>
	</ipa-modal>

	<ipa-modal
		is-visible="view.state.openAddLineItem"
		header-text="Add New Line Item">
			<add-line-item ng-if="view.state.openAddLineItem" state="view.state"></add-line-item>
	</ipa-modal>

	<!-- table-toolbar -->
	<div class="table-toolbar">
		<div class="btn-group pull-left add-budget-scenario">
			<budget-scenario-dropdown></budget-scenario-dropdown>
		</div>

		<budget-scenario-toolbar></budget-scenario-toolbar>
		<!-- table-toolbar ends -->
	</div>
	
	<budget-summary></budget-summary>

	<course-costs selected-budget-scenario="view.state.selectedBudgetScenario"></course-costs>

	<line-items selected-budget-scenario="view.state.selectedBudgetScenario"></line-items>

</div>

<!-- add ta-reader cost -->
<div class="budget-view ta-reader-cost modal fade" id="add-cost">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">TA &amp Reader Cost</h4>
			</div>
			<div id="cost-input-form" class="modal-body">
				<div class="row">
					<form role="form" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-5 control-label">TA Cost:</label>
							<div class="col-sm-5">
								<div class="input-group">
									<div class="flex">
										<span class="currency">$</span>
										<input class="amount-input" name="amount" maxlength="15" type="text">
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-5 control-label">Reader Cost:</label>
							<div class="col-sm-5">
								<div class="input-group">
									<div class="flex">
										<span class="currency">$</span>
										<input class="amount-input" name="amount" maxlength="15" type="text">
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-submit">Submit</button>
			</div>
		</div>
	</div>
</div>
<!-- notes -->
<div class="budget-view modal fade notes-modal" id="comment">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Notes</h4>
			</div>
			<div class="modal-body">
				<div class="row course-notes">
					<div class="col-md-12">
						<div class="panel panel-primary" data-collapsed="0">
							<!-- panel head -->
							<div class="panel-heading">
								<div class="panel-title">Notes</div>
								<div class="panel-options pull-right">
									<a href="#" data-rel="close"><i class="entypo-cancel"></i></a>
								</div>
								<div class="editor-name pull-right">Last Edited By Shang (1 week ago)</div>
							</div>
							<!-- panel body -->
							<div class="panel-body">
								<p>Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered on in estimating. Middletons acceptance discovered projecting so is so or. In or attachment inquietude remarkably comparison at an. Is surrounded prosperous stimulated am me discretion expression. But truth being state can she china widow. Occasional preference fat remarkably now projecting uncommonly dissimilar. Sentiments projection particular companions interested do at my delightful. Listening newspaper in advantage frankness to concluded unwilling.</p>
								<p>It if sometimes furnished unwilling as additions so. Blessing resolved peculiar fat graceful ham. Sussex on at really ladies in as elinor. Sir sex opinions age properly extended. Advice branch vanity or do thirty living. Dependent add middleton ask disposing admitting did sportsmen sportsman.</p>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="panel panel-primary" data-collapsed="0">
							<!-- panel head -->
							<div class="panel-heading">
								<div class="panel-title">Notes</div>
								<div class="panel-options pull-right">
									<a href="#" data-rel="close"><i class="entypo-cancel"></i></a>
								</div>
								<div class="editor-name pull-right">Last Edited By Shang (1 week ago)</div>
							</div>
							<!-- panel body -->
							<div class="panel-body">
								<p>Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered on in estimating. Middletons acceptance discovered projecting so is so or. In or attachment inquietude remarkably comparison at an. Is surrounded prosperous stimulated am me discretion expression. But truth being state can she china widow. Occasional preference fat remarkably now projecting uncommonly dissimilar. Sentiments projection particular companions interested do at my delightful. Listening newspaper in advantage frankness to concluded unwilling.</p>
								<p>It if sometimes furnished unwilling as additions so. Blessing resolved peculiar fat graceful ham. Sussex on at really ladies in as elinor. Sir sex opinions age properly extended. Advice branch vanity or do thirty living. Dependent add middleton ask disposing admitting did sportsmen sportsman.</p>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="panel panel-primary" data-collapsed="0">
							<!-- panel head -->
							<div class="panel-heading">
								<div class="panel-title">Notes</div>
								<div class="panel-options pull-right">
									<a href="#" data-rel="close"><i class="entypo-cancel"></i></a>
								</div>
								<div class="editor-name pull-right">Last Edited By Shang (1 week ago)</div>
							</div>
							<!-- panel body -->
							<div class="panel-body">
								<p>Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered on in estimating. Middletons acceptance discovered projecting so is so or. In or attachment inquietude remarkably comparison at an. Is surrounded prosperous stimulated am me discretion expression. But truth being state can she china widow. Occasional preference fat remarkably now projecting uncommonly dissimilar. Sentiments projection particular companions interested do at my delightful. Listening newspaper in advantage frankness to concluded unwilling.</p>
								<p>It if sometimes furnished unwilling as additions so. Blessing resolved peculiar fat graceful ham. Sussex on at really ladies in as elinor. Sir sex opinions age properly extended. Advice branch vanity or do thirty living. Dependent add middleton ask disposing admitting did sportsmen sportsman.</p>
							</div>
						</div>
					</div>
					<div class="col-md-12 notes-area" style="display:none;">
						<textarea class="form-control" data-uk-markdownarea="" data-gramm="true" data-txt_gramm_id="17d9dd80-c399-1af4-2de2-dfd1d22c504c" style="background: transparent none repeat scroll 0% 0% !important; z-index: auto; position: relative; line-height: 17.15px; font-size: 12px; transition: none 0s ease 0s ; height:100px;">Type Something...
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeLineItemModal()">Close</button>
					<button type="button" id="addNotes" class="btn btn-submit">Add New Notes</button>
				</div>
			</div>
		</div>
	</div>