<nav year="{{ year }}" workgroup-id="{{ workgroupId }}"></nav>
<div></div>
<ipa-header page-title="Support Staff Assignments"></ipa-header>

<div class="budget-view">
	<spinner ng-if="!view.state"
		size="20" style="padding-top: 200px;">
	</spinner>

	<div ng-if="view.state">
		<!-- Modals -->
		<ipa-modal
			is-visible="view.state.openAddBudgetScenario"
			header-text="Add New Budget Scenario">
				<add-budget-scenario
					ng-if="view.state.openAddBudgetScenario"
					state="view.state"
					is-visible="view.state.openAddBudgetScenario">
				</add-budget-scenario>
		</ipa-modal>

		<ipa-modal
			is-visible="view.state.ui.isAddLineItemModalOpen"
			header-text="Add New Line Item">
				<add-line-item
					ng-if="view.state.ui.isAddLineItemModalOpen"
					state="view.state"
					is-visible="view.state.ui.isAddLineItemModalOpen">
				</add-line-item>
		</ipa-modal>

		<ipa-modal
			is-visible="view.state.ui.isSupportCostModalOpen"
			header-text="Add Support Costs">
				<add-support-costs
					ng-if="view.state.ui.isSupportCostModalOpen"
					state="view.state"
					budget="view.state.budget"
					is-visible="view.state.ui.isSupportCostModalOpen">
				</add-support-costs>
		</ipa-modal>

		<ipa-modal
			is-visible="view.state.ui.courseCommentsModal.isOpen"
			header-text="Course Comments">
				<add-course-comments
					ng-if="view.state.ui.courseCommentsModal.isOpen"
					section-group-cost="view.state.ui.courseCommentsModal.sectionGroupCost"
					current-user-login-id="currentUser.loginId"
					is-visible="view.state.ui.courseCommentsModal.isOpen">
				</add-course-comments>
		</ipa-modal>

		<ipa-modal
			is-visible="view.state.ui.lineItemCommentsModal.isOpen"
			header-text="Line Item Comments">
				<add-line-item-comments
					ng-if="view.state.ui.lineItemCommentsModal.isOpen"
					line-item="view.state.ui.lineItemCommentsModal.lineItem"
					current-user-login-id="currentUser.loginId"
					is-visible="view.state.ui.lineItemCommentsModal.isOpen">
				</add-line-item-comments>
		</ipa-modal>

		<budget-scenario-toolbar state="view.state"></budget-scenario-toolbar>

		<budget-nav
			class="budget-view__nav-container"
			total-balance="view.state.selectedBudgetScenario.summary.totalBalance"
			selected-section="view.state.ui.sectionNav.activeTab"
			selected-budget-scenario="view.state.selectedBudgetScenario"
			selected-line-items="view.state.ui.selectedLineItems">
		</budget-nav>

		<div class="page-content">
			<budget-summary
				ng-if="view.state.ui.sectionNav.activeTab == 'Summary'"
				summary="view.state.selectedBudgetScenario.summary"
				budget="view.state.budget">
			</budget-summary>
			<course-costs
				ng-if="view.state.ui.sectionNav.activeTab == 'Course Costs'"
				class="budget-view__course-costs-container"
				selected-budget-scenario="view.state.selectedBudgetScenario"
				instructors="view.state.instructors"
				term-nav="view.state.ui.termNav">
			</course-costs>
			<line-items
				ng-if="view.state.ui.sectionNav.activeTab == 'Line Items'"
				selected-budget-scenario="view.state.selectedBudgetScenario"
				ui="view.state.ui">
			</line-items>
			<instructor-costs
				ng-if="view.state.ui.sectionNav.activeTab == 'Instructor Costs'"
				selected-budget-scenario="view.state.selectedBudgetScenario"
				instructors="view.state.instructors"
				term-nav="view.state.ui.termNav">
			</instructor-costs>
		</div>
	</div>
</div>