<div class="delete-course-modal">
  <form role="form" class="form-horizontal">
    <div class="delete-course-warning">
      <div>
        Are you sure you want to <b>delete {{ state.uiState.selectedCourseRowIds.length }} course<span ng-if="state.uiState.selectedCourseRowIds.length > 1">s</span></b>?
      </div>
      <div>
        This will also <b>delete the sections, activities, preferences and assignments</b> that belong to these courses.
      </div>
    </div>

    <div class="delete-course-modal-footer">
      <button ng-click="close()"
              type="button"
              class="btn btn-default modal-button">
        Cancel
      </button>
      <button ng-click="confirmDeleteCourses()"
              type="button"
              class="btn btn-danger modal-button">
        Delete {{ state.uiState.selectedCourseRowIds.length }} course<span ng-if="state.uiState.selectedCourseRowIds.length > 1">s</span>
      </button>
    </div>
  </form>
</div>
