.ipa-currency-input {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	max-width: 300px;
	margin: 60px auto;
}

.ipa-currency-input .currency {
	font-size: 30px;
	padding: 0 10px 0 20px;
	color: #999;
	border: 2px solid #ccc;
	border-right: 0;
	line-height: 2.5;
	border-radius: 7px 0 0 7px;
	background: white;
}

.ipa-currency-input input {
	max-width: 300px;
	flex: 1 1 300px;
	font-size: 30px;
	padding: 0;
	border: 2px solid #ccc;
	border-left: 0;
	width: 100%;
	color: #666;
	border-radius: 0 7px 7px 0;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}

.ipa-currency-input input:focus {
	outline: 0;
}