.ipa-currency-input {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

.ipa-currency-input .currency {
	color: #999;
	border: 2px solid #ccc;
	border-right: 0;
	border-radius: 7px 0 0 7px;
	background: white;
}

.ipa-currency-input input {
	flex: 1 1 0px;
	padding: 0;
	border: 2px solid #ccc;
	border-left: 0;
	width: 100%;
	color: #666;
	border-radius: 0 7px 7px 0;
}

.ipa-currency-input input:focus {
	outline: 0;
}