body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.42857143;
	color: #949494;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: #373e4a;
}

.support-staff-selector {
	background: #fff;
	border: 1px solid #ebebeb;	
}

.support-staff-selector:hover {
	background-color: #f0f0f0;
}

.border-bottom--gray {
		border-bottom: 2px solid rgb(235, 235, 235);
		padding-bottom: 25px;
}

.assignment {
		text-align: left;
		width: 40%;
		height: 30px;
		padding: 6px;
		margin-bottom: 17px;
}

.info--bg_black {
		background-color: #373e4a;
		font-size: 12px;
		margin-bottom: 15px;
		margin-top: 30px;
}

.course-info {
		list-style: outside none none;
		padding-left: 0px;
}

.course-info li {
		padding-bottom: 10px;
}

.course-info--color_green {
		color: green;
}

.course-info--color_red {
		color: red;
}

.people-selector {
		width: 65%;
		margin-bottom: 17px;
		align-self: center;
}

.add-new-slot {
		width: 65%;
		margin-bottom: 20px;
		position: relative;
		height: 30px;
		padding: 6px;
		border: 1px solid #ebebeb;
		align-self: center;
}

.preference-title {
		padding: 5px 10px;
		font-size: 11px;
		line-height: 1.5;
		border-radius: 2px;
		border: 1px solid #ebebeb;
		color: #303641;
		cursor: default;
}

.ta-info {
		font-size: 8pt;
		line-height: 20px;
		width: 300px;
		padding-left: 0px;
		list-style: outside none none;
}

.ta-info li {
		padding-bottom: 10px;
}

.assignment_add-course {
		height: 30px !important;
		padding: 6px !important;
		line-height: 17.15px !important;
}

.assignment:hover .icon-remove_person {
		display: block !important;
}

.assignment--poniter {
		cursor: pointer;
}

.assignment-title {
		margin-bottom: 2px !important;
}

.assignment-section {
		position: relative;
		height: 60px;
}

.assignment-details {
		padding-top: 3px;
		font-size: 10px;
		color: rgba(44, 126, 161, 0.7);
}

.assignment-detail-info {
		margin-bottom: 2px;
		font-size: 8pt;
}

.assignment-info-section {
		margin-left: 45px;
}

.assignment-selector {
		width: 40%;
		margin-bottom: 17px;
}

#courses-view .assignment-remove {
		position: absolute;
		right: 0;
		top: 0;
		color: #000;
}

#people-view .assignment-remove {
		position: absolute;
		right: 0;
		top: 15px;
		color: #000;
}

.assignment {
		width: 65%;
		align-self: center;
		text-align: center;
		position: relative;
		height: 30px;
		padding: 6px;
}

.ta-slot--width {
		width: 450px;
}

.icon-remove_person {
		/* remove person icon */
		display: none;
		color: #ee4749;
		float: right;
		position: absolute;
		right: -20px;
		font-size: 12pt;
		padding-left: 20px;
		padding-top: 7px;
		padding-bottom: 7px;
		cursor: pointer;
}

.icon-remove_course {
		/* remove course icon */
		display: none;
		color: #ee4749;
		float: right;
		position: absolute;
		top: 8px;
		right: -20px;
		font-size: 12pt;
		padding-left: 20px;
		padding-top: 7px;
		padding-bottom: 7px;
		cursor: pointer;
}

.support-staff-header {
		text-align: center;
		padding-bottom: 5px;
}

.course-requriement {
		color: #2c7ea1;
		right: 80%;
		top: -1px;
		position: absolute;
}

.course-requriement:hover,
.course-requriement:focus {
		color: #1b4e64;
}


/* flex components */

.search-flex {
		margin-bottom: 50px;
		display: flex;
		justify-content: center;
}

.search-flex-children {
		flex: 0 1 35%;
}

.flex-row {
		display: flex;
		flex-direction: row;
}

.assignment-title-container {
		flex: 3 1 0px;
}

.assignment-term-container {
	flex: 1 1 0px;
}

.assignment-title-header {
		margin-top: 20px;
}

.flex-selector-course_view {
		margin-top: 10px;
		display: flex;
		flex: 1 1 20%;
		flex-direction: column;
}

.flex-selector-people_view {
		display: flex;
		flex: 1 1 40%;
		flex-direction: column;
}

.flex-selector_style {
		margin-top: 75px;
}

.flex-slector-children {
		flex: 0 1 auto;
		display: flex;
		flex-flow: row wrap;
}

.view-switcher {
		flex: 1 1 auto;
}

.review-switcher {
		display: flex;
		justify-content: end;
		flex: 1 1 auto;
}

.ta_course-section {
		flex-direction: column;
		display: flex;
}

.ta_course-section-swticher {
		display: flex;
		margin-top: 15px;
		margin-bottom: 40px;
		align-self: center;
}


/*bootstrap overwrite*/

.row {
		margin-left: 0px;
		margin-right: 0px;
}

.btn-default p {
		text-align: center;
}

td {
		border: 1px solid white !important;
		border-bottom: 2px solid rgb(235, 235, 235) !important;
}

.table-bordered--white {
		border: solid white !important;
}

.popover-content {
		color: gray;
}

.panel-options-drop_down {
		width: 60px;
		text-align: center;
		background: none !important;
		padding: 5px;
}

.panel-heading .panel-options {
		padding: 5px 0px 5px 0px;
}

.panel-primary>.panel-heading>.panel-options>a {
		padding: 0px;
		margin: 0px;
}


/* bootstrap overwrite ends */


/* some neon overwrite */

.form-groups-bordered>.form-group {
		border-bottom: none;
}

.selectboxit .selectboxit-option-icon-container {
		margin-left: 25% !important;
}

.page-body .select2-container {
		width: 40%;
		float: left;
}

/* from modal.css */
.flex-box {
    display: flex;
}

.table_header--gray {
    color: gray;
}
.table_header--margin {
    margin-bottom: 25px;
}

.check-box-TA-call {
    font-size: 8pt;
}

.ta-application-flex_box {
    flex: 0 1 45%;
}

.btn-group--position{
    flex:0 1 100%;
    margin-bottom: 10px;
}

.teaching-call--header_style {
    background: #303641;
}

.teaching-call--textarea_height {
	height: 174px !important;
}

.teaching-call--header_style h4 {
    color: white;
}

.teaching-call--header_style button { /*assign style to "x" button */
    color: white;
    opacity: 1;
}

.teaching-call--width {
    width: 750px;
}

.teaching-call--info_flex {
    flex:0 1 45%;
}

.modal-footer--teaching-call {
    background-color: rgb(248, 248, 248);
}

.checkbox-inline input{
    top: -3px !important;
}

.email-style {
    margin-bottom:30px;
    text-align: left;
}

.ta_ta-application {
    position: relative;
    height: 30px;
    padding: 6px;
    float: left;
    margin-right:20px;
    width: 100%;
}

.ta_ta-application--add-course {
    width: 100%;
    margin-bottom: 17px;
    margin-right: 10%;
}

.ta-application--header_style {
    display: block;
    background-color: black;
}

.ta-application--info_flex {
    flex: 0 1 45%;
}

.ta-application--requirement_style {
    font-size: 9pt;
    line-height: 15px;
    padding: 10px 0px 10px 0px;
}

/* empty flex-box */
.empty_flex_box-teaching-call {
    flex:0 1 5%;
}

.empty_flex_box-ta-application {
    flex:0 1 15%;
}

.empty_flex_box-ta-application--text-box {
    flex:0 1 10%;
}

.form-control {
  display: block;
  width: 100%;
  height: 31px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control--appointment-time{
    width: 50px;
    text-indent: 3px;
}

.form-control--add-course {
    width: 150px;
    text-indent: 10px;
}

/* modal overwrite */
.modal .modal-header .close {
    background: none;
    display: inline-block;
    padding: 0px 5px;
    line-height: 1;
    color: white;
    zoom: 1;
    opacity: 1 !important;
}

.ta_ta-application--add-course .selectboxit-text {
margin-left: 6px;
}

/*bootstrap overwrite*/
.row {
	margin-left: 0px;
	margin-right: 0px;
}

.teaching-call--info_flex h5 {
	margin-top: 0px;
}

.modal--header {
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.modal--header-skin {
	color: white;
	font-size:18px;
	background-color: rgb(48, 54, 65);
}

.modal--header-item {
	flex: 0 1 auto;
}

.modal--header-cancel-skin {
	font-size: 15px;
}

.modal--body-skin {
	color: #949494;
	font-size: 14px;
	font-weight: bold;
}

.modal--body {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	height: 200px;
}

.modal--body-row {
	flex: 1 1 auto;
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.modal--body-row-label {
	flex: 1 1 0px;
	padding: 10px;
	justify-content: flex-end;
	align-items: center;
	display: flex;
}

.modal--body-row-field {
	flex: 1 1 0px;
	padding: 10px;
	align-items: center;
	display: flex;
}

.modal--body-row-field-input {
	width: 15%;
}

.modal--body-row-field-input-skin {
	font-weight: normal;
	border: 1px solid #ebebeb;
	border-radius: 3px;
	padding: 5px;
}

.modal--footer {
	padding: 15px;
	display: flex;
	justify-content: flex-end;
}

.modal--footer-skin {
	background-color: rgb(248, 248, 248);
	border-top-color: rgb(229, 229, 229);
}