<div class="add-line-item-comments">
	<div class="input-container">
		<div class="comment-text-container">
			<textarea
				class="comment-textarea"
				ng-model="newComment"
				placeholder="Add a comment">
			</textarea>
		</div>
		<div class="input-footer">
			<button ng-if="isFormValid() == true"
							type="button" class="btn neon-dark-confirm-btn" ng-click="submit()">Comment</button>
			<button ng-if="isFormValid() == false"
							tooltip-placement="left" type="button"
							class="disabled btn btn-info neon-dark-confirm-btn">Comment</button>
		</div>
	</div> <!-- input container -->

	<div ng-repeat="comment in lineItem.comments" class="comment-container">
		<div class="comment-header">
			{{ comment.authorName }}&nbsp;
			<span class="comment-date" uib-tooltip="{{ dateToCalendar(comment.lastModifiedOn) }}">
				({{ dateToRelative(comment.lastModifiedOn) }})
			</span>
		</div>
		<div class="comment-body">
			{{ comment.comment }}
		</div>
	</div>
</div>
