.add-line-item-comments {
	padding: 4%;
	max-height: 500px;
	overflow-y: scroll;
}

.add-line-item-comments .comment-container {
	border: 1px solid #c1c1c1;
	border-radius: 4px;
	margin-bottom: 2%;
}

.add-line-item-comments .comment-header {
	display: flex;
	justify-content: flex-end;
	border-bottom: 1px solid #c1c1c1;
	padding: 1%;
}

.add-line-item-comments .comment-body {
	padding: 1%;
}

.add-line-item-comments .comment-textarea {
	width: 100%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
}

.add-line-item-comments .input-container {
	border: 1px solid #c1c1c1;
	border-radius: 4px;
	margin-bottom: 2%;
}

.add-line-item-comments .input-footer {
	display: flex;
	justify-content: flex-end;
	background-color: #f7f7f7;
	padding: 1%;
}

.add-line-item-comments .comment-text-container {
	padding: 2%;
}

.add-line-item-comments .comment-date {
	color: #b7b7b7;
}