.student-preference-table__empty-warn {
	text-align: center;
	height: 100%;
	background-color: white;
}

.ipa-table__body-cell--small {
	flex-grow: 1;
}

.ipa-table__body-cell--medium {
	flex-grow: 2;
}

.ipa-table__body-cell--large {
	flex-grow: 3
}