.student-preference-table__empty-warn {
	text-align: center;
	height: 100%;
	background-color: white;
	height: 30px;
}

.student-preference-table__selector-container {
	width: 50%;
}

.ipa-table__body-cell--small {
	flex-grow: 1;
}

.ipa-table__body-cell--medium {
	flex-grow: 2;
}

.ipa-table__body-cell--large {
	flex-grow: 3
}

.ipa-table__body-cell--centered {
	justify-content: center;
}

.ipa-table__body-row--borderless {
	border: none;
}

.student-preference-table__priority-ui {
	flex: 2 1 0px;
	display: flex;
	flex-flow:column;
	align-items: center;
	justify-content: space-around;
	height: 75%;
}

.student-preference-table__priority-label {
	flex: 2 1 0px;
}