<div class="instructor-type-dropdown btn-group">
	<button class="btn btn-default dropdown-toggle instructor-type-dropdown__toggle-ui"
					type="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="true">
		<span>
			{{ instructorCost.instructorType.description || 'Select a type' }}
			<span class="caret"></span>
		</span>
	</button>

	<ul class="dropdown-menu dropdown-container">
		<li ng-repeat="instructorType in instructorTypes" class="instructor-type-dropdown__row">
			<a ng-click="assignInstructorTypeAndCost(instructorType)" class="instructor-type-dropdown__row-content">
				<span>
					{{ instructorType.description }}
				</span>
			</a>
		</li>
	</ul>
</div>