<div class="course-costs-section">
	<!-- line items section UI -->
	<div class="expand-ui-container" ng-click="toggleCourseCostsSection()">
		<div class="expand-ui">
			<div>Course Costs</div>
			<i ng-show="selectedBudgetScenario.isCourseCostOpen == false" class="glyphicon glyphicon-triangle-left expand-ui-triangle"></i>
			<i ng-show="selectedBudgetScenario.isCourseCostOpen" class="glyphicon glyphicon-triangle-bottom expand-ui-triangle"></i>
		</div>
	</div>

	<div ng-show="selectedBudgetScenario.isCourseCostOpen">
		<term-selector
			selected-term="selectedBudgetScenario.selectedTerm"
			terms="selectedBudgetScenario.terms"
			term-descriptions="selectedBudgetScenario.termDescriptions">
		</term-selector>

		<!-- Course Costs Header -->
		<div style="display: flex; width: 100%;">

			<!-- Support Staff Header -->
			<div style="display: flex; flex: 5 0 0px;">
				<div style="flex: 1 0 0px; display: flex; align-items: center; justify-content: center;">
					Off.
				</div>

				<div style="flex: 1 0 0px; display: flex; align-items: center; justify-content: center;">
					Enroll/Seats
				</div>

				<div style="flex: 1 0 0px; display: flex; align-items: center; justify-content: center;">
					Sections
				</div>

				<div style="flex: 1 0 0px; display: flex; align-items: center; justify-content: center;">
					TAs
				</div>

				<div style="flex: 1 0 0px; display: flex; align-items: center; justify-content: center;">
					TA Cost
				</div>

				<div style="flex: 1 0 0px; display: flex; align-items: center; justify-content: center;">
					Readers
				</div>

				<div style="flex: 1 0 0px; display: flex; align-items: center; justify-content: center;">
					Reader Cost
				</div>

				<div style="flex: 1 0 0px; display: flex; align-items: center; justify-content: center;">
					Support Cost
				</div>
			</div>

			<!-- Instructors Header -->
			<div style="display: flex; flex: 5 0 0px;">
				<div style="flex: 1 0 0px; display: flex; align-items: center; justify-content: center;">
					Instructor
				</div>
				<div style="flex: 1 0 0px; display: flex; align-items: center; justify-content: center;">
					Reg. Instructor
				</div>
				<div style="flex: 1 0 0px; display: flex; align-items: center; justify-content: center;">
					Reason
				</div>
				<div style="flex: 1 0 0px; display: flex; align-items: center; justify-content: center;">
					Instructor Cost
				</div>
			</div>

			<!-- Summary Column -->
			<div style="flex: 1 0 0px; display: flex; align-items: center; justify-content: center;">
				Total Cost
			</div>
		</div>

		<div ng-repeat="course in selectedBudgetScenario.courses">
			<div>
				{{ course.subjectCode }} {{ course.courseNumber }} {{ course.title }}
			</div>
			<div style="display: flex;" ng-repeat="sectionGroupCost in course.sectionGroupCosts">

				<div style="flex: 5 0 0px; padding: 10px;">
					<support-cost-row section-group-cost="sectionGroupCost"></support-cost-row>
				</div>

				<div style="flex: 5 0 0px; padding: 10px;">
					<instructor-cost-row section-group-cost="sectionGroupCost"></instructor-cost-row>
				</div>

				<div style="flex: 1 0 0px;">
					[[COST]]
				</div>

			</div>
		</div>

	</div>
</div>