<div class="course-costs">
	<ipa-tabs
		tab-names="termNav.allTabs"
		active-tab="termNav.activeTab"
		select-tab="setActiveTerm"
		slim="true">

		<!-- Header -->
		<div class="course-costs-header">
			<div class="support-cost-header">
				<div class="cell">
					Off.
				</div>

				<div class="cell">
					Enrollment
				</div>

				<div class="cell">
					Sections
				</div>

				<div class="cell">
					TAs
				</div>

				<div class="cell">
					TA Cost
				</div>

				<div class="cell">
					Readers
				</div>

				<div class="cell">
					<div class="cell-content">
						Reader Cost
					</div>
				</div>

				<div class="cell">
					<div class="cell-content">
						Support Cost
					</div>
				</div>
				
				<div class="cell">
					<div class="cell-content">
						Comment
					</div>
				</div>
			</div>

			<div class="cell">
				Total Cost
			</div>
		</div>

		<!-- Courses -->
		<div ng-repeat="course in selectedBudgetScenario.courses track by course.uniqueKey">
			<div class="course-title">
				<div>
					{{ course.subjectCode }} {{ course.courseNumber }} {{ course.title }}
				</div>
			</div>
			<div class="section-group-row" ng-repeat="sectionGroupCost in course.sectionGroupCosts">
				<div class="course-costs__cost">
					<course-cost-row
						section-group-cost="sectionGroupCost"
						course="course">
					</course-cost-row>
				</div>

				<div class="cell">
					{{ sectionGroupCost.totalCostDisplay }}
				</div>
			</div>
		</div>
	</ipa-tabs>
</div>