<div class="course-costs">
	<ipa-tabs
		tab-names="termNav.allTabs"
		active-tab="termNav.activeTab"
		select-tab="setActiveTerm"
		slim="true">

		<table class="course-costs__table">
			<thead>
				<tr>
					<th class="course-costs__table-header"></th> <!-- Spacing for sequence number -->
					<th class="course-costs__table-header">Enrollment</th>
					<th class="course-costs__table-header">Sections</th>
					<th class="course-costs__table-header">TAs</th>
					<th class="course-costs__table-header">TA Cost</th>
					<th class="course-costs__table-header">Readers</th>
					<th class="course-costs__table-header">Reader Cost</th>
					<th class="course-costs__table-header">Support Cost</th>
					<th class="course-costs__table-header">Comment</th>
					<th class="course-costs__table-header">Total Cost</th>
				</tr>
			</thead>
			<tbody class="course-costs__course-container" ng-repeat="course in calculatedSectionGroups.byTerm[termNav.activeTerm] track by course.uniqueKey">
				<tr>
					<td colspan="10" class="course-costs__course-title">
						{{ course.subjectCode }} {{ course.courseNumber }} {{ course.title }}
					</td>
				</tr>
				<tr ng-repeat="sectionGroup in course.sectionGroups">
					<td class="course-costs__table-cell-sequence">
						<div class="course-costs__sequence-container">
							{{ sectionGroup.sequencePattern }}
						</div>
					</td>
					<!-- Enrollment -->
					<td class="course-costs__table-cell">
						<div class="course-costs__edit-container">
							<div class="course-costs__number-input">
								<ipa-input
									mode="'number'"
									value="sectionGroup.overrideTotalSeats"
									on-update="overrideSectionGroup(sectionGroup, 'seats')">
								</ipa-input>
							</div>
							<div class="glyphicon glyphicon-repeat course-costs__revert-ui"
								uib-tooltip="Revert to schedule reader count of {{sectionGroup.totalSeats}}"
								confirm-button="revertOverride(sectionGroup, 'seats')"
								message="Revert to schedule reader count of {{sectionGroup.totalSeats}}?"
								yes="Update"
								no="Cancel"
								ng-show="sectionGroup.sectionGroupCost.enrollment && sectionGroup.totalSeats != sectionGroup.sectionGroupCost.enrollment">
							</div>
						</div>
					</td>
					<!-- Section Count -->
					<td class="course-costs__table-cell">
						<div class="course-costs__edit-container">
							<div class="course-costs__number-input">
								<ipa-input
									mode="'number'"
									value="sectionGroup.overrideSectionCount"
									on-update="overrideSectionGroup(sectionGroup, 'sectionCount')">
								</ipa-input>
							</div>
							<div class="glyphicon glyphicon-repeat course-costs__revert-ui"
								uib-tooltip="Revert to schedule reader count of {{sectionGroup.sectionCount}}"
								confirm-button="revertOverride(sectionGroup, 'sectionCount')"
								message="Revert to schedule reader count of {{sectionGroup.sectionCount}}?"
								yes="Update"
								no="Cancel"
								ng-show="sectionGroup.sectionGroupCost.sectionCount && sectionGroup.sectionCount != sectionGroup.sectionGroupCost.sectionCount">
							</div>
						</div>
					</td>
					<!-- TA Count -->
					<td class="course-costs__table-cell">
						<div class="course-costs__edit-container">
							<div class="course-costs__number-input">
								<ipa-input
									mode="'number'"
									value="sectionGroup.overrideTeachingAssistantAppointments"
									on-update="overrideSectionGroup(sectionGroup, 'teachingAssistantAppointments')">
								</ipa-input>
							</div>
							<div class="glyphicon glyphicon-repeat course-costs__revert-ui"
								uib-tooltip="Revert to schedule reader count of {{sectionGroup.teachingAssistantAppointments}}"
								confirm-button="revertOverride(sectionGroup, 'teachingAssistantAppointments')"
								message="Revert to schedule reader count of {{sectionGroup.teachingAssistantAppointments}}?"
								yes="Update"
								no="Cancel"
								ng-show="sectionGroup.sectionGroupCost.taCount && sectionGroup.teachingAssistantAppointments != sectionGroup.sectionGroupCost.taCount">
							</div>
						</div>
					</td>
					<!-- TA Cost -->
					<td class="course-costs__table-cell">
						{{ toCurrency(sectionGroup.taCost) }}
					</td>
					<!-- Reader Count -->
					<td class="course-costs__table-cell">
						<div class="course-costs__edit-container">
							<div class="course-costs__number-input">
								<ipa-input
									mode="'number'"
									value="sectionGroup.overrideReaderAppointments"
									on-update="overrideSectionGroup(sectionGroup, 'readerAppointments')">
								</ipa-input>
							</div>
							<div class="glyphicon glyphicon-repeat course-costs__revert-ui"
								uib-tooltip="Revert to schedule reader count of {{sectionGroup.readerAppointments}}"
								confirm-button="revertOverride(sectionGroup, 'readerAppointments')"
								message="Revert to schedule reader count of {{sectionGroup.readerAppointments}}?"
								yes="Update"
								no="Cancel"
								ng-show="sectionGroup.sectionGroupCost.readerCount && sectionGroup.readerAppointments != sectionGroup.sectionGroupCost.readerCount">
							</div>
						</div>
					</td>
					<!-- Reader Cost -->
					<td class="course-costs__table-cell">
						{{ toCurrency(sectionGroup.readerCost) }}
					</td>
					<!-- Sub Total -->
					<td class="course-costs__table-cell">
						{{ toCurrency(sectionGroup.courseCostSubTotal) }}
					</td>
					<!-- Comments -->
					<td class="course-costs__table-cell">
						<!--
						<ipa-button
							button-text="'See Comments'"
							text="'Comments'"
							color="'light'"
							icon-class="'entypo entypo-chat'"
							on-click="openCourseComments(course)">
						</ipa-button>
						-->
					</td>
					<!-- Total -->
					<td class="course-costs__table-cell-total">
						<div class="course-costs__total-container">
							{{ toCurrency(sectionGroup.totalCost) }}
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</ipa-tabs>
</div>