.course-costs .expand-ui {
	display: flex;
	justify-content: space-between;
	width: 100%;
	line-height: 1.1;
	font-size: 14px;
	font-weight: bold;
}

.course-costs .expand-ui-container {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
}

.course-costs .expand-ui-triangle {
	font-size: 10px;
}

.course-costs .course-costs-header {
	display: flex;
	width: 100%;
}

.course-costs .support-cost-header,
.course-costs .instructors-header
 {
	display: flex;
	flex: 5 0 0px;
	padding: 15px;
}

.course-costs .cell {
	flex: 1 0 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.course-costs .cell-content {
	flex: 0 1 0px;
}

.course-costs .course-title {
	padding: 15px;
	display: flex;
}

.course-costs .section-group-row {
	display: flex;
}

.course-costs__cost {
	flex: 5 0 0px;
	padding: 5px;
	margin: 15px;
}

.course-costs .comment-ui {
	padding-left: 1%;
	cursor: pointer;
}