<div class="activity-details" ng-class="{ 'collapsed': !view.state.uiState.selectedActivityId }">
  <div ng-show="view.state.uiState.selectedActivityId">
    <p class="activity-details-header">
      {{ view.state.activities.list[view.state.uiState.selectedActivityId].getCodeDescription() }}
      <a ng-click="closeActivityDetails()" class="close"><i class="entypo-cancel"></i></a>
    </p>
    <form class="form-horizontal">
      <location-editor ng-if="view.state.uiState.selectedActivityId"
                       locations="view.state.locations"
                       activity="view.state.activities.list[view.state.uiState.selectedActivityId]">
      </location-editor>
      <time-editor></time-editor>
    </form>
  </div>
</div>