.instructor-support-call-form {
	padding: 20px;
  padding-top: 10px;
}

.instructor-support-call-form__section-group-list {
  	flex: 1 0 0px;
    border-right: 1px solid #ebebeb;
}

.instructor-support-call-form__preference-window {
	display: flex;
	justify-content: space-between;
}

.instructor-support-call-form__support-staff-section {
	flex: 2 0 0px;
  overflow-y: scroll;
}

.instructor-support-call-form__support-staff-list {
	list-style: none;
	padding-left: 0px;
}

.instructor-support-call-form__support-staff-item {
	border: 1px solid rgb(48, 54, 65);
	border-radius: 3px;
	padding: 3px;
}

.instructor-support-call-form__support-staff-viewer {
	flex: 3 0 0px;
	margin-left: 16px;
}

.instructor-support-call-form__left-sidebar {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  flex: 3 0 0px;
  display: flex;
  height: 70vh;
}
