.instructor-support-call-form {
	padding-left: 6%;
	padding-right:6%;
}

.instructor-support-call-form__preference-hint {
	color: #949494;
}

.instructor-support-call-form .row {
	margin-left: 0;
	margin-right: 0;
}

.instructor-support-call-form .section-group-header {
	border-right: 1px solid;
	border-color: rgb(235, 235, 235);
	color: rgb(51, 51, 51);
	background-color: rgb(245, 245, 246);
	font-size: 14px;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgb(235, 235, 235);
	border-left: 1px solid rgb(235, 235, 235);
}

.instructor-support-call-form .preferences-container {
	border-top: 1px solid rgb(235, 235, 235);
	border-left: 1px solid rgb(235, 235, 235);
	border-bottom: 1px solid rgb(235, 235, 235);
	padding-bottom: 10px;
	height: 100%;
	list-style: none;
}

.instructor-support-call-form .section-group-container:last-child {
	border-right: 1px solid rgb(235, 235, 235);
}


.instructor-support-call-form .preference-box {
	border-radius: 4px;
	border: 1px solid #adadad;
	background-color: white;
	display: flex;
	justify-content: space-between;
	width: 200px;
	align-items: center;
	padding: 10px;
}

.instructor-support-call-form .instructor-preference {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
	color: black;
	cursor: pointer;
}

.instructor-support-call-form .ui-sortable-handle {
	cursor: move;
}
