<nav year="{{ year }}" workgroup-id="{{ workgroupId }}"></nav>
<div></div>

<ipa-header page-title="Support Call"></ipa-header>

<div ng-hide="view.state" style="margin-top:300px;">
  <spinner></spinner>
</div>

<!-- handle lack of access -->
<div ng-if="view.state && isInstructor == false">
  <div class="jumbotron" style="text-align: center; height: 100%; background-color: white;">
    <p class="lead">You have not been invited to a support call in this term.</p>
    <br />
    <p class="lead">If you feel this is in error please contact the Academic Planner for {{ sharedState.workgroup.name }}.</p>
  </div>
</div>

<!-- handle lack of data -->
<div ng-if="view.state && isInstructor && view.state.sectionGroups.ids.length == 0">
  <div class="jumbotron" style="text-align: center; height: 100%; background-color: white;">
    <p class="lead">You have not been assigned any courses in this term.</p>
    <br />
    <p class="lead">If you feel this is in error please contact the Academic Planner for {{ sharedState.workgroup.name }}.</p>
  </div>
</div>

<!-- Main page container -->
<div ng-if="view.state && isInstructor && view.state.sectionGroups.ids.length > 0" class="instructor-support-call-form">
  <div class="instructor-support-call-form__preference-window">
    <ipa-tabs tab-names="view.state.misc.allTabs"
              active-tab="view.state.misc.activeTab"
              select-tab="selectCourse"
              slim="true">
      <instructor-preferences section-group="activeSectionGroup"></instructor-preferences>
      <student-form-detail student-support-call-responses="view.state.studentSupportCallResponses"></student-form-detail>
    </ipa-tabs>
  </div>
  <div class="instructor-support-call-form__support-staff-viewer">
    <student-viewer></student-viewer>
  </div>

  <!-- Comments and submission area -->
  <div class="input-box-container">
    <div class="instructor-comment-container">
      <div class="instructor-comment__area">
        <h5>Comments:</h5>
        <textarea class="instructor-comment__text"
                  ng-model="view.state.supportCallResponse.generalComments"
                  auto-input on-blur="updateSupportCallResponse()"></textarea>
      </div>
    </div>
    <div style="display: flex; justify-content: flex-end; margin-bottom: 20px;">
      <button ng-if="!view.state.supportCallResponse.submitted" type="button" class="btn btn-primary pull-right"
              confirm-button="submitPreferences()"
              btn-class="btn-primary"
              message="Are you sure you want to submit your preferences?"
              yes="Confirm" no="Cancel" placement="top">
        Submit Preferences
      </button>
      <button ng-click="pretendToastMessage()"
              ng-if="view.state.supportCallResponse.submitted"
              type="button" class="btn btn-primary pull-right">
          Update Preferences
      </button>
    </div>
  </div><!-- End comments and submission -->
</div>
