ul.section-diff-list {
	list-style: none;
	margin-top: 3em;
	padding: 0;
}

li.section-diff-row, li.section-activity-diff-row {
	margin-top: 1.5em;
	color: #777;
}

li.section-diff-row {
	padding: 1em;
	margin: 1em 0;
	border: 1px solid #aaa;
	border-radius: 5px;
}

li.section-diff-row.no-changes,
li.section-activity-diff-row.no-changes {
	color: #aaa;
}

.section-diff-element, .activity-diff-element {
	position: relative;
	display: inline-block;
	margin: 0 0.2em;
}

.section-diff-element.has-changes,
.activity-diff-element.has-changes {
	cursor: pointer;
	border: 1px dashed #aaa;
	color: #000;
}

.section-diff-element.has-changes:hover,
.activity-diff-element.has-changes:hover {
	background-color: #eee;
	border-bottom-color: transparent;
}

span.ipa-version, span.no-remote, span.no-local {
	padding: 0 0.2em;
}

.no-remote, li.no-remote {
	color: darkred;
}

.no-local {
	color: darkorange;
}

.change-action {
	position:  absolute;
	color: #750f0f;
	font-weight: bold;
	white-space: nowrap;
	display: none;
	padding: 0 0.2em;
	left: 50%;
	transform: translateX(-50%);
	min-width: 100%;
	text-align: center;
	background-color: #eee;
	border: 1px dashed #aaa;
	z-index: 1;
}

.section-diff-element:hover .change-action,
.activity-diff-element:hover .change-action {
	display: inline-block;
}
