.report-page-title {
  text-align: center;
}

table.section-diff-table {
	margin-top: 3em;
	border-collapse: separate;
}

table.section-diff-table > thead > tr > th {
	font-weight: 500;
}

table.section-diff-table > tbody > tr.section-diff-row > td {
	color: #777;
	border-top: none;
	line-height: 1.2em;
}

table.section-diff-table > tbody > tr.section-diff-row.head-section > td {
	border-top: 1px solid #ddd;
}

tr.section-diff-row.no-changes *,
tr.section-activity-diff-row.no-changes * {
	color: #aaa;
}

.section-diff-element {
	display: inline-block;
	margin-right: 0.5em;
	padding: 0.4em 0 0;
}

.section-unique-key {
	margin-bottom: 1em;
}

.section-activity-diff-row {
	display: flex;
	margin-left: 8px;
}

.section-activity-diff-row:not(:last-child) {
	margin-bottom: 1em;
}

.activity-diff-element {
	flex: 1 1 20%;
	padding: 0.4em 0 0;
}

.activity-diff-element:not(:first-child) {
	margin-left: 8px;
}

.has-changes, tr.has-changes > td {
	position: relative;
	cursor: pointer;
	border-bottom: 1px dashed #aaa;
	color: darkmagenta;
}

.has-changes:hover {
	background-color: #eee;
}

.no-remote,
tr.no-remote td,
table.section-diff-table > tbody > tr.section-diff-row.no-remote > td,
table.section-diff-table > tbody > tr.activity-diff-row.no-remote > td
 {
	color: seagreen;
}

.no-local {
	color: darkred;
}

.change-action {
	position:  absolute;
	color: #333;
	font-weight: bold;
	white-space: nowrap;
	display: none;
	padding: 1em;
	left: 50%;
	top: 100%;
	transform: translateX(-50%);
	min-width: 100%;
	text-align: center;
	background-color: #eee;
	border: 1px dashed #aaa;
	z-index: 1;
}

.has-changes:hover .change-action {
	display: inline-block;
}

button.btn-dw {
	border-color: darkred;
	color: darkred;
	background-color: #fff;
}

button.btn-ipa {
	border-color: seagreen;
	color: seagreen;
	background-color: #fff;
}

/* To-do section */
.sis-todo-container {
	position: fixed;
	bottom: 0;
	right: 1em;
	width: 35%;
	z-index: 999;

	-moz-transition: width .5s;
	-ms-transition: width .5s;
	-o-transition: width .5s;
	-webkit-transition: width .5s;
	transition: width .5s;
}

.sis-todo-container.sis-todo-minimized {
	width: 15em;
}

.sis-todo-container .sis-todo-header {
	background-color: #303641;
	color: #fff;
	padding: 6px 12px;
	font-weight: bold;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	overflow: hidden;
	white-space: nowrap;
}

.sis-todo-container.sis-todo-minimized .sis-todo-header {
	background: rgba(48, 54, 65, 0.5);
}

.sis-todo-container .sis-todo-content {
	background-color: #fff;
	border-left: 1px solid #303641;
	border-right: 1px solid #303641;
	color: #333;
	padding: 6px 12px;
	height: 200px;
	overflow-y: auto;

	-moz-transition: height .5s;
	-ms-transition: height .5s;
	-o-transition: height .5s;
	-webkit-transition: height .5s;
	transition: height .5s;
}

.sis-todo-container.sis-todo-minimized .sis-todo-content {
	height: 0;
	padding: 0;
}

ul.sis-todo-list li.sis-todo-item {
	padding: 3px 6px;
}