.ipa-tabs-vertical {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.ipa-tabs-vertical__content {
	border-radius: 3px 0px 0 0;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	flex: 1 1 auto;
}

.ipa-tabs-vertical__header {
	border-left: 1px solid #ddd;
	margin-left: -1px;
}

.ipa-tabs-vertical__tab {
	width: 100px;
	max-width: 100px;
	padding: 5px 5px;
	border: 1px solid #ccc;
	border-radius: 0px 3px 3px 0px;
	border-left: 1px solid transparent;
	flex: 0 0 auto;
	color: #555;
	margin-bottom: 2px;
	cursor: default;
	background-color: #f9f9f9;
}

.ipa-tabs-vertical__tab:not(.ipa-tabs__tab--active):hover {
	background-color: #d6d6d6;
	cursor: pointer;
}

.ipa-tabs-vertical__tab--active {
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 7px;
	margin-left: -1px;
	border-left: white;
	background-color: #fff;
}