.course-cost-row {
	display: flex;
	height: 100%;
	background-color: #f6f6f6;
}

.course-cost-row { /* Override default user agent styling */
}

.course-cost-row .cell {
	flex: 1 0 0px;
	display: flex;
	justify-content: center;
}

.course-cost-row__warning {
	color: #ce4844;
	visibility: hidden;
}

.course-cost-row__warning--show {
	visibility: visible;
}

.course-cost-row__number-input {
	width: 40px;
}