<div class="course-cost-row">
	<div class="cell">
		{{ sectionGroupCost.sequencePattern }}
	</div>
	<div class="cell">
		<div style="position: relative;">
			<i
				class="entypo-bell section-group-warning"
				ng-class="{'show-warning': sectionGroupCost.warnings.totalSeats }"
				tooltip-append-to-body="true"
				uib-tooltip="{{ sectionGroupCost.warnings.totalSeats }}"
				tooltip-placement="bottom">
			</i>
		</div>
		<div>
			<input
				type="number"
				ng-model="sectionGroupCost.enrollment"
				auto-input
				on-enter="updateSectionGroupCost(sectionGroupCost)"
				on-blur="updateSectionGroupCost(sectionGroupCost)">
		</div>
	</div>
	<div class="cell">
		<div style="position: relative;">
			<i
				class="entypo-bell section-group-warning"
				ng-class="{'show-warning': sectionGroupCost.warnings.sectionCount }"
				tooltip-append-to-body="true"
				uib-tooltip="{{ sectionGroupCost.warnings.sectionCount }}"
				tooltip-placement="bottom">
			</i>
		</div>
		<div>
			<input
				type="number"
				ng-model="sectionGroupCost.sectionCount"
				auto-input
				on-enter="updateSectionGroupCost(sectionGroupCost)"
				on-blur="updateSectionGroupCost(sectionGroupCost)">
		</div>
	</div>
	<div class="cell">
		<div style="position: relative;">
			<i
				class="entypo-bell section-group-warning"
				ng-class="{'show-warning': sectionGroupCost.warnings.taCount }"
				tooltip-append-to-body="true"
				uib-tooltip="{{ sectionGroupCost.warnings.taCount }}"
				tooltip-placement="bottom">
			</i>
		</div>

		<div>
			<input
				type="number"
				ng-model="sectionGroupCost.taCount"
				auto-input
				on-enter="updateSectionGroupCost(sectionGroupCost)"
				on-blur="updateSectionGroupCost(sectionGroupCost)">
		</div>
	</div>
	<div class="cell">
		{{ sectionGroupCost.taCostDisplay }}
	</div>
	<div class="cell">
		<div style="position: relative;">
			<i
				class="entypo-bell section-group-warning"
				ng-class="{'show-warning': sectionGroupCost.warnings.readerCount }"
				tooltip-append-to-body="true"
				uib-tooltip="{{ sectionGroupCost.warnings.readerCount }}"
				tooltip-placement="bottom">
			</i>
		</div>
		<div>
			<input
				type="number"
				ng-model="sectionGroupCost.readerCount"
				auto-input
				on-enter="updateSectionGroupCost(sectionGroupCost)"
				on-blur="updateSectionGroupCost(sectionGroupCost)">
		</div>
	</div>
	<div class="cell">
		{{ sectionGroupCost.readerCostDisplay }}
	</div>
	<div class="cell">
		{{ sectionGroupCost.supportCostSubTotalDisplay }}
	</div>
	<div class="cell">
		<div class="comments-content" uib-tooltip="View Comments">
			<ipa-button
				button-text="'See Comments'"
				color="'light'"
				icon-class="'entypo entypo-chat'"
				on-click="openCourseComments(course)">
			</ipa-button>
		</div>
	</div>
</div>