<div class="student-form-detail">
  <div class="student-form-detail__header">
    Student Details
  </div>

  <h6>{{ currentSupportStaff.fullName }}</h6>

  <div class="student-form-detail__selected-info" ng-if="!currentSupportStaff">
    No student selected
  </div>
  <div class="student-form-detail__selected-info" ng-if="currentSupportStaff && !hasFormData()">
    No preference data submitted
  </div>

  <div ng-if="hasFormData()">
    <div ng-if="currentSupportStaffResponse.generalComments">
      <div>
        General Comments:
      </div>
      <div>
        {{ currentSupportStaffResponse.generalComments }}
      </div>
    </div>

    <div ng-if="currentSupportStaffResponse.languageProficiency">
      <div>
        Language Proficiency:
      </div>
      <div>
        {{ currentSupportStaffResponse.languageProficiency }}
      </div>
    </div>

    <div ng-if="currentSupportStaffResponse.teachingQualifications">
      <div>
        Teaching Qualifications:
      </div>
      <div>
        {{ currentSupportStaffResponse.teachingQualifications }}
      </div>
    </div>

    <div ng-if="currentSupportStaffPreferences.length > 0">
      <h6>Student Preferences</h6>
      <div ng-repeat="preference in currentSupportStaffPreferences">
        <strong>{{ sectionGroups.list[preference.sectionGroupId].subjectCode + " " + sectionGroups.list[preference.sectionGroupId].courseNumber }}</strong>
        <div ng-if="preference.comment">
          {{ preference.comment }}
        </div>
      </div>
    </div>
  </div>
</div>