<div class="student-form-detail">
  <div class="student-form-detail__header">
    Student Details
  </div>

  <h6>{{ currentSupportStaff.fullName }}</h6>

  <div class="student-form-detail__selected-info" ng-if="!currentSupportStaff">
    No student selected
  </div>
  <div class="student-form-detail__selected-info" ng-if="currentSupportStaff && !hasFormData()">
    No preference data submitted
  </div>

  <div ng-if="hasFormData()">
    <div class="student-form-details__category" ng-if="currentSupportStaffResponse.generalComments">
      <div class="student-form-details__label">
        General Comments
      </div>
      <div class="student-form-details__content">
        {{ currentSupportStaffResponse.generalComments }}
      </div>
    </div>

    <div class="student-form-details__category" ng-if="currentSupportStaffResponse.languageProficiency">
      <div class="student-form-details__label">
        Language Proficiency
      </div>
      <div class="student-form-details__content">
        {{ currentSupportStaffResponse.languageProficiency }}
      </div>
    </div>

    <div class="student-form-details__category" ng-if="currentSupportStaffResponse.teachingQualifications">
      <div class="student-form-details__label">
        Teaching Qualifications
      </div>
      <div class="student-form-details__content">
        {{ currentSupportStaffResponse.teachingQualifications }}
      </div>
    </div>

    <div ng-if="currentSupportStaffPreferences.length > 0">
      <h6>Student Preferences</h6>
      <div ng-repeat="preference in currentSupportStaffPreferences | orderBy: 'priority'" class="student-form-details__category">
        <div class="student-form-details__label">
          ({{preference.priority}}) {{ sectionGroups.list[preference.sectionGroupId].subjectCode + " " + sectionGroups.list[preference.sectionGroupId].courseNumber }}
        </div>
        <div class="student-form-details__content" ng-if="preference.comment">
          {{ preference.comment }}
        </div>
      </div>
    </div>
  </div>
</div>