<div>
	<form role="form" class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-6 control-label">Category:</label>
			<div class="col-sm-5">
				<div class="input-group" style="width:100%;">
					<button class="btn btn-scenario-dropdown dropdown-toggle"
									type="button" data-toggle="dropdown"
									style="display: flex; justify-content: center; align-items: center;">
						<span style="padding-right: 5px; text-decoration: none;">
							{{ newLineItem.categoryDescription }}
						</span>
						<span style="margin-left: 10px;" class="caret"></span>
					</button>

					<ul class="dropdown-menu" style="width: 325px;" aria-labelledby="dropdownMenu1">
						<li ng-repeat="category in state.lineItemCategories" style="cursor: pointer;">
							<a ng-click="selectLineItemCategory(category)">
								{{ category.description }}
							</a>
						</li>
					</ul>

				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-6 control-label">Amount:</label>
			<div class="col-sm-5">
				<div class="input-group" style="width: 100%;">
					<input  class="form-control" type="text"
									ng-model="newLineItem.amount"
									placeholder="amount">
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-6 control-label">Description:</label>
			<div class="col-sm-5">
				<div class="input-group" style="width: 100%;">
					<input  class="form-control" type="text"
									ng-model="newLineItem.description"
									placeholder="Description">
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-6 control-label">Notes:</label>
			<div class="col-sm-5">
				<div class="input-group" style="width: 100%;">
					<input  class="form-control" type="text"
									ng-model="newLineItem.notes"
									placeholder="Notes">
				</div>
			</div>
		</div>

		<div class="add-budget-scenario-footer">
			<button ng-click="closeLineItemModal()"
							type="button" style="margin-right: 5px;"
							class="btn btn-default ng-scope">
				Cancel
			</button>
			<button ng-click="submitLineItemForm()"
							type="button" style="margin-right: 10px;"
							class="btn neon-dark-confirm-btn ng-scope">
				Submit
			</button>
		</div>
	</form>
</div>