.no-mobile-support {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #eee;
}

@media only screen and (max-width: 768px) {
	.page-container {
		display: none;
	}

	.no-mobile-support {
		display: block;
	}
}