<div class="time-pattern-selector">

	<div class="minutes-column">
		<div class="column-content">
			<div class="option-row" ng-click="clearTimeAndDay()">&nbsp;</div>
			<div ng-click="selectDuration(50)" ng-class="{ 'selected-row' : selectedDuration == 50, 'option-row' : selectedDuration != 50 }">50 min</div>
			<div ng-click="selectDuration(80)" ng-class="{ 'selected-row' : selectedDuration == 80, 'option-row' : selectedDuration != 80 }">80 min</div>
			<div ng-click="selectDuration(110)" ng-class="{ 'selected-row' : selectedDuration == 110, 'option-row' : selectedDuration != 110 }">110 min</div>
			<div ng-click="selectDuration(170)" ng-class="{ 'selected-row' : selectedDuration == 170, 'option-row' : selectedDuration != 170 }">170 min</div>
		</div>
	</div>

	<div class="days-column">
		<div class="column-content">
			<div class="option-row" ng-click="clearTimeAndDay()">&nbsp;</div>
			<div ng-click="selectDays(dayPattern)" ng-repeat="dayPattern in dayOfferings"
					ng-class="{ 'selected-row' : selectedDayPattern == dayPattern, 'option-row' : selectedDayPattern != dayPattern }">
			{{ getWeekDays(dayPattern) }}
			</div>
		</div>
	</div>

	<div class="hours-column">
		<div class="column-content">
			<div class="option-row" ng-click="clearTimeAndDay()">&nbsp;</div>
			<div ng-click="selectTime(time)" ng-repeat="time in timeOfferings"
					ng-class="{ 'selected-row' : selectedStartTime == time.start && selectedEndTime == time.end, 'option-row' : selectedStartTime != time.start || selectedEndTime != time.end }">
				{{ getMeridianTime(time.start) }}-{{ getMeridianTime(time.end) }}
			</div>
		</div>
	</div>
</div>