table th {
	font-weight: bold;
}

.search-input i {
	position: absolute;
	z-index: 999;
	left: 7px;
	bottom: 7px;
}

.search-input input {
	text-indent: 20px;
}

.search-input ul.dropdown-menu {
	min-width: 160px;
	margin-top: 1px;
	padding: 5px 0;
	background-color: #fff;
	border: 1px solid #ebebeb;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 100%;
}

.search-input ul.dropdown-menu li a {
	display: block;
	padding: 4px 12px;
}

.search-input ul.dropdown-menu li.active a {
	color: #303641;
	background: #f3f3f3;
}

.role-section tr .role-title {
	text-align: center;
}

.role-section tr th {
	border-top: none !important;
}

.role-section tr:hover {
	background: none !important;
}

.role-section tbody tr td {
	color: black;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #ebebeb;
}

.role-section tbody tr th {
	padding-top: 25px;
	border-bottom: 1px solid #ebebeb;
}

.table-hover {
	margin-top: 50px;
}

.table-name-padding {
	padding-right: 50px;
	padding-top: 25px;
}

.table-email-padding {
	padding-right: 50px;
	padding-top: 25px;
}

.role-selector {
	text-align: center;
}

.tags-section {
	margin-top: 20px;
}

.tags-input {
	padding-left: 0px;
}

.tags-input li {
	padding-top: 20px;
	list-style-type: none;
}

.tags-input li input {
	border: 1px solid #D5D5D5;
	display: inline-block !important;
}

.tags-input li .btn-remove-tag {
	margin-left: 20px;
	display: inline-block;
	padding: 8px 12px;
}

.locations-section {
	margin-top: 20px;
}

.locations-input {
	padding-left: 0px;
}

.locations-input li {
	margin-top: 20px;
	list-style-type: none;
}

.locations-input li input {
	border: 1px solid #D5D5D5;
	width: inherit;
	display: inline-block !important;
}

.locations-input li .btn {
	margin-left: 5px;
}

.nav-tabs {
	width: 100%;
}

.tab-content {
	padding: 1em;
}

.user-list-item:hover .hover-ui {
	visibility: visible;
}

.btn-add-person {
	height: 34px;
}

.hover-ui {
	visibility: hidden;
}

.typeahead-status {
	display: block;
}

.panel.minimal > .panel-heading {
	border-bottom: none;
}

.list-box {
	border: 1px solid #D5D5D5;
	width: 250px;
}

.workgroup-container {
	padding: 0px;
	width: 100%;
	margin: 0px;
}

.workgroup-container .main-content {
	display: block;
}

/* Impersonate Modal */
.impersonate-modal .impersonate-tag.selected-user {
	background-color: #F2F2F2;
	border: 1px solid #303641;
}

.impersonate-modal .modal-header {
	padding: 20px;
	color: white;
	font-size: 18px;
	background-color: rgb(48, 54, 65);
}

.impersonate-modal .modal-title {
	display: inline;
}

.impersonate-modal .modal-close {
	display: inline;
	cursor: pointer;
	font-size: 18px;
	float: right;
}

.impersonate-modal .modal-body {
	padding-left: 200px;
	padding-right: 200px;
	height: 450px;
	overflow-y: auto;
}

.impersonate-modal .modal-body i {
	padding-right: 5px;
	padding-left: 10px;
}

.impersonate-modal .impersonate-tag {
	padding: 10px;
	margin: 20px 0px 20px 0px !important;
	border: 1px solid #DEDEDE;
	border-radius: 5px;
	cursor: pointer;
}

.impersonate-modal .impersonate-tag:hover {
	background-color: #F2F2F2;
}

.impersonate-modal .modal-footer {
	margin-top: 10px;
	background-color: rgb(248, 248, 248);
}

.impersonate-modal .email {
	margin-right: 85px;
	float:right;
}

.add-location-container {
	display: flex;
}

.add-location-disabled {
	height: 100%;
}