.line-items__table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #e3e3e3;
}

.line-items__table-header {
	width: 10%;
	border-bottom: 1px solid #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
}

.line-items__table-header-container {
	border-right: 1px solid #ddd;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.line-items__table-cell {
	padding-left: 15px;
	padding-right: 15px;
}

.line-items__table--amount {
	width: 3%;
}

.line-items__table--checkbox {
	width: 1%;
}

.line-items__table-cell--dark {
	background-color: #fafafa;
}

.line-items__comment-container {
	padding-top: 5px;
	padding-bottom: 5px;
}

.line-items__amount-container {
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	padding-right: 10px;
	justify-content: space-between;
	align-items: center;
}

.line-items__table-header-amount-container {
	border-right: none;
	padding-left: 15px;
}

.line-items__table-container--checkbox {
	display: flex;
	justify-content: center;
	align-items: center;
}