.line-items__table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #e3e3e3;
}

.line-items__table-header {
	width: 10%;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding-left: 15px;
}

.line-items__table-cell {
	padding-left: 15px;
}

.line-items__table--amount {
	width: 3%;
}

.line-items__table--checkbox {
	width: 1%;
}

.line-items__table-cell--dark {
	background-color: #fafafa;
}

.line-items__comment-container {
	padding-top: 5px;
	padding-bottom: 5px;
}

.line-items__amount-container {
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	padding-right: 10px;
	justify-content: space-between;
	align-items: center;
}

/* non BEM CSS needs to be re-written */

.line-items-section .checkbox-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.checkbox-replace.color-primary .cb-wrapper,
.radio-replace.color-primary .cb-wrapper {
	border-color: #d2d2d2;
}