.line-items-section-content {
	border: 1px solid rgb(235, 235, 235);
	border-radius: 4px;
}

.line-items-section .expand-ui {
	display: flex;
	justify-content: space-between;
	width: 100%;
	line-height: 1.1;
	font-size: 14px;
	font-weight: bold;
}

.line-items-section .expand-ui-container {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
}

.line-items-section .expand-ui-triangle {
	font-size: 10px;
}

.line-items-section .type-header {
	flex: 10 0 0px;
	display: flex;
	align-items: center;
	border-right: 1px solid rgb(235, 235, 235);
	padding: 10px;
}

.line-items-section .description-header {
	flex: 15 0 0px;
	display: flex;
	align-items: center;
	border-right: 1px solid rgb(235, 235, 235);
	padding: 10px;
}

.line-items-section .amount-header {
	flex: 10 0 0px;
	display: flex;
	align-items: center;
	padding: 10px;
}

.line-items-section .checkbox-container {
	flex: 1 0 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid rgb(235, 235, 235);
	padding: 10px;
}

.line-items-section .header-content {
	display: flex;
	width: 100%;
}

.line-items-section .header-container {
	border-top: 1px solid rgb(235, 235, 235);
}

.line-items-section .toolbar {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	position: relative;
	padding-bottom: 10px;
}

.line-items-section .toolbar-item {
	cursor: pointer;
	height: 18px;
	margin-right: 12px;
}