.line-items-section {
	border: 1px solid rgb(235, 235, 235);
	border-radius: 4px;
}

.line-items-section .expand-ui {
	display: flex;
	justify-content: space-between;
	width: 100%;
	line-height: 1.1;
	font-size: 14px;
	font-weight: bold;
}

.line-items-section .expand-ui-container {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.line-items-section .expand-ui-triangle {
	font-size: 10px;
}