input[type=number].ipa-input::-webkit-inner-spin-button, 
input[type=number].ipa-input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0; 
}

.ipa-input {
	border: 1px solid #d9d9d9;
	border-top-color: #c0c0c0;
	background-color: white;
	border-radius: 3px;
	box-sizing: border-box;
	height: 31px;
	width: 100%;
	padding: 5px;
}

.ipa-input:not(.ipa-input--read-only):not(.ipa-input--label-read-only):hover {
	border-color: #b9b9b9;
	border-top-color: #a0a0a0;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.ipa-input:focus {
	outline: 0;
	border-color: #4d90fe;
}

.ipa-input.ipa-input--read-only {
	background-color: #f6f6f6;
}

.ipa-input.ipa-input--read-only:focus {
	border: 1px solid #d9d9d9;
	border-top-color: #c0c0c0;
}

.ipa-input--label-read-only,
.ipa-input--label-read-only:hover,
.ipa-input--label-read-only:focus {
	border-color: rgba(0,0,0,0);
}
