<div>
	<input class="ipa-input"
		ng-show="!mode || mode == 'number'"
		type="text"
		ng-model="value"
		ng-blur="onBlur()"
		placeholder="{{placeHolder}}"
		ng-readonly="readOnly || labelReadOnly"
		ng-keyup="updateInput()"
		ng-class="{'ipa-input--read-only': readOnly, 'ipa-input--label-read-only': labelReadOnly, 'ipa-input--invalid': isInvalid }">

	<input class="ipa-input"
		ng-show="mode == 'currency'"
		currency-input
		ng-model="value"
		ng-blur="onBlur()"
		placeholder="{{placeHolder}}"
		ng-readonly="readOnly || labelReadOnly"
		ng-keyup="updateInput()"
		ng-class="{'ipa-input--read-only': readOnly, 'ipa-input--label-read-only': labelReadOnly }">
</div>