<div class="support-staff"
     ng-class="{'support-staff__active': active }"
     ng-click="selectSupportStaff(supportStaff)">

  <div class="support-staff__priority-container">
    <div class="support-staff__priority" ng-if="instructorPreference">
      <div class="support-staff__priority-ui">
        <ipa-button
          icon-class="'glyphicon glyphicon-chevron-up'"
          on-click="updatePreferencesOrder(-1)"
          is-disabled="!canRaisePriority"
          size="'slim'"
          stop-event="click">
        </ipa-button>
        <ipa-button
          icon-class="'glyphicon glyphicon-chevron-down'"
          on-click="updatePreferencesOrder(1)"
          is-disabled="!canLowerPriority"
          size="'slim'"
          stop-event="click">
        </ipa-button>
      </div>
      <div class="support-staff__priority-text">
        {{ instructorPreference.priority }}
      </div>
    </div>
  </div>

  <div class="support-staff__name">
    {{ supportStaff.firstName }} {{ supportStaff.lastName }}
  </div>  

  <div class="support-staff__add-remove">
    <button ng-if="instructorPreference"
            type="button"
            class="btn btn-danger btn-xs remove-preference-btn support-staff__wide-button"
            confirm-button="deletePreference(preference)"
            btn-class="btn-danger"
            message="Are you sure you want to delete this preference"
            yes="Delete" no="Cancel" placement="bottom"
            confirm-is-shown="status.confirmIsOpen"
            aria-hidden="true" uib-tooltip="Remove" tooltip-placement="top"
            tooltip-append-to-body="true">
      Remove
    </button>

    <button ng-if="!instructorPreference"
            type="button"
            class="btn btn-white btn-xs remove-preference-btn support-staff__wide-button"
            aria-hidden="true" uib-tooltip="Add Preference" tooltip-placement="top"
            tooltip-append-to-body="true"
            ng-click="addPreference()">
      Add
    </button>
  </div>
</div>
