<div class="impersonate-modal">
  <div class="modal-body">
    <input
      type="search"
      class="form-control"
      placeholder="Search by name or email"
      ng-model="view.searchQuery"
      ng-change="filterList(view.searchQuery)"
    />
    <div
      ng-repeat="user in filteredUsersList"
      class="impersonate-tag"
      ng-click="selectUser(user)"
      ng-class="{ 'selected-user': user.id == selectedUser.id }"
      ng-if="canBeImpersonated(user)"
    >
      <i class="entypo-user"></i>
      {{ user.name }}
      <span class="email">
        {{ user.email }}
      </span>
    </div>
  </div>
  <div class="modal-footer">
    <button
      ng-if="!(selectedUser)"
      class="btn btn-primary disabled"
      uib-tooltip="Select an instructor to impersonate"
    >
      Impersonate
    </button>
    <button
      ng-if="selectedUser"
      class="btn btn-primary"
      ng-click="impersonate()"
    >
      Impersonate {{ selectedUser.firstName }} {{ selectedUser.lastName }}
    </button>
  </div>
</div>
