/* Main report table */
table {
	border: 1px solid #ebebeb;
	width: 100%;
}

table thead {
	border-bottom: 1px solid #ebebeb;
}

table th {
	font-weight: 500;
	padding: 15px 10px 15px 10px;
	text-align: left;
}

table tbody {
	vertical-align: top;
}

table tbody tr {
	border-bottom: 1px solid #ebebeb;
}

.comment-cell {
	color: #888888;
}

.green {
	color: green;
}

.teaching-call-response-report-container {
	padding: 0px;
	width: 100%;
	margin: 0px;
}

.teaching-call-response-report-container .main-content {
	display: block;
}

/* Toolbar styles */

.table-toolbar {
  width: 100%;
  text-align: right;
  padding-bottom: 5px;
	margin: 0px;
  border-radius: 3px;
}
.tool-icon {
  margin: 0 0.5em;
  padding: 0.5em;
}
.tool-icon:hover {
  cursor: pointer;
  background: #ebebeb;
  border-radius: 3px;
}

/* .btn-group vertical-align pushes the icons with dropdown menus out of veritcal
   alignment with the icons without a dropdown menu */
.table-toolbar>.btn-group {
  vertical-align: initial;
}

.table-toolbar .dropdown-menu {
	min-width: 200px;
}

.table-toolbar .tool-icon {
  margin: 0 0.5em;
  padding: 0.5em;
}

.table-toolbar .tool-icon:hover {
  cursor: pointer;
  background: #ebebeb;
  border-radius: 3px;
}
