.table-header {
	display: flex;
	width: 100%;
	font-size:14px;
	text-align: center;
}

.instructor-row {
	margin-top: 10px;
	display: flex;
	width: 100%;
	text-align: center;
}

.instructor-header {
	flex: 1 0 0px;
	text-align: left;
}

.term-header {
	flex: 2 0 0px;
}

.term-cell {
	flex: 2 0 0px;
}

.term-cell-container {
	flex: 8 0 0px;
	display: flex;
}

.instructor-cell {
	font-weight: bold;
	text-align: left;
	flex: 1 1 0px;
}

.comment-row {
	margin-top: 10px;
	display:flex;
	width: 100%;
}

.comment-label {
	flex: 2 0 0px;
	display: flex;
}

.comment-label-container {
	
}

.comment-cell {
	color: #888888;
	flex: 8 0 0px;
	display: flex;
}

.green {
	color: green;
}

.report-page-title {
  text-align: center;
}

.dividing-bar {
	margin-top:10px;
	border-bottom: 1px solid #ddd;
}

.dividing-bar-darker {
	margin-top:10px;
	border-bottom: 1px solid #848484;
}