.staff-preferences {
	padding: 20px;
}

.staff-preferences__assignment {
	border: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}

.staff-preferences__title {
	display: flex;
	justify-content: center;
	align-items: center;
}