a {
  color: #337ab7;
}
h3, .h3 {
  font-size: 21px;
}
.form-control, .btn {
	font-size: 12px;
}
.page-container .sidebar-menu {
  width: 200px;
}
.pager.year-switcher {
  border-top: 1px solid rgba(69, 74, 84, 0.7);
  border-bottom: 1px solid rgba(69, 74, 84, 0.7);
}
.pager.year-switcher li a {
  background-color: transparent;
  color: #aaa;
  border: none;
  padding: 5px;
}
.welcome {
  padding: 10px 20px;
  color: #aaabae;
}
.sidebar-collapsed .pager.year-switcher li.previous,
.sidebar-collapsed .pager.year-switcher li.next,
.sidebar-collapsed .welcome {
  display: none;
}

.page-container:not(.sidebar-collapsed) .home {
  display: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Overriding neon-core; was messing with the positioning of toastr */
body {
  -webkit-perspective: none;
  -moz-perspective: none;
  perspective: none;
  font-size: 12px;
}

span.highlighted {
  font-weight: bold;
}

.clickable {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hoverable:hover {
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity = 60) !important;
	opacity: .6 !important;
}

/* Availability grid shared directive css */
table.availability-grid {
	font-size: 0.7em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-bottom: 5px;
}

table.availability-grid tr th {
	border: none;
	font-weight: normal;
	padding: 0 !important;
}

table.availability-grid tr th.left {
	text-align: left;
	width: 2em;
}

table.availability-grid tr th.hover {
	color: #BA0C2F;
	font-weight: bold;
}

table.availability-grid tr td.unavailable {
	background-color: rgba(200,200,200,0.8);
}

table.availability-grid tr td {
	border-top: 1px solid #ddd !important;
}

.legend-square {
	display: inline-block;
	width: 1em;
	height: 1em;
	margin: 0px 5px;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(0, 0, 0, .2);
}

#access-denied {
	height: 100vh;
	text-align: center;
}
.checkbox label.cb-wrapper {
	min-height: 18px;
}

.page-container .sidebar-menu #main-menu li a.icon-workgroup-manage {
	position: absolute;
	right: 0;
	z-index: 3;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 10px;
}

.page-container .sidebar-menu #main-menu > li.active > a {
	background-color: transparent;
}

.page-container .sidebar-menu #main-menu li a i.active-workgroup-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-55%);
	left: 2em;
	font-size: 12px;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99999;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.page-container.sidebar-collapsed .sidebar-menu #main-menu > li > ul li a {
	padding-left: 40px;
}

.availability-day-header {
	text-align: center;
}

/* ---------------------- DSS Modal -----------------------*/
.dss-modal-overlay {
	/* A dark translucent div that covers the whole screen */
	position:absolute;
	z-index:9999;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: #000000;
	opacity: 0.5;
}

.dss-modal-dialog {
	/* A centered div above the overlay with a box shadow. */
	z-index:10000;
	position: absolute;
	width: 50%; /* Default */

	/* Center the dialog */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.15);
}

.dss-modal-header {
	padding-left: 10px;
	height: 50px;
	background-color: #303641;
	color: white;
	font-size: 18px;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dss-modal-dialog-content {
	background-color: white;
	height: 100%;
}

.dss-modal-close {
	padding-right: 20px;
	cursor: pointer;
	font-size: 21px;
	line-height:21px;
	font-weight: 300;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.ipa-header {
	display: flex;
	width: 100%;
	position: fixed;
	background-color: white;
	box-shadow: 0px 3px 2px 0px rgba(224,224,224,1);
	height: 60px;
	z-index: 99;
}

.ipa-header .left-column {
	flex: 1 1 0px;
}

.ipa-header .right-column {
	flex: 1 1 0px;
}