<div class="instructor-costs">
	<ipa-tabs
		tab-names="termNav.allTabs"
		active-tab="termNav.activeTab"
		select-tab="setActiveTerm"
		slim="true">
		<table class="instructor-costs__table">
			<thead>
				<tr>
					<th class="instructor-costs__table-header"></th> <!-- Spacing for sequence number -->
					<th class="instructor-costs__table-header">
						<div class="instructor-costs__cell-container">
							Instructor
						</div>
					</th>
					<th class="instructor-costs__table-header">
						<div class="instructor-costs__cell-container">
							Regular Instructor
						</div>
					</th>
					<th class="instructor-costs__table-header">
						<div class="instructor-costs__cell-container">
							Reason
						</div>
					</th>
					<th class="instructor-costs__table-header">
						<div class="instructor-costs__cell-container">
							Instructor Cost
						</div>
					</th>
					<th class="instructor-costs__table-header">
						<div class="instructor-costs__cell-container">
							Comment
						</div>
					</th>
					<th class="instructor-costs__table-header">
						<div class="instructor-costs__cell-container">
							Total Cost
						</div>
					</th>
				</tr>
			</thead>
			<tbody ng-repeat="course in calculatedSectionGroups.byTerm[termNav.activeTerm] track by course.uniqueKey">
				<tr>
					<td colspan="10" class="instructor-costs__course-title">
						{{ course.subjectCode }} {{ course.courseNumber }} {{ course.title }}
					</td>
				</tr>
				<tr ng-repeat="sectionGroup in course.sectionGroups">
					<!-- Sequence Number -->
					<td class="instructor-costs__table-cell-sequence">
						<div class="instructor-costs__sequence-container">
							{{ sectionGroup.sequencePattern }}
						</div>
					</td>

					<!-- Replacement -->
					<td class="instructor-costs__table-cell">
						<div class="instructor-costs__instructor-container">
							<!--
							<instructor-assignment-dropdown
								mode="'instructor'"
								section-group-cost="sectionGroupCost"
								instructors="instructors"
								course="course">
							</instructor-assignment-dropdown>
							<ipa-button
								ng-show="sectionGroupCost.instructor"
								class="instructor-costs__remove-assignment-ui"
								size="'small'"
								icon-class="'glyphicon glyphicon-remove'"
								confirm-message="'Are you sure you want to remove this instructor?'"
								tooltip-message="'Delete assignment'"
								on-click="removeInstructor(sectionGroupCost)">
							</ipa-button>
						-->
						</div>
					</td>

					<!-- Instructor -->
					<td class="instructor-costs__table-cell">
						<div class="instructor-costs__instructor-container">
							<div ng-repeat="instructorName in sectionGroup.assignedInstructorNames">
								{{ instructorName }}
							</div>
							<!--
							<instructor-assignment-dropdown
								mode="'originalInstructor'"
								section-group-cost="sectionGroupCost"
								instructors="instructors"
								course="course">
							</instructor-assignment-dropdown>
							<ipa-button
								ng-show="sectionGroupCost.originalInstructor"
								class="instructor-costs__remove-assignment-ui"
								size="'small'"
								icon-class="'glyphicon glyphicon-remove'"
								confirm-message="'Are you sure you want to remove this instructor?'"
								tooltip-message="'Delete assignment'"
								on-click="removeOriginalInstructor(sectionGroupCost)">
							</ipa-button>
						-->
						</div>
					</td>

					<!-- Reason -->
					<td class="instructor-costs__table-cell">
							<!--
							<input
								type="text"
								ng-model="sectionGroupCost.reason"
								auto-input
								on-enter="updateSectionGroupCost(sectionGroupCost)"
								on-blur="updateSectionGroupCost(sectionGroupCost)">
							-->
					</td>

					<!-- Cost -->
					<td class="instructor-costs__table-cell">
						<div class="instructor-costs__cost-container">
							{{ toCurrency(sectionGroup.instructorCostSubTotal) }}
							<!--
							<instructor-cost-input
							section-group-cost="sectionGroupCost"></instructor-cost-input>
							-->
						</div>
					</td>

					<!-- Comments -->
					<td class="instructor-costs__table-cell">
						<div class="instructor-costs__cell-container">
							<ipa-button
								button-text="'See Comments'"
								text="'Comments'"
								color="'light'"
								icon-class="'entypo entypo-chat'"
								on-click="openAddCourseCommentsModal(sectionGroup)">
							</ipa-button>
						</div>
					</td>
					<!-- Total -->
					<td class="instructor-costs__table-cell-total">
						<div class="instructor-costs__total-container">
							{{ toCurrency(sectionGroup.totalCost) }}
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</ipa-tabs>
</div>