.instructor-costs__table {
	width: 100%;
	margin-bottom: 20px;
}

.instructor-costs__table-header {
	width: 10%;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
}

.instructor-costs__table-header--comments {
    padding-left: 20px;
}

.instructor-costs__course-title {
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 20px;
	font-weight: bold;
}

.instructor-costs__table-cell {
	background-color: #f8f8f8;
	padding-top: 5px;
	padding-bottom: 5px;
}

.instructor-costs__table-cell-total {
	padding-right: 20px;
}

.instructor-costs__total-container {
	width: 100%;
	background-color: #f8f8f8;
	height: 53px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.instructor-costs__instructor-container {
	display: flex;
	align-items: center;
}

.instructor-costs__cost-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.instructor-costs__remove-assignment-ui {
	margin-left: 5px;
}

.instructor-costs__cell-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.instructor-costs__cell-container--left {
	justify-content: flex-start;
}

.instructor-costs__cell-container--large {
	padding-left: 20px;
}

.instructor-costs__table-cell-sequence {
	padding-left: 20px;
}

.instructor-costs__sequence-container {
	width: 100%;
	background-color: #f8f8f8;
	height: 53px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.instructor-costs__instructor-reversion-ui {
	padding-left: 10px;
}

.instructor-costs__instructor-dropdown-container {

}

.instructor-costs__instructor-dropdown {
	width: 100px;
}

.instructor-costs__revert-ui {
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 3px;
	cursor: pointer;
	margin-bottom: 2px;
}