.add-line-item__container {
	padding-top: 20px;
}

.add-line-item .btn-category-dropdown {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.add-line-item .btn-category-dropdown-label {
	padding-right: 5px;
	text-decoration: none;
}

.add-line-item .caret {
	margin-left: 10px;
}

.add-line-item .dropdown-menu {
	width: 325px;
}

.add-line-item .category-item {
	cursor: pointer;
}

.add-line-item .modal-button {
	margin-right: 5px;
	margin-left: 5px;
}

.add-line-item .add-line-item-footer {
	padding: 10px;
	display: flex;
	justify-content: flex-end;
	padding-bottom: 15px;
	padding-top: 15px;
	background-color: rgb(248, 248, 248);
}

.add-line-item .category-selection-container {
	width: 100%;
}

.add-line-item .form-input {
	width: 100%;
}
