.group-cost-config {
	padding: 20px;
	height: 400px;
	overflow-y: scroll;
	padding-left: 100px;
}


.group-cost-config__table {
	width: 70%;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.group-cost-config__table-row {
	border-bottom: 1px solid #ddd;
}

.group-cost-config__cell {
	padding: 10px;
}

.group-cost__cost-container {
	padding-top: 5px;
	padding-bottom: 5px;
}
