.group-cost-config {
	padding: 20px;
	overflow-y: scroll;
	height: 400px;
}

.group-cost-config__label {
	padding-left: 10px;
	justify-content: center;
	align-items: center;
	display: flex;
}

.group-cost-config__cost {
	display: flex;
	margin-bottom: 15px;
}

.group-cost-config__input {
	width: 15%;
}