.group-cost-config {
	padding: 20px;
	overflow-y: scroll;
	height: 400px;
}

.group-cost-config__label {
	padding-left: 10px;
	justify-content: center;
	align-items: center;
	display: flex;
}

.group-cost-config__cost {
	display: flex;
	padding-bottom: 5px;
}

.group-cost-config__input {
	width: 15%;
}

.group-cost-config__delete-button {
	margin-left: 10px;
	padding-right: 1px;
	padding-bottom: 1px;
}

.group-cost-config__validation-error {
	margin-bottom: 7px;
	height: 17px;
	color: #f26868;
}