<div class="impersonate-modal">
    <div class="modal-header">
        <div class="modal-title">
            Impersonate
        </div>
        <div class='modal-close' ng-click="dismiss()">
		    <i class="entypo-cancel"></i>
		</div>
    </div>

    <div class="modal-body">
        <div class="impersonate-tag" ng-repeat="userId in state.users.ids | orderBy: 'lastName'" ng-init="user=state.users.list[userId]" ng-click="selectUser(user)" ng-class="{ 'selected-user': user.id == selectedUser.id }">
            <i class="entypo-user"></i>
            {{ user.name }}

            <span class="email">IAmKockingYourDoor@ucdavis.edu</span>
        </div>
    </div>
    
    <div class="modal-footer">
        <button ng-if="!(selectedUser)" class="btn btn-primary disabled" uib-tooltip="Select an instructor to impersonate">
            Impersonate
        </button>
        <button ng-if="selectedUser" class="btn btn-primary" ng-click="impersonate()">
            Impersonate {{ selectedUser.firstName }} {{ selectedUser.lastName }}
        </button>
    </div>
</div>