<nav year="{{ year }}" workgroup-id="{{ workgroupId }}"></nav>

<div class="workgroup-container">

<ipa-header page-title="Workgroup">
	<div>
		<button class="btn btn-default impersonate-button" ng-click="openImpersonateModal()">
		Impersonate
		</button>
	</div>
</ipa-header>

<div class="main-content">
	<div class="panel minimal minimal-gray">
		<!-- 	nav tab  -->
		<div class="panel-heading">
			<uib-tabset active="activeWorkgroupTab" justified="false" class="panel-options pull-left nav-tabs">

				<uib-tab index="'tags'" heading="Tags" select="setActiveTab('tags')">
					<div class="tags-section" ng-controller="TagCtrl">
						<div class="row">
							<spinner ng-hide="view.state.tags"></spinner>
							<div class="col-md-6" ng-show="view.state.tags">
								<p ng-hide="view.state.tags.ids.length">No tags</p>
								<ul class="tags-input">
									<li ng-repeat="tagId in view.state.tags.ids">
										<div class="row">
											<div class="col-sm-5">
												<input class="form-control" type="text" name="text" size="30" ng-model="view.state.tags.list[tagId].name"
													auto-input on-enter="updateTag(view.state.tags.list[tagId])" help-text-placement="top" ng-if="hasWriteAccess()">
												<span class="list-box form-control" ng-bind="view.state.tags.list[tagId].name" ng-hide="hasWriteAccess()"></span>
											</div>
											<div class="col-sm-4">
												<colorpicker type="text" color="view.state.tags.list[tagId].color" on-change="updateTag(view.state.tags.list[tagId])"
													ng-if="hasWriteAccess()"></colorpicker>
												<div class="list-box form-control" ng-hide="hasWriteAccess()">
													<span class="label" ng-style="{ 'background-color': view.state.tags.list[tagId].color }">&nbsp;</span>
													<span ng-bind="view.state.tags.list[tagId].color"></span>
												</div>
											</div>
											<div class="col-sm-3" ng-if="hasWriteAccess()">
												<a class="text-danger clickable btn-remove-tag" confirm-button="removeTag(tagId)" message="Are you sure you want to remove this tag"
													yes="Remove" no="Cancel" placement="right" aria-hidden="true">
													<i class="entypo-cancel-squared"></i><small>Remove</small>
												</a>
											</div>
										</div>

									</li>
									<li ng-if="hasWriteAccess()">
										<!-- add button -->
										<div class="row">
											<div class="col-sm-5">
												<input class="form-control" type="text" name="text" size="30" placeholder="Add New Tag" ng-model="view.state.tags.newTag.name">
											</div>
											<div class="col-sm-4">
												<colorpicker type="text" color="view.state.tags.newTag.color"></colorpicker>
											</div>
											<div class="col-sm-3">
												<button type="button" class="btn btn-blue btn-block" ng-click="addTag()" ng-disabled="!view.state.tags.newTag.name">Add</button>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</uib-tab>

				<uib-tab index="'locations'" heading="Locations" select="setActiveTab('locations')">
					<div class="locations-section" ng-controller="LocationCtrl">
						<div class="row">
							<spinner ng-hide="view.state.locations"></spinner>
							<div class="col-md-6" ng-show="view.state.locations">
								<p ng-hide="view.state.locations.ids.length">No locations</p>
								<ul class="locations-input">
									<li ng-repeat="locationId in view.state.locations.ids">
										<input class="form-control" type="text" name="text" size="30" ng-model="view.state.locations.list[locationId].description"
											auto-input on-enter="updateLocation(view.state.locations.list[locationId])" help-text-placement="top"
											ng-if="hasWriteAccess()">
										<span class="list-box form-control" ng-bind="view.state.locations.list[locationId].description" ng-hide="hasWriteAccess()"></span>
										<a class="text-danger clickable" confirm-button="removeLocation(locationId)" message="Are you sure you want to remove this location"
											yes="Remove" no="Cancel" placement="right" aria-hidden="true" ng-if="hasWriteAccess()">
											<i class="entypo-cancel-squared"></i><small>Remove</small>
										</a>

									</li>
									<li ng-if="hasWriteAccess()">
										<!-- add button -->
										<div class="form-horizontal">
											<input class="form-control" type="text" name="text" size="30" placeholder="Add New Location" ng-model="view.state.locations.newLocation.description">
											<button type="button" class="btn btn-blue" ng-click="addLocation()" ng-disabled="!view.state.locations.newLocation.description">Add</button>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</uib-tab>

				<uib-tab index="'people'" heading="People &amp; Roles" select="setActiveTab('people')">
					<div class="users-view" ng-controller="UserCtrl">
						<div class="row" ng-hide="view.state.users">
							<!-- this is loading gif -->
							<spinner></spinner>
						</div>
						<div class="row">
							<!-- this is search bar -->
							<div class="col-md-4 pull-right" ng-if="hasWriteAccess()">
								<div class="input-group search-input">
									<input type="text" ng-model="view.state.users.searchQuery" placeholder="Search by name or login ID" uib-typeahead="person.name for person in searchUsers($viewValue)"
										ng-change="view.state.users.newUser = {}" typeahead-loading="view.loadingPeople" typeahead-no-results="view.noResults"
										typeahead-wait-ms="400" typeahead-min-length="2" typeahead-on-select="searchUsersResultSelected($item, $model, $label, $event)"
										class="form-control typeahead">
									<ul class="typeahead-status dropdown-menu" ng-show="view.noResults">
										<li><a>No results</a></li>
									</ul>
									<i ng-show="view.loadingPeople"><spinner size="20"></spinner></i>
									<i ng-hide="view.state.users.searchQuery || view.loadingPeople" class="entypo-search"></i>
									<i ng-show="view.state.users.searchQuery && !view.loadingPeople" class="entypo-cancel" ng-click="clearUserSearch()"></i>
									<span class="input-group-btn">
										<button ng-disabled="!view.state.users.newUser.name"
											class="btn-add-person btn btn-primary"
											ng-click="addUserToWorkgroup()">
											Add Person
										</button>
									</span>
								</div>
								<!-- /input-group -->
							</div>
							<!-- /.col-lg-6 -->
						</div>
						<!--   Table  -->
						<div class="row" ng-show="view.state.users">
							<div class="col-md-12">
								<div class="role-section">
									<p class="text-center" ng-show="view.state.users && view.state.users.ids.length === 0">No users</p>
									<table class="table table-hover" ng-show="view.state.users.ids.length">
										<colgroup>
											<col span="1" style="width: 20%;">
											<col span="1" style="width: 20%;">
											<col ng-repeat="roleId in view.state.roles.ids track by $index" span="1" ng-style="{ 'width' : 55 / (view.state.roles.ids.length) + '%' }">
											<col span="1" style="width: 5%;">
										</colgroup>
										<thead>
											<!-- title for name, email, and checkboxes-->
											<tr>
												<th class="table-name-padding">Name</th>
												<th class="table-email-padding">Email</th>
												<th class="role-title" ng-repeat="roleId in view.state.roles.ids track by $index">
													{{ view.state.roles.list[roleId].getDisplayName() }}
												</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<!-- people lists-->
											<tr class="user-list-item" ng-repeat="userId in view.state.users.ids track by userId">
												<td>
													{{ view.state.users.list[userId].name }} 
												</td>
												<td>
													{{ view.state.users.list[userId].email }}
												</td>
												<td class="role-selector" ng-repeat="roleId in view.state.roles.ids track by $index">
													<input type="checkbox" ng-checked="userHasRole(userId, view.state.roles.list[roleId])" ng-click="toggleUserRole(userId, roleId)"
														ng-disabled="!hasWriteAccess(roleId, view.state.users.list[userId].loginId)">
												</td>
												<td class="hover-ui" ng-if="hasWriteAccess()">
													<span confirm-button="removeUserFromWorkgroup(userId) " message="This will completely remove this person from
														the workgroup, are you sure? " yes="Remove " no="Cancel " placement="left " class="entypo-minus-circled text-danger "
														aria-hidden="true
														" style="width: 10%; " uib-tooltip="Remove " tooltip-placement="top "></span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
		</div>

		</uib-tab>
		</uib-tabset>

	</div>
</div>
</div>