.course-section-container {
  display: flex;
  justify-content: space-around;
}

.table-section {
  flex: 4;
  margin-right: 16px;
}

.detail-section {
  flex: 1;
}

.toolbar-container {
  display: flex;
  justify-content: space-between;
}

.toolbar-left {
  flex: 1;
}

.toolbar-center {
  flex: 1;
}

.toolbar-right {
  display: flex;
  flex: 1;
  align-self: center;
  justify-content: flex-end;
}

.fill-field {
  width: 100%;
}
