<!-- Toolbar -->
<div class="toolbar-container">
  <span class="toolbar-left"></span>
  <span class="toolbar-center">
    <mat-form-field class="fill-field">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </span>
  <span class="toolbar-right">
    <button mat-icon-button>
      <mat-icon matTooltip="Add Multiple Courses" matTooltipPosition="above">add</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon matTooltip="Assign Tags" matTooltipPosition="above">label</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon matTooltip="Delete Selected Course" matTooltipPosition="above">delete</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon matTooltip="Toggle Terms" matTooltipPosition="above">list_alt</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon matTooltip="Filters" matTooltipPosition="above">filter_list</mat-icon>
    </button>
    <button mat-icon-button (click)="downloadSchedule()">
      <mat-icon matTooltip="Download Excel" matTooltipPosition="above">save_alt</mat-icon>
    </button>
    <button mat-icon-button (click)="print()">
      <mat-icon matTooltip="Print" matTooltipPosition="above">print</mat-icon>
    </button>
  </span>
</div>
<div class="course-section-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-section">
    <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

    <!-- Checkbox Column -->
    <ng-container matColumnDef="selected">
      <th mat-header-cell *matHeaderCellDef mat-sort-header start="desc">
        <mat-icon (click)="toggleSelectAll()">{{ getCheckboxStatus() }}</mat-icon>
      </th>
      <td mat-cell *matCellDef="let course; let i = index">
        <mat-icon (click)="toggleSelect(i)">{{ course.selected ? "check_box" : "check_box_outline_blank" }}</mat-icon>
      </td>
    </ng-container>

    <!-- Course Info Column -->
    <ng-container matColumnDef="course">
      <th mat-header-cell *matHeaderCellDef> Course </th>
      <td mat-cell *matCellDef="let course" (click)="toggleCourseDetails(course)"> {{course.course}} </td>
    </ng-container>

    <!-- Fall Quarter Column -->
    <ng-container matColumnDef="fall">
      <th mat-header-cell *matHeaderCellDef> Fall Quarter </th>
      <td mat-cell *matCellDef="let course">
        <mat-form-field>
          <input matInput value={{course.fall}} (click)="toggleSectionGroupDetails(course)">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Winter Quarter Column -->
    <ng-container matColumnDef="winter">
      <th mat-header-cell *matHeaderCellDef> Winter Quarter </th>
      <td mat-cell *matCellDef="let course">
        <mat-form-field>
          <input matInput value={{course.winter}}>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Spring Column -->
    <ng-container matColumnDef="spring">
      <th mat-header-cell *matHeaderCellDef> Spring Quarter </th>
      <td mat-cell *matCellDef="let course">
        <mat-form-field>
          <input matInput value={{course.spring}}>
        </mat-form-field>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <app-course-detail class="detail-section" displayedDetails={{displayedDetails}}></app-course-detail>
</div>