<div class="scheduling-filters">
  <div class="calendar-filter-header">
    <div class="activity-filter-tokens text-center" ng-show="schedulingMode != 'By Room'">
      <div class="label label-selected-section-group" ng-repeat="tagId in filters.enabledTagIds track by $index"
           ng-style="{ 'background-color': tags.list[tagId].color || '#333', 'color': tags.list[tagId].getTextColor() }">
        {{ tags.list[tagId].name }}
        <i class="glyphicon glyphicon-remove selected-section-group-remove clickable hoverable" ng-click="toggleTagFilter(tagId)"></i>
      </div>
      <div class="label label-selected-section-group" ng-repeat="locationId in filters.enabledLocationIds track by $index">
        {{ locations.list[locationId].description }}
        <i class="glyphicon glyphicon-remove selected-section-group-remove clickable hoverable" ng-click="toggleLocationFilter(locationId)"></i>
      </div>
      <div class="label label-selected-section-group" ng-repeat="instructorId in filters.enabledInstructorIds track by $index">
        {{ instructors.list[instructorId].fullName }}
        <i class="glyphicon glyphicon-remove selected-section-group-remove clickable hoverable" ng-click="toggleInstructorFilter(instructorId)"></i>
      </div>
    </div>
  </div>

  <div class="btn-group pull-right">
    <button class="disabled scheduling-filters__dropdown-btn btn btn-default dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            ng-if="schedulingMode == 'By Room'"
            aria-expanded="false">
      <span class="scheduling-filters__btn-text">Filters</span>
      <span class="caret scheduling-filters__caret"></span>
    </button>
    <button class="scheduling-filters__dropdown-btn btn btn-default dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            ng-if="schedulingMode != 'By Room'"
            aria-expanded="false">
      <span class="scheduling-filters__btn-text">Filters</span>
      <span class="caret scheduling-filters__caret"></span>
    </button>

    <div class="dropdown-menu scheduling-filters__dropdown-window">
      <div class="filters-container" stop-event="click">

        <div class="filter-category">
          <h3>Days</h3>
          <ul>
            <li ng-repeat="day in ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] track by $index"
              ng-click="toggleCalendarDay($index)">
              <div class="checkbox checkbox-replace color-primary neon-cb-replacement" ng-class="{ 'checked': filters.hiddenDays.indexOf($index) < 0 }">
                <label class="cb-wrapper filter-checkbox">
                  <div class="checked"></div>
                </label>
                <label class="filter-label">{{ day }}</label>
              </div>
            </li>
          </ul>
        </div>

        <div class="filter-category">
          <h3>Locations</h3>
          <ul>
            <li ng-repeat="locationId in locations.ids track by $index" ng-click="toggleLocationFilter(locationId)">
              <div class="checkbox checkbox-replace color-primary neon-cb-replacement" ng-class="{ 'checked': filters.enabledLocationIds.indexOf(locationId) >= 0 }">
                <label class="cb-wrapper filter-checkbox">
                  <div class="checked"></div>
                </label>
                <label class="filter-label" ng-bind="locations.list[locationId].description"></label>
              </div>
            </li>
          </ul>
        </div>

        <div class="filter-category">
          <h3>Tags</h3>
          <ul>
            <li ng-repeat="tagId in tags.ids track by $index" ng-click="toggleTagFilter(tagId)">
              <div class="checkbox checkbox-replace color-primary neon-cb-replacement" ng-class="{ 'checked': filters.enabledTagIds.indexOf(tagId) >= 0 }">
                <label class="cb-wrapper filter-checkbox" ng-style="{ 'border-color': tags.list[tagId].color }">
                  <div class="checked" ng-style="{ 'background': tags.list[tagId].color }"></div>
                </label>
                <label class="filter-label" ng-bind="tags.list[tagId].name"></label>
              </div>
            </li>
          </ul>
        </div>

        <div class="filter-category">
          <h3>Instructors</h3>
          <ul>
            <li ng-repeat="instructorId in instructors.ids track by instructorId"
              ng-click="toggleInstructorFilter(instructorId)">
              <div class="checkbox checkbox-replace color-primary neon-cb-replacement" ng-class="{ 'checked': filters.enabledInstructorIds.indexOf(instructorId) >= 0 }">
                <label class="cb-wrapper filter-checkbox">
                  <div class="checked"></div>
                </label>
                <label class="filter-label">{{ instructors.list[instructorId].fullName }}</label>
              </div>
            </li>
          </ul>
        </div>

        <div class="filter-category">
          <h3>Activity Type</h3>
          <ul>
            <li ng-click="toggleShowOnlyPrimaryActivityFilter()">
              <div class="checkbox checkbox-replace color-primary neon-cb-replacement" ng-class="{ 'checked': filters.showOnlyPrimaryActivity }">
                <label class="cb-wrapper filter-checkbox">
                  <div class="checked"></div>
                </label>
                <label class="filter-label">Only Primary</label>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
