<div class="expense-items">
	<h3
		ng-if="ui.isBudgetRequest"
		style="text-align: center; color: #5b616b"
	>
		BUDGET REQUEST
	</h3>

    <table class="expense-items__table">
        <thead>
            <tr>
                <th ng-if="!ui.isBudgetRequest" class="expense-items__table-header expense-items__table--checkbox do-not-print">
                    <div class="expense-items__table-header-container expense-items__table-container--checkbox">
                        <ipa-checkbox style="'muted'"
                                        is-checked="ui.areAllExpenseItemsSelected"
                                        click-action="selectAllExpenseItems(ui.areAllExpenseItemsSelected)">
                        </ipa-checkbox>
                    </div>
                </th>
								<th class="expense-items__table-header expense-items__table--type">
										<div class="expense-items__table-header-container">
												Term
										</div>
								</th>
                <th class="expense-items__table-header expense-items__table--type">
                    <div class="expense-items__table-header-container">
                        Type
                    </div>
                </th>
                <th class="expense-items__table-header">
                    <div class="expense-items__table-header-container">
                        Description
                    </div>
                </th>
                <th class="expense-items__table-header expense-items__table--amount">
                    <div class="expense-items__table-header-amount-container">
                        Amount
                    </div>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="expenseItem in expenseItems track by $index" ng-show="expenseItem.id > 0 && expenseItem.budgetScenarioId === selectedBudgetScenario.id && expenseItem.isVisible">
                <!-- Checkbox -->
                <td ng-if="!ui.isBudgetRequest" class="expense-items__table-cell do-not-print" ng-class-odd="'expense-items__table-cell--dark'">
                    <div class="expense-items__table-container--checkbox">
                        <ipa-checkbox style="'muted'"
                                        is-disabled="!(expenseItem.id)"
                                        is-checked="ui.selectedExpenseItems.indexOf(expenseItem.id) > -1"
                                        click-action="selectExpenseItem(expenseItem)">
                        </ipa-checkbox>
                    </div>
                </td>

								<!-- Term -->
                <td class="expense-items__table-cell" ng-class-odd="'expense-items__table-cell--dark'">
                    {{ expenseItem.termDescription }}
                </td>

                <!-- Type -->
                <td class="expense-items__table-cell" ng-class-odd="'expense-items__table-cell--dark'">
                    {{ expenseItem.typeDescription }}
                </td>

                <!-- Description -->
                <td class="expense-items__table-cell" ng-class-odd="'expense-items__table-cell--dark'">
                    {{ expenseItem.description }}
                </td>

                <!-- Amount -->
                <td class="expense-items__table-cell" ng-class-odd="'expense-items__table-cell--dark'">
                    <div class="expense-items__amount-container">
                        <div>
                            {{ toCurrency(expenseItem.amount) }}
                        </div>
                        <div ng-if="!ui.isBudgetRequest" class="do-not-print">
                            <expense-item-dropdown expense-item="expenseItem"></expense-item-dropdown>
                        </div>
                    </div>
                </td>
            </tr>
            <tr ng-if="expenseItems.length == 0">
                <td colspan="5">
                    <div class="expense-items__no-funds">
                        No Costs Added
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
