.add-instructor-cost__none-assigned {
	font-style: italic;
	color: #b1b1b1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-instructor-cost__assignment-link {
	display: flex;
	align-items: center;
	justify-content: center;
}