<table class="table availability-grid">
	<thead>
		<tr>
			<th></th>
			<th ng-repeat="day in days" class="availability-day-header">
				{{ day }}
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(h, hour) in hours track by $index">
			<th class="left">{{ hour }}</th>
			<td
				ng-repeat="(d, day) in days"
				data-day="{{d}}"
				data-hour="{{h}}"
				ng-class="{'unavailable': availability[d][h] == 0, 'available': availability[d][h] == 1, 'clickable': !readOnly }">
			</td>
		</tr>
	</tbody>
</table>