<div class="courses-filter">
  <label ng-if="filters.enabledTagIds.length > 0" class="courses-filter__label">Filters: </label>
      <div class="courses-filter__token" ng-repeat="tagId in filters.enabledTagIds track by $index">
        {{ tags.list[tagId].name }}
        <i class="glyphicon glyphicon-remove clickable courses-filter__token-remove" ng-click="toggleTagFilter(tagId)"></i>
      </div>
      <div class="courses-filter__token" ng-show="filters.enableUnpublishedCourses == true">
        Unpublished
        <i class="glyphicon glyphicon-remove clickable courses-filter__token-remove" ng-click="unpublishedCoursesToggled()"></i>
      </div>
  </label>
</div>
