<div class="courses-filter">
  <div class="courses-filter-header">
    <div class="ourses-filter-token-list">
      <div class="courses-filter-label courses-filter-token" ng-repeat="tagId in filters.enabledTagIds track by $index">
        {{ tags.list[tagId].name }}
        <i class="glyphicon glyphicon-remove clickable" ng-click="toggleTagFilter(tagId)"></i>
      </div>
      <div class="courses-filter-label courses-filter-token" ng-show="filters.enableUnpublishedCourses== true">
        Unpublished
        <i class="glyphicon glyphicon-remove clickable" ng-click="unpublishedCoursesToggled()"></i>
      </div>
    </div>
  </div>
</div>
