
.courses-filter {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.courses-filter-header {
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 20px 0px;
  margin: 0;
}

.courses-filter-token-list {
  display: flex;
  align-items: left;
}

.courses-filter-token {
  background-color: #e6e6e6;
  color: #333;
  display: inline-block;
  font-size: 85%;
  line-height: normal;
}

.courses-filter-label {
  margin: 2px 5px 0px 0px;
  padding: 6px 12px;
  border-radius: .25em;
}

