.instructor-cost-config {
	padding: 20px;
	height: 400px;
	overflow-y: scroll;
}

.instructor-cost-config__instructor {
	display: flex;
	margin-bottom: 5px;
}

.instructor-cost-config__label {
	padding-left: 10px;
	justify-content: center;
	align-items: center;
	display: flex;
}

.instructor-cost-config__input {
	width: 15%;
}

.instructor-cost-config__type-container {
	padding-left: 10px;
}