<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--<meta name="description" content="Neon Admin Panel" />
	<meta name="author" content="" />-->

	<link rel="icon" href="/images/favicon.ico">

	<title></title>


	<link rel="stylesheet" href="/css/entypo.css">
	<link rel="stylesheet" href="/css/lib.css">
	<link rel="stylesheet" href="/css/neon-core.css">
	<link rel="stylesheet" href="/css/neon-theme.css">
	<link rel="stylesheet" href="/css/neon-forms.css">
	<link rel="stylesheet" href="/css/shared.css">
	<link rel="stylesheet" href="/css/teaching-call-status.css">
	<link rel="stylesheet" href="/css/teaching-call-modal.css">
	<link rel="stylesheet" href="/css/teaching-call-form.css">
	<link rel="stylesheet" href="/css/teaching-call.css">

	<script src="/js/lib.js"></script>

</head>

<body class="page-body ng-cloak assignments-app" ng-app="teachingCallApp" ng-cloak ng-controller="SharedCtrl">
	<base href="/teachingCalls/">

	<div ng-if="loadingView" class="overlay">
		<spinner class="vertical-center"></spinner>
	</div>

	<div class="page-container" collapsable-sidebar-container ng-view>
		<!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	</div>

	<no-mobile-support></no-mobile-support>

	<div id="toast-container" class="toast-top-right" ng-if="$root.toast.message.length > 0">
		<div class="toast toast-error" style="display: block;">
			<div class="toast-message" ng-bind="$root.toast.message">
			</div>
		</div>
	</div>

	<!-- Bottom scripts (common) -->
	<script src="/js/select2.min.js"></script>

	<!-- JavaScripts initializations and stuff -->

	<script src="/js/sharedApp.js"></script>
	<script src="/js/clientConfig.js"></script>
	<script src="/js/sharedConfig.js"></script>
	<script src="/js/snippets.js"></script>
	<script src="/js/teachingCallApp.js"></script>
	<script src="/js/jquery-ui.min.js"></script>
	<script src="/js/fuse.min.js"></script>

</body>

</html>