.instructor-list__cell-container--left {
  margin-left: 20px;
}

.instructor-list__cell-container--right {
  margin-right: 20px;
}

.instructor-list__cell-container {
  padding-left: 10px;
  height: 53px;
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  margin-top: 5px;
  margin-bottom: 5px;
}

.instructor-list__header {
  padding-left: 10px;
}

.instructor-list__header--first {
  margin-left: 20px;
}