<div ng-if="isVisible" class="dropdown-container">
  <div class="dropdown">
    <div class="header-row">
      <div>
        Assign tags to {{ view.state.uiState.selectedCourseRowIds.length }} courses
      </div>
      <div class="close-ui" ng-click="closeAssignTagsDropdown()">
        <svg height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12">
          <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path>
        </svg>
      </div>
    </div>

    <div class="items">
      <div ng-click="applyUserChoiceToTag(tag.id)"
        ng-repeat="tagId in view.state.tags.availableIds"
        ng-init="tag=view.state.tags.list[tagId]"
        class="tag-list">
        <span class="tag-icon-container">
          <i ng-if="view.tagOccurences[tagId].icon == 'all'" class="glyphicon glyphicon-ok tag-icon"></i>
          <i ng-if="view.tagOccurences[tagId].icon == 'some'" class="glyphicon glyphicon-minus tag-icon"></i>
        </span>
        <div>{{ tag.name }}</div>
      </div>

    </div>
    <div class="assign-tag-footer">
      <button 
        ng-click="submitMassAssignTags()"
        type="button"
        class="btn neon-dark-confirm-btn assign-tag-btn">
          Assign
      </button>
    </div>
  </div>
</div>
