<nav year="{{ year }}" workgroup-id="{{ workgroupId }}"></nav>
<div></div>

<ipa-header page-title="Support Call"></ipa-header>

<div ng-hide="view.state" style="margin-top:300px;">
	<spinner></spinner>
</div>

<!-- handle lack of access -->
<div ng-if="view.state && !view.state.supportCallResponse">
	<div class="jumbotron" style="text-align: center; height: 100%; background-color: white;">
		<p class="lead">You have not been invited to a support call in this term.</p>
		<br />
		<p class="lead">If you feel this is in error please contact the Academic Planner for {{ sharedState.workgroup.name }}.</p>
	</div>
</div>

<div ng-if="view.state && view.state.supportCallResponse" class="student-support-call-form">
	<!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

</div>