<nav year="{{ year }}" workgroup-id="{{ workgroupId }}"></nav>
<div></div>

<div class="page-container">
    <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

    <!-- modal-input comments -->
    <div class="modal fade" id="modal-3">
        <div class="modal-dialog student-modal-width">
            <div class="modal-content">
                <div class="modal-header student-modal-header_style">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Comments</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group" class="comments-modal">
                            <label class="control-label">Comments Here</label>
                            <div>
                                <textarea class="form-control" placeholder="Please add any comments here " rows="5 " id="comment" placeholder="Input comments here...">
                                    </textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-info">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal-ends -->
    <div class="main-content">
        <div class="container-fluid">
            <!-- page header -->
            <div class="student-form-header">
                <h3>Support Call 2016 Fall </h3>
            </div>
            <!-- page header ends -->
        </div>

        <div class="row">
            <div class="container-fluid">
                <div class="flex-row">
                    <!-- TA Requirements -->
                    <div class="student-requirement">
                        <h4>TA Eligibility Requirements</h4>
                        <div style="margin-top: 34px;">
                            <p>
                                Full-time (12 unites) registered graduate student, current cumulative GPA is 3.00 or higher, total appointments for this quarter does not exceed 75%,
                            </p>
                        </div>
                        <div class="checkbox religibility-checkbox">
                            <label class="checkbox-inline"><input value="" type="checkbox">Confirm Eligibility</label>
                        </div>
                    </div>
                    <!-- TA Requirements Ends -->

                    <div class="empty-flex-box_student-course">
                    </div>

                    <div class="student-course-container">
                        <div class="due-day-header">
                            <h4>Due Date: 08/23/2016 </h4>
                        </div>
                        <div class="student-course-section">
                            <div class="alert alert-info student-course">
                                <i class="glyphicon glyphicon-menu-hamburger move-course-icon"></i>
                                <i tabindex="0 " class="btn glyphicon glyphicon-exclamation-sign student-course-requirement text-primary" data-toggle="popover" data-trigger="focus " data-placement="right " data-content="Focus on Pychological study
                                         based on human interaction and behaviors" data-original-title="PSC 113 "></i>
                                <div class="student-course-info">
                                    <p class="student-course_title">PSC 113 - Session 001</p>
                                    <div class="student-course_details">
                                        <div>
                                        </div>
                                        <p class="student-preference">Course TA</p>
                                        <i class="btn glyphicon glyphicon-remove student-course-remove text-primary"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="comments-btn">
                                <a href="javascript:;" onclick="jQuery( '#modal-3').modal( 'show'); "><i class="glyphicon glyphicon-edit"></i>
                                        <span>Comments...</span>
                                        </a>
                            </div>
                        </div>
                        <div class="student-course-section">
                            <div class="alert alert-info student-course">
                                <i class="glyphicon glyphicon-menu-hamburger move-course-icon"></i>
                                <i tabindex="0 " class="btn glyphicon glyphicon-exclamation-sign student-course-requirement text-primary" data-toggle="popover" data-trigger="focus " data-placement="right " data-content="Focus on Pychological study
                                         based on human interaction and behaviors" data-original-title="PSC 113 "></i>
                                <div class="student-course-info ">
                                    <p class="student-course_title ">PSC 113 - Session 001</p>
                                    <div class="student-course_details ">
                                        <div>
                                        </div>
                                        <p class="student-preference ">Course TA</p>
                                        <i class=" btn glyphicon glyphicon-remove student-course-remove text-primary "></i>
                                    </div>
                                </div>
                            </div>
                            <div class="comments-btn ">
                                <a href="javascript:;" onclick="jQuery( '#modal-3').modal( 'show'); "><i class="glyphicon glyphicon-edit "></i>
                                        <span>Comments...</span>
                                        </a>
                            </div>
                        </div>
                        <div class="student-course-section">
                            <div class="alert alert-info student-course">
                                <i class="glyphicon glyphicon-menu-hamburger move-course-icon "></i>
                                <i tabindex="0 " class="btn glyphicon glyphicon-exclamation-sign student-course-requirement text-primary" data-toggle="popover" data-trigger="focus " data-placement="right " data-content="Focus on Pychological study
                                         based on human interaction and behaviors" data-original-title="PSC 113 "></i>
                                <div class="student-course-info ">
                                    <p class="student-course_title ">PSC 113 - Session 001</p>
                                    <div class="student-course_details ">
                                        <div>
                                        </div>
                                        <p class="student-preference ">Course TA</p>
                                        <i class=" btn glyphicon glyphicon-remove student-course-remove text-primary "></i>
                                    </div>
                                </div>
                            </div>
                            <div class="comments-btn ">
                                <a href="javascript:;" onclick="jQuery( '#modal-3').modal( 'show'); "><i class="glyphicon glyphicon-edit "></i>
                                        <span>Comments...</span>
                                        </a>
                            </div>
                        </div>
                        <!-- drop down -->
                        <div class="course-preference-selector ">
                            <select name="test " class="selectboxit " data-first-option="false ">
								<option>Select Preference</option>
								<optgroup label="Faculty Preference ">
									<option value="1 ">Psychology 001 (TA)</option>
									<option value="2 ">Psychology 050 (TA)</option>
									<option value="3 ">Pychological 101 (Reader)</option>
								</optgroup>
								<optgroup label="TA ">
									<option value="1 ">Psychology 015</option>
									<option value="2 ">Psychology 020</option>
                                        <option value="3 ">Psychology 115</option>
									<option value="4 ">Psychology 120</option>
								</optgroup>
                                    <optgroup label="Reader ">
									<option value="1 ">Psychology 015</option>
									<option value="2 ">Psychology 020</option>
								</optgroup>
                                    <optgroup label="AI ">
									<option value="1 ">Psychology 002</option>
									<option value="2 ">Psychology 020</option>
								</optgroup>
							</select>
                        </div>
                        <!-- drop down ends-->
                        <!--add new slot button
                            <a href="javascript:; " onclick="jQuery( '#modal-2').modal( 'show'); " class="btn btn-default assignment ta student-course_add ">
                                <p class="text-center ">Add Courses</p>
                            </a>
                        -->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- input box section -->
    <div class="main-content input-box-container ">
        <div class="container-fluid ">
            <div class="input-box-section ">
                <div class="input-box-area ">
                    <h5 class="pull-left ">Teaching Qualification</h5>
                    <textarea class="form-control" placeholder="Please indicate you teaching qualification here"></textarea>
                </div>
                <div class="empty-flex-box_input-box ">
                </div>
                <div class="input-box-area ">
                    <h5 class="pull-left">Comments</h5>
                    <textarea class="form-control" placeholder="Please add any comments here"></textarea>
                </div>
            </div>
            <button type="button " class="btn btn-info pull-right ">Submit Preferences</button>
        </div>
    </div>
    <!-- input box section ends -->
</div>