.workload-table__table {
	width: 100%;
	font-size: 12px;
}

.workload-table__container {
	padding-left: 20px;
	padding-right: 20px;
}

.workload-table__value {
	padding: 5px;
}

/* Hack to allow the div inside the td to utilize height: 100%. */
/* The td of 1px is a specified height, but will immediately automatically grow to fit the contents of the div */
.workload-table td {
	height: 1px;
}

.workload-table__cell {
	height: 100%;
	padding: 5px;
}

.workload-table__header-cell {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 5px;
	font-size: 14px;
}

.workload-table__cell-first {
	border-left: 1px solid #ddd;
}

.workload-table__cell-last {
	border-right: 1px solid #ddd;
}

.workload-summary__table-label {
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 12px;
}

.workload-table__cell-last-row {
	border-bottom: 1px solid #ddd;
}

.workload-table__last {
	padding-bottom: 30px;
}