                <div class="modal-content">
                    <div class="modal-header config-header_style">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">TA Call Configuration</h4>
                    </div>
                    <!-- modal-body -->
                    <div class="modal-body">
                        <!-- ta-call-info section-->
                        <div class="flex-box_column container-fluid">
                            <div class="term-quarter">
                                <div class="row">

																	<div class="dropdown">
																	  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select Term
																	  <span class="caret"></span></button>
																	  <ul class="dropdown-menu">
																	    <li><a href="#">Fall Quarter 2016</a></li>
																			<li><a href="#">Fall Semester 2016</a></li>
																	    <li><a href="#">Winter Quarter 2017</a></li>
																	    <li><a href="#">Spring Semester 2017</a></li>
																	  </ul>
																	</div>

                                </div>
                            </div>



                            <div class="people-list-section">
                                <div class="row">
                                    <h5>Participants</h5>
                                    <div class="preference-selector btn-group" data-toggle="buttons">

																			<div class="btn-group" data-toggle="buttons">
																				<label class="instructor-toggle-btn btn btn-white"
																				ng-click="togglePhd()"
																				ng-class="{'support-call-group-active': supportCallConfigData.phdParticipants}">
																					<input type="checkbox" name="options">
																					<span></span> Phd
																				</label>

																				<label class="instructor-toggle-btn btn btn-white"
																				ng-click="toggleMasters()"
																				ng-class="{'support-call-group-active': supportCallConfigData.mastersParticipants}">
																					<input type="checkbox" name="options">
																					<span></span> Master
																				</label>

																				<label class="instructor-toggle-btn btn btn-white"
																				ng-click="toggleInstructionalSupport()"
																				ng-class="{'support-call-group-active': supportCallConfigData.instructionalSupportParticipants}">
																					<input type="checkbox" name="options">
																					<span></span> Non-departmental
																				</label>
																				
																				<label class="instructor-toggle-btn btn btn-white"
																				ng-click="toggleInstructor()"
																				ng-class="{'support-call-group-active': supportCallConfigData.instructorParticipants}">
																					<input type="checkbox" name="options">
																					<span></span> Instructors
																				</label>
																			</div>

                                    </div>
                                    <div class="bootstrap-tagsinput receivers-input-section">
                                        <span ng-repeat="participant in supportCallConfigData.participantPool"
																					ng-click="toggleEnabled(participant)" class="tag label label-info">
																					<input ng-checked="participant.enabled" type="checkbox">
																					{{ participant.displayName }}
																				</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- modal-body ends -->
                    <!-- modal-footer -->
                    <div class="modal-footer">
                      <button ng-click="gotoStudentConfigStep()" type="button" class="btn btn-info">Next</button>
                    </div>
                    <!-- modal-footer ends -->
                </div>
        <!-- modal ends -->