<div>
	<add-support-call-term-selection ng-if="supportCallConfigData.displayPage==6"></add-support-call-term-selection>

	<add-support-call-user-selection ng-if="supportCallConfigData.displayPage==1"></add-support-call-user-selection>

	<add-student-support-call-config ng-if="supportCallConfigData.displayPage==2"></add-student-support-call-config>
	<add-student-support-call-summary ng-if="supportCallConfigData.displayPage==3"></add-student-support-call-summary>

	<add-instructor-support-call-config ng-if="supportCallConfigData.displayPage==4"></add-instructor-support-call-config>
	<add-instructor-support-call-summary ng-if="supportCallConfigData.displayPage==5"></add-instructor-support-call-summary>

</div>