                <div class="modal-content">
                    <div class="modal-header config-header_style">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">TA Call Summary</h4>
                    </div>
                    <!-- modal-body -->
                    <div class="modal-body">
                        <!-- ta-call-info section-->
                        <div class="flex-box_column container-fluid">
                            <div class="term-quarter">
                                <div class="row">
                                    <h5>Term: Fall Quarter 2016</h5>
                                </div>
                            </div>
                            <div class="config-summary-title">
                                <div class="row">
                                    <h4>Graduate Student Group</h4>
                                </div>
                            </div>
                            <div class="people-list-section">
                                <div class="row">
                                    <h5>People</h5>
                                    <textarea class="form-control" placeholder="Important: Instructor Name, Due Date, and Quarter Term will all be included." rows="5" id="comment"></textarea>
                                </div>
                            </div>
                            <div class="preference-and-due_date">
                                <div class="row">
                                    <span class="bold-title">Preference:</span><span>TA</span>
                                </div>
                                <div class="row">
                                    <span class="bold-title">Due Date:</span><span>October 11, 2016</span>
                                </div>
                            </div>
                            <div class="info-collected-section">
                                <div class="row">
                                    <h5>Information Needed:</h5>
                                    <div class="flex-box_row">
                                        <div class="info-collected-list">
                                            <div class="info-collected">
                                                <i class="glyphicon glyphicon-ok"></i><span>Require Eligibility Confirmation</span>
                                            </div>
                                            <div class="info-collected">
                                                <i class="glyphicon glyphicon-ok"></i><span>Collect Teaching Qualifications</span>
                                            </div>
                                            <div class="info-collected">
                                                <i class="glyphicon glyphicon-ok"></i><span>Collect Preference Comments</span>
                                            </div>
                                            <div class="info-collected">
                                                <i class="glyphicon glyphicon-ok"></i><span>Allow submission after due date</span>
                                            </div>
                                            <div class="info-collected">
                                                <i class="glyphicon glyphicon-ok"></i><span>Collect General Comments</span>
                                            </div>
                                            <div class="info-collected">
                                                <span>Minimum number of preferences: 2</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="email-message">
                                <div class="row">
                                    <h5>Email Message to Student Group:</h5>
                                    <textarea class="form-control" placeholder="Important: Instructor Name, Due Date, and Quarter Term will all be included." rows="5" id="comment"></textarea>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- modal-body ends -->
                    <!-- modal-footer -->
                    <div class="modal-footer">
                        <!-- email section ends -->
                        <button type="button" class="btn btn-info">Next</button>
                    </div>
                    <!-- modal-footer ends -->
                </div>