<div class="modal-content">
	<div class="modal-header config-header_style">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h4 class="modal-title">Support Call</h4>
	</div>
	<!-- modal-body -->
	<div class="modal-body">
	    <!-- ta-call-info section-->
	    <div class="flex-box_row">
	        <div class="config-flex-auto container-fluid">
	            <!-- collect ta preference -->
	            <div class="row btn-group" data-toggle="buttons" style="margin-bottom: 25px;">
	            	<h5 style="margin-bottom: 15px;">Collect Preferences for:</h5>

								<div class="preference-selector btn-group" data-toggle="buttons">
									<div class="btn-group">

										<label class="instructor-toggle-btn btn btn-white"
											ng-click="toggleTAPreferences()"
											ng-class="{'support-call-group-active': supportCallConfigData.collectTAPreferences}">
											<input type="checkbox" name="options">
											TA
										</label>

										<label class="instructor-toggle-btn btn btn-white"
											ng-click="toggleReaderPreferences()"
											ng-class="{'support-call-group-active': supportCallConfigData.collectReaderPreferences}">
											<input type="checkbox" name="options">
											Reader
										</label>

										<label class="instructor-toggle-btn btn btn-white"
											ng-click="toggleAIPreferences()"
											ng-class="{'support-call-group-active': supportCallConfigData.collectAIPreferences}">
											<input type="checkbox" name="options">
											AI
										</label>

									</div>
								</div>
	            </div>
	            <!-- collect ta preference ends-->
	            <!-- collect required information-->
	            <div class="row">
	                <h5>Additional Form Fields</h5>
	                <div class="checkbox">
	                    <label class="checkbox-inline check-box-TA-call">
												<input type="checkbox" value="" ng-model="supportCallConfigData.requireEligibilityConfirmation">
												Require Eligibility Confirmation
												<div style="padding-left: 5px;" class="pull-right" tooltip-placement="right"
												uib-tooltip="This option will display the UC Davis TA requirements on the form and require a checkbox is clicked to confirm eligilibility.">
													<i class="glyphicon glyphicon-question-sign pull-right question--position"></i>
												</div>
											</label>
	                </div>
	                <div class="checkbox">
	                    <label class="checkbox-inline check-box-TA-call">
												<input type="checkbox" value="" ng-model="supportCallConfigData.collectTeachingQualifications">
												Collect Teaching Qualifications
												<div style="padding-left: 5px;" class="pull-right" tooltip-placement="right"
												uib-tooltip="This option will display an additional text field on the form to capture general teaching qualification details from the applicant.">
													<i class="glyphicon glyphicon-question-sign pull-right question--position"></i>
												</div>
											</label>
	                </div>
	                <div class="checkbox">
	                    <label class="checkbox-inline check-box-TA-call">
												<input type="checkbox" value="" ng-model="supportCallConfigData.collectPreferenceQualifications">
												Collect Preference Comments
												<div style="padding-left: 5px;" class="pull-right" tooltip-placement="right"
												uib-tooltip="This option will allow the applicant to provide individual comments for every preference they select.">
													<i class="glyphicon glyphicon-question-sign pull-right question--position"></i>
												</div>
											</label>
	                </div>
	                <div class="checkbox">
	                  <label class="checkbox-inline check-box-TA-call">
											<input type="checkbox" value="" ng-model="supportCallConfigData.collectGeneralComments">
											Collect General Comments
											<div style="padding-left: 5px;" class="pull-right" tooltip-placement="right"
											uib-tooltip="This option will display an additional text field on the form to capture general comments from the applicant.">
												<i class="glyphicon glyphicon-question-sign pull-right question--position"></i>
											</div>
										</label>
	                </div>
	                <div class="checkbox">
	                  <label class="checkbox-inline check-box-TA-call">
											<input type="checkbox" value="" ng-model="supportCallConfigData.allowSubmissionAfterDueDate">
											Allow submission after due date
											<div style="padding-left: 5px;" class="pull-right" tooltip-placement="right"
											uib-tooltip="If this option is selected applicants will be able to continue adding and removing preferences after the due date. When it is not selected the form becomes un-editable after the due date.">
												<i class="glyphicon glyphicon-question-sign pull-right question--position"></i>
											</div>
										</label>
	                </div>
	                <div class="checkbox">
	                  <label class="checkbox-inline check-box-TA-call">
											Minimum number of preferences
											<div style="padding-left: 5px;" class="pull-right" tooltip-placement="right"
											uib-tooltip="This option allows you to require the applicant to indicate a certain number of preferences before they can submit the form.">
												<i class="glyphicon glyphicon-question-sign question--position"></i>
											</div>
										</label>
	                  <div>
	                  	<input style="width:12%; margin-left: 20px;" class="form-control" type="text" ng-model="supportCallConfigData.minimumNumberOfPreferences">
	                  </div>
	                </div>
	            </div>
	            <!-- collect required information ends-->
	        </div>
	        <!-- ta-call-info section ends-->
	        <div class="config-flex-auto">
	            <!-- select dates&terms section-->
	            <div class="container-fluid">
	                <h5>Set Due Date</h5>

									<div uib-datepicker ng-model="supportCallConfigData.rawDueDate" datepicker-options="dateOptions"></div>
	            </div>
	            <!-- select dates&terms section ends-->
	        </div>
	    </div>
	</div>
    <!-- modal-body ends -->
    <!-- modal-footer -->
    <div class="modal-footer">
        <div class="flex-box_column email-section container-fluid">
            <!-- email section begin -->
            <div class="preference-selector btn-group" data-toggle="buttons">
                <!-- email preference  -->
                <h5>Email</h5>
								 <label ng-click="toggleSendEmails()" class="checkbox-inline check-box-TA-call">
								 	<input type="checkbox" ng-click="checkboxToggle()" ng-model="supportCallConfigData.sendEmails">
							    Email Participants
						     </label>
            </div>
            <div class="message-section">
								Email Message
								<textarea ng-if="supportCallConfigData.sendEmails == false" disabled style="height: 100px;" ng-model="supportCallConfigData.emailMessage" class="form-control"></textarea>
                <textarea ng-if="supportCallConfigData.sendEmails" style="height: 100px;" ng-model="supportCallConfigData.emailMessage" class="form-control"></textarea>
            </div>
        </div>
        <!-- email section ends -->
        <button ng-click="gotoUserSelectionPage()" type="button" class="btn btn-default">Back</button>
        <button ng-click="gotoSummaryPage()" type="button" class="btn btn-info">Next</button>
    </div>
    <!-- modal-footer ends -->
</div>