<div class="modal-content">
    <div class="modal-header config-header_style">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Summary</h4>
    </div>

    <!-- modal-body -->
    <div class="modal-body">
        <!-- ta-call-info section-->
        <div class="flex-box_column container-fluid">
            <div class="term-quarter">
                <div class="row">
                    <h5>Term: {{ getTermName(supportCallConfigData.termCode) }}</h5>
                </div>
            </div>
            <div class="people-list-section">
                <div class="row">
                    <h5>People</h5>
                    <div class="people-summary-container">
											<span ng-repeat="participant in supportCallConfigData.participantPool">
												<span ng-if="!$first"> ,</span>
												{{ participant.displayName }}
											</span>
										</div>
                </div>
            </div>
            <div class="preference-and-due_date">
                <div class="row">
                    <span class="bold-title">
											Preferences:
										</span>

										<span ng-if="supportCallConfigData.collectTAPreferences">TA &nbsp;</span>
										<span ng-if="supportCallConfigData.collectReaderPreferences">Reader &nbsp;</span>
										<span ng-if="supportCallConfigData.collectAIPreferences">AI &nbsp;</span>

                </div>
                <div class="row">
                    <span class="bold-title">Due Date:</span><span>{{ supportCallConfigData.dueDate }}</span>
                </div>
            </div>
            <div class="info-collected-section">
                <div class="row">
                    <h5>Requested Information:</h5>
                    <div class="flex-box_row">
                        <div class="info-collected-list">
                            <div class="info-collected" ng-show="supportCallConfigData.requireEligibilityConfirmation">
                                <i class="glyphicon glyphicon-ok"></i><span>Require Eligibility Confirmation</span>
                            </div>
                            <div class="info-collected" ng-show="supportCallConfigData.collectTeachingQualifications">
                                <i class="glyphicon glyphicon-ok"></i><span>Collect Teaching Qualifications</span>
                            </div>
                            <div class="info-collected" ng-show="supportCallConfigData.collectPreferenceQualifications">
                                <i class="glyphicon glyphicon-ok"></i><span>Collect Preference Qualifications</span>
                            </div>
                            <div class="info-collected" ng-show="supportCallConfigData.allowSubmissionAfterDueDate">
                                <i class="glyphicon glyphicon-ok"></i><span>Allow submission after due date</span>
                            </div>
                            <div class="info-collected" ng-show="supportCallConfigData.collectGeneralComments">
                                <i class="glyphicon glyphicon-ok"></i><span>Collect General Comments</span>
                            </div>
                            <div class="info-collected">
                                <span>Minimum number of preferences: {{ supportCallConfigData.minimumNumberOfPreferences }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="email-message">
                <div class="row">
                    <h5>Email Message:</h5>
										<div class="people-summary-container">
											{{ supportCallConfigData.emailMessage }}
										</div>
                </div>
            </div>


        </div>
    </div>
    <!-- modal-body ends -->
    <!-- modal-footer -->
    <div class="modal-footer">
        <!-- email section ends -->
				<button ng-click="gotoConfigPage()" type="button" class="btn btn-default">Back</button>
        <button type="button" class="btn btn-info" ng-click="beginSupportCall()">Begin</button>
    </div>
    <!-- modal-footer ends -->
</div>