<nav year="{{ year }}" workgroup-id="{{ workgroupId }}"></nav>
<div></div>

    <div class="page-container">
        <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
        <!-- Summary Page Start -->
        <div class="main-content">
            <div class="container-fluid">
                <!-- page header -->
                <div class="student-summary-header">
                    <h3>Support Call 2016-17</h3>
                    <p>Psychology Fall</p>
                </div>
                <!-- page header ends -->
            </div>
            <div class="row">
							<div class="container-fluid table">
								<div class="flex table-header container-box-title"> <!-- table title -->
									<div class="table-content">Start Date</div>
									<div class="table-content">End Date</div>
									<div class="table-content">Group</div>
									<div class="table-content">Via Email</div>
									<div class="table-content">Term</div>
									<div class="table-content">Responded/Surveyed</div>
								</div>
							</div>
                <!-- table #1 -->
                <div class="container-fluid table">
                    <div class="flex table-body container-box"> <!-- table contents -->
                        <div class="table-content">October 5, 2016</div>
                        <div class="table-content">October 10, 2016</div>
                        <div class="table-content">Graduate Students<i tabindex="0" class="btn glyphicon glyphicon-exclamation-sign people-info-icon" data-toggle="popover" data-trigger="focus" data-placement="left" data-content="Steve,Lee   John,Smith   Jerry,Armstrong" data-original-title="Graudate Students"></i></div>
                        <div class="table-content"><i class="glyphicon glyphicon-ok"></i></div>
                        <div class="table-content">Winter Quarter</div>
												<div class="table-content">35/55</div>
                    </div>
                </div>
                <!-- table #1 ends -->

                <!-- table #2 -->
                <div class="container-fluid table">
                    <div class="flex table-body container-box"> <!-- table contents -->
                        <div class="table-content">October 5, 2016</div>
                        <div class="table-content">October 10, 2016</div>
                        <div class="table-content">Instructors<i tabindex="0" class="btn glyphicon glyphicon-exclamation-sign people-info-icon" data-toggle="popover" data-trigger="focus" data-placement="left" data-content="Steve,Lee   John,Smith   Jerry,Armstrong" data-original-title="Graudate Students"></i></div>
                        <div class="table-content"><i class="glyphicon glyphicon-ok"></i></div>
                        <div class="table-content">Fall Quarter</div>
												<div class="table-content">35/55</div>
                    </div>
                  </div>
                <!-- table #2 ends -->
            </div>
        </div>
    </div>