<nav year="{{ year }}" workgroup-id="{{ workgroupId }}"></nav>
<div></div>

<div class="page-container">
	<div class="main-content">

		<!-- page header -->
		<div class="container-fluid">
			<div class="student-summary-header">
				<h3>Support Call {{ year}} - {{ nextYear }}</h3>
				<p>[Psychology]</p>
			</div>
		</div>
		<!-- page header ends -->

		<div class="row">
			<div class="flex">
				<div class="flex-table-content flex table-header container-box-title"> <!-- table title -->
					<div class="table-content">Start Date</div>
					<div class="table-content">End Date</div>
					<div class="table-content">Group</div>
					<div class="table-content">Via Email</div>
					<div class="table-content">Term</div>
					<div class="table-content">Responded/Surveyed</div>
				</div>
				<div class="flex-ui-overlay"></div>
			</div>

			<div ng-repeat="studentSupportCallId in view.state.supportCalls.studentSupportCalls.ids"
					ng-init="studentSupportCall=view.state.supportCalls.studentSupportCalls.list[studentSupportCallId]"
					class="support-call-row flex">
				<div class="flex-table-content flex table-body container-box"> <!-- table contents -->
					<div class="table-content">
						{{ studentSupportCall.startDate.toFullDate() }}
					</div>
					<div class="table-content">
						{{ studentSupportCall.dueDate.toFullDate() }}
					</div>
					<div class="table-content">
						Graduate Students
						<i tabindex="0" class="btn glyphicon glyphicon-exclamation-sign people-info-icon" data-toggle="popover"
						data-trigger="focus" data-placement="left" data-content="Steve,Lee   John,Smith   Jerry,Armstrong" data-original-title="Graudate Students"></i>
					</div>
					<div class="table-content">
						<i ng-show="studentSupportCall.sendEmails" class="glyphicon glyphicon-ok"></i>
					</div>
					<div class="table-content">
						{{ getTermDescription(studentSupportCall.termCode) }}
					</div>
					<div class="table-content">
						35/55
					</div>
				</div>
				<div class="flex-ui-overlay">
					<i class="btn entypo-minus-circled delete-support-call-button"
					uib-tooltip="Delete Support Call" tooltip-placement="bottom"
					confirm-button="deleteStudentSupportCall(studentSupportCall)"
					message="Are you sure you want to delete this support call? All of the collected preferences will be lost."
					yes="Confirm" no="Cancel" placement="top"></i>
				</div>
			</div>

			<div style="display: flex; justify-content: center;">
				<div style="display: flex; flex: 0 0 auto; align-items: center; justify-content: center;">
					<a ng-if="true"
					class="btn btn-default btn-block begin-support-call-button" ng-click="openSupportCallConfig('student')">
						<span style="padding-right: 5px;" class="glyphicon glyphicon-plus"></span>
						Student Support Call
					</a>
				</div>
				<div style="display: flex; flex: 0 0 auto; align-items: center; justify-content: center;">
					<a ng-if="true"
					class="btn btn-default btn-block begin-support-call-button" ng-click="openSupportCallConfig('instructor')">
						<span style="padding-right: 5px;" class="glyphicon glyphicon-plus"></span>
						Instructor Support Call
					</a>
				</div>
			</div>

		</div>
	</div>
</div>