.budget-scenario-toolbar {
	width: 100%;
	display: flex;
	margin-bottom: 20px;
	justify-content: space-between;

	position: fixed;
	top: 146px;
	left: 200px;
	width: calc(100% - 200px );
	margin-top: -30px;
	padding: 10px 20px;
	background-color: #fff;
	border-bottom: 1px solid #e3e3e3;
	z-index: 34;
}

.budget-scenario-toolbar__tool-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 25%;
}

.budget-scenario-toolbar__tool {
	border-radius: 3px;
	border: 1px solid #ddd;
	padding: 5px;
	margin-left: 8px;
	cursor: pointer;
}

.budget-scenario-toolbar__tool:hover {
	border-color: #7c7c7c;
	background-color: #eee;
}

.budget-scenario-toolbar__scenario-label {
	display: flex;
	align-items: center;
	font-weight: bold;
	margin-right: 10px;
}

.budget-scenario-toolbar__edit-ui {
	align-items: center;
	display: flex;
}

.budget-scenario-toolbar__container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.budget-scenario-toolbar__edit-button {
	margin-left: 10px;
}

.budget-scenario-toolbar__term-display {
	border: 1px solid rgba(27,31,35,0.2);
	border-radius: 0.25em;
	padding: 3px 12px;
	margin-left: 10px;
}

.budget-scenario-toolbar__rename-input {
	padding: 6px 12px;
}

.budget-scenario-toolbar__beta-warning {
	padding: 15px 20px;
	border: 1px solid #21A9E1;
	border-radius: 3px;
	font-weight: 500;
	display: flex;
	width: 40%;
}

.budget-scenario-toolbar__beta-warning-container {
	flex: 25 0 0px;
	display: flex;
	flex-flow:column;
	align-items: flex-start;
}

.budget-scenario-toolbar__beta-warning-text {
	margin-bottom: 5px;
}

.budget-scenario-toolbar__beta-warning-icon {
	flex: 1 0 0px;
	color: #21A9E1;
	padding-right: 5px;
}

.budget-scenario-toolbar__token {
	background-color: #e6e6e6;
	color: #333;
	margin-right: 5px;
	display: inline-block;
	font-size: 85%;
	line-height: normal;
}

.budget-scenario-toolbar__token-remove {
	margin-left: 0.7em;
}

.budget-scenario-toolbar__button {
	margin-left: 10px;
	padding: 3px 5px 3px 5px;
	border: 1px solid #ddd;
	border-radius: 3px;
	cursor: pointer;
	margin-bottom: -1px;
	background-color: #fff;
}
.budget-scenario-toolbar__button:hover {
	background-color: #e6ebf1;
	background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
	border-color: rgba(27,31,35,0.35);
	color: #24292e;
}
.budget-scenario-toolbar__button:disabled {
	cursor:  progress;
}
.budget-scenario-toolbar__button--text {
	margin-left: 3px;
}

@media print {
  @page {
    margin: 1cm;
  }

  .do-not-print {
		display: none;
  }
}
