<nav year="{{ year }}" workgroup-id="{{ workgroupId }}"></nav>

<div class="margin-bottom-30">
		<h3 class="text-align--center">
			Teaching Call {{ year }}-{{ nextYear }}
		</h3>
		<p class="text-align--center department-title">{{ sharedState.workgroup.name }}</p>
</div>

<div class="container-fluid">
    <div class="row">
		<div class="col-md-9">
			<div class="row teaching-call--course-preference">
				<div class="col-md-3">
				</div>
				<div class="col-md-9">
				</div>
			</div>
			<div class="row teaching-call--check-unavailiability">
				<div class="col-md-12">
				</div>
			</div>
			<div class="row teaching-call--additional-information">
				<div class="col-md-12">
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<aside class="teaching-call--academic-term-sidebar">
				<h5 class="text-center">Select Academic Term</h5>
				<ul>
					<li>
						Summer Session 1
					</li>
					<li>
						Summer Session 2
					</li>
					<li>
						Fall Quarter
					</li>
					<li>
						Winter Quarter
					</li>
					<li>
						Spring Quarter
					</li>
				</ul>
			</aside>
			<aside class="teaching-call--progress-sidebar">
				<h5 class="text-center">TeachingCall Checkbox</h5>
				<ul>
					<li>
						<input class="list-checkbox" type="checkbox">Preference
					</li>
					<li>
						<input class="list-checkbox" type="checkbox">Summer Session 1
					</li>
					<li>
						<input class="list-checkbox" type="checkbox">Summer Session 2
					</li>
					<li>
						<input class="list-checkbox" type="checkbox">Fall Quarter
					</li>
					<li>
						<input class="list-checkbox" type="checkbox">Winter Quarter
					</li>
					<li>
						<input class="list-checkbox" type="checkbox">Spring Quarter
					</li>

					<li>
						<input class="list-checkbox" type="checkbox">Additional Information
					</li>
				</ul>
				<button type="button" class="btn btn-white">Submit</button>
			</aside>
		</div>
	</div>


</div>
