<nav year="{{ year }}" workgroup-id="{{ workgroupId }}"></nav>

<div class="margin-bottom-30">
		<h3 class="text-align--center">
			Teaching Call {{ year }}-{{ nextYear }}
		</h3>
		<p class="text-align--center department-title">{{ sharedState.workgroup.name }}</p>
</div>

<div class="container-fluid">
    <div class="row">
		<div class="col-md-9">
			<div class="row teaching-call--course-preference">
				<div class="col-md-12">
					<h5>Choose Your Course Preference</h5>
					<table class="table table-bordered ">
						<thead>
							<tr>
								<th>Preference</th>
								<th>Course</th>
								<th>Number of Seats</th>
							</tr>
						</thead>
						
						<tbody>
							<tr>
								<td>1</td>
								<td>PSY 001 General Psychology</td>
								<td>200</td>
							</tr>
							
							<tr>
								<td>2</td>
								<td>PSY 015 Cognitive Psychology</td>
								<td>146</td>
							</tr>
							
							<tr>
								<td>3</td>
								<td>PSY 110 Advanced Psychology</td>
								<td>158</td>
							</tr>
						</tbody>
				</table>
				</div>
			</div>
			<div class="row teaching-call--check-unavailiability">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6" style="padding: 0;">
							<h5>Please indicate your un-availabilities:</h5>
						</div>
						<div class="col-md-6" style="padding: 0;">
							<div class="pull-right" tooltip-placement="left" uib-tooltip="You can left click and drag to paint unavailability on the grids below.
							Additionally you can use the copy to all terms button next to the term headers to indicate the same unavailability on all terms.">
								<i class="glyphicon glyphicon-question-sign  question--position"></i>
							</div>
							<small class="legend pull-right" style="text-align: center;">
								<div class="legend-square" style="background-color:#fff"></div>Available
								<div class="legend-square" style="background-color:#ccc"></div>Unavailable
							</small>
						</div>
					</div>
					<table class="table availability-grid" style="table-layout: fixed;">
						<thead>
							<tr>
								<th></th>
								<th class="unavailiability-table-header">Monday</th>
								<th class="unavailiability-table-header">Tuesday</th>
								<th class="unavailiability-table-header">Wednesday</th>
								<th class="unavailiability-table-header">Thrusday</th>
								<th class="unavailiability-table-header">Friday</th>
								<tbody>
									<tr>
										<th>
											7
										</th>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
									</tr>
									<tr>
										<th>
											8
										</th>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
									</tr>
									<tr>
										<th>
											9
										</th>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
									</tr>
									<tr>
										<th>
											10
										</th>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
									</tr>
									<tr>
										<th>
											11
										</th>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
									</tr>
									<tr>
										<th>
											12
										</th>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
									</tr>
									<tr>
										<th>
											1
										</th>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
									</tr>
									<tr>
										<th>
											2
										</th>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
									</tr>
									<tr>
										<th>
											3
										</th>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
									</tr>
									<tr>
										<th>
											5
										</th>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
									</tr>
									<tr>
										<th>
											6
										</th>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
									</tr>
									<tr>
										<th>
											7
										</th>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
									</tr>
									<tr>
										<th>
											8
										</th>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
									</tr>
									<tr>
										<th>
											9
										</th>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
									</tr>
								</tbody>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<div class="row teaching-call--additional-information">
				<div class="col-md-12">
					<h5>Additional Message</h5>
					<textarea class="form-control ng-pristine ng-untouched ng-valid ng-empty" style="height:150px" ng-model="view.state.activeTeachingCall.teachingCallReceipt.comment" auto-input="" on-blur="updateTeachingCallReceipt()" placeholder="(Optional) Add any additional comments or requests here." rows="5" id="comment"></textarea>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<aside class="teaching-call--academic-term-sidebar">
				<h5 class="text-center">Select Academic Term</h5>
				<ul>
					<li>
						Summer Session 1
					</li>
					<li>
						Summer Session 2
					</li>
					<li>
						Fall Quarter
					</li>
					<li>
						Winter Quarter
					</li>
					<li>
						Spring Quarter
					</li>
				</ul>
			</aside>
			<aside class="teaching-call--progress-sidebar">
				<h5 class="text-center">TeachingCall Checkbox</h5>
				<ul>
					<li>
						<input class="list-checkbox" type="checkbox">Preference
					</li>
					<li>
						<input class="list-checkbox" type="checkbox">Summer Session 1
					</li>
					<li>
						<input class="list-checkbox" type="checkbox">Summer Session 2
					</li>
					<li>
						<input class="list-checkbox" type="checkbox">Fall Quarter
					</li>
					<li>
						<input class="list-checkbox" type="checkbox">Winter Quarter
					</li>
					<li>
						<input class="list-checkbox" type="checkbox">Spring Quarter
					</li>

					<li>
						<input class="list-checkbox" type="checkbox">Additional Information
					</li>
				</ul>
				<button type="button" class="btn btn-white">Submit</button>
			</aside>
		</div>
	</div>


</div>
