.course-header {
	padding: 20px;
}

.course-header__name {
	font-weight: bold;
	color: #555;
	margin-bottom: 15px;
}

.course-header__details {
	display: flex;
}

.course-header__input-container {
	flex: 1 0 0px;
}

.course-header__input {
	
}