<div class="course-header">
	<div class="course-header__name">
		{{ sectionGroup.subjectCode }} {{ sectionGroup.courseNumber }} {{ sectionGroup.sequencePattern }} {{ sectionGroup.title }}
	</div>
	<div class="course-header__details">
		<div>
			Seats: {{ sectionGroup.plannedSeats }}
		</div>
		<div>
			Units: {{sectionGroup.units}}
		</div>
	</div>
	<div ng-show="viewType == 'Teaching Assistants'" class="course-header__input-container">
		Number of TAs
		<input class="course-header__input"
		type="number"
		ng-model="sectionGroup.teachingAssistantAppointments"
		auto-input on-blur="updateTeachingAssistantAppointments(sectionGroup)">
		</input>
	</div>
	<div ng-show="viewType == 'Readers'" class="course-header__input">
		Number of readers
		<input class="course-header__input"
		type="number"
		ng-model="sectionGroup.readerAppointments"
		auto-input on-blur="updateReaderAppointments(sectionGroup)">
		</input>
	</div>
</div>