<div class="course-header">
	<div class="course-header__name">
		{{ sectionGroup.subjectCode }} {{ sectionGroup.courseNumber }} {{ sectionGroup.sequencePattern }} {{ sectionGroup.title }}
	</div>

	<table>
		<tbody>
			<tr>
				<td class="course-header__cell">
					<div ng-show="viewType == 'Teaching Assistants'">
						TAs
					</div>
					<div ng-show="viewType == 'Readers'">
						Readers
					</div>
				</td>
				<td class="course-header__cell">
					<div ng-show="viewType == 'Teaching Assistants'">
						<input class="course-header__input"
						type="number"
						ng-model="sectionGroup.teachingAssistantAppointments"
						auto-input on-blur="updateTeachingAssistantAppointments(sectionGroup)">
						</input>
					</div>
					<div ng-show="viewType == 'Readers'">
						<input class="course-header__input"
						type="number"
						ng-model="sectionGroup.readerAppointments"
						auto-input on-blur="updateReaderAppointments(sectionGroup)">
						</input>
					</div>
				</td>
			</tr>
			<tr>
				<td class="course-header__cell">
					Seats
				</td>
				<td class="course-header__cell course-header__cell--push-right">
					{{ sectionGroup.plannedSeats }}
				</td>
			</tr>
			<tr>
				<td class="course-header__cell">
					Units
				</td>
				<td class="course-header__cell course-header__cell--push-right">
					{{ sectionGroup.units }}
				</td>
			</tr>
		</tbody>
	</table>
</div>