<div class="incoming-changes">
  <ipa-tabs tab-names="termNav.allTabs"
            active-tab="termNav.activeTab"
            select-tab="setActiveTerm"
            slim="true">
    <div class="line-items">
      <table class="line-items__table">
        <colgroup>
          <col style="width: 20%;">
          <col style="width: 20%;">
          <col style="width: 20%;">
          <col style="width: 20%;">
          <col style="width: 20%;">
        </colgroup>
        <thead>
          <tr>
            <th class="line-items__table-header">
              <div class="line-items__table-header-container">
              </div>
            </th>
           <th class="line-items__table-header">
              <div class="line-items__table-header-container">
                Change
              </div>
            </th>
            <th class="line-items__table-header">
              <div class="line-items__table-header-container">
                Scheduled
              </div>
            </th>
            <th class="line-items__table-header">
              <div class="line-items__table-header-container">
                Scenario
              </div>
            </th>
            <th class="line-items__table-header line-items__table--amount">
              <div class="line-items__table-header-amount-container"></div>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="change in changes[termNav.activeTerm]">
            <td class="course-list__cell" ng-class-even="'course-list__cell--dark'">
              <div class="incoming-changes__title">
                {{ change.display.title }}
              </div>
              <div>
                {{ change.display.subTitle }}
              </div>
            </td>
            <td class="course-list__cell" ng-class-even="'course-list__cell--dark'">
              <span class="incoming-changes__change-text">
                {{ change.display.changeText }}
              </span>
            </td>
            <td class="course-list__cell" ng-class-even="'course-list__cell--dark'">
              <i ng-if="change.display.ipaText == 'check'" class="glyphicon glyphicon-check"></i>
              <span ng-if="change.display.ipaText != 'check'">{{ change.display.ipaText }}</span>
            </td>
            <td class="course-list__cell" ng-class-even="'course-list__cell--dark'">
              <i ng-if="change.display.ipaText == 'check'" class="glyphicon glyphicon-check"></i>
              <span ng-if="change.display.scenarioText != 'check'">{{ change.display.scenarioText }}</span>
            </td>
            <td class="course-list__cell" ng-class-even="'course-list__cell--dark'">

              <span>
                <ipa-button text="'Sync ' + change.display.changeText"
                            size="'small'"
                            skin="'dark'"
                            confirm-message="'Are you sure you want to do the thing?'"
                            on-click="hide(sectionGroupCost)">
                </ipa-button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </ipa-tabs>
</div>
