.incoming-changes__title {
  font-weight: bold;
}

.incoming-changes__change-text {
  color: rgb(153, 153, 153);
}

.incoming-changes__sub-title-indent {
  margin-left: 10px;
}

.incoming-changes__course-divide {
  border-bottom: 1px black solid;
}

.incoming-changes__section-divide {
  border-top: 1px #ebebeb solid;
}

.incoming-changes__course-header-ui {
  padding-left: 20%;
}

.incoming-changes__table {
  width: 100%;
  margin-bottom: 20px;
}
