<div class="incoming-changes">
  <ipa-tabs tab-names="termNav.allTabs"
            active-tab="termNav.activeTab"
            select-tab="setActiveTerm"
            slim="true">
    <div>
      <table class="incoming-changes__table">
        <colgroup>
          <col style="width: 20%;">
          <col style="width: 20%;">
          <col style="width: 20%;">
          <col style="width: 20%;">
          <col style="width: 20%;">
        </colgroup>
        <thead>
          <tr>
            <th class="line-items__table-header">
              <div class="line-items__table-header-container">
                Course
              </div>
            </th>
           <th class="line-items__table-header">
              <div class="line-items__table-header-container">
                Change
              </div>
            </th>
            <th class="line-items__table-header">
              <div class="line-items__table-header-container">
                Scheduled
              </div>
            </th>
            <th class="line-items__table-header">
              <div class="line-items__table-header-container">
                Scenario
              </div>
            </th>
            <th class="line-items__table-header line-items__table--amount">
              <div class="line-items__table-header-amount-container"></div>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="change in changes[termNav.activeTerm]" ng-class="{'incoming-changes__course-divide': change.courseHeader, 'incoming-changes__section-divide': !change.courseHeader}">
            <td class="course-list__cell">
              <div class="incoming-changes__title">
                {{ change.display.title }}
              </div>
              <div ng-class="{ 'incoming-changes__sub-title-indent': !change.display.title }">
                {{ change.display.subTitle }}
              </div>
            </td>
            <td class="incoming-changes__course-header-ui" ng-if="change.courseHeader" colspan="4">
              <span>
                <ipa-button text="'Sync (' + change.payload.changes.length + ') changes'"
                            size="'small'"
                            skin="'dark'"
                            confirm-message="'Are you sure you want to do the thing?'"
                            on-click="hide(sectionGroupCost)">
                </ipa-button>
              </span>
            </td>
            <td ng-if="!change.courseHeader" class="course-list__cell">
              <span class="incoming-changes__change-text">
                {{ change.display.changeText }}
              </span>
            </td>
            <td ng-if="!change.courseHeader" class="course-list__cell">
              <i ng-if="change.display.ipaText == 'check'" class="glyphicon glyphicon-check"></i>
              <span ng-if="change.display.ipaText != 'check'">{{ change.display.ipaText }}</span>
            </td>
            <td ng-if="!change.courseHeader" class="course-list__cell">
              <i ng-if="change.display.scenarioText == 'check'" class="glyphicon glyphicon-check"></i>
              <span ng-if="change.display.scenarioText != 'check'">{{ change.display.scenarioText }}</span>
            </td>
            <td ng-if="!change.courseHeader" class="course-list__cell">
              <span ng-if="!change.courseHeader">
                <ipa-button text="'Sync ' + change.display.changeText"
                            size="'small'"
                            skin="'dark'"
                            confirm-message="'Are you sure you want to do the thing?'"
                            on-click="hide(sectionGroupCost)">
                </ipa-button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </ipa-tabs>
</div>
