<div class="convert-sections-modal">
  <form role="form" class="form-horizontal">
    <div class="convert-sections-warning">
      <div >
        <strong>New Sequence Pattern</strong>
        <br />
        <div class="course-details_update-sequence"
              tooltip-append-to-body="true"
              tooltip-placement="left"
              uib-tooltip="{{ selectedEntity.sequencePatternTooltipMessage }}">
          <ipa-input value="selectedEntity.sequencePattern">
          </ipa-input>
        </div>
      <div>
        <br>
        This will also convert the sections that belong to this course offering {{isSeries() ? 'from discussions to lectures' : 'from lectures to discussions'}}
        <br><br><b>For Example:</b><br><br>
        <div class="convertion-details" ng-show="!isSeries()">
          <div class="conversion-details-example">
            <strong>Before</strong><br><br>
            XYZ 10 - 001
            <li>
              Section 001: 100 Seats
            </li>
          </div>
          <div class="conversion-details-example">
            <strong>After</strong><br><br>
            XYZ 10 - A
            <li>
              Section A01: 100 Seats
            </li>
          </div>
        </div>
        <div class="convertion-details" ng-show="isSeries()">
          <div class="conversion-details-example">
            <strong>Before</strong><br><br>
            XYZ 10 - A
            <li>
              Section A01: 25 Seats
            </li>
            <li>
              Section A02: 25 Seats
            </li>
            <li>
              Section A03: 25 Seats
            </li>
            <li>
              Section A04: 25 Seats
            </li>
          </div>
          <div class="conversion-details-example">
            <strong>After</strong><br><br>
            XYZ 10 - 001
            <li>
              Section 001 Seats 100
            </li>
          </div>
        </div>
      </div>
    </div>

    <div class="convert-sections-modal-footer">
      <button ng-click="close()"
              type="button"
              class="btn btn-default modal-button">
        Cancel
      </button>
      <button ng-click="convertCourseOffering()"
              ng-disabled="!isValid()"
              type="button"
              class="btn btn-danger modal-button">
        Convert
      </button>
    </div>
  </form>
</div>
