<nav year="{{ year }}" workgroup-id="{{ workgroupId }}"></nav>
<div></div>

<div class="main-content">
	<h3 style="text-align: center;">Assignments</h3>

	<div class="row" style="margin-bottom: 2em;">
		<div class="col-sm-offset-3 col-sm-6">
			<input type="search" class="form-control" placeholder="Search" ng-model="searchQuery" ng-change="filterTable(searchQuery)"/>
		</div>
	</div>

	<div ng-class="{'invisible': !view.state}" style="margin-bottom: 1em;">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-white btn-sm view-pivot-btn" id="courses-pivot" ng-click="setActiveTab('courses')"
					ng-class="{ 'active': view.state.userInterface.showCourses }">
					<input type="radio" name="options">
					<span class="glyphicon glyphicon-education"></span> By Course
				</label>
				<label class="btn btn-white btn-sm view-pivot-btn" id="instructors-pivot" ng-click="setActiveTab('instructors')"
					ng-class="{ 'active': view.state.userInterface.showInstructors }">
					<input type="radio" name="options">
					<span class="glyphicon glyphicon-user"></span> By Instructor
				</label>
			</div>
	</div>

	<div class="row hidden-print">
		<div class="table-toolbar">

			<div class="btn-group">
				<span class="tool-icon glyphicon glyphicon-list-alt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
				<ul class="dropdown-menu dropdown-menu-right" multiselect-dropdown items="termDefinitions" active-ids="view.state.userInterface.enabledTerms.ids" toggle-item="termToggled(id)" ></ul>
			</div> <!-- .btn-group -->

			<div class="btn-group" uib-tooltip="Filters">
				<span class="tool-icon glyphicon glyphicon-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
				<ul class="dropdown-menu dropdown-menu-right">
					<li ng-repeat="tagId in view.state.tags.ids track by $index" class="clickable" ng-click="toggleTag(tagId)" stop-event="click">
						<a class="small">
							<input type="checkbox" ng-checked="view.state.filters.enabledTagIds.indexOf(tagId) >= 0" />
							<span class="course-filter-item">{{ view.state.tags.list[tagId].name }}</span>
						</a>
					</li>
					<li role="separator" class="divider"></li>
					<li class="clickable" ng-click="toggleDisplayCompletedInstructors()" stop-event="click">
						<a class="small">
							<input type="checkbox" ng-checked="view.state.filters.showCompletedInstructors" />
							<span class="course-filter-item">Hide Completed</span>
						</a>
					</li>

				</ul>
			</div> <!-- .btn-group -->

			<div class="btn-group">
				<span data-toggle="tooltip" data-placement="top" data-original-title="Download as Excel" data-container="body"" ng-click="download()"
				class="tool-icon glyphicon glyphicon-download-alt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
				<ul class="dropdown-menu">
					<li><a href="#" class="small">as Excel</a></li>
					<li><a href="#" class="small">as CSV</a></li>
				</ul>
			</div> <!-- .btn-group -->

			<span data-toggle="tooltip" data-placement="left" data-original-title="Print Coming Soon" data-container="body"
			class="tool-icon glyphicon glyphicon-print" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" ng-click="print()"></span>
		</div> <!-- .table-toolbar -->
	</div> <!-- .row -->

	<div course-assignment-table id="courses-table" ng-show="!view.state || view.state.userInterface.showCourses"></div>
	<div instructor-assignment-table id="instructors-table" ng-show="view.state.userInterface.showInstructors"></div>

</div>