<nav year="{{ year }}" term-code="{{ termCode }}" workgroup-code="{{ workgroupCode }}"></nav>

<div class="main-content">
	<h3 style="text-align: center;">Assignments</h3>

	<div class="row" style="margin-bottom: 2em;">
		<div class="col-sm-offset-3 col-sm-6">
			<input type="search" class="form-control" placeholder="Search" />
		</div>
	</div>

	<div class="row" style="margin-bottom: 1em;">
		<div class="col-sm-12">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-white btn-sm active" id="courses-pivot">
					<input type="radio" name="options">
					<span class="tool-icon glyphicon glyphicon-education"></span> By Course
				</label>
				<label class="btn btn-white btn-sm" id="instructors-pivot">
					<input type="radio" name="options">
					<span class="tool-icon glyphicon glyphicon-user"></span> By Instructor
				</label>
			</div>
		</div>
	</div>

	<div course-assignment-table id="courses-table"></div>


	<div id="instructors-table">
		<div class="course-list-row">
			<div class="course-header description-cell">
				Instructor
			</div>
			<div class="term-header term-cell"
				ng-repeat="scheduleTermStateTermCode in view.state.scheduleTermStates.ids"
				ng-init="termCode = view.state.scheduleTermStates.list[scheduleTermStateTermCode].termCode"
				ng-if="view.state.scheduleTermStates.list[view.state.scheduleTermStates.list[scheduleTermStateTermCode].termCode].isHidden == false">
				{{ termCode.getTermCodeDisplayName(true) }}
			</div>
		</div>

		<!-- instructor-row repeating -->
		<div class="course-list-row" ng-repeat="instructorId in view.state.instructors.ids"
		ng-init="instructor=view.state.instructors.list[instructorId]">
			<div class="description-cell">
				<strong>{{ instructor.fullName }}</strong>
			</div>
			<!-- instructor teachingAssignments over time -->
			<div class="term-cell"
				ng-repeat="scheduleTermStateTermCode in view.state.scheduleTermStates.ids"
				ng-init="termCode = view.state.scheduleTermStates.list[scheduleTermStateTermCode].termCode"
				ng-if="view.state.scheduleTermStates.list[view.state.scheduleTermStates.list[scheduleTermStateTermCode].termCode].isHidden == false">

				<!-- teachingAssignments within a term -->
				<div ng-repeat="teachingAssignmentId in view.state.instructors.list[instructor.id].teachingAssignmentTermCodeIds[termCode]"
					class="alert alert-info tile-assignment"
					ng-init="course=view.state.courses.list[view.state.sectionGroups.list[view.state.teachingAssignments.list[teachingAssignmentId].sectionGroupId].courseId]">
					<p>{{ course.subjectCode }} {{ course.courseNumber }} - {{ course.sequencePattern }}</p>
					<div class="tile-assignment-details"
					ng-init="sectionGroup=view.state.sectionGroups.list[view.state.teachingAssignments.list[teachingAssignmentId].sectionGroupId]">
						<small>Seats: {{ sectionGroup.plannedSeats }}</small>
						<br />
						<small>Units: {{ course.unitsLow }}</small>
					</div>
					<i class=" btn glyphicon glyphicon-remove assignment-remove text-primary" data-toggle="tooltip" data-placement="top"
						title="" data-original-title="Unassign" data-container="body"></i>
				</div>
				Assign widget goes here.
			</div><!-- term cell -->
		</div> <!-- course list row -->
	</div> <!-- instructors-list -->
</div>