<nav year="{{ year }}" workgroup-id="{{ workgroupId }}"></nav>

<div class="main-content">
	<h3 style="text-align: center;">Assignments</h3>

	<div class="row" style="margin-bottom: 2em;">
		<div class="col-sm-offset-3 col-sm-6">
			<input type="search" class="form-control" placeholder="Search" ng-model="searchQuery" ng-change="filterTable(searchQuery)"/>
		</div>
	</div>

	<div class="row" style="margin-bottom: 1em;">
		<div class="col-sm-3">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-white btn-sm active" id="courses-pivot" ng-click="showCourses()">
					<input type="radio" name="options">
					<span class="tool-icon glyphicon glyphicon-education"></span> By Course
				</label>
				<label class="btn btn-white btn-sm" id="instructors-pivot" ng-click="showInstructors()">
					<input type="radio" name="options">
					<span class="tool-icon glyphicon glyphicon-user"></span> By Instructor
				</label>
			</div>
		</div>
		<div class="col-sm-2">
			<span>
				<a ng-if="view.state.teachingCalls.eligibleGroups.federationInstructors || view.state.teachingCalls.eligibleGroups.senateInstructors"
				class="btn btn-block btn-default begin-teaching-call-button" ng-click="openTeachingCallConfig()">
					Create Teaching Call
				</a>
				<div data-toggle="tooltip" data-placement="top" data-original-title="All instructors already assigned to a teaching call" data-container="body">
					<a ng-if="view.state.teachingCalls.eligibleGroups.federationInstructors == false && view.state.teachingCalls.eligibleGroups.senateInstructors == false"
					class="btn btn-block btn-default begin-teaching-call-button disabled">
						Create Teaching Call
					</a>
				</div>
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="table-toolbar">
				<div class="btn-group">
					<span class="tool-icon glyphicon glyphicon-list-alt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
					<ul class="dropdown-menu dropdown-menu-right" multiselect-dropdown items="termDefinitions" active-ids="view.state.userInterface.enabledTerms.ids" toggle-item="termToggled(id)" ></ul>
				</div> <!-- .btn-group -->

				<div class="btn-group">
					<span class="tool-icon glyphicon glyphicon-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp;&nbsp;Published Courses</a></li>
						<li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp;&nbsp;Unpublished Courses</a></li>
					</ul>
				</div> <!-- .btn-group -->

				<div class="btn-group">
					<span class="tool-icon glyphicon glyphicon-download-alt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#" class="small">as Excel</a></li>
						<li><a href="#" class="small">as CSV</a></li>
					</ul>
				</div> <!-- .btn-group -->

				<span class="tool-icon glyphicon glyphicon-print" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print"></span>
			</div>
		</div>
	</div>

	<div course-assignment-table id="courses-table" ng-show="view.state.userInterface.showCourses"></div>
	<div instructor-assignment-table id="instructors-table" ng-show="view.state.userInterface.showInstructors"></div>

</div>