<div class="modal-body">
	<h3 style="margin-top: 10px; margin-bottom: 20px;" class="page-header text-center">
		Instructor Comments
	</h3>
	<div style="display:flex;">
		<div style="flex: 1 1 40%;">
			Instructor comment from Teaching Call:
			<br />
			<div class="gray-text" style="margin-top: 10px;">
				{{ instructorComment }}
			</div>
		</div>
		<div style="flex: 1 1 40%;">
			Private Comment:
			<br />
			<input ng-model="privateComment" style="margin-top: 10px;"></input>
		</div>
	</div>
</div>
<div class="modal-footer row" style="text-align: center; margin: 0px;">
	<div style="display:flex">
		<div style="flex: 1 1 80%"></div>
		<div style="flex: 1 1 20%">
			<button class="btn btn-default modal-cancel-btn" ng-click="cancel()">Cancel</button>
			<button class="btn btn-primary modal-confirm-btn" ng-click="confirm()">Ok</button>
		</div>
	</div>

	</div>
</div>