<div class="modal-body">
	<h3 style="margin-top: 10px; margin-bottom: 20px;" class="page-header text-center">
		Instructor Availabilities
	</h3>
	<div style="display:flex;">
		<div style="flex: 1 1 auto; margin-left: 20px;" ng-repeat="teachingCallResponse in teachingCallResponses">
			<div style="text-align: center;">
				{{ termDisplayNames[teachingCallResponse.termCode.slice(-2)]}}
			</div>
			<availability-grid blob="teachingCallResponse.availabilityBlob"
				on-change="saveUnavailabilities(teachingCallResponse, blob)"
				read-only="isScheduleTermLocked(term)"></availability-grid>
		</div>
	</div>
	<small class="legend">
		<div class="legend-square" style="background-color:#fff"></div>Available
		<div class="legend-square" style="background-color:#ccc"></div>Unavailable
	</small>

</div>
<div class="modal-footer row" style="text-align: center; margin: 0px;">
	<div style="display:flex">
		<div style="flex: 1 1 80%"></div>
		<div style="flex: 1 1 20%">
			<button class="btn btn-default modal-cancel-btn" ng-click="cancel()">Close</button>
		</div>
	</div>

	</div>
</div>