<div style="display: block;" id="modal-1" class="modal">
	<!-- modal page 1 -->
	<div ng-if="viewState.showPage1" class="modal-dialog teaching-call--width">
		<div class="modal-content">
			<div class="modal-header teaching-call--header_style">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
				<h4 class="modal-title">2016-2017 Teaching Call</h4>
			</div>
			<!-- modal-body -->
			<div class="modal-body">
				<!-- button -->
				<div class="row btn-group btn-group--position container-fluid" data-toggle="buttons">
					<label class="instructor-toggle-btn btn btn-sm" id="courses-pivot" ng-if="viewState.teachingCalls.eligibleGroups.senateInstructors == true"
					ng-click="toggleSenateInstructors()"
					ng-class="{'instructor-group-active': startTeachingCallConfig.sentToSenate}">
						<input type="checkbox" name="options">
						<span></span> Senate
					</label>
					<label class="instructor-toggle-btn btn btn-sm disabled" id="courses-pivot" ng-if="viewState.teachingCalls.eligibleGroups.senateInstructors == false"
					data-toggle="tooltip" data-placement="top" data-original-title="Already participating in a Teaching Call" data-container="body">
						<input type="checkbox" name="options">
						<span></span> Senate
					</label>

					<label class="instructor-toggle-btn btn btn-sm active" id="courses-pivot" ng-if="viewState.teachingCalls.eligibleGroups.federationInstructors == true"
					ng-click="toggleFederationInstructors()"
					ng-class="{'instructor-group-active': startTeachingCallConfig.sentToFederation}">
						<input type="checkbox" name="options">
						<span></span> Federation
					</label>
					<label class="instructor-toggle-btn btn btn-sm disabled" id="courses-pivot" ng-if="viewState.teachingCalls.eligibleGroups.federationInstructors == false"
					data-toggle="tooltip" data-placement="top" data-original-title="Already participating in a Teaching Call" data-container="body">
						<input type="checkbox" name="options">
						<span></span> Federation
					</label>
				</div>
				<!-- button ends-->
					<div class="row flex-box container-fluid">
						<!-- faculty member info-->
						<div class="teaching-call--info_style">
							<div class="form-control overflow-auto" rows="5" id="comment" style="height: 115px;">
								<div ng-repeat="instructorId in viewState.userInterface.senateInstructorIds"
								ng-if="startTeachingCallConfig.sentToSenate">
									{{ viewState.instructors.list[instructorId].fullName }}
								</div>
								<div ng-repeat="instructorId in viewState.userInterface.federationInstructorIds"
								ng-if="startTeachingCallConfig.sentToFederation">
									{{ viewState.instructors.list[instructorId].fullName }}
								</div>
							</div>

							<div class="checkbox"> 
								<label class="checkbox-inline"><input type="checkbox" ng-model="startTeachingCallConfig.showUnavailabilities">Ask for unavailabilities</label>
							</div>
						</div>
						<!-- faculty member info ends-->
						<!-- empty flex-box -->
						<div style="flex:0 1 5%;">
						</div>
						<!-- empty flex-box ends-->
						<!-- select dates&terms section-->
						<div class="teaching-call--info_style container-fluid">
							<h5 style="margin-top: 0px;">Due Date</h5>
							<p class="input-group">
								<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="startTeachingCallConfig.dueDate" is-open="popup1.opened"
								datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" 
								popup-placement="bottom-left" show-button-bar="false" ng-click="open1()"/>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</p>
							<div>
								<h5>Set Term</h5>
								<div class="btn-group set-terms-container" uib-dropdown auto-close="outsideClick" is-open="status.isopen">
									<button id="single-button" type="button" class="btn btn-default dropdown-toggle set-terms-teaching-call-btn" uib-dropdown-toggle ng-disabled="disabled">
										Set Terms <span class="caret"></span>
									</button>
									<ul class="dropdown-menu set-term-menu" uib-dropdown-menu auto-close="outsideClick" role="menu" aria-labelledby="single-button">
										<li ng-repeat="term in viewState.userInterface.enabledTerms.list" role="menuitem" 
												ng-click="toggleTermActive(term)"
												ng-class="{'active': startTeachingCallConfig.activeTerms[term.slice(-2)]}"><a href="#">{{getTermName(term)}}</a></li>
									</ul>
								</div>


							</div>
						</div>
						<!-- select dates&terms section ends-->
					</div>
				</div>
				<!-- modal-body ends -->
				<!-- modal-footer -->
			<div class="modal-footer modal-footer--teaching-call">
				<div class="email-style container-fluid">
					<h5 class="pull-left">Email Message</h5>
					<textarea ng-model="startTeachingCallConfig.message" class="form-control" placeholder="Important: Instructor Name, Due Date, and Quarter Term will all be included." rows="5" id="comment"></textarea>
				</div>
				<button ng-if="isFormIncomplete() == false" type="button" class="btn neon-dark-confirm-btn" ng-click="viewState.showPage1=false">Next</button>
				<button ng-if="isFormIncomplete() == true" type="button" class="disabled btn btn-info neon-dark-confirm-btn">Next</button>

			</div>
			<!-- modal-footer ends -->
			
		</div>
	</div><!-- modal page 1 ends -->
	<div ng-if="viewState.showPage1 == false">
		<!-- modal page 2 -->
		<div class="modal-dialog teaching-call--width">
			<div class="modal-content">
				<div class="modal-header teaching-call--header_style">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">2016-2017 Teaching Call</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="container-fluid">	
							<h5>Teaching Call will be limited to these terms</h5>
							<span class="muted-term-name" ng-repeat="term in viewState.userInterface.enabledTerms.list" role="menuitem" 
								ng-if="startTeachingCallConfig.activeTerms[term.slice(-2)]">
								{{getTermName(term)}}
								<br />
							</span>
						</div>
					</div>		
				</div>
				
				<div class="modal-footer modal-footer--teaching-call">
					<div class="row">
						<div class="email-style container-fluid"> 
							<h5>Email sent to Instructor</h5>
							<div class="list-group-item">
								<h5 class="text-muted">Subject:</h5>
								<p class="text-muted">Reminder for IPA Due Day</p>	
								<h5 class="text-muted" ng-model="startTeachingCallConfig.message">Body:</h5>
								<p class="text-muted">
								Faculties, Just a quick reminder your IPA is due in couple weeks. Pleas complete your IPA assignments by 8/21/16. Any late submission
								will result in placing into lower priority category. Thanks you!<br>
								{{ urlRoot }}/assignments/{{ workgroupId }}/{{ scheduleYear }}/teachingCall
								</p>
							</div>
						</div>
					</div>
					<button type="button" class="btn btn-default" ng-click="viewState.showPage1=true">Back</button>
					<button type="button" class="btn neon-dark-confirm-btn" ng-click="createAndEmail()">Begin and Email</button>
					<button type="button" class="btn neon-dark-confirm-btn" ng-click="createWithoutEmail()">Begin Without Email</button>

				</div>
			</div>
		</div>

	</div>
</div>
