<div class="modal-body">
	<h2 style="margin-top: 10px; margin-bottom: 20px;" class="page-header text-center">{{scheduleYear}}-{{scheduleYear + 1}} Teaching Call</h2>
	<div class="row" style="margin-bottom:20px;" ng-show="displayedFormPage == 1">

		<!-- Recipients - left column -->
		<div class="col-xs-4 col-xs-offset-1">
			<div class="row">
				<label style="margin-right: 10px;">Open For</label>
				<label ng-show="senate" class="instructor-group-button btn btn-primary ng-untouched ng-valid active ng-dirty ng-valid-parse" ng-model="startTeachingCallConfig.sentToSenate" uib-btn-checkbox="">Senate</label>
				<label ng-show="!senate" class="instructor-group-button disabled btn btn-default ng-untouched ng-valid active ng-dirtyng-valid-parse " ng-model="startTeachingCallConfig.sentToSenate" uib-btn-checkbox="">Senate</label>

				<label ng-show="federation" class="instructor-group-button btn btn-primary ng-pristineng-untouched  ng-valid" ng-model="startTeachingCallConfig.sentToFederation" uib-btn-checkbox="">Federation</label>
				<label ng-show="!federation" class="instructor-group-button disabled btn btn-default ng-pristineng-untouched  ng-valid" ng-model="startTeachingCallConfig.sentToFederation" uib-btn-checkbox="">Federation</label>
			</div>
			<div class="row open-for-container" style="height:346px;">
				<div ng-show="startTeachingCallConfig.sentToFederation">
					<div ng-repeat="user in federationInstructors" style="text-align: left;">
						{{ user | lastCommaFirst }}
					</div>
				</div>
				<div ng-show="startTeachingCallConfig.sentToSenate">
					<div ng-repeat="user in senateInstructors" style="text-align: left;">
						{{ user | lastCommaFirst }}
					</div>
				</div>
			</div>
		</div>

		<!-- Calendar and Message - right column -->
		<div class="col-xs-5 col-xs-offset-1" style="padding:0px;">
			<div class="row">
				<table style="width:100%;">
					<tr>
						<td style="padding-right: 15px;">
							<label>Due Date</label>
						</td>
						<td style="width: 80%; right: 0px;">
					<p class="input-group" ng-click="saveDueDate()" style="width:100%;">
						<input readonly type="text" class="form-control" ng-click="open($event, 1, 'start')"
								uib-datepicker-popup="{{format}}" ng-model="parent.dueDate"
								is-open="opened.start" show-button-bar="false" min-date="minDate"
								datepicker-options="dateOptions" ng-required="true"
								close-text="Close"/>
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open($event, 1, 'start')"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
						</td>
					</tr>
					<tr>
						<td style="padding-right: 15px;">
							<label>Options</label>
						</td>
						<td>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="startTeachingCallConfig.showUnavailabilities">
									Ask for unavailabilities
								</label>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div class="row">
				<div class="col-xs-12"  style="padding:0px;">
					<label>Terms</label>
					<div class="teaching-call-terms">
						<div class="btn-group" ng-repeat="term in allTerms" style="width:100%;">
							<label ng-show="isTermActive(term)" class="instructor-group-button btn btn-primary ng-untouched ng-valid active ng-dirty ng-valid-parse"
							ng-model="startTeachingCallConfig.activeTerms[term]" uib-btn-checkbox="" style="width:100%;">
								{{getTermName(term)}}
							</label>
							<label ng-show="!isTermActive(term)" class="instructor-group-button btn btn-default ng-untouched ng-valid active ng-dirtyng-valid-parse"
							ng-model="startTeachingCallConfig.activeTerms[term]" uib-btn-checkbox="" style="width:100%;">
								{{getTermName(term)}}
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="displayedFormPage == 1">
		<div class="col-xs-10 col-xs-offset-1" style="padding:0px;">
			<label>Email Message</label>
			<div class="message-template-boilerplate">
				Instructor Name,
				<span>
					will be included in email
				</span>
			</div>
				<textarea ng-model="startTeachingCallConfig.message"
				id="inputlg" type="textarea" rows="10" class="form-control" ></textarea>
			<div class="message-template-boilerplate" style="margin-top:10px;">
				Due Date: {{ startTeachingCallConfig.dueDate }}
				<span>
					will be included in email
				</span>
			</div>
			<div class="message-template-boilerplate">
				https://ipa.ucdavis.edu/teachingCalls
				<span>
					will be included in email
				</span>
			</div>
			<div class="message-template-boilerplate">
				{{activeTermsDescription()}}
				<span>
					Teaching Call will be limited to these terms
				</span>
			</div>
		</div>
	</div>
	<div ng-show="displayedFormPage == 2" style="margin-bottom: 30px;">
			<label>Teaching Call will be limited to these terms</label>
			<div style="margin-bottom: 20px;"> {{activeTermsDescription()}}</div>

			<label>Email sent to Instructors</label>
			<div> <span style="color: gray;">Subject: </span>IPA: Teaching Call has started</div>
			<div><span style="color: gray;">Body: </span>Faculty,</div>
			<div>It is time to start thinking about teaching plans for <b>{{scheduleYear}}-{{scheduleYear + 1}}</b></div>
			<div>{{startTeachingCallConfig.message}}</div>

			<div>Please submit your teaching preferences by <b>{{startTeachingCallConfig.dueDate}}</b>
			<div><a href="">View Teaching Call Here</a></div>
	</div>
</div>
<div class="modal-footer row" style="text-align: center; margin: 0px;">
	<div class="col-xs-2">
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
	</div>
	<div class="col-xs-5">
	</div>
	<div class="col-xs-5">
		<button class="btn btn-primary" ng-show="displayedFormPage==1" ng-disabled="isFormIncomplete()" ng-click="start(false)">Begin Without Email</button>
		<button class="btn btn-primary" ng-show="displayedFormPage==1" ng-disabled="isFormIncomplete()" ng-click="displayedFormPage=2">Next</button>
		<button class="btn btn-primary" ng-show="displayedFormPage==2" ng-click="displayedFormPage=1">Back</button>
		<button class="btn btn-primary" ng-show="displayedFormPage==2" ng-disabled="isFormIncomplete()" ng-click="start(true)">Begin and Email</button>
	</div>
</div>