<nav year="{{ year }}" workgroup-id="{{ workgroupId }}"></nav>
<div>
</div>

<div ng-if="view.state">

	<div class="teaching-call-status-header">
		<h3>
			Teaching Call Status {{ year }}-{{ nextYear }}
		</h3>
		<p class="text-align--center department-title">{{ sharedState.workgroup.name }}</p>
	</div>

	<div class="teaching-call-status-sub-header">
		<h5>Teaching Calls:</h5>
	</div>
	<!-- table headers -->
	<div class="teaching-call-table-row">
		<div class="teaching-call-table__header">
			<div class="teaching-call-table__header-detail">
				<div>
					Start Date
				</div>
			</div>
		</div>
		<div class="teaching-call-table__header">
			<div class="teaching-call-table__header-detail">
				<div>
					End Date
				</div>
			</div>
		</div>
		<div class="teaching-call-table__header">
			<div class="teaching-call-table__header-detail">
				<div>
					Senate
				</div>
			</div>
		</div>
		<div class="teaching-call-table__header">
			<div class="teaching-call-table__header-detail">
				<div>
					Federation
				</div>
			</div>
		</div>
		<div class="teaching-call-table__header">
			<div class="teaching-call-table__header-detail">
				<div>
					Via Email
				</div>
			</div>
		</div>
		<div class="teaching-call-table__header">
			<div class="teaching-call-table__header-detail">
				<div>
					Terms
				</div>
			</div>
		</div>
	</div><!-- table header -->

	<!-- teaching call table -->
	<div class="teaching-call-table-row" ng-repeat="teachingCallId in view.state.teachingCalls.ids">
		<div class="teaching-call-table__row-detail"
		ng-init="teachingCall=view.state.teachingCalls.list[teachingCallId]">
			<div>
				{{ teachingCall.startDate }}
			</div>
		</div>
		<div class="teaching-call-table__row-detail">
			{{ teachingCall.dueDate }}
		</div>
		<div class="teaching-call-table__row-detail">
			<i class="glyphicon glyphicon-ok" ng-if="teachingCall.sentToSenate"></i>
		</div>
		<div class="teaching-call-table__row-detail">
			<i class="glyphicon glyphicon-ok" ng-if="teachingCall.sentToFederation"></i>
		</div>
		<div class="teaching-call-table__row-detail">
			<i class="glyphicon glyphicon-ok" ng-if="teachingCall.emailInstructors"></i>
		</div>
		<div class="teaching-call-table__row-detail">
			<div ng-repeat="term in teachingCall.terms">
				<div>
					{{ term }}
				</div>
			</div>
		</div>
	</div>

	<!-- Create new teaching call -->
	<div class="begin-teaching-call-container">
		<a ng-if="view.state.teachingCalls.eligibleGroups.federationInstructors || view.state.teachingCalls.eligibleGroups.senateInstructors"
		class="btn btn-block btn-default begin-teaching-call-button" ng-click="openTeachingCallConfig()">
			<span style="padding-right: 5px;" class="glyphicon glyphicon-plus"></span>
			Create Teaching Call
		</a>
		<div data-toggle="tooltip" data-placement="top" data-original-title="All instructors already assigned to a teaching call" data-container="body">
			<a ng-if="view.state.teachingCalls.eligibleGroups.federationInstructors == false && view.state.teachingCalls.eligibleGroups.senateInstructors == false"
			class="btn btn-block btn-default begin-teaching-call-button disabled">
				Create Teaching Call
			</a>
		</div>
	</div>

</div> <!-- end cloak -->