<nav year="{{ year }}" workgroup-id="{{ workgroupId }}"></nav>
<div>
</div>

<div ng-if="view.state">

	<div class="teaching-call-status-header">
		<h3>
			Teaching Call Status {{ year }}-{{ nextYear }}
		</h3>
		<p class="text-align--center department-title">- {{ sharedState.workgroup.name }} -</p>
	</div>

	<div>
		<a ng-if="view.state.teachingCalls.eligibleGroups.federationInstructors || view.state.teachingCalls.eligibleGroups.senateInstructors"
		class="btn btn-block btn-default begin-teaching-call-button" ng-click="openTeachingCallConfig()">
			Create Teaching Call
		</a>
		<div data-toggle="tooltip" data-placement="top" data-original-title="All instructors already assigned to a teaching call" data-container="body">
			<a ng-if="view.state.teachingCalls.eligibleGroups.federationInstructors == false && view.state.teachingCalls.eligibleGroups.senateInstructors == false"
			class="btn btn-block btn-default begin-teaching-call-button disabled">
				Create Teaching Call
			</a>
		</div>
	</div>


	<div class="teaching-call-status-sub-header">
		<h5>Teaching Calls:</h5>
	</div>
	<!-- table headers -->
	<div class="teaching-call-table-row">
		<div class="teaching-call-table__header">
			<div class="teaching-call-table__header-detail">
				<div>
					Start Date
				</div>
			</div>
		</div>
		<div class="teaching-call-table__header">
			<div class="teaching-call-table__header-detail">
				<div>
					End Date
				</div>
			</div>
		</div>
		<div class="teaching-call-table__header">
			<div class="teaching-call-table__header-detail">
				<div>
					Senate
				</div>
			</div>
		</div>
		<div class="teaching-call-table__header">
			<div class="teaching-call-table__header-detail">
				<div>
					Federation
				</div>
			</div>
		</div>
		<div class="teaching-call-table__header">
			<div class="teaching-call-table__header-detail">
				<div>
					Sent Email
				</div>
			</div>
		</div>
		<div class="teaching-call-table__header">
			<div class="teaching-call-table__header-detail">
				<div>
					Total Instructors
				</div>
			</div>
		</div>
		<div class="teaching-call-table__header">
			<div class="teaching-call-table__header-detail">
				<div>
					# Responded
				</div>
			</div>
		</div>
		<div class="teaching-call-table__header">
			<div class="teaching-call-table__header-detail">
				<div>
					Terms
				</div>
			</div>
		</div>
	</div><!-- table header -->

	<!-- teaching call table -->
	<div class="teaching-call-table-row" ng-repeat="teachingCallId in view.state.teachingCalls.ids">
		<div class="teaching-call-table__row-detail"
		ng-init="teachingCall=view.state.teachingCalls.list[teachingCallId]">
			{{ teachingCall.startDate }}
		</div>
		<div class="teaching-call-table__row-detail">
			{{ teachingCall.dueDate }}
		</div>
		<div class="teaching-call-table__row-detail">
			{{ teachingCall.sentToSenate }}
		</div>
		<div class="teaching-call-table__row-detail">
			{{ teachingCall.sentToFederation }}
		</div>
		<div class="teaching-call-table__row-detail">
			{{ teachingCall.emailInstructors }}
		</div>
		<div class="teaching-call-table__row-detail">
			Total instructors
		</div>
		<div class="teaching-call-table__row-detail">
			# responded
		</div>
		<div class="teaching-call-table__row-detail">
			Terms
		</div>
	</div>
</div> <!-- end cloak -->