<nav year="{{ year }}" workgroup-id="{{ workgroupId }}"></nav>
<div>
</div>
<div ng-if="view.state && view.state.activeTeachingCall.id" class="teaching-call-form-container">
	<div class="margin-bottom-30">
		<h3 class="text-align--center">
			Teaching Call {{ year }}-{{ nextYear }}
		</h3>
		<p class="text-align--center department-title">{{ sharedState.workgroup.name }}</p>
	</div>
	<div class="row provide-preferences-header">
		<div class="col-md-6">
			<h5>Please indicate your preferences:</h5>
		</div>
		<div class="col-md-6">
			<div class="pull-right" tooltip-placement="left"
			uib-tooltip="Clicking the Add button will show you a list of all courses currently in the schedule (Use the comment box below
			to request courses not on the list). Once you've added your preferences you can rank them by dragging and dropping them into the
			preferred order">
				<i class="glyphicon glyphicon-question-sign pull-right question--position"></i>
			</div>
		</div>
	</div>


	<div class="preference-container" style="display:flex; margin-left:15px; margin-right:15px;">
		<div class="unavailability-term-container" style="flex: 1 0 200px;" ng-repeat="term in ::view.state.activeTeachingCall.terms track by $index">
			<div>
				<div class="unavailability-term-header" style="text-align: center;">
					<div>
						{{ getTermName(term) }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="preference-container" style="display:flex; margin-left:15px; margin-right:15px;">
		<div class="unavailability-term-container" style="flex: 1 1 200px;" ng-repeat="term in ::view.state.activeTeachingCall.terms track by $index">
			<!-- confirmed preferences -->
			<div class="approved-preference-container">
				<div ng-if="preference.approved" class="teaching-call-approved-preference alert-info alert"
				ng-repeat="preference in view.state.activeTeachingCall.termAssignments[termToTermCode(term)] | orderBy: 'priority' track by preference.id">
					<div style="display: flex; height: 100%: justify-content: center; align-items: center;">
						<div>
							{{getDescription(preference)}}
						</div>
					</div>
				</div>
			</div>
			<ol sortable drag-end="updateAssignmentsOrder(sortedIds, term)" class="sortable-list teaching-call-form-unapproved-preference-container">
				<li id="pref-{{ preference.id }}" ng-if="!preference.approved" class="teaching-call-form-unapproved-preference"
				ng-repeat="preference in view.state.activeTeachingCall.termAssignments[termToTermCode(term)] | orderBy: 'priority' track by preference.id">
					<div style="flex: 0 0 10px; display: flex; justify-content: center; align-items: center;">
						<div>
							{{$index + 1}}
						</div>
					</div>

					<div style="flex: 0 0 auto; display: flex; align-items: center; padding-bottom: 5px;">
						<i style="flex: 0 0 auto;" class="glyphicon glyphicon-option-vertical preference-sortable-handle"></i>
					</div>
					<div class="teaching-call-form-unapproved-preference-panel">
						<div style="flex 1 0 0px;">
						</div>
						<div style="flex 1 0 0px;">
							{{getDescription(preference)}}
						</div>
						<div ng-if="preference && !preference.approved" confirm-button="removePreference(preference)"
							message="Are you sure you want to delete this preference"
							yes="Delete" no="Cancel" placement="bottom"
							confirm-is-shown="status.confirmIsOpen"
							class="delete-preference-button entypo-cancel sortable-item-button close" style="font-size: 14px; flex 1 0 0px;"
							aria-hidden="true" style="width: 10%;" uib-tooltip="Remove"
							tooltip-placement="top" tooltip-append-to-body="true"></div>
					</div>
				</li>
			</ol>
			<ol class="sortable-list teaching-call-form-unapproved-preference-container">
				<li class="scrollable-dropdown-menu search-course-container">
					<input type="text" ng-model="view.courseSearchQuery[term]"
						ng-init="courseSearchPlaceHolder = 'Add Preference'"
						placeholder="{{ courseSearchPlaceHolder }}"
						ng-focus="courseSearchPlaceHolder = 'Search Courses'"
						ng-blur="courseSearchPlaceHolder = 'Add Preference'; view.courseSearchQuery[term] = undefined;"
						uib-typeahead="course as (getDisplayTextFromCourse(course)) for course in searchCourses(term, $viewValue)"
						typeahead-loading="view.loadingCourses[term]"
						typeahead-no-results="noResults"
						typeahead-wait-ms="400"
						typeahead-min-length="0"
						typeahead-focus-on-select="false"
						auto-close="always"
						typeahead-on-select="addPreference($item, termToTermCode(term), isBuyout, isSabbatical, isCourseRelease)"
						class="form-control search-course-input">
					<i ng-show="view.loadingCourses[term]"><spinner size="20"></spinner></i>
				</li>
			</ol>

		</div> <!-- term container -->
	</div>

	<!-- Select Unavailabilities -->
	<div class="row provide-unavailabilities-header">
		<div class="col-md-6">
			<h5>Please indicate your un-availabilities:</h5>
		</div>
		<div class="col-md-6">
			<div class="pull-right" tooltip-placement="left"
			uib-tooltip="You can left click and drag to paint unavailability on the grids below.
			Additionally you can use the copy to all terms button next to the term headers to
			indicate the same unavailability on all terms.">
				<i class="glyphicon glyphicon-question-sign  question--position"></i>
			</div>
			<small class="legend pull-right" style="text-align: center;">
				<div class="legend-square" style="background-color:#fff"></div>Available
				<div class="legend-square" style="background-color:#ccc"></div>Unavailable
			</small>
		</div>
	</div>
	<div class="unavailability-container">
		<div class="unavailability-term-container" style="flex: 1 1 auto;" ng-repeat="term in ::view.state.activeTeachingCall.terms track by $index">
			<div ng-init="teachingCallResponse=view.state.activeTeachingCall.teachingCallResponsesByTermCode[termToTermCode(term)]">
				<div class="unavailability-term-header" style="text-align: center;">
					<div>
						{{ getTermName(term) }}
					</div>
					<span style="padding-left: 10px;" class="glyphicon glyphicon-transfer text-primary clickable hovrable" tooltip-placement="bottom" uib-tooltip="Copy to all terms"
						confirm-button="copyUnabailabilitiesToAllTerms(teachingCallResponse.availabilityBlob)"
						message="Are you sure you want to copy this term availabilities to all other terms?
							This will overwrite existing availabilities."
						yes="Confirm" no="Cancel" placement="top"></span>
				</div>
				<availability-grid blob="teachingCallResponse.availabilityBlob"
					on-change="saveTeachingCallResponse(term, blob, 3000)"
					read-only="teachingCallResponse.isComplete"></availability-grid>
			</div>
		</div>
	</div>
	<!-- Select Unavailabilities ends -->

	<!-- Comments -->
	<div class="row provide-comments-header">
		<div class="col-md-12">
			<h5>Additional comments:</h5>
		</div>
	</div>
	<div class="container-fluid margin-bottom-30">
		<textarea class="form-control" style="height:150px;"
		ng-model="view.state.activeTeachingCall.teachingCallReceipt.comment" auto-input on-blur="updateTeachingCallReceipt()"
		placeholder="(Optional) Add any additional comments or requests here." rows="5" id="comment"></textarea>
	</div>
		<!-- Comments ends -->

	<!-- Submit button -->
	<div class="row teaching-call-form-submit-container">
		<div class="container-fluid pull-right">
			<button type="button" class="btn btn-default"
			 confirm-button="updateTeachingCallReceipt(true)"
			 confirm-is-enabled="!view.state.activeTeachingCall.teachingCallReceipt.isDone"
			 btn-class="btn-primary"
			 message="Are you sure you want to submit the preferences for this term?"
			 yes="Confirm" no="Cancel" placement="top">
				{{ view.state.activeTeachingCall.teachingCallReceipt.isDone ? 'Update Preferences' : 'Submit Preferences' }}
			</button>
		</div>
	</div>
</div>

<!-- handle lack of active teaching call -->
<div ng-if="view.state && !view.state.activeTeachingCall.id">
		<div class="jumbotron" style="text-align: center; height: 100%; background-color: white;">
			<p class="lead">You are not in a {{sharedState.workgroup.name}} {{ year }}-{{ nextYear }} Teaching Call</p>
<br />
			<p class="lead">If you feel this is in error please contact the Academic Planner for Psychology.</p>
		</div>
</div>
