<div class="ipa-header">
	<div class="account-section">
		<div class="left-column">
			<h3>Teaching Calls</h3>
		</div>
	<div class="right-column">
		<div class="account-info">
			<h5>Howdy, Shang Lu <i class="entypo-right"></i></h5>
			<div class="impersonate btn-group" role="group" style="align-self: center;">
				<button type="button" class="btn btn-default"><i class="entypo-user"></i></button>
				<button class="impersonate-name btn btn-default" type="button">John Smith<i class="entypo-cancel-circled remove-impersonate-btn"></i></button>
			</div>
			<span class="logout">Logout</span>
		</div>
	</div>
	</div>
	<div class="workgroup-year-section">
	<div class="left-column">
		<div class="header--swtich-container">
		<ul class="pager header--year-switch">
			<li class="previous"><a><i class="entypo-left-open-mini clickable hoverable"></i></a></li>
			<li><a class="ng-binding">2017-18</a></li>
			<li class="next"><a><i class="entypo-right-open-mini clickable hoverable"></i></a></li>
		</ul>
		<div class="header--work-group btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-default"><i class="entypo-cog"></i></button>
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Computer Science <span class="caret"></span>
  			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><i class="entypo-cog"></i><a href="#">DSS IT</a></li>
				<li><i class="entypo-cog"></i><a href="#">History</a></li>
				<li><i class="entypo-cog"></i><a href="#">Psychology</a></li>
			</ul>
		</div>
		</div>
	</div>
	</div>
</div>