<div class="ipa-header">
	<div class="account-section">
		<div class="left-column">
			<h3>{{ pageTitle }}</h3>
		</div>
		<div class="right-column">
			<div class="account-info">
				<h5>{{ greeting }}, {{ sharedState.currentUser.realUserDisplayName }}
				<i ng-if="sharedState.currentUser.loginId != sharedState.currentUser.realUserLoginId" class="entypo-right"></i>
				</h5>
				<div ng-if="sharedState.currentUser.loginId != sharedState.currentUser.realUserLoginId" class="impersonate btn-group" role="group">
					<button class="impersonate-name btn btn-default" type="button"
									uib-tooltip="Stop Impersonating" tooltip-placement="bottom" tooltip-append-to-body="true" ng-click="unImpersonate()">
						<i class="entypo-cancel-circled remove-impersonate-btn"></i>
						{{ sharedState.currentUser.displayName }}
					</button>
				</div>
				<span class="logout" ng-click="logout()">Logout</span>
			</div>
		</div>
	</div>
	<div class="year-workgroup-section">
		<div class="left-column">
			<div class="header--swtich-container">
				<div class="global-ui">
					<ul class="pager header--year-switch">
						<li class="previous" ng-click="offsetYearInUrl(-1)"><a><i class="entypo-left-open-mini clickable hoverable"></i></a></li>
						<li class="year-display">
							<a style="cursor: default;">
								{{ year.yearToAcademicYear() }}
							</a>
						</li>
						<li class="next" ng-click="offsetYearInUrl(1)"><a><i class="entypo-right-open-mini clickable hoverable"></i></a></li>
					</ul>
					<div class="header--work-group btn-group" role="group" aria-label="...">
						<button ng-if="userHasRolesForWorkgroup(['academicPlanner','reviewer'], sharedState.workgroup)"
										ng-click="loadWorkgroupPage(sharedState.workgroup.id)" type="button" class="btn btn-default">
										<a style="color: #303641">
											<i class="entypo-cog"></i>
										</a>
						</button>
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							<span>
								{{ sharedState.workgroup.name }}
								<span class="caret"></span>
							</span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li ng-repeat="workgroup in userWorkgroups" style="cursor: pointer;">
								<a ng-href="{{ changeWorkgroup(sharedState.workgroup.id, workgroup.id) }}">
									<i class="entypo-check active-workgroup-icon" ng-class="{'invisible': sharedState.workgroup.id != workgroup.id}"></i>
									<span>{{ workgroup.name }}</span>
								</a>
							</li>
						</ul>
					</div>

					<ipa-term-selector-dropdown term-states="sharedState.termStates">
					</ipa-term-selector-dropdown>

				</div>

				<div class="page-specific-ui" ng-transclude>
				</div>
			</div>
		</div>
	</div>
</div>
