<div class="sidebar-menu">

	<div class="sidebar-menu-inner">

		<header class="logo-env">

			<!-- logo -->
			<div class="logo">
				<a ng-href="/summary/{{ workgroupId }}/{{ year }}" target="_self">
					<h1 style="color: #fff; margin:0;">IPA</h1>
				</a>
			</div>

			<!-- logo collapse icon -->
			<div class="sidebar-collapse">
				<a class="sidebar-collapse-icon clickable" ng-click="toggleSidebarState()" uib-tooltip="Toggle Sidebar"
					tooltip-placement="right" tooltip-append-to-body="true">
					<!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
					<i class="entypo-menu"></i>
				</a>
			</div>


			<!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
			<div class="sidebar-mobile-menu visible-xs">
				<a href="#" class="with-animation">
					<!-- add class "with-animation" to support animation -->
					<i class="entypo-menu"></i>
				</a>
			</div>

		</header>

		<!-- User and Organization -->
		<ul id="main-menu" class="main-menu">
			<!-- add class "multiple-expanded" to allow multiple submenus to open -->
			<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
			<li ng-class="{ 'active': currentBaseHref == 'summary', 'opened': expanded == 'summary' || (!expanded && currentBaseHref == 'summary') }"
				ng-if="showMultipleSummary()" class="has-sub root-level">
				<a class="clickable" ng-click="toggleMenuItem('summary')">
					<i class="entypo-home"></i>
					<span class="title">Home</span>
				</a>
				<ul ng-class="{ 'visible': expanded == 'summary' || (!expanded && currentBaseHref == 'summary') }">
					<li ng-if="isPlanner || isAdmin" ng-class="{ 'active': currentBaseHref == 'summary' && view.mode == 'workgroup' }">
						<a ng-href="/summary/{{ workgroupId }}/{{ year }}?mode=workgroup">
							Workgroup
						</a>
					</li>
					<li ng-if="isInstructor || isAdmin" ng-class="{ 'active': currentBaseHref == 'summary' && view.mode == 'instructor' }">
						<a ng-href="/summary/{{ workgroupId }}/{{ year }}?mode=instructor">
							Instructor
						</a>
					</li>
					<li ng-if="isSupportStaff || isAdmin" ng-class="{ 'active': currentBaseHref == 'summary' && view.mode == 'instructionalSupport' }">
						<a ng-href="/summary/{{ workgroupId }}/{{ year }}?mode=instructionalSupport">
							Support Staff
						</a>
					</li>
				</ul>
			</li>
			<!-- handle UI for users with either academicPlanner or instructor, but not both -->
			<li ng-if="userHasRoles(['academicPlanner','reviewer']) && !userHasRoles(['senateInstructor','federationInstructor'])"
				ng-class="{ 'active': currentBaseHref == 'summary' && pageMode == 'workgroup' }">
				<a class="clickable" ng-href="/summary/{{ workgroupId }}/{{ year }}?mode=workgroup">
					<i class="entypo-home"></i>
					<span class="title">Summary</span>
				</a>
			</li>
			<li ng-if="!(userHasRoles(['academicPlanner','reviewer'], sharedState.workgroup.id)) && userHasRoles(['senateInstructor','federationInstructor'], sharedState.workgroup.id)"
				ng-class="{ 'active': currentBaseHref == 'summary' && pageMode == 'instructor' }">
				<a class="clickable" ng-href="/summary/{{ workgroupId }}/{{ year }}?mode=instructor">
					<i class="entypo-home"></i>
					<span class="title">Summary</span>
				</a>
			</li>

			<li ng-if="sharedState.currentUser.isAdmin()" ng-class="{ 'active': currentBaseHref == 'admin' }">
				<a ng-href="/admin/{{ workgroupId }}/{{ year }}">
					<i class="entypo-cog"></i>
					<span class="title">Administration</span>
				</a>
			</li>
		</ul>

		<!-- Sidebar links -->
		<ul id="main-menu" class="main-menu">

			<!-- add class "multiple-expanded" to allow multiple submenus to open -->
			<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
			<li ng-class="{ 'active': currentBaseHref == 'courses' }" ng-if="userHasRoles(['academicPlanner','reviewer'])">
				<a ng-href="/courses/{{ workgroupId }}/{{ year }}">
					<i class="entypo-book"></i>
					<span class="title">Courses</span>
				</a>
			</li>
			<li ng-class="{ 'active': currentBaseHref == 'assignments' || currentBaseHref == 'teachingCalls', 'opened': expanded == 'assignments' || (!expanded && (currentBaseHref == 'assignments' || currentBaseHref == 'teachingCalls')) }"
				ng-if="userHasRoles(['academicPlanner','reviewer'])" class="has-sub root-level">
				<a class="clickable" ng-click="toggleMenuItem('assignments')">
					<i class="entypo-user-add"></i>
					<span class="title">Assignments</span>
				</a>
				<ul ng-class="{ 'visible': expanded == 'assignments' || (!expanded && (currentBaseHref == 'assignments' || currentBaseHref == 'teachingCalls')) }">
					<li ng-class="{ 'active': currentBaseHref == 'assignments' && currentEndHref != 'teachingCallStatus' }"
						ng-if="userHasRoles(['academicPlanner','reviewer'])">
						<a ng-href="/assignments/{{ workgroupId }}/{{ year }}">
							<span class="title">Assign Instructors</span>
						</a>
					</li>
					<li ng-class="{ 'active': currentBaseHref == 'teachingCalls' && currentEndHref == 'teachingCallStatus' }"
						ng-if="userHasRoles(['academicPlanner','reviewer'])">
						<a ng-href="/teachingCalls/{{ workgroupId }}/{{ year }}/teachingCallStatus">
							<span class="title">Teaching Calls</span>
						</a>
					</li>
				</ul>
			</li>

			<li ng-class="{ 'active': currentBaseHref == 'scheduling' }" ng-if="userHasRoles(['academicPlanner','reviewer'])">
				<a ng-href="/scheduling/{{ workgroupId }}/{{ year }}/{{ termShortCode || '03'}}">
					<i class="entypo-book"></i>
					<span class="title">Scheduling</span>
				</a>
			</li>

			<li ng-class="{ 'active': currentBaseHref == 'budget' }" ng-if="userHasRoles(['academicPlanner','reviewer']) && isBudgetVisible()">
				<a ng-href="/budget/{{ workgroupId }}/{{ year }}">
					<i class="entypo-book"></i>
					<span class="title">Budget</span>
				</a>
			</li>

			<li ng-class="{ 'active': currentBaseHref == 'instructionalSupport', 'opened': expanded == 'support' || (!expanded && currentBaseHref == 'instructionalSupport') }" 
				ng-if="userHasRoles(['academicPlanner','reviewer']) && isSupportCallVisible()" class="has-sub root-level">
				<a class="clickable" ng-click="toggleMenuItem('support')">
					<i class="entypo-user-add"></i>
					<span class="title">Support</span>
				</a>
				<ul ng-class="{ 'visible': expanded == 'support' || (!expanded && currentBaseHref == 'instructionalSupport') }">
					<li ng-class="{ 'active': currentBaseHref == 'instructionalSupport' && currentEndHref == 'supportCallStatus'}">
						<a ng-href="/instructionalSupport/{{ workgroupId }}/{{ year }}/{{ termShortCode || '03'}}/supportCallStatus">
							Support Calls
						</a>
					</li>
					<li ng-class="{ 'active': currentBaseHref == 'instructionalSupport' && currentEndHref.length == 2}">
						<a ng-href="/instructionalSupport/{{ workgroupId }}/{{ year }}/{{ termShortCode || '03'}}">
							Support Assignments
						</a>
					</li>
				</ul>
			</li>

			<li ng-class="{ 'active': currentBaseHref == 'scheduleSummaryReport' || currentBaseHref == 'registrarReconciliationReport' || currentBaseHref == 'teachingCallResponseReport', 'opened': expanded == 'reports'}"
				ng-if="userHasRoles(['academicPlanner','reviewer'])" class="has-sub root-level">
				<a class="clickable" ng-click="toggleMenuItem('reports')">
					<i class="entypo-doc-text"></i>
					<span class="title">Reports</span>
				</a>
				<ul ng-class="{ 'visible': expanded == 'reports' || (!expanded && (currentBaseHref == 'registrarReconciliationReport' || currentBaseHref == 'scheduleSummaryReport' || currentBaseHref == 'teachingCallResponseReport') ) }">
					<li ng-class="{ 'active': currentBaseHref == 'registrarReconciliationReport' }">
						<a ng-href="/registrarReconciliationReport/{{ workgroupId }}/{{ year }}/{{ termShortCode || '03' }}">
						Registrar Reconciliation
					</a>
					</li>
					<li ng-class="{ 'active': currentBaseHref == 'scheduleSummaryReport' }">
						<a ng-href="/scheduleSummaryReport/{{ workgroupId }}/{{ year }}/{{ termShortCode || '03' }}">
						Schedule Summary
					</a>
					</li>
					<li ng-class="{ 'active': currentBaseHref == 'teachingCallResponseReport' }">
						<a ng-href="/teachingCallResponseReport/{{ workgroupId }}/{{ year }}">
						Teaching Call Response
					</a>
					</li>
				</ul>
			</li>

		</ul>

	</div>

</div>