<div class="sidebar-menu">

	<div class="sidebar-menu-inner">

		<header class="logo-env">

			<!-- logo -->
			<div class="logo">
				<a ng-href="/summary/{{ workgroupId }}/{{ year }}" target="_self">
					<h1 style="color: #fff; margin:0;">IPA</h1>
				</a>
			</div>

			<!-- logo collapse icon -->
			<div class="sidebar-collapse">
				<a class="sidebar-collapse-icon clickable" ng-click="toggleSidebarState()" uib-tooltip="Toggle Sidebar"
					tooltip-placement="right" tooltip-append-to-body="true">
					<!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
					<i class="entypo-menu"></i>
				</a>
			</div>


			<!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
			<div class="sidebar-mobile-menu visible-xs">
				<a href="#" class="with-animation">
					<!-- add class "with-animation" to support animation -->
					<i class="entypo-menu"></i>
				</a>
			</div>

		</header>

		<!-- User and Organization -->
		<ul id="main-menu" class="main-menu">
			<!-- add class "multiple-expanded" to allow multiple submenus to open -->
			<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
			<li class="welcome">
				<span class="title">Howdy, {{ sharedState.currentUser.displayName }}</span>
				<span class="title" ng-click="impersonate()">Impersonate</span>
				
			</li>
			<li ng-class="{ 'active': currentBaseHref == 'summary', 'opened': expanded == 'summary' || (!expanded && currentBaseHref == 'summary') }"
				ng-if="userHasRoles(['academicPlanner','reviewer']) && userHasRoles(['senateInstructor','federationInstructor'])"
				class="has-sub root-level">
				<a class="clickable" ng-click="toggleMenuItem('summary')">
					<i class="entypo-home"></i>
					<span class="title">Home</span>
				</a>
				<ul ng-class="{ 'visible': expanded == 'summary' || (!expanded && currentBaseHref == 'summary') }">
					<li ng-class="{ 'active': currentBaseHref == 'summary' && view.mode == 'workgroup' }">
						<a ng-href="/summary/{{ workgroupId }}/{{ year }}?mode=workgroup">
							Workgroup Summary
						</a>
					</li>
					<li ng-class="{ 'active': currentBaseHref == 'summary' && view.mode == 'instructor' }">
						<a ng-href="/summary/{{ workgroupId }}/{{ year }}?mode=instructor">
							Instructor Summary
						</a>
					</li>
				</ul>
			</li>
			<!-- handle UI for users with either academicPlanner or instructor, but not both -->
			<li ng-if="userHasRoles(['academicPlanner','reviewer']) && !userHasRoles(['senateInstructor','federationInstructor'])"
				ng-class="{ 'active': currentBaseHref == 'summary' && pageMode == 'workgroup' }">
				<a class="clickable" ng-href="/summary/{{ workgroupId }}/{{ year }}?mode=workgroup">
					<i class="entypo-home"></i>
					<span class="title">Summary</span>
				</a>
			</li>
			<li ng-if="!(userHasRoles(['academicPlanner','reviewer'], sharedState.workgroup.id)) && userHasRoles(['senateInstructor','federationInstructor'], sharedState.workgroup.id)"
				ng-class="{ 'active': currentBaseHref == 'summary' && pageMode == 'instructor' }">
				<a class="clickable" ng-href="/summary/{{ workgroupId }}/{{ year }}?mode=instructor">
					<i class="entypo-home"></i>
					<span class="title">Summary</span>
				</a>
			</li>

			<li ng-class="{ 'active': currentBaseHref == 'workgroups' }">
				<a ng-if="userWorkgroups.length > 1">
					<i class="entypo-users"></i>
					<span class="title">Workgroups</span>
				</a>
				<a ng-href="/workgroups/{{ sharedState.workgroup.id }}/{{ year }}" ng-if="userWorkgroups.length == 1 && userHasRoles(['academicPlanner','reviewer'])">
					<i class="entypo-users"></i>
					<span class="title">{{ sharedState.workgroup.name }}</span>
				</a>
				<ul class="visible" ng-if="userWorkgroups.length > 1">
					<li ng-repeat="workgroup in userWorkgroups track by workgroup.id" ng-class="{ 'active': sharedState.workgroup.id == workgroup.id }">
						<a ng-href="/{{ currentBaseHref }}/{{ workgroup.id }}/{{ year }}/{{ termShortCode }}" uib-tooltip="Switch to {{ workgroup.name }}"
							tooltip-append-to-body="true" tooltip-placement="right">
							<i class="entypo-check active-workgroup-icon" ng-if="sharedState.workgroup.id == workgroup.id"></i>
							<span class="title">{{ workgroup.name }}</span>
						</a>
						<a ng-href="/workgroups/{{ workgroup.id }}/{{ year }}" ng-if="userHasRolesForWorkgroup(['academicPlanner','reviewer'], workgroup)"
							class="icon-workgroup-manage" uib-tooltip="Manage {{ workgroup.name }}" tooltip-append-to-body="true"
							tooltip-placement="right">
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						</a>
					</li>
					<!--	Show the current workgroup separately if it is not in the user workgroups
								(happens if the current user is admin and managing a workgroup they're not in) -->
					<li ng-if="hasExtraWorkgroup()" class="active">
						<a ng-href="/{{ currentBaseHref }}/{{ sharedState.workgroup.id }}/{{ year }}/{{ termShortCode }}">
							<i class="entypo-check active-workgroup-icon"></i>
							<span class="title">({{ sharedState.workgroup.name }})</span>
						</a>
						<a ng-href="/workgroups/{{ sharedState.workgroup.id }}/{{ year }}" class="icon-workgroup-manage" uib-tooltip="Manage {{ sharedState.workgroup.name }}"
							tooltip-append-to-body="true" tooltip-placement="right">
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						</a>
					</li>
				</ul>
			</li>
			<li ng-if="sharedState.currentUser.isAdmin()" ng-class="{ 'active': currentBaseHref == 'admin' }">
				<a ng-href="/admin/{{ workgroupId }}/{{ year }}">
					<i class="entypo-cog"></i>
					<span class="title">Administration</span>
				</a>
			</li>

		</ul>

		<!-- Year switcher -->
		<ul class="pager year-switcher">
			<li class="previous"><a ng-click="offsetYearInUrl(-1)"><i class="entypo-left-open-mini clickable hoverable"></i></a></li>
			<li><a>{{ year.yearToAcademicYear() }}</a></li>
			<li class="next"><a ng-click="offsetYearInUrl(1)"><i class="entypo-right-open-mini clickable hoverable"></i></a></li>
		</ul>

		<!-- Sidebar links -->
		<ul id="main-menu" class="main-menu">

			<!-- add class "multiple-expanded" to allow multiple submenus to open -->
			<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
			<li ng-class="{ 'active': currentBaseHref == 'courses' }" ng-if="userHasRoles(['academicPlanner','reviewer'])">
				<a ng-href="/courses/{{ workgroupId }}/{{ year }}">
					<i class="entypo-book"></i>
					<span class="title">Courses</span>
				</a>
			</li>
			<li ng-class="{ 'active': currentBaseHref == 'assignments' || currentBaseHref == 'teachingCalls', 'opened': expanded == 'assignments' || (!expanded && (currentBaseHref == 'assignments' || currentBaseHref == 'teachingCalls')) }"
				ng-if="userHasRoles(['academicPlanner','reviewer'])" class="has-sub root-level">
				<a class="clickable" ng-click="toggleMenuItem('assignments')">
					<i class="entypo-user-add"></i>
					<span class="title">Assignments</span>
				</a>
				<ul ng-class="{ 'visible': expanded == 'assignments' || (!expanded && (currentBaseHref == 'assignments' || currentBaseHref == 'teachingCalls')) }">
					<li ng-class="{ 'active': currentBaseHref == 'assignments' && currentEndHref != 'teachingCallStatus' }"
						ng-if="userHasRoles(['academicPlanner','reviewer'])">
						<a ng-href="/assignments/{{ workgroupId }}/{{ year }}">
							<span class="title">Assign Instructors</span>
						</a>
					</li>
					<li ng-class="{ 'active': currentBaseHref == 'teachingCalls' && currentEndHref == 'teachingCallStatus' }"
						ng-if="userHasRoles(['academicPlanner','reviewer'])">
						<a ng-href="/teachingCalls/{{ workgroupId }}/{{ year }}/teachingCallStatus">
							<span class="title">Teaching Calls</span>
						</a>
					</li>
				</ul>
			</li>
			<li ng-class="{ 'active': currentBaseHref == 'scheduling', 'opened': expanded == 'scheduling' || (!expanded && currentBaseHref == 'scheduling') }"
				ng-if="userHasRoles(['academicPlanner','reviewer'])" class="has-sub root-level">
				<a class="clickable" ng-click="toggleMenuItem('scheduling')">
					<i class="entypo-calendar"></i>
					<span class="title">Scheduling</span>
				</a>
				<ul ng-class="{ 'visible': expanded == 'scheduling' || (!expanded && currentBaseHref == 'scheduling') }">
					<li ng-repeat="term in getYearTerms() track by term.id" ng-class="{ 'active': currentBaseHref == 'scheduling' && termShortCode == term.shortCode }">
						<a ng-href="/scheduling/{{ workgroupId }}/{{ year }}/{{ term.shortCode }}">
						{{ term.description }}
					</a>
					</li>
				</ul>
			</li>
			<li ng-class="{ 'active': currentBaseHref == 'scheduleSummaryReport' || currentBaseHref == 'registrarReconciliationReport' || currentBaseHref == 'teachingCallResponseReport', 'opened': expanded == 'reports'}"
				ng-if="userHasRoles(['academicPlanner','reviewer'])" class="has-sub root-level">
				<a class="clickable" ng-click="toggleMenuItem('reports')">
					<i class="entypo-doc-text"></i>
					<span class="title">Reports</span>
				</a>
				<ul ng-class="{ 'visible': expanded == 'reports' || (!expanded && (currentBaseHref == 'registrarReconciliationReport' || currentBaseHref == 'scheduleSummaryReport' || currentBaseHref == 'teachingCallResponseReport') ) }">
					<li ng-class="{ 'active': currentBaseHref == 'registrarReconciliationReport' }">
						<a ng-href="/registrarReconciliationReport/{{ workgroupId }}/{{ year }}">
						Registrar Reconciliation
					</a>
					</li>
					<li ng-class="{ 'active': currentBaseHref == 'scheduleSummaryReport' }">
						<a ng-href="/scheduleSummaryReport/{{ workgroupId }}/{{ year }}">
						Schedule Summary
					</a>
					</li>
					<li ng-class="{ 'active': currentBaseHref == 'teachingCallResponseReport' }">
						<a ng-href="/teachingCallResponseReport/{{ workgroupId }}/{{ year }}">
						Teaching Call Response
					</a>
					</li>
				</ul>
			</li>

		</ul>

		<!-- Logout -->
		<ul id="main-menu" class="main-menu">
			<li>
				<a class="clickable" ng-click="logout()">
					<i class="entypo-logout"></i>
					<span class="title">Logout</span>
				</a>
			</li>
		</ul>

	</div>

</div>