<div style="flex: 1 1 auto;" uib-dropdown is-open="status.dropDownIsOpen">
	<button ng-if="!preference" class="btn btn-default dropdown-toggle term-preference-dropdown" type="button"
		id="dropdownMenu1" uib-dropdown-toggle ng-disabled="readOnly">
		<span class="dropdown-text">
			{{ getDescription(preference) }}
		</span>
		<span class="caret"></span>
	</button>
	<div ng-if="preference && preference.approved" class="approved-preference alert alert-info tile-assignment preference-display">
		<div class="preference-display-detail">
			{{ getDescription(preference) }}
		</div>
	</div>
	<div ng-if="preference && !preference.approved" class="unapproved-preference alert alert-info tile-assignment preference-display">
		<div class="preference-display-detail">
			{{ getDescription(preference) }}
		</div>
	</div>


	<ul class="dropdown-menu dropdown-short" role="menu" aria-labelledby="dropdownMenu1" ng-if="status.dropDownIsOpen">
		<li role="presentation" class="clickable">
			<a role="menuitem" ng-click="onSelect({isBuyout: true})">
				<strong style="padding-left: 43px;">Buyout</strong>
			</a>
		</li>
		<li role="presentation" class="clickable">
			<a role="menuitem" ng-click="onSelect({isCourseRelease: true})">
				<strong style="padding-left: 43px;">Course Release</strong>
			</a>
		</li>
		<li disable-element="disableSabbatical && !preference.isSabbatical" role="presentation" class="clickable" ng-class="{ 'active': preference.isSabbatical }"
			uib-tooltip="{{ sabbaticalDisableMessage }}" tooltip-enable="disableSabbatical && !preference.isSabbatical">
			<a role="menuitem" ng-click="onSelect({isSabbatical: true})">
				<strong style="padding-left: 43px;">Sabbatical</strong>
			</a>
		</li>
		<li ng-if="courses.length > 0" role="presentation" class="divider courses-separator">
		</li>
		<li ng-repeat="course in courses | orderBy: ['subjectCode','courseNumber','title'] track by $index"
		ng-if="course.hasPreference == false" role="presentation" class="clickable">
			<a role="menuitem" ng-click="onSelect({courseOffering: course})">
				<span class="badge" style="background-color: #aaa; width: 40px;">{{ course.seatsTotal }}</span>
				{{ course.subjectCode }} {{ course.courseNumber }} {{ course.title }}
			</a>
		</li>
	</ul>
</div>
<span ng-if="preference && !preference.approved" confirm-button="onDelete()"
	message="Are you sure you want to delete this preference"
	yes="Delete" no="Cancel" placement="bottom"
	confirm-is-shown="status.confirmIsOpen"
	class="delete-preference-button glyphicon glyphicon-remove sortable-item-button close"
	aria-hidden="true" style="width: 10%;" uib-tooltip="Remove"
	tooltip-placement="right"></span>
