<div class="instructor-comments-modal">
  <div class="modal-body">
    <div ng-hide="instructorComment.length > 0">
      No Instructor comments.
    </div>

    <div class="comment-modal__comment" ng-repeat="comment in instructorComment | orderBy: '-lastModifiedOn'">
      {{ comment.comment }}
      
      <div class="comment-modal__comment-date">{{ dateToRelative(comment.lastModifiedOn) }}</div>
  </div>
  <div class="comment-modal__footer">
    <button ng-click="close()"
            type="button"
            class="btn btn-default modal-button">
      Dismiss
    </button>
  </div>
</div>
