.workgroup-summary {
	padding-left: 4%;
}

.workgroup-summary .left-container {
	flex: 3 1 75%;
}

.workgroup-summary .padded-container {
	padding: 30px;
}

.workgroup-summary .release-notes h4 {
	font-size: 1.75em;
	line-height: 0.8em;
}

.workgroup-summary .release-notes i {
	font-size: 200%;
	float: left;
	margin-right: 0.5em;
}

.workgroup-summary .release-notes ul {
	list-style: none;
}

.workgroup-summary .release-notes li p {
	font-size: 1.25em;
	margin-bottom: 0;
}

.workgroup-summary .release-notes-row {
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 3em;
}

.workgroup-summary .section-header {
	flex: 1 1;
}

.workgroup-summary .section-items {
	flex: 3 1;
}

.workgroup-summary ul.section-items li {
	padding: 0.5em;
}

.workgroup-summary ul.section-items li:nth-child(2n+1) {
	background-color: rgba(223, 236, 250, 0.41);
}
