@import './../../node_modules/@angular/material/theming';

@include mat-core();

// Generated via http://mcg.mbitson.com/#!?mcgpalette0=%23303641
// Generated off the '500' value, #4f545e

// Official palette viewer/creator
// https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=7E57C2&secondary.color=f5f5f5

$ipa-gray-blue: (
  50 : #e6e7e8,
  100 : #c1c3c6,
  200 : #989ba0,
  300 : #6e727a,
  400 : #4f545e,
  500 : #303641,
  600 : #2b303b,
  700 : #242932,
  800 : #1e222a,
  900 : #13161c,
  A100 : #628fff,
  A200 : #2f6aff,
  A400 : #0048fb,
  A700 : #0040e1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$custom-theme-primary: mat-palette($ipa-gray-blue);
$custom-theme-accent: mat-palette($mat-light-blue);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);

$primary: map-get($custom-theme, primary);
$warn: map-get($custom-theme, warn);
$background: map-get($custom-theme, background);
$foreground: map-get($custom-theme, foreground);

.theme-primary {
  background-color: mat-color($primary, 500);
  color: mat-contrast($primary, 500);
}
