body {
  margin: 0px;
}

.core__font-xs {
  font-size: 12px;
}

.core__font-md {
  font-size: 16px;
}

.core__font-large {
  font-size: 20px;
}

/* button.mat-button.mat-warn,
button.mat-raised-button.mat-warn,
button.mat-icon-button.mat-warn,
button.mat-fab.mat-warn,
button.mat-mini-fab.mat-warn,
button.mat-stroked-button.mat-warn,
button.mat-flat-button.mat-warn {
  background-color: green;
} */

/* override caret color on nav accordion */
/* Needs to be moved to the ipa-nav-accordion component, as a wrapper component with view encapsulation turned off */
/* Leaving overrides here will get cluttered/confusing over time */
.mat-expansion-indicator:after {
  color: #aaabae !important;
}
